%td.ui-rights-check{:title => "${label}"}
  %label

    {{if permission == true}}

    {{if $item.parent.parent.manageable}}
    %input{:checked => "checked", :name => "${name}", :type => "checkbox", :value => "true"}
    {{else}}
    %input{:checked => "checked", :name => "${name}", :type => "checkbox", :value => "true", :disabled => true}
    {{/if}}
    
    {{else permission == "mixed"}}

    {{if $item.parent.parent.manageable}}
    %input{:name => "${name}", :type => "checkbox", :value => "mixed"}
    {{else}}
    %input{:name => "${name}", :type => "checkbox", :value => "mixed", :disabled => true}
    {{/if}}

    {{else}}

    {{if $item.parent.parent.manageable}}
    %input{:name => "${name}", :type => "checkbox", :value => "true"}
    {{else}}
    %input{:name => "${name}", :type => "checkbox", :value => "true", :disabled => true}
    {{/if}}

    {{/if}}