%td{:class => "ui-rights-check ${name}", :title => "${label}"}
  %label

    {{if permission == true}}

    {{if $item.manageable && $item.ownership == false}}
    %input{:checked => "checked", :name => "${name}", :type => "checkbox", :value => "true"}
    {{else}}
    %input{:checked => "checked", :name => "${name}", :type => "checkbox", :value => "true", :disabled => true}
    {{/if}}
    
    {{else permission == "mixed"}}

    {{if $item.manageable && $item.ownership == false}}
    %input{:name => "${name}", :type => "checkbox", :value => "mixed"}
    {{else}}
    %input{:name => "${name}", :type => "checkbox", :value => "mixed", :disabled => true}
    {{/if}}

    {{else}}

    {{if $item.manageable && $item.ownership == false}}
    %input{:name => "${name}", :type => "checkbox", :value => "true"}
    {{else}}
    %input{:name => "${name}", :type => "checkbox", :value => "true", :disabled => true}
    {{/if}}

    {{/if}}