[Unit]
Description=Madek Produce Weekly Emails Cron Service Timer

[Timer]
OnCalendar={{madek_run_produce_weekly_emails_on}}
RandomizedDelaySec={{madek_run_tasks_randomized_delay_max_seconds}}
Persistent=true

[Install]
WantedBy=timers.target
