:ruby
  element = {
    name: 'Unordered lists',
    cssFile: '_typography.scss',
    cssSelector: 'ul',
    section: '3.3',
    mods: {
      nil => 'Default',
      'inline' => 'Inline variant'
    }
  }

= render_partial('element', element) do
  - element[:mods].each do |name, description|
    = render_partial('example', { mod: name}) do

      %ul{:class => name}
        %li Item 1
        %li Item 2
        %li Item 3
