:ruby
  element = {
    name: 'Ordered lists',
    cssFile: '_typography.scss',
    cssSelector: 'ol',
    section: '3.4',
    mods: {
      nil => 'Default',
      'inline' => 'Inline variant'
    }
  }

= partial('element', element) do
  - element[:mods].each do |name, description|
    = partial('example', { mod: name}) do

      %ol{:class => name}
        %li Item 1
        %li Item 2
        %li Item 3
