%h1.text-center
  Meta Contexts

%ul.list-inline
  %li
    = link_to new_app_admin_context_path, class: 'btn btn-success' do
      %i.fa.fa-plus
      New Meta Context
.row
  = "Number of meta contexts:"
  %span#counter #{@contexts.count}

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th.no-wrap Meta context group
      %th Position
      %th Label
      %th Description
      %th
  %tbody
    = render @contexts
