.item_box{:"data-media_resource_id" => "${id}", :title => "${meta_data.title}"}
  {{if type == "media_set"}}
  .thumb_box_set
    %img{:src => "${image}"}
  {{else}}
  .thumb_box
    %img{:src => "${image}"}
  {{/if}}
  .clear