.media_resource_selection.switchable
  .loading
    = image_tag "loading.gif"
    %span= "Lade Inhalte"
  .media.active
  .table
    .media_resources
      %table.media_resources
        %thead
          %tr
            %td.image