${is_set = (type=="media_set")?true:false, ""}
///////////////////////////////////

%div{:id => "thumb_${id}", :class => "item_box ${media_type.toLowerCase()}{{if is_set}} set{{/if}}", :"data-id" => "${id}"}
  {{tmpl($item.data) "tmpl/media_resource/thumb_box/permissions_icon"}}
  {{tmpl($item.data) "tmpl/media_resource/thumb_box/image_thumb"}}
  .clear
  {{tmpl($item.data) "tmpl/media_resource/thumb_box/meta_data"}}
  {{tmpl($item.data) "tmpl/media_resource/thumb_box/actions"}}
