@import "../mixins";
@import "../variables";

.media_resource_selection {
  background: #EEE;
  display: block;
  height: 180px;
  margin-bottom: 28px;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
  @include box-shadow(inset 0 1px 4px rgba(0,0,0,0.2));
  @include border-radius(4px);
  
  &.only_incomplete_required_fields {
    .item_box:not(.required_fields_not_complete):not(.loading):not(.saving) {
      display: none;
    }
  }
  
  &>.loading {
    display: inline-block !important;
    height: 16px;
    position: relative;
    top: 44px;
    text-align: center;
    width: 100%;
    
    img {
      display: inline-block;
      position: relative;
      top: 3px;
    }
    
    span {
      display: inline-block;
      whitespace: nowrap;
    }
  }
  
  .item_box {
    background: transparent !important;
    border: none !important;
    height: 140px;
    margin-bottom: -4px;
    @include border-radius(4px);
    
    .item_title, .item_author { display: none; }
    
    .attention_flag {
      background: url($sprite) no-repeat -51px 0;
      height: 32px;
      position: absolute;
      right: -5px;
      top: 8px;
      width: 37px;
    }
    
    .saving {
      background: white;
      height: 20px;
      left: 12px;
      position: absolute;
      top: 10px;
      width: 20px;
      @include border-radius(24px);
      
      img {
        position: relative;
        top: 2px;
        left: 2px;
      }
    }
  }
  
  .media {
    height: 100%;
    padding: 4px 4px 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    
    .item_box:nth-last-child(1) {
      margin-right: 22px;
    }
  }
  
  .table {
    padding: 4px 4px 0;
    
    &>div.scrollable {
      height: 144px;
      overflow-x: hidden;
      overflow-y: auto;
      width: 99%;
    }
  }
  
  .table {
    width: 100%;
    
    table {
      width: 100%;
      font-size: 0.9em;
      
      td { 
        vertical-align: middle;
        line-height: 1em;
        min-width: 55px;
        
        &.image {
          width: 34px;
          
          .thumb {
            position: relative;
            top: 1px;
          }
        }
        
        &.selection {
          padding-right: 0;
          width: 80px;
          
          label {
            cursor: pointer;
            display: block;
            
            input[type=checkbox] {
              margin-right: 10px;
              padding-right: 0;
              position: relative;
              top: -11px;
            }
          }
        }
      }
    }
    
   table:not(.head) {
      tr:nth-child(odd) {
        td {background: #FAFAFA;}
      }
    }
    
    table.head {
      margin: 2px 0 4px;
      td {
        color: #888;
        cursor: default;
        overflow: hidden;
      }
    } 
  }
  
  .item_box {
    
    .thumb_box {
      background: white;
      border: 1px solid transparent;
      @include box-shadow(0 0 4px rgba(100, 100, 100, 0.3));
      @include transition(all 0.5s);
    }
    
    &.selected .thumb_box {
      background: #424242;
      border: 1px solid #FFF;
      border-top: 1px solid #CCC;
      border-right: 1px solid #424242;
      @include box-shadow(0 0 6px rgba(250, 250, 250, 0.8));
      @include transition(all 0.5s);
    }
  }
}

.media_resource_selection.switchable {
  &>div {
    display: none;
  }
  
  .active {
    display: inline-block;
  }
}

.media_resource_selection_view_switch {
  display: inline-block;
  float: right;
   
  a {
    color: #7F7F7F;
    cursor: pointer;
    border-right: 1px solid #424242;
    text-decoration: none;
    padding: 0 8px 0 6px;
    
    &:nth-last-child(1) {
      border-right: none;
    }
        
    &.active {
      cursor: default;
      color: #424242;
      font-weight: bold;
    }    
  }
}
