%h3.ui-thumbnail-level-notes ${_jed('Parent sets')}
%ul.ui-thumbnail-level-items
  {{each(i,media_resource) parents}}
  {{tmpl(media_resource,{i:i}) App.renderPath("media_sets/popup/item")}}
  {{/each}}
%span.ui-thumbnail-level-notes
  ${$item.pagination.total}
  ${_jed('%d sets', $item.pagination.total)}
