%h3.ui-thumbnail-level-notes Enthalten in
%ul.ui-thumbnail-level-items
  {{each(i,media_resource) parents}}
  {{tmpl(media_resource,{i:i}) App.renderPath("media_sets/popup/item")}}
  {{/each}}
%span.ui-thumbnail-level-notes
  ${$item.pagination.total}
  ${Underscore.str.pluralize($item.pagination.total,"Set", "Sets")}