:ruby
  text ||= nil
  type ||= nil
  html_tag = link ? 'a' : 'button'
  button_class = \
    case
    when classes.include?('button-primary') then 'primary-button'
    when classes.include?('button-tertiary') then 'tertiary-button'
    else 'button'
    end
  classes.delete(button_class)

  classes.push(button_class) if button_class
  classes.push('active') if defined?(active) && active == true

  props = {
    class: classes,
    type: type
    # data: { hook: defined?(hook) ? hook : nil }
  }.merge(link.to_h)


- haml_tag(html_tag, props) do
  = text
  = block_content if defined?(block_content)
