:ruby
  props = {
    class: classes.join(' '),
    title: defined?(text) && text
  }

  if classes.select { |name| name.start_with?('icon-') }.empty?
    Rails.logger.warn('ui: no icon given!')
    return
  end

  haml_tag('i', props)
