.app.view-katalog

  // HEADER

  .app-header
    %header.ui-header.container.inverted
      .ui-header-brand
        = image_tag "redesign/inserts/image-logo-zhdk.png", :alt => "ZHDK", :class => "ui-header-logo"
        %h1.ui-header-brand-name Z&uuml;rcher Hochschule der K&uuml;nste
        %h2.ui-header-instance-name Medienarchiv der K&uuml;nste

      .ui-header-menu
        %ul.large.primary.tab-navigation
          %li.tab-navigation-item.active
            %a{:href => "#"} Mein Archiv
          %li.tab-navigation-item
            %a{:href => "#"} Erkunden
          %li.tab-navigation-item
            %a{:href => "#"}
              %i.icon-search.bright
              Suchen
          %li.tab-navigation-item
            %a{:href => "#"}
              %i.icon-help.bright Help

      .ui-header-user
        %a.primary-button{:href => "#"}
          %i.icon-user.bright
          Anmelden

  .app-body

    // PAGE TITLE

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Erkunden / Katalog / Gattung / Architektur

    .app-body-container
      .bordered.container.midtone.rounded.table

        // SIDEBAR

        .app-body-sidebar.bright.container.table-cell.bordered-right.rounded-left.table-side
          .container.rounded-left.phm.pvl
            %ul.ui-side-navigation
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Katalog
              %ul.ui-side-navigation-lvl2
                %li.ui-side-navigation-lvl2-item
                  %a.weak{:href => "#"} ZHdK Bereich
                %li.ui-side-navigation-lvl2-item
                  %a.weak{:href => "#"} Gattung
                %li.ui-side-navigation-lvl2-item
                  %a.weak{:href => "#"} Projekttyp
              %li.separator.mini
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Interessante Inhalte
              %li.separator.mini
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Neue Inhalte
              %li.separator.mini
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} H&auml;ufige Schlagworte
              %li.separator.mini

        .app-body-content.table-cell.table-substance.container
          .ui-toolbar.inverted.container.pvx.phs
            %h2.ui-toolbar-header.col1of2
              %strong Set enth채lt
              (3 von 11 f체r Sie sichtbar)
            .ui-toolbar-controls.col1of2.by-right
              .button-group.tertiary.small.right.mls
                %a.button.active
                  %i.icon-vis-grid.bright Grid
                %a.button
                  %i.icon-vis-tiles Tiles
                %a.button
                  %i.icon-vis-list List
              .dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Sort by Name
                  %i.icon-arrow-down.bright
                %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                  %li.dropdown-menu-item
                    %a{:href => "#"} Item 1
                  %li.dropdown-menu-item
                    %a{:href => "#"} Item 2
                  %li.separator
                  %li.dropdown-menu-item
                    %a{:href => "#"} Abmelden

          .ui-filterbar.separated.mam.pbm.container
            .left.col2of6
              %a.button.active#filter-toggle
                %i.icon-arrow-down.dark
                Filtern
            .col2of6.by-center
              .button-group
                %a.button.active{:href => "#"} Alle
                %a.button{:href => "#"} Medientrage
                %a.button{:href => "#"} Sets
            .col2of6.by-right
              %a.weak{:href => "#"}<
                Select All
                %i.icon-check>

          .container.table.auto
            .container.table-cell#side-filter.table-side

              %ul#side-filter.side-filter.accordion.mam
                %li.side-filter-item
                  %input.block.filter-search-input{:type => "text"}
                    %button.small.filter-search-button.primary-button Search
                %li.side-filter-item.accordion-group
                  .accordion-heading
                    %a.strong.accordion-toggle{"data-parent" => "#side-filter", "data-toggle" => "collapse", :href => "#collapseTwo"}
                      Level 1 Filter
                      %i.icon-arrow-up.green
                  #collapseTwo.accordion-body.collapse.in
                    %ul.side-filter-lvl2.accordion-inner
                      %li.side-filter-lvl2-item
                        %a.weak{:href => "#"} Level 2 Filter
                      %li.side-filter-lvl2-item
                        %a.weak{:href => "#"} Level 2 Filter
                        %ul.side-filter-lvl3
                          %li.side-filter-lvl3-item
                            %a.weak{:href => "#"} Level 3 filter
                          %li.side-filter-lvl3-item
                            %a.weak{:href => "#"} Level 3 filter
                            %ul.side-filter-lvl4
                              %li.side-filter-lvl4-item
                                %a.weak{:href => "#"} Item 1
                              %li.side-filter-lvl4-item
                                %a.weak{:href => "#"} Item 2
                          %li.side-filter-lvl3-item
                            %a.weak{:href => "#"} Level 3 filter
                          %li.side-filter-lvl3-item
                            %a.weak{:href => "#"} Level 3 filter
                      %li.side-filter-lvl2-item
                        %a.weak{:href => "#"} Level 2 Filter
                      %li.side-filter-lvl2-item
                        %a.weak{:href => "#"} Level 2 Filter
                %li.side-filter-item.accordion-group
                  .accordion-heading
                    %a.strong.accordion-toggle{"data-parent" => "#side-filter", "data-toggle" => "collapse", :href => "#collapseThree"}
                      Level 1 Filter
                      %i.icon-arrow-down.green
                  #collapseThree.accordion-body.collapse
                    %ul.side-filter-lvl2.accordion-inner
                      %li.side-filter-lvl2-item
                        %a.weak{:href => "#"} Level 2 Filter
                      %li.side-filter-lvl2-item
                        %a.weak{:href => "#"} Level 2 Filter
                        %ul.side-filter-lvl3
                          %li.side-filter-lvl3-item
                            %a.weak{:href => "#"} Level 3 filter
                          %li.side-filter-lvl3-item
                            %a.weak{:href => "#"} Level 3 filter
                            %ul.side-filter-lvl4
                              %li.side-filter-lvl4-item
                                %a.weak{:href => "#"} Item 1
                              %li.side-filter-lvl4-item
                                %a.weak{:href => "#"} Item 2
                          %li.side-filter-lvl3-item
                            %a.weak{:href => "#"} Level 3 filter
                          %li.side-filter-lvl3-item
                            %a.weak{:href => "#"} Level 3 filter
                      %li.side-filter-lvl2-item
                        %a.weak{:href => "#"} Level 2 Filter
                      %li.side-filter-lvl2-item
                        %a.weak{:href => "#"} Level 2 Filter
                %li.side-filter-item.accordion-group
                  .accordion-heading
                    %a.strong.accordion-toggle{"data-parent" => "#side-filter", "data-toggle" => "collapse", :href => "#collapseOne"}
                      Level 1 Filter
                      %i.icon-arrow-down.green
                  #collapseOne.accordion-body.collapse
                    %ul.side-filter-lvl2.accordion-inner
                      %li.side-filter-lvl2-item
                        %a.weak{:href => "#"} Level 2 Filter
                      %li.side-filter-lvl2-item
                        %a.weak{:href => "#"} Level 2 Filter
                        %ul.side-filter-lvl3
                          %li.side-filter-lvl3-item
                            %a.weak{:href => "#"} Level 3 filter
                          %li.side-filter-lvl3-item
                            %a.weak{:href => "#"} Level 3 filter
                            %ul.side-filter-lvl4
                              %li.side-filter-lvl4-item
                                %a.weak{:href => "#"} Item 1
                              %li.side-filter-lvl4-item
                                %a.weak{:href => "#"} Item 2
                          %li.side-filter-lvl3-item
                            %a.weak{:href => "#"} Level 3 filter
                          %li.side-filter-lvl3-item
                            %a.weak{:href => "#"} Level 3 filter
                      %li.side-filter-lvl2-item
                        %a.weak{:href => "#"} Level 2 Filter
                      %li.side-filter-lvl2-item
                        %a.weak{:href => "#"} Level 2 Filter

            .container.table-cell.table-substance
              .container.pam
                .media-entries-wrapper
                  %ul.media-entries.grid.active
                    %li.media-entries-item
                      .ui-thumbnail-wrapper.media-set
                        .thumbnail-level-up-items
                          %h3.title-xs-alt Keine 체bergeordneten Sets
                        .thumbnail-privacy
                          %i.icon-privacy-group This media is shared with a group
                        .thumbnail-set.thumbnail
                          %a
                            .inner-wrapper
                              %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                        .thumbnail-metadata
                          %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                          %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
                        .thumbnail-actions
                          %ul.left.by-left
                            %li
                              %a{:href => "#"}
                                %i.icon-check Select
                            %li
                              %a{:href => "#"}
                                %i.icon-fav Favorite
                          %ul.right.by-right
                            %li
                              %a{:href => "#"}
                                %i.icon-explore Explore
                            %li
                              %a{:href => "#"}
                                %i.icon-edit Edit
                            %li
                              %a{:href => "#"}
                                %i.icon-delete Delete
                        .thumbnail-level-down-items
                          %h3.title-s Set enthalt
                          .thumbnail.thumbnail-set.small.odd
                            %a
                              .inner-wrapper
                                %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                          .thumbnail.thumbnail-set.small.even
                            %a
                              .inner-wrapper
                                %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                          %h4.title-xs-alt 5 Inhalte
                    %li.media-entries-item
                      .ui-thumbnail-wrapper.media-entry
                        .thumbnail-privacy
                          %i.icon-privacy-private This media is private
                        .thumbnail-audio.thumbnail
                          %img{:alt => "", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                        .thumbnail-metadata
                          %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                          %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
                        .thumbnail-actions
                          %ul.left.by-left
                            %li
                              %a{:href => "#"}
                                %i.icon-check Select
                            %li
                              %a{:href => "#"}
                                %i.icon-fav Favorite
                          %ul.right.by-right
                            %li
                              %a{:href => "#"}
                                %i.icon-explore Explore
                            %li
                              %a{:href => "#"}
                                %i.icon-edit Edit
                            %li
                              %a{:href => "#"}
                                %i.icon-delete Delete
                    %li.media-entries-item
                      .ui-thumbnail-wrapper.media-entry
                        .thumbnail-privacy
                          %i.icon-privacy-private This media is private
                        .thumbnail-video.thumbnail
                          %img{:alt => "Thumb-video", :src => "/assets/redesign/thumbnails/thumb-video-mov.png"}/
                        .thumbnail-metadata
                          %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                          %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
                        .thumbnail-actions
                          %ul.left.by-left
                            %li
                              %a{:href => "#"}
                                %i.icon-check Select
                            %li
                              %a{:href => "#"}
                                %i.icon-fav Favorite
                          %ul.right.by-right
                            %li
                              %a{:href => "#"}
                                %i.icon-explore Explore
                            %li
                              %a{:href => "#"}
                                %i.icon-edit Edit
                            %li
                              %a{:href => "#"}
                                %i.icon-delete Delete
                    %li.media-entries-item
                      .ui-thumbnail-wrapper.media-entry
                        .thumbnail-privacy
                          %i.icon-privacy-private This media is private
                        .thumbnail-doc.thumbnail
                          %img{:alt => "Thumb-doc", :src => "/assets/redesign/thumbnails/thumb-doc-doc.png"}/
                        .thumbnail-metadata
                          %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                          %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
                        .thumbnail-actions
                          %ul.left.by-left
                            %li
                              %a{:href => "#"}
                                %i.icon-check Select
                            %li
                              %a{:href => "#"}
                                %i.icon-fav Favorite
                          %ul.right.by-right
                            %li
                              %a{:href => "#"}
                                %i.icon-explore Explore
                            %li
                              %a{:href => "#"}
                                %i.icon-edit Edit
                            %li
                              %a{:href => "#"}
                                %i.icon-delete Delete
                    %li.media-entries-item
                      .ui-thumbnail-wrapper.media-set
                        .thumbnail-level-up-items
                          %h3.title-xs-alt Keine 체bergeordneten Sets
                        .thumbnail-privacy
                          %i.icon-privacy-group This media is shared with a group
                        .thumbnail-set.thumbnail
                          %a
                            .inner-wrapper
                              %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                        .thumbnail-metadata
                          %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                          %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
                        .thumbnail-actions
                          %ul.left.by-left
                            %li
                              %a{:href => "#"}
                                %i.icon-check Select
                            %li
                              %a{:href => "#"}
                                %i.icon-fav Favorite
                          %ul.right.by-right
                            %li
                              %a{:href => "#"}
                                %i.icon-explore Explore
                            %li
                              %a{:href => "#"}
                                %i.icon-edit Edit
                            %li
                              %a{:href => "#"}
                                %i.icon-delete Delete
                        .thumbnail-level-down-items
                          %h3.title-s Set enthalt
                          .thumbnail.thumbnail-set.small.odd
                            %a
                              .inner-wrapper
                                %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                          .thumbnail.thumbnail-set.small.even
                            %a
                              .inner-wrapper
                                %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                          %h4.title-xs-alt 5 Inhalte
                    %li.media-entries-item
                      .ui-thumbnail-wrapper.media-entry
                        .thumbnail-privacy
                          %i.icon-privacy-private This media is private
                        .thumbnail-audio.thumbnail
                          %img{:alt => "Thumb-audio", :src => "/assets/redesign/thumbnails/thumb-audio-mp3.png"}/
                        .thumbnail-metadata
                          %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                          %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
                        .thumbnail-actions
                          %ul.left.by-left
                            %li
                              %a{:href => "#"}
                                %i.icon-check Select
                            %li
                              %a{:href => "#"}
                                %i.icon-fav Favorite
                          %ul.right.by-right
                            %li
                              %a{:href => "#"}
                                %i.icon-explore Explore
                            %li
                              %a{:href => "#"}
                                %i.icon-edit Edit
                            %li
                              %a{:href => "#"}
                                %i.icon-delete Delete

  .app-footer
    %footer.ui-footer.container.inverted
      %ul.ui-footer-menu
        %li
          %a{:href => "#"} Informationen zum Projekt
        %li
          %a{:href => "#"} Impressum
        %li
          %a{:href => "#"} Kontakt
        %li
          %a{:href => "#"} Blog
        %li
          %a{:href => "#"} Hilfe
        %li
          %a{:href => "#"} Nutzungsbestimmungen
        %li
          %a{:href => "#"} Freie Software
        %li
          %a{:href => "#"} Archivierungsrichtlinien ZHdK
      %p.ui-footer-copy
        = image_tag "redesign/inserts/image-logo-madek.png", :alt => "MADEK", :class => "ui-footer-logo"
        &copy; 2009-2011 Z&uuml;rcher Hochschule der K&uuml;nste
