.app.view-katalog

  // HEADER

  .app-header
    %header.ui-header.container.inverted
      .ui-header-brand
        = image_tag "redesign/inserts/image-logo-zhdk.png", :alt => "ZHDK", :class => "ui-header-logo"
        %h1.ui-header-brand-name Z&uuml;rcher Hochschule der K&uuml;nste
        %h2.ui-header-instance-name Medienarchiv der K&uuml;nste

      .ui-header-menu
        %ul.large.primary.tab-navigation
          %li.tab-navigation-item.active
            %a{:href => "#"} Mein Archiv
          %li.tab-navigation-item
            %a{:href => "#"} Erkunden
          %li.tab-navigation-item
            %a{:href => "#"}
              %i.icon-search.bright
              Suchen
          %li.tab-navigation-item
            %a{:href => "#"}
              %i.icon-help.bright Help

      .ui-header-user
        %a.primary-button{:href => "#"}
          %i.icon-user.bright
          Anmelden

  .app-body

    // PAGE TITLE

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Erkunden / Katalog / Gattung

    .app-body-container
      .bordered.container.midtone.rounded.table

        // SIDEBAR

        .app-body-sidebar.bright.container.table-cell.bordered-right.rounded-left.table-side
          .container.rounded-left.phm.pvl
            %ul.ui-side-navigation
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Katalog
              %ul.ui-side-navigation-lvl2
                %li.ui-side-navigation-lvl2-item
                  %a.weak{:href => "#"} ZHdK Bereich
                %li.ui-side-navigation-lvl2-item
                  %a.weak{:href => "#"} Gattung
                %li.ui-side-navigation-lvl2-item
                  %a.weak{:href => "#"} Projekttyp
              %li.separator.mini
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Interessante Inhalte
              %li.separator.mini
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Neue Inhalte
              %li.separator.mini
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} H&auml;ufige Schlagworte
              %li.separator.mini

        .app-body-content.table-cell.table-substance.container

          // CONTENT

          .container.ptl.phl.pbm
            .media-entries-wrapper
              .media-entries-header.mbm
                %p.paragraph-l Der ZHdK-Katalog bietet Ihnen die Möglichkeit das Medienarchiv der Künste nach Überraschendem zu erkunden.
              %ul.media-entries.grid
                %li.media-entries-item
                  .ui-thumbnail-wrapper.media-catalog
                    .thumbnail-set.large.thumbnail
                      %a
                        .inner-wrapper
                          %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}
                    .thumbnail-metadata
                      %h3.title-s.thumbnail-name.col4of6 Architektur
                      %span.thumbnail-additional-data.col2of6.by-right 500 Inhalte
                %li.media-entries-item
                  .ui-thumbnail-wrapper.media-catalog
                    .thumbnail-set.large.thumbnail
                      %a
                        .inner-wrapper
                          %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}
                    .thumbnail-metadata
                      %h3.title-s.thumbnail-name.col4of6 Design
                      %span.thumbnail-additional-data.col2of6.by-right 500 Inhalte
                %li.media-entries-item
                  .ui-thumbnail-wrapper.media-catalog
                    .thumbnail-set.large.thumbnail
                      %a
                        .inner-wrapper
                          %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}
                    .thumbnail-metadata
                      %h3.title-s.thumbnail-name.col4of6 Film
                      %span.thumbnail-additional-data.col2of6.by-right 500 Inhalte
                %li.media-entries-item
                  .ui-thumbnail-wrapper.media-catalog
                    .thumbnail-set.large.thumbnail
                      %a
                        .inner-wrapper
                          %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}
                    .thumbnail-metadata
                      %h3.title-s.thumbnail-name.col4of6 Fotografie
                      %span.thumbnail-additional-data.col2of6.by-right 500 Inhalte

  .app-footer
    %footer.ui-footer.container.inverted
      %ul.ui-footer-menu
        %li
          %a{:href => "#"} Informationen zum Projekt
        %li
          %a{:href => "#"} Impressum
        %li
          %a{:href => "#"} Kontakt
        %li
          %a{:href => "#"} Blog
        %li
          %a{:href => "#"} Hilfe
        %li
          %a{:href => "#"} Nutzungsbestimmungen
        %li
          %a{:href => "#"} Freie Software
        %li
          %a{:href => "#"} Archivierungsrichtlinien ZHdK
      %p.ui-footer-copy
        = image_tag "redesign/inserts/image-logo-madek.png", :alt => "MADEK", :class => "ui-footer-logo"
        &copy; 2009-2011 Z&uuml;rcher Hochschule der K&uuml;nste
