= link_to edit_admin_api_client_path(api_client), class: "btn btn-info #{size}" do
  %span.glyphicon.glyphicon-edit
  Edit
= link_to admin_api_client_path(api_client), method: :delete, data: { confirm: 'The api_client will be deleted. Do you want to proceed?' },
    class: "btn btn-danger #{size}" do
  %span.glyphicon.glyphicon-trash
  Delete
