.page-header
  %h1
    %i.glyphicon.glyphicon-filter
    API Clients (#{@api_clients.total_count})

.row
  .col-xs-12
    .btn-group
      = link_to new_admin_api_client_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-plus
        Create API Client

.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th Id
          %th Login
          %th Responsible user
          %th Description
          %th
      %tbody
        = render @api_clients

= paginate @api_clients
