.ui-container.midtone-darker.bordered
  .ui-container.inverted.ui-toolbar.phs.pvx
    %h2.ui-toolbar-header
      = _("Highlighted content")

  .ui-featured-entries.ptl.phm
    %ul.ui-featured-entries-list.ui-resources.tiles.horizontal.large

      = render :partial => "media_sets/highlights/highlight", :collection => @highlights, :as => :highlight
