%ul.ui-tabs.large

  %li.ui-tabs-item{:class => media_set_show_page? ? "active" : ""}
    %a{:href => media_set_path(@media_set)} Set

  - if @has_any_relations
    %li.ui-tabs-item{:class => media_set_relations_page? ? "active" : ""}
      %a{:href => relations_media_set_path(@media_set)}
        = _("Zusammenhänge")

  - unless @individual_contexts.blank?

    %li.ui-tabs-item{:class => media_set_context_page? ? "active" : ""}
      %a{:href => context_media_set_path(@media_set, @individual_contexts.first)}
        = _("Vocabulary")
