%ul.ui-tabs.large

  %li.ui-tabs-item{:class => media_set_show_page? ? "active" : ""}
    %a{:href => media_set_path(@media_set)} Set

  - unless @parents_count.zero?
    %li.ui-tabs-item{:class => media_set_parents_page? ? "active" : ""}
      %a{:href => parents_media_set_path(@media_set)}
        = _("Parent sets")

  - unless @individual_contexts.blank?

    %li.ui-tabs-item{:class => media_set_context_page? ? "active" : ""}
      %a{:href => context_media_set_path(@media_set, @individual_contexts.first)}
        = _("Vocabulary")
