- content_for :content do

  .ui-container.rounded-right.rounded-bottom.tab-content.bordered

    .bright.ui-container.pal.rounded-bottom

      %h2.title-l Diese Metadaten wurden am häufigsten vergeben
      %h3.title-s.pbx.mbl.separated
        Sie zeigen den thematischen Schwerpunkt dieses Sets an.

      #ui-media-set-abstract-slider.mbl

      #ui-media-set-abstract

        = render :partial => "abstracts/abstract", :locals => {:meta_data => @media_set.abstract(1, current_user)}
        
  :coffeescript

    jQuery -> new App.AbstractController
      el: $(".ui-view-set")
      subject: new App.MediaSet $(".app.view-set").data()
      abstractContainer: $("#ui-media-set-abstract")
      slider: $("#ui-media-set-abstract-slider")
      totalChildren: #{@media_set.child_media_resources.accessible_by_user(current_user).count}

= render :partial => "media_sets/layout"