:ruby
  @self = @media_set
  @is_set = true
  @description = "Das ausgew채hlte Set ist mit anderen Sets verkn체pft. Diese Zusammenh채nge wurden aktiv festgelegt als 체bergeordnet, benachbart oder untergeordnet. \nSie sehen hier sowohl eigene Sets, als auch solche, die andere Nutzer/innen mit Ihnen teilen."

- content_for :content do
  = render "media_resources/relations"

= render "media_sets/layout"
