:ruby
  status = defined?(get) && get.privacy_status
  throw 'ui: no privacy status!' unless status.present?

  icon_map = {
    public: 'open',
    shared: 'group',
    private: 'private'
  }

= component('icon', "icon-privacy-#{icon_map[status]}")
