:ruby
  # copied from <https://github.com/cider-ci/cider-ci_user-interface/blob
  # /250d4018de10b7b9103c547dce23129e62078d62
  # /app/views/application/_semantic_version.html.haml>

  # TODO: move this to shared components

  example_locals = {
    semver: {
      # required:
      major: 1,
      minor: 2,
      patch: 3,
      # optional, but must be array
      prerelease: ['beta', '3'],
      build: ['gabcd1234', 'somethingelse42']
    },
    prefix: 'v'
  }

  version ||= semver
  prefix ||= prefix
  unless (version.is_a?(Hash) \
    && (version = OpenStruct.new(semver)) \
    && version.major && version.minor && version.patch \
    && (version.prerelease || version.prerelease.is_a?(Array)) \
    && (version.build || version.build.is_a?(Array)))
    throw 'ui: semver: invalid config hash!'
  end

%span.semantic-version<>

  = prefix

  %span.major<>
    = version.major

  %span.minor<>
    %span.divider<>='.'
    = version.minor

  %span.minor<>
    %span.divider<>='.'
    = version.patch.to_s

  - if version.prerelease
    %span.version<>
      %span.divider<>='-'
      - (fields = version.prerelease).each do |field|
        %span.field<>= field
        - unless field === fields.last
          %span.divider<>='.'

  - if version.build
    %span.build<>
      %span.divider<>='+'
      - (fields = version.build).each do |field|
        %span.field<>= field
        - unless field === fields.last
          %span.divider<>='.'
