:ruby
  return unless data.all? { |member| member.is_a?(Presenters::Users::UserIndex) }
  data ||= nil
  unless data
    fail 'ui: missing data!'
  end

  list = data.map { |member|
    {
      id: member.uuid,
      login: member.login,
      actions: @get.institutional? ? [] : [
        component('check_box',
                  name: props[:member_field_name],
                  value: member.login,
                  checked: true,
                  disabled: (member.uuid == current_user.id),
                  keep_value: true
                 )
      ]
    }
  }

%h3 Members

%table.ui-workgroup-members.bordered.block
  %thead
    %tr
      %td Login
      %td Member?
  %tbody
    - list.each do |member|
      %tr{"data-id" => member[:id]}

        %td.ui-member-login
          = member[:login]

        - if (actions = member[:actions]).present?
          %td.ui-workgroup-member-actions
            - actions.each do |action|
              = action
