:ruby
  return unless data.all? { |member| member.is_a?(Presenters::Users::UserIndex) }
  data ||= nil
  unless data
    fail 'ui: missing data!'
  end

  list = data.map { |member|
    {
      id: member.uuid,
      login: member.login,
      actions: (@get.institutional? || member.uuid == current_user.id) ? [] : [
        component('button',
                  link: remove_member_my_group_path(@get.uuid, member_id: member.uuid),
                  icon: :trash,
                  method: :delete,
                  data: {
                    confirm: 'Are you sure you want to remove this member from the group?'
                  })
      ]
    }
  }

%h3 Members

%table.ui-workgroup-members.bordered.block
  %tbody
    - list.each do |member|
      %tr{"data-id" => member[:id]}

        %td.ui-member-login
          = member[:login]

        - if (actions = member[:actions]).present?
          %td.ui-workgroup-member-actions
            - actions.each do |action|
              = action
