.ui-header-menu
  %ul.large.primary.tab-navigation
    %li.tab-navigation-item
      %a{:href => "#"} Mein Archiv
    %li.tab-navigation-item
      %a{:href => "#"} Erkunden
    %li.tab-navigation-item
      %a{:href => "#"}
        %i.icon-search.bright
        Suchen
    %li.tab-navigation-item
      %a{:href => "#"}
        %i.icon-help.bright Help