.app-content-wrapper.container.view-home-page

  // Header

  %header.app-header.container.inverted
    .header-brand-area
      %a.header-brand-logo{:href => "#"}
        %img{:alt => "Image-logo-zhdk", :src => "/assets/redesign/inserts/image-logo-zhdk.png"}
      %h1.header-brand-name Z&uuml;rcher Hochschule der K&uuml;nste
      %h2.header-instance-name Medienarchiv der K&uuml;nste

    .header-user-area.by-right

  // Body

  .container
    .collage.crooked
      .collage-row
        .collage-item.odd
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-6", :src => "/assets/redesign/tmp/media-entry-6.jpeg"}/
        .collage-item.even
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-5", :src => "/assets/redesign/tmp/media-entry-5.jpeg"}/
        .collage-item.odd
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-6", :src => "/assets/redesign/tmp/media-entry-6.jpeg"}/
        .collage-item.even
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-7", :src => "/assets/redesign/tmp/media-entry-7.jpeg"}/
        .collage-item.odd
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-8", :src => "/assets/redesign/tmp/media-entry-8.jpeg"}/
      .collage-row
        .collage-item.odd
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-1", :src => "/assets/redesign/tmp/media-entry-1.png"}/
        .collage-item.even
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-2", :src => "/assets/redesign/tmp/media-entry-2.png"}/
        .collage-item.odd
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-3", :src => "/assets/redesign/tmp/media-entry-3.jpeg"}/
        .collage-item.even
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-4", :src => "/assets/redesign/tmp/media-entry-4.jpeg"}/
        .collage-item.odd
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-4", :src => "/assets/redesign/tmp/media-entry-4.jpeg"}/
      .collage-row
        .collage-item.odd
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-7", :src => "/assets/redesign/tmp/media-entry-7.jpeg"}/
        .collage-item.even
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-8", :src => "/assets/redesign/tmp/media-entry-8.jpeg"}/
        .collage-item.odd
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-6", :src => "/assets/redesign/tmp/media-entry-6.jpeg"}/
        .collage-item.even
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-7", :src => "/assets/redesign/tmp/media-entry-7.jpeg"}/
        .collage-item.odd
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-8", :src => "/assets/redesign/tmp/media-entry-8.jpeg"}/
      .collage-row
        .collage-item.odd
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-1", :src => "/assets/redesign/tmp/media-entry-1.png"}/
        .collage-item.even
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-3", :src => "/assets/redesign/tmp/media-entry-3.jpeg"}/
        .collage-item.odd
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-4", :src => "/assets/redesign/tmp/media-entry-4.jpeg"}/
        .collage-item.even
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-3", :src => "/assets/redesign/tmp/media-entry-3.jpeg"}/
        .collage-item.odd
          .collage-image-wrapper
            %img.collage-image{:alt => "Media-entry-4", :src => "/assets/redesign/tmp/media-entry-4.jpeg"}/

      .elevator-pitch.container
        .col2of3
          .pitch-claim
            %h1.title-xxl Bilder, Fotos, Videos und Audio-Dateien
            %h2.title-l Das Medienarchiv ist ein Werkzeug zum gemeinschaftlichen arbeiten mit Medien und zum Teilen von Inhalten.
        .col1of3
          .pitch-login
            %ul.tab-navigation.container
              %li.tab-navigation-item.active.left
                %a{"data-toggle" => "tab", :href => "#zhdk-user"} ZHdK-Login
              %li.tab-navigation-item.right
                %a{"data-toggle" => "tab", :href => "#external-user"} Externe Benutzer
            .tab-content.pitch-login-tab
              #zhdk-user.tab-pane.active
                %p Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est uVivamus hendrerit arcu sed erat molestie vehicula. Sed au.
              #external-user.tab-pane
                %form
                  .form-body
                    %ul.form-body-list
                      %li.form-body-list-item
                        %input.block.large{:placeholder => "Benutzername", :type => "text"}/
                      %li.form-body-list-item
                        %input.block.large{:placeholder => "Passwort", :type => "password"}/
                  .form-footer
                    %button.primary-button.block.large Anmelden

    .app-body.container
      %ul.header-menu.large.primary.tab-navigation
        %li.tab-navigation-item.active
          %a
            %i.icon-home
              Home Page
        %li.tab-navigation-item
          %a{:href => "#"} Erkunden
        %li.tab-navigation-item
          %a{:href => "#"}
            %i.icon-search.bright
            Suchen
        %li.tab-navigation-item
          %a{:href => "#"}
            %i.icon-help.bright Help

      .media-entries-wrapper
        .media-entries-header.container
          %h2.title-l.media-entries-title
            ZHdK-Katalog
            %a.strong{:href => "#"} Alle anziegen
        %ul.media-entries.grid
          %li.media-entries-item
            .thumbnail-wrapper.media-catalog
              .thumbnail-privacy
                %i.icon-privacy-public This media is public
              .thumbnail-set.large.thumbnail
                %a
                  .inner-wrapper
                    %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}
              .thumbnail-metadata
                %h3.title-s.thumbnail-name Katalog name that can easily go onto 2 lines
                %p.title-xs-alt Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend.
          %li.media-entries-item
            .thumbnail-wrapper.media-catalog
              .thumbnail-privacy
                %i.icon-privacy-public This media is public
              .thumbnail-set.large.thumbnail
                %a
                  .inner-wrapper
                    %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}
              .thumbnail-metadata
                %h3.title-s.thumbnail-name Katalog name that can easily go onto 2 lines
                %p.title-xs-alt Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend.
          %li.media-entries-item
            .thumbnail-wrapper.media-catalog
              .thumbnail-privacy
                %i.icon-privacy-public This media is public
              .thumbnail-set.large.thumbnail
                %a
                  .inner-wrapper
                    %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}
              .thumbnail-metadata
                %h3.title-s.thumbnail-name Katalog name that can easily go onto 2 lines
                %p.title-xs-alt Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend.

      %hr.separator

      .media-entries-wrapper
        .media-entries-header.container
          %h2.title-l.media-entries-title
            Interessante Inhalte
            %a.strong{:href => "#"} Alle anziegen
        %ul.media-entries.grid
          %li.media-entries-item
            .thumbnail-wrapper.media-set
              .thumbnail-set.thumbnail
                %a
                  .inner-wrapper
                    %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
              .thumbnail-metadata
                %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
          %li.media-entries-item
            .thumbnail-wrapper.media-entry
              %a.thumbnail-audio.thumbnail
                %img{:alt => "", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
              .thumbnail-metadata
                %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
          %li.media-entries-item
            .thumbnail-wrapper.media-entry
              %a.thumbnail-video.thumbnail
                %img{:alt => "Thumb-video", :src => "/assets/redesign/thumbnails/thumb-video-mov.png"}/
              .thumbnail-metadata
                %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
          %li.media-entries-item
            .thumbnail-wrapper.media-entry
              %a.thumbnail-audio.thumbnail
                %img{:alt => "Thumb-audio", :src => "/assets/redesign/thumbnails/thumb-audio-mp3.png"}/
              .thumbnail-metadata
                %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
          %li.media-entries-item
            .thumbnail-wrapper.media-entry
              %a.thumbnail-doc.thumbnail
                %img{:alt => "Thumb-doc", :src => "/assets/redesign/thumbnails/thumb-doc-doc.png"}/
              .thumbnail-metadata
                %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
          %li.media-entries-item
            .thumbnail-wrapper.media-entry
              %a.thumbnail-doc.thumbnail
                %img{:alt => "Thumb-doc", :src => "/assets/redesign/thumbnails/thumb-doc-doc.png"}/
              .thumbnail-metadata
                %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well

      %hr.separator

      .media-entries-wrapper
        .media-entries-header.container
          %h2.title-l.media-entries-title
            Neue Inhalte
            %a.strong{:href => "#"} Alle anziegen
        %ul.media-entries.grid
          %li.media-entries-item
            .thumbnail-wrapper.media-set
              .thumbnail-set.thumbnail
                %a
                  .inner-wrapper
                    %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
              .thumbnail-metadata
                %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
          %li.media-entries-item
            .thumbnail-wrapper.media-entry
              %a.thumbnail-audio.thumbnail
                %img{:alt => "", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
              .thumbnail-metadata
                %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
          %li.media-entries-item
            .thumbnail-wrapper.media-entry
              %a.thumbnail-video.thumbnail
                %img{:alt => "Thumb-video", :src => "/assets/redesign/thumbnails/thumb-video-mov.png"}/
              .thumbnail-metadata
                %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
          %li.media-entries-item
            .thumbnail-wrapper.media-entry
              %a.thumbnail-audio.thumbnail
                %img{:alt => "Thumb-audio", :src => "/assets/redesign/thumbnails/thumb-audio-mp3.png"}/
              .thumbnail-metadata
                %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
          %li.media-entries-item
            .thumbnail-wrapper.media-entry
              %a.thumbnail-doc.thumbnail
                %img{:alt => "Thumb-doc", :src => "/assets/redesign/thumbnails/thumb-doc-doc.png"}/
              .thumbnail-metadata
                %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
          %li.media-entries-item
            .thumbnail-wrapper.media-entry
              %a.thumbnail-doc.thumbnail
                %img{:alt => "Thumb-doc", :src => "/assets/redesign/thumbnails/thumb-doc-doc.png"}/
              .thumbnail-metadata
                %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well

    .app-footer-placeholder

// Footer

.app-footer-wrapper
  %footer.app-footer.container.inverted
    %ul.footer-menu
      %li.footer-menu-item
        %a{:href => "#"} Informationen zum Projekt
      %li.footer-menu-item
        %a{:href => "#"} Impressum
      %li.footer-menu-item
        %a{:href => "#"} Kontakt
      %li.footer-menu-item
        %a{:href => "#"} Blog
      %li.footer-menu-item
        %a{:href => "#"} Hilfe
      %li.footer-menu-item
        %a{:href => "#"} Nutzungsbestimmungen
      %li.footer-menu-item
        %a{:href => "#"} Freie Software
      %li.footer-menu-item
        %a{:href => "#"} Archivierungsrichtlinien ZHdK
    .footer-instance-area.col2of6
      %a.footer-instance-logo{:href => "#"}= image_tag "redesign/inserts/image-logo-madek.png"
      %h1.footer-copyrights &copy; 2009-2011 Z&uuml;rcher Hochschule der K&uuml;nste
