.info
  {{tmpl "tmpl/meta_data/edit/cell/label"}}
  {{tmpl "tmpl/meta_data/edit/cell/hint"}}
.input
  %section.values
    {{each(i, value) raw_value}}
    {{tmpl(value) "tmpl/meta_data/edit/multiple_entries/keywords"}}
    {{/each}}

    
  %input{:type => "text",
    :"data-autocomplete" => true,
    :"data-type" => "${type}",
    :"data-url" => "/keywords.json"}
    
  .button.add_keyword.open_helper
    .add_keyword.icon
  {{tmpl "tmpl/meta_data/edit/helper/add_keyword"}}  
{{tmpl "tmpl/meta_data/edit/cell/status"}}
