@import "mixins"  

html#visualization 

  #controls
    display: block
    position: relative
    width: 100%
    @include unselectable()

    .menu

      background: none repeat scroll 0 0 #FFFFFF
      border: 1px solid #A0A0A0
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2)
      cursor: default
      display: inline-block
      float: right
      margin-right: 20px
      margin-bottom: 10px
      position: relative
      width: 334px

      .ui-slider
        background: lightgray
        margin: 3px

      label
        display: block
        padding: 8px 0 6px

      hr
        margin: 18px 0 4px

      .overlay
        background: rgba(255,0,0,0.2)
        display: block
        height: 100%
        position: absolute
        top: 0
        left: 0
        width: 100%
        z-index: 1001

      .advanced_option
        display: none


      h2
        display: block
        font-size: 1.2em
        font-weight: bold
        padding: 8px 12px
        @include opacity(0.8)

        .icon
          position: relative
          top: -5px
          margin-right: 4px

      .inner
        background: none repeat scroll 0 0 #FFFFFF
        border: 1px solid #A0A0A0
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2)
        display: none
        padding: 6px 16px 24px
        position: absolute
        width: 285px
        z-index: 1001

      &:hover

        h2
          @include opacity(1.0)

        .inner
          display: block
