html#visualization 

  // resetting qtip css

  .ui-tooltip.qtip.popup_menu
    .ui-tooltip-content
      padding: 0 
      border: 0 
      margin: 0 
    .ui-tooltip-tip

  .ui-tooltip-default .ui-tooltip-titlebar, .ui-tooltip-default .ui-tooltip-content
    background: white
      


  .popup_menu
    .popover-inner
      //background: white

    min-height: 100px
    width: 260px

    .inner
      cursor: default
      display: block
      position: relative
      width: 242px

    .infos
      height: 24px
      position: absolute
      top: 0
      left: 0

    .image
      height: 164px
      text-align: center

      .item_box
        background: transparent !important
        height: 164px
        pointer-events: none

        .meta_data
          display: none !important

    h2
      font-size: 1.4em
      line-height: 1.1em
      padding-bottom: 8px

    .contains_info
      .icon 
        vertical-align: text-top

    .links

      a
        border-top: 1px solid rgb(220,220,220)
        color: grey
        display: block
        padding: 10px 0 10px
        text-decoration: none

        &[id]
          display: none
        &.shown
          display: block !important

      a:hover
        color: black


