.app-body-sidebar.bright.ui-container.table-cell.bordered-right.rounded-left.table-side
  .ui-container.rounded-left.phm.pvl
    %ul.ui-side-navigation
      - if catalog_set
        %li.ui-side-navigation-item{:class => is_explore_categories_path? ? "active" : ""}
          %a.strong{:href => explore_categories_path(catalog_set.id)}= catalog_set.title
          - unless catalog_set_categories.empty?
            - catalog_set_categories.each do |category|
              %ul.ui-side-navigation-lvl2
                %li.ui-side-navigation-lvl2-item{:class => is_explore_sections_path?(catalog_set.id, category.id) ? "active" : ""}
                  %a.weak{:href => explore_sections_path(catalog_set.id, category.id)}= category.title
                  - if (defined? sections) and not sections.empty? and is_explore_sections_or_categories_path?(catalog_set.id, category.id)
                    %ul.ui-side-navigation-lvl3
                      - sections.each do |section|
                        - active_section = is_explore_media_resources_path?(catalog_set.id, category.id, section[:name])
                        - if active_section
                          %li.ui-side-navigation-lvl3-item{:class => active_section ? "active" : ""}
                            %a.weak{:href => explore_media_resources_path(catalog_set.id, category.id, section[:name])}= section[:name]
        %li.separator.mini
      - if featured_set
        %li.ui-side-navigation-item
          %a.strong{:href => media_resource_path(featured_set)}= featured_set.title
        %li.separator.mini
      - unless latest_media_entries.empty?
        %li.ui-side-navigation-item
          %a.strong{:href => media_resources_path(:type => :media_entries)} Neue Inhalte
        %li.separator.mini
      - unless top_keywords.empty?
        %li.ui-side-navigation-item
          %a.strong{:href => keywords_path} H&auml;ufige Schlagworte
        %li.separator.mini