%ul.ui-tabs.large

  %li.ui-tabs-item{:class => context_show_page? ? "active" : ""}
    %a{:href => context_path(@context)}
      = _("Context")

  %li.ui-tabs-item{:class => context_abstract_page? ? "active" : ""}
    %a{:href => context_abstract_path(@context)}
      = _("Extract")

  %li.ui-tabs-item{:class => context_vocabulary_page? ? "active" : ""}
    %a{:href => context_vocabulary_path(@context)}
      = _("Vocabulary")
