.ui-resources-holder
  - if defined? title
    .ui-resources-header
      %h2.title-l.ui-resource-title
        = title
        - if defined? link
          %a.strong{:href => link} Alle anzeigen
  .ui-contexts
    - meta_contexts.each do |context|
      - media_resource = MediaResource.filter(current_user, {:meta_context_ids => [context.id]}).ordered_by(:updated_at).first
      - if media_resource
        .ui-context.pvl.limited-width-m{:"data-id" => context.id}
          %h3.title-m
            %a= context
          %p.ui-thumbnail-meta-subtitle= context.description
        - unless meta_contexts.last == context
          .separator.mbm