.ui-resources-holder.pal
  - if defined? title
    .ui-resources-header
      %h2.title-l.ui-resource-title
        = title
        - if defined? link
          %a.strong{:href => link} 
            = _("Show all")
  .ui-contexts
    .row
      - meta_contexts.each do |context|
        - media_resource = MediaResource.filter(current_user, {:meta_context_names => [context.name]}).ordered_by(:updated_at).first
        - if media_resource
          .col1of3
            .prs
              .ui-context{:"data-name" => context.name}
                %h3.title-m
                  %a{:href => context_path(context)}= context
                %p.ui-thumbnail-meta-subtitle= context.description
              - unless meta_contexts.last == context
                / .separator.mbm
