%section#content_head
  .container_12.clearfix
    #page_head
      .grid_3
        %h4= _("Contexts")
        
      .grid_9
        - @contexts.each do |context|
          %br
          = link_to context, context
