*.log
*.swp
*~
.DS_Store
.bundle
.project
.rvmrc
.sass-cache/
/config/database.yml
/tmp/
config/*.conf
config/*.conf_with_pipe
config/LDAP.yml
config/database.yml
config/definitions/metadata/ExifTool_config.pl
config/sphinx.yml
config/sphinx.yml.tpo
config/test.sphinx.conf.tpo
db/development_structure.sql
db/full_export.json
db/media_files/
db/production_structure.sql
db/schema.rb
db/sphinx/
log/*.log
log/searchd.development.pid
log/searchd.test.pid
/coverage/
/coverage/**
/coverage/**/*
coverage/**
coverage/**/*
coverage.data
.yardoc
.jhw-cache
db/backups
doc/api/yard
.git
db/empty_medienarchiv_instance_with_personas.mysql.migrated.sql
