*.log
*.swp
*~
.DS_Store
.bundle
.project
.rvmrc
.sass-cache/
/tmp/
config/*.conf
config/*.conf_with_pipe
config/LDAP.yml
config/database.yml
config/definitions/metadata/ExifTool_config.pl
config/sphinx.yml
config/sphinx.yml.tpo
config/test.sphinx.conf.tpo
db/full_export.json
db/media_files/
db/sphinx/
log/*.log
log/searchd.development.pid
log/searchd.test.pid
