.bundle
log/*.log
log/searchd.development.pid
log/searchd.test.pid
*.log
/tmp/
*.swp
*~
.DS_Store
config/LDAP.yml
config/sphinx.yml
config/database.yml
config/*.conf
config/*.conf_with_pipe
config/sphinx.yml.tpo
config/test.sphinx.conf.tpo
config/definitions/metadata/ExifTool_config.pl
db/media_files/
db/sphinx/
.project
.sass-cache/
db/full_export.json
