[submodule "node_modules"]
	path = node_modules
	url = https://github.com/Madek/madek-webapp-node-modules.git
[submodule "public/assets"]
	path = public/assets
	url = https://github.com/Madek/madek_webapp_assets.git
[submodule "datalayer"]
	path = datalayer
	url = https://github.com/Madek/madek-datalayer.git
[submodule "zhdk-integration"]
	path = zhdk-integration
	url = https://github.com/Madek/madek-zhdk-integration.git
[submodule "test-media"]
	path = spec/_support/test_media
	url = https://github.com/Madek/madek-test-media
