[submodule "datalayer"]
	path = engines/datalayer
	url = https://github.com/Madek/madek-datalayer.git
[submodule "node_modules"]
	path = node_modules
	url = https://github.com/eins78/madek-webapp-node-modules.git
