:ruby
  content_for(:page_header) do
    component('page-header',
              text: 'My Workflows',
              icon: capture_haml { haml_tag('i.fa.fa-flask') },
              actions: [
                component('button.primary', link: new_my_workflow_path,
                                            text: 'New workflow')
              ])
  end

- content_for(:page_content, react('Views.My.Workflows', get: @get.section_content))
