:ruby
  content_for(:page_header) do
    component('page-header',
              text: t(:workflows_index_header),
              icon: capture_haml { haml_tag('i.fa.fa-flask') },
              actions: [
                component('button.primary', link: new_my_workflow_path,
                                            text: t(:workflows_index_actions_new))
              ])
  end

- content_for(:page_content, react('Views.My.Workflows', get: @get.section_content))
