:ruby
  content_for(:page_header) do
    component('page-header',
              text: 'New Workflow')
  end

- content_for(:page_content) do
  .ui-container.mam.pam.bright.bordered.rounded-bottom.rounded-right

    = form_with scope: :workflow, url: my_workflows_path do |f|
      .form-body
        .ui-form-group.rowed
          = f.label :name, class: 'title-s', class: 'form-label'
          = f.text_field :name, class: 'form-item', style: 'width: 100%'

      .form-footer{ style: 'padding: 0px 10px' }
        = f.submit t(:workflows_index_action_save), class: 'primary-button'
