:ruby
  layout_mods = ['rowed', 'columned']

  label = case
          when label.is_a?(Hash) then label
          when label.is_a?(String) then { text: label }
          else nil
          end

  comment = label[:comment] if label
  comment = { text: label[:comment] } if label.try(:[], :comment).is_a?(String)

  unless block_content.present?
    fail 'ui: missing content!'
  end
  unless layout_mods.select {|mod| classes.include?(mod)}.length == 1
    fail 'ui: layout needs one of: ' + layout_mods.join(', ')
  end

  tag_type = if label.present? then :label else :div end


- haml_tag(tag_type, {class: ['ui-form-group'].concat(classes)}) do

  - if label.present?
    .form-label{ for: label[:for], class: label[:mods] }
      = label[:text]

      - if (hint = label[:hint]).present?
        %span.ui-form-ui-ttip-toggle.ui-ttip-toggle{rel: 'tooltip',
          title: hint}
          %i.icon-question

      - if comment && comment[:text].present?
        %small{class: comment[:mods]}= comment[:text]

  .form-item
    = block_content
