:ruby
  throw 'ui: missing title!' unless claim && claim[:title]
  throw 'ui: missing login!' unless login

.ui-home-claim.ui-container
  .col2of3
    .pitch-claim
      %h1.title-xxl
        = claim[:title]
      .ptm
        = claim[:subtitle] # markdowned, will have `<p>`s etc.

  .col1of3
    = login
