:ruby
  throw 'ui: missing title!' unless claim && claim[:title]
  throw 'ui: missing login!' unless login

.ui-home-claim.ui-container
  .col2of3
    .pitch-claim
      %h1.title-xxl
        = claim[:title]

      - if (claim_text = claim.try(:[], :text).presence)
        .ptm
          -# markdowned, will have `<p>`s etc., careful with nesting:
          = markdown(claim_text)

  .col1of3
    = login
