:ruby
  list ||= nil
  title ||= nil
  skip_empty ||= true
  return unless list.present?

.ui-metadata-box
  %table.borderless
    %tbody
      - list.each do |item|
        - key = item[0]
        - value = item[1]
        - mod = item[2]
        - unless skip_empty && !value.present?
          %tr
            %td.ui-summary-label= key
            %td.ui-summary-content{class: mod}= value
