%li
  %label{:title => "${meta_data.title}"}
    {{if meta_data.title}}
    ${$identifier = meta_data.title.replace(/\s/g,'_'), ""}
    {{else}}
    ${$identifier = id, ""}
    {{/if}}
    %input{:id => "${$identifier}", :type => "checkbox", :value => 1, :name => "${$identifier}"}
    %span.title
      {{if meta_data.title}}
      ${Str.sliced_trunc(meta_data.title, 40)}
      {{else}}
      = "-"
      {{/if}}
    %span.owner
      ${meta_data.owner}
    {{if created_at}}
    ${$created_at = new Date(created_at), ""}
    ${$is_today = ($created_at.getDate() == new Date().getDate() && $created_at.getMonth() == new Date().getMonth() && $created_at.getFullYear() == new Date().getFullYear()), ""}
    {{if $is_today}}
    ${$created_at = "Heute", ""}
    {{else}}
    ${$created_at = $.datepicker.formatDate('dd.mm.yy', new Date(created_at)), ""}
    {{/if}}
    %span.created_at{:"data-search" => "${$created_at}"}
      ${$created_at}
    {{/if}}
