{{if meta_data}}
${$title = MetaDatum.flatten(meta_data).title, ""}
{{/if}}

%a{:href => "/${App.MediaResource.pluralize(type)}/${id}"}
  %div{:class => "resource ${type}", :title => "${$title}"}
    {{if type.match(/set/)}}
    .set_bg
    .set_label_shadow
    .set_label
    {{/if}}
    {{if type == "filter_set"}}
    .filter_set.icon
    {{/if}}
    %img{:src => "${image}"}