.ui-resources-holder
  .ui-resources-header
    %h2.title-l.ui-resources-title
      = "#{title}"
      - if defined? link
        %a.strong{:href => link} Alle anzeigen
  %ul.ui-tag-cloud
    - keywords.each do |keyword|
      = render :partial => "keywords/keyword", :locals => {:keyword => keyword}
