.app.view-dashboard

  = render "application/header/logged_in"

  // PAGE TITLE

  .app-body
    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Meine Schlagworte

    .app-body-ui-container
      .bordered.ui-container.midtone.rounded.table

        // SIDEBAR

        .app-body-sidebar.table-cell.bright.ui-container.bordered-right.rounded-left.table-side
          .ui-container.rounded-left.phm.pvl
            %ul.ui-side-navigation
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Meine Inhalte
              %li.separator.mini
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Meine Faroviten
              %li.separator.mini
              %li.ui-side-navigation-item.active
                %a.strong{:href => "#"} Meine Schlagworte
              %li.separator.mini
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Mir anvertaute Inhalte
              %li.separator.mini
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Meine Arbeitsgruppen
              %li.separator.mini

        .app-body-content.table-cell.table-substance.ui-container

          // CONTENT

          .ui-container.midtone.rounded-right.ptl.phl.pbm
            .media-resources-wrapper
              .media-resources-header.mbm
                %h2.title-l.media-resources-title
                  Meine Schlagworte (2249)
              %ul.ui-tag-cloud.large
                %li.tag-button
                  %a{:href => "#"} Tag 1
                %li.tag-button
                  %a{:href => "#"} Tag 2
                %li.tag-button
                  %a{:href => "#"} Tag 3
                %li.tag-button
                  %a{:href => "#"} Tag 4
                %li.tag-button
                  %a{:href => "#"} Tag 5
                %li.tag-button
                  %a{:href => "#"} Tag 6
                %li.tag-button
                  %a{:href => "#"} Tag 1
                %li.tag-button
                  %a{:href => "#"} Tag 2
                %li.tag-button
                  %a{:href => "#"} Tag 3
                %li.tag-button
                  %a{:href => "#"} Tag 4
                %li.tag-button
                  %a{:href => "#"} Tag 5
                %li.tag-button
                  %a{:href => "#"} Tag 6
                %li.tag-button
                  %a{:href => "#"} Tag 1
                %li.tag-button
                  %a{:href => "#"} Tag 2
                %li.tag-button
                  %a{:href => "#"} Tag 3
                %li.tag-button
                  %a{:href => "#"} Tag 4
                %li.tag-button
                  %a{:href => "#"} Tag 5
                %li.tag-button
                  %a{:href => "#"} Tag 6

  .app-footer-push
.app-footer
  %footer.ui-footer.ui-container.inverted
    %ul.ui-footer-menu
      %li
        %a{:href => "#"} Informationen zum Projekt
      %li
        %a{:href => "#"} Impressum
      %li
        %a{:href => "#"} Kontakt
      %li
        %a{:href => "#"} Blog
      %li
        %a{:href => "#"} Hilfe
      %li
        %a{:href => "#"} Nutzungsbestimmungen
      %li
        %a{:href => "#"} Freie Software
      %li
        %a{:href => "#"} Archivierungsrichtlinien ZHdK
    %p.ui-footer-copy
      = image_tag "redesign/inserts/image-logo-madek.png", :alt => "MADEK", :class => "ui-footer-logo"
      &copy; 2009-2011 Z&uuml;rcher Hochschule der K&uuml;nste
