.app.view-search

  = render "application/header"

  .app-body
    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Suche

    .app-body-ui-container
      .bordered.ui-container.midtone.rounded.table
        .ui-search-form
          %form
            .ui-search.large.mbm
              %input.block.ui-search-input{:type => "text", :placeholder => "Search term"}
              %button.primary-button.ui-search-button Search

  .app-footer-push
= render "application/footer"