:ruby
  # TODO: info left/right could also be preview_small and _large…
  overview ||= nil
  header ||= nil
  more_info ||= nil
  throw 'ui: invalid data' unless overview && header

  top_box_mods = ['rounded-top-right']
  top_box_mods << 'rounded-bottom' unless more_info


.app-body-ui-container
  = header
  
  -# complete box (under the title):
  .ui-container.tab-content.bordered.rounded-right.rounded-bottom.mbh

    -# top part of the box:
    .ui-container.bright.pal{class: top_box_mods}

      = overview

    -# bottom part of the box:
    .ui-container.rounded-bottom
      = more_info
