:ruby
  # TODO: info left/right could also be preview_small and _large…
  unless head.is_a?(Hash) && info.is_a?(Hash) \
    && head[:title] && info[:main] \
    && !(info[:left] && info[:right]) # we can't show info left AND right!
      throw 'ui: invalid data'
  end
  more_info ||= nil

= head[:title]

.app-body-ui-container
  -# complete box (under the title):
  .ui-container.tab-content.bordered.rounded-right.rounded-bottom.mbh

    -# top part of the box:
    .ui-container.bright.pal.rounded-right.rounded-bottom

      -# TODO: rename CSS classes to be (more general)
      .ui-set-overview
        -# top box, left side (often shows a small thumb)
        - if info[:left]
          .ui-set-preview
            = info[:left]

        -# top box, main content (like listed of data about the resource)
        = info[:main]

        -# TODO: right side info, for resources with large previews (Entry)
          either deal with the CSS/layout here or make 2 decos.x

    -# bottom part of the box:
    .ui-container.rounded-bottom
      = more_info
