:ruby
  # TODO: info left/right could also be preview_small and _large…
  throw 'ui: invalid data' unless overview && head.is_a?(Hash)

  more_info ||= nil
  box_rounding_top = more_info ? 'rounded-top-right' : 'rounded-bottom'

= head[:title]

.app-body-ui-container
  -# complete box (under the title):
  .ui-container.tab-content.bordered.rounded-right.rounded-bottom.mbh

    -# top part of the box:
    .ui-container.bright.pal{class: box_rounding_top}

      = overview

    -# bottom part of the box:
    .ui-container.rounded-bottom
      = more_info
