<div id="content-header" class="container_12 clearfix">
	
	<div id="detail-title" class="container_12 grid_8">
		<h2 class="title">Hilfe</h2>		
	</div>
</div> <!-- /#content-header -->

<div id="content-body" class="container_12 clearfix">
	
	<div id="detail-main" class="container_12 grid_8 clearfix">	
		
		<p>Main</p>
		
	</div>
	
	<div id="detail-sidebar"  class="container_12 grid_4">

		<p>Sidebar</p>
		
	</div>

</div> <!-- /#content-body -->
