.ui-alert.warning= "Konvertierung zu #{@media_entry.media_file.encode_job_progress_percentage}% abgeschlossen"
.p.pvh.mth
  Diese Videodatei wird gerade fürs Web konvertiert.
  Sobald sie ganz abgeschlossen ist, finden Sie hier eine abspielbare Version.
  %br
  %span.title-xs Laden Sie diese Seite neu, um den aktuellsten Stand zu erfahren.