.ui-resources-holder.pal#keywords
  = render "application/root/section_title", section_content: section_content
  %ul.ui-tag-cloud{style: "margin-bottom:40px;"}
    - section_content[:data][:list].each do |keyword|
      = render "application/root/keywords/keyword", keyword: keyword
