- if section_content[:show_title]
  .ui-resources-header
    %h2.title-l.ui-resource-title
      = section_content[:data][:title]
      %a.strong{href: section_content[:data][:url]}
        - if section_content[:show_all_text]
          = section_content[:show_all_text]
        - else
          = t(:vocabularies_show_all)
