.app-body-ui-container.pts.context-home
  %hr.separator
  .ui-resources-holder.pal#vocabularies
    .ui-resources-header
      %h2.title-l.ui-resource-title
        = section_content[:data][:title]
        %a.strong{href: section_content[:data][:url]}
          - if section_content[:show_all_text]
            = section_content[:show_all_text]
          - else
            = t(:vocabularies_show_all)
    %ul.ui-tag-cloud
      - size = section_content[:data][:list].size
      - section_content[:data][:list].each_with_index do |vocabulary, i|
        = render 'application/root/vocabularies/vocabulary', vocabulary: vocabulary, last: i == size - 1
