.ui-resources-holder.pal#vocabularies
  = render "application/root/section_title", section_content: section_content
  %ul.ui-tag-cloud
    - size = section_content[:data][:list].size
    - section_content[:data][:list].each_with_index do |vocabulary, i|
      = render 'application/root/vocabularies/vocabulary', vocabulary: vocabulary, last: i == size - 1
