.pagination.loading{:style => "display: none;"}
  &nbsp;
.clear.loading{:style => "display: none;"}
- PER_PAGE.first.times do
  .item_box.loading{:style => "display: none;"}
    .thumb_box
 
:javascript
  $(document).ready(function () {
    display_results(#{json}, '#{type}_results');
  });
