<% kss_block '2.1' do %>
  <h1 class="$modifier-class">This is a rather long title that might go onto two lines</h1>
<% end %>

<% kss_block '2.2' do %>
  <p class="$modifier-class">Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus.</p>
<% end %>

<% kss_block '2.3' do %>
  <ul class="$modifier-class">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>
<% end %>

<% kss_block '2.4' do %>
  <ol class="$modifier-class">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ol>
<% end %>

<% kss_block '2.5' do %>
  <table class="$modifier-class">
    <thead>
      <tr>
        <td>Column Head 1</td>
        <td>Column Head 2</td>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td>Tfoot 1</td>
        <td>Tfoot 2</td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Cell 1 Row 1</td>
        <td>Cell 2 Row 1</td>
      </tr>
      <tr>
        <td>Cell 1 Row 2</td>
        <td>Cell 2 Row 2</td>
      </tr>
    </tbody>
  </table>
<% end %>
