<% kss_block '3.1' do %>
  <a class="$modifier-class">Link</a>
<% end %>

<% kss_block '3.2' do %>
  <a class="button $modifier-class">Button</a>
  <a class="button $modifier-class"><i class="icon-tag"></i> Button</a>
<% end %>

<% kss_block '3.3' do %>
  <a class="primary-button $modifier-class">Primary Button</a>
  <a class="primary-button $modifier-class"><i class="icon-tag bright"></i> Primary Button</a>
<% end %>

<% kss_block '3.4', :background => "dark" do %>
  <a class="tertiary-button $modifier-class">Tertiary Button</a>
  <a class="tertiary-button $modifier-class"><i class="icon-tag bright"></i> Tertiary Button</a>
<% end %>

<% kss_block '3.5' do %>
  <a class="button $modifier-class">Dropdown Button <i class="icon-arrow-down dark stand-alone"></i></a>
  <a class="primary-button $modifier-class">Dropdown Button <i class="icon-arrow-down bright stand-alone"></i></a>
  <a class="tertiary-button $modifier-class">Dropdown Button <i class="icon-arrow-down bright stand-alone"></i></a>
<% end %>

<% kss_block '3.6' do %>
  <a class="tag-button $modifier-class">Tag Button</a>
  <a class="tag-button $modifier-class"><i class="icon-explore-tag"></i>Tag Button</a>
<% end %>

<% kss_block '3.7' do %>
  <div class="button-group $modifier-class">
    <button class="button $modifier-class active">Alle</button>
    <button class="button $modifier-class">Medientr&auml;ge</button>
    <button class="button $modifier-class">Sets</button>
  </div>
<% end %>
