<% kss_block '4.1' do %>
  <div class="multi-select $modifier-class">
    <ul class="multi-select-holder">
      <li class="multi-select-tag">
        Tusche und Airbrush auf Karton <a class="multi-select-tag-remove" href="#"></a>
      </li>

      <li class="multi-select-tag">
        Rendering <a class="multi-select-tag-remove" href="#"></a>
      </li>

      <li class="multi-select-input-holder">
        <input type="text" class="multi-select-input">
        <a class="multi-select-input-toggle" href="#"></a>
      </li>
    </ul>
  </div>

  <!--<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; top: 650px; left: 652px; display: block; width: 332px; ">
    <li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Screenshot</a></li>
    <li class="ui-menu-item" role="menuitem"><a class="ui-corner-all ui-state-hover" tabindex="-1" id="ui-active-menuitem">zeichnung</a></li>
  </ul>-->
<% end %>
