:ruby
  element = {
    name: 'Multi-select form element', todo: true,
    cssFile: '_multi-select.scss',
    cssSelector: '.multi-select',
    section: '5.4',
    example_locals: {
      list: [{
        text: 'Tusche und Airbrush auf Karton',
        url: '/term/tusche-und-airbrush-auf-karton'
      }, {
        text: 'Rendering',
        url: '/term/rendering'
      }]
    }
  }

= render_partial('element', element) do
  = render_partial('example') do

    = combo('multi-select', element[:example_locals])
