:ruby
  element = {
    name: 'Links', todo: true,
    cssFile: '_buttons.scss',
    cssSelector: 'a',
    section: '4.1',
    mods: {
      nil => 'Default',
      ':hover' => 'Hovered link',
      ':active' => 'Active link',
      'strong' => 'Enhanced link',
      'weak' => 'Secondary link'
    }
  }

= render_partial('element', element) do
  - element[:mods].each do |name, description|
    = render_partial('example', { mod: name}) do

      %a{:class => name} Link
