:ruby
  person_show = {}

  person_show[:header] = \
    component('page-header',
      icon: component('icon',
        "icon-privacy-#{@get.bunch? ? 'group' : 'private'}-alt"),
      text: @get.name
    )

  person_show[:overview] = \
    deco('resource_show_overview',
      content: \
        combo('metadata-box',
          mods: 'ui-summary-table.ui-set-summary.compact',
          list: ['first_name', 'last_name',
                 'pseudonym', 'date_of_birth', 'date_of_death'
                ].map { |prop| [prop, @get.send(prop)] }
        )
    )

- person_show[:more_info] = capture_haml do
  -# TODO: t(:people_toolbar_header)
  -# #ui-resources-list-container.ui-container.midtone.rounded-bottom
  = react('Deco.MediaResourcesBox',
    get: @get.related_media_resources_via_meta_data, interactive: true,
    mods: [{bordered: false}, 'rounded-bottom'])

= deco('resource_show', person_show)
