.ui-thumbnail-level-up-items
  %h3.ui-thumbnail-level-notes Set enthalt
  %ul.ui-thumbnail-level-items
    %li.ui-thumbnail-level-item.odd
      %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
        .ui-thumbnail-level-image-holder
          = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image"
    %li.ui-thumbnail-level-item.even
      %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
        .ui-thumbnail-level-image-holder
          = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image"
  %span.ui-thumbnail-level-notes 5 Inhalte

