%h2 
  Preview
  = @preview.id


%ul.list-inline
  %li
    = link_to app_admin_preview_path(@preview), method: 'DELETE', class: "btn btn-danger" do
      %i.icon-trash
      Delete



%table.table.table-striped
  %thead
  %tbody
    - @preview.attributes.merge({full_path: @preview.full_path}).each do |name,value|
      %tr
        %td= name.to_s.capitalize.split("_").join(" ")
        - case name
        - when nil
        - else
          %td= value


