:ruby
  element = {
    name: 'Element1',
    cssFile: '_dummy.scss',
    section: '1.1',
    description: 'My Element',
    mods: {
      'one' => 'First',
      'two' => 'Second'
    }
  }

.dummy
  NO CONTENT
