:ruby
  element = {
    name: 'Element2',
    cssFile: '_dummy2.scss',
    section: '1.2',
    description: 'My Element2',
    mods: {
      'one' => 'First',
      'two' => 'Second',
      'three' => 'Third'
    }
  }

.dummy
  NO CONTENT
