/**
 * BODY
 ----------------------------------------- */

html,
body {
  background: $body-background;
  height: 100%;
  min-width: 980px;
}
.app-body {
  background: $body-background;
  padding: $space-m $space-m 120px $space-m;
  position: relative;
}

/**
 * FOOTER
 ----------------------------------------- */

@include sticky-footer(50px, ".app", ".app-footer-push", ".app-footer");

.ui-footer {
  height: 30px;
}

/**
 * CLIPBOARD
 ----------------------------------------- */

.app-clipboard {
  -webkit-backface-visibility: hidden; /* webkit flicker work-around */
  @include position-bottom-left(0,0);
  @include position-bottom-right(0,0);
  position: fixed;
  z-index: 2000;
}

/**
 * HOME PAGE
 ----------------------------------------- */

// Positioning claim+login box
.view-home .ui-home-claim {
  @include dimension(940px,220px);
  @include position-top-right(50%,50%);
  @include position-bottom-left(50%,50%);
  margin: -130px -490px;
  z-index: 50;
}

// Adding some extra space above the footer
.view-home .app-body {
  padding: 0 0 120px 0;
}

// Limiting home page's container to 980px
.view-home .app-body-ui-container {
  margin: 0 auto;
  position: relative;
  width: 980px;

  // Positioning tab navigation over the collage
  .ui-header-menu {
    bottom: 100%;
  }

  // Tweaking shadows of the tab-nav buttons
  .ui-header-menu .ui-tabs-item {
    @include box-shadow(0 -2px 2px $darken-more);
  }

  // Adjusting display of resources
  .ui-resources-holder { 
    margin: 0;
    padding: $space-l 0;
  }
  .ui-resources { 
    margin: 0 -20px;
    padding: 0;
  }
  .ui-resource { 
    margin-right: -$space-x;
  }
  .ui-resource .media-catalog { 
    margin-right: $space-s; // work-around .ui-resource's negative margin
  }
}

/**
 * BOOTSTRAP STUFF (to revise later and see if still needed)
 ----------------------------------------- */

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}
.collapse.in {
  height: auto;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Open state for the dropdown
// ---------------------------
.open {
  // IE7's z-index only goes to the nearest positioned ancestor, which would
  // make the menu appear below buttons that appeared later on the page
  *z-index: 60;

  & > .dropdown-menu {
    display: block;
  }
}
