// BODY RULES

html {
  height: 100%;
}
body,
.app {
  background: $body-background;
  height: 100%;
  position: static;
}
.app-body {
  padding: $space-m $space-m 120px $space-m;
  position: relative;
}

// FOOTER

.app-footer {
  @include position-bottom-left(0,0);
  @include position-bottom-right(0,0);
  position: fixed;
  z-index: 400;
  -webkit-backface-visibility: hidden; /* webkit flicker work-around */
}

// CLIPBOARD

.app-clipboard {
  @include position-bottom-left(100%,0);
  @include position-bottom-right(100%,0);
}

// TABLE BOX MODEL

.table {
  table-layout: fixed;
  &.auto {
    table-layout: auto;
  }
}
.table-side {
  width: 190px;
}
.table-substance {
  width: 100%;
}

// HOME PAGE VIEW

.view-home .elevator-pitch {
  @include dimension(940px,220px);
  @include position-top-right(50%,50%);
  @include position-bottom-left(50%,50%);
  margin: -130px -490px;
  z-index: 50;
}
.view-home .app-body {
  padding: 0 0 120px 0;
}
.view-home .app-body-container {
  margin: 0 auto;
  position: relative;
  width: 980px;
  .ui-header-menu {
    bottom: 100%;
  }
  .ui-header-menu .tab-navigation-item {
    @include box-shadow(0 -2px 2px $darken-more);
  }
  .media-entries-wrapper {
    position: relative;
    left: 5px;
  }
  .media-entries {
    padding: 0;
    margin: 0;
  }
  .media-entries-item {
    margin: 0 0 0 -6px;
    .ui-thumbnail-wrapper.media-entry,
    .ui-thumbnail-wrapper.media-set {
      width: 135px;
    }
    .ui-thumbnail-wrapper.media-catalog {
      margin-right: 10px;
      width: 298px;
    }
  }
}

// MEDIA ENTRY VIEW

.view-media-entry .tab-pane > div:first-child {
  @include border-top-right-radius($border-radius-m);
}

// MEDIA ENTRY EDIT VIEW

.view-media-entry-edit {
  .media-entry-edit-preview {
    margin: -10px $space-l 0 -10px;
  }
}

// Bootstrap

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}
.collapse.in {
  height: auto;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Open state for the dropdown
// ---------------------------
.open {
  // IE7's z-index only goes to the nearest positioned ancestor, which would
  // make the menu appear below buttons that appeared later on the page
  *z-index: 60;

  & > .dropdown-menu {
    display: block;
  }
}
