<section class="sg-body">

  <section class="sg-example" id="11.1">
    <h3>
      <a href="#11.1">11.1</a>
    </h3>
    <div class="sg-description">
      <h2>Zusammenhänge</h2>
      <p></p>
    </div>
    <div class="sg-canvases">
      <div class="align-left bg-light sg-canvas">
        <span class="sg-modifier-name">Logged In Variation</span>
        <div style="min-height: 200px;">

          <div class="app-body-title">
            <div class="ui-body-title">
              <div class="ui-body-title-label">
              <h1 class="title-xl"><i class="icon-media-entry"></i>i7te</h1>
              </div>
              <div class="ui-body-title-actions">

                <a class="button" data-clipboard-toggle="" title="Zur Zwischenablage hinzufügen/entfernen">
                  <i class="icon-checkbox ui-thumbnail-action-checkbox"></i>
                </a>

                <a class="button" data-favor-toggle="" title="Zur Favoriten hinzufügen/entfernen">
                  <i class="icon-star-empty ui-thumbnail-action-favorite"></i>
                </a>

                <span class="action-separator"></span>

                <a title="Nach vergleichbaren Inhalten stöbern" class="button">
                  <i class="icon-eye"></i>
                </a>

                <a class="button">
                  <i class="icon-pen"></i>
                </a>

                <a data-delete-action="" title="Löschen" class="button">
                  <i class="icon-trash"></i>
                </a>

                <div class="dropdown ui-dropdown stick-right">
                  <a class="button dropdown-toggle ui-drop-toggle" data-toggle="dropdown" href="#" id="resource-action-button">Weitere Aktionen <i class="icon-arrow-down stand-alone"></i>
                  </a>
                  <ul aria-labelledby="dLabel" class="dropdown-menu ui-drop-menu" role="menu">

                    <li class="ui-drop-item">
                      <a id="view_permissions_of_resource"><i class="icon-lock mid"></i> Berechtigungen und Verantwortlichkeit editieren
                      </a>
                    </li>

                    <li class="ui-drop-item">
                      <a data-organize-arcs="">
                        <i class="icon-move mid"></i> Zu Set hinzufügen/entfernen
                      </a>
                    </li>

                    <li class="separator"></li>

                    <li class="ui-drop-item">
                      <a id="view_permissions_of_resource"><i class="icon-dload mid"></i> Exportieren
                      </a>
                    </li>

                    <li class="ui-drop-item">
                      <a id="manage_custom_urls" title="Adresse des Inhalts anlegen oder übertragen"><i class="fa fa-link mid"></i> Adressen verwalten
                      </a>
                    </li>

                  </ul>
                </div>
              </div>

            </div>
          </div>

          <div class="app-body-ui-container">
            <ul class="ui-tabs large">
              <li class="active ui-tabs-item">
                <a href="/entries/4b2ad543-39d9-4738-87eb-cdfbc60414ca">Medieneintrag</a>
              </li>
              <li class="ui-tabs-item">
                <a href="/entries/4b2ad543-39d9-4738-87eb-cdfbc60414ca/more_data">Weitere Daten</a>
              </li>
              <li class="ui-tabs-item">
                <a href="/entries/4b2ad543-39d9-4738-87eb-cdfbc60414ca/more_data"><i class="icon-privacy-open"></i> Offentlichkeit</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="align-left bg-light sg-canvas">
        <span class="sg-modifier-name">Logged Out Variation</span>
        <div style="min-height: 200px;">

          <div class="app-body-title">
            <div class="ui-body-title">
              <div class="ui-body-title-label">
              <h1 class="title-xl"><i class="icon-media-entry"></i>i7te</h1>
              </div>
              <div class="ui-body-title-actions">

                <a title="Nach vergleichbaren Inhalten stöbern" class="button">
                  <i class="icon-eye"></i> Stöbern
                </a>

                <div class="dropdown ui-dropdown stick-right">
                  <a class="button dropdown-toggle ui-drop-toggle" data-toggle="dropdown" href="#" id="resource-action-button">Weitere Aktionen <i class="icon-arrow-down stand-alone"></i>
                  </a>
                  <ul aria-labelledby="dLabel" class="dropdown-menu ui-drop-menu" role="menu">

                    <li class="ui-drop-item">
                      <a id="view_permissions_of_resource"><i class="icon-dload mid"></i> Exportieren
                      </a>
                    </li>

                    <li class="ui-drop-item">
                      <a id="manage_custom_urls" title="Adresse des Inhalts anlegen oder übertragen"><i class="fa fa-link mid"></i> Adressen verwalten
                      </a>
                    </li>

                  </ul>
                </div>
              </div>

            </div>
          </div>

          <div class="app-body-ui-container">
            <ul class="ui-tabs large">
              <li class="active ui-tabs-item">
                <a href="/entries/4b2ad543-39d9-4738-87eb-cdfbc60414ca">Medieneintrag</a>
              </li>
              <li class="ui-tabs-item">
                <a href="/entries/4b2ad543-39d9-4738-87eb-cdfbc60414ca/more_data">Weitere Daten</a>
              </li>
              <li class="ui-tabs-item">
                <a href="/entries/4b2ad543-39d9-4738-87eb-cdfbc60414ca/more_data"><i class="icon-privacy-open"></i> Offentlichkeit</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>


  <section class="sg-example" id="11.2">
    <h3>
      <a href="#11.2">11.2</a>
    </h3>
    <div class="sg-description">
      <h2>Stats module</h2>
      <p>Present in the home page, on logged in dashboard and Erkunden page.</p>
    </div>
    <div class="sg-canvases">
      <div class="align-left bg-light sg-canvas">
        <span class="sg-modifier-name">Home Page Variation</span>
        <div>

          <aside class="ui-stats mtl bordered ui-container">
            <div class="row">
              <div class="col1of5">
                <div class="ui-stats__module ui-container pam">
                  <i class="icon-media-entry ui-stats__icon"></i>
                  <a class="ui-stats__value">
                    32048
                  </a>
                  <br>
                  <span class="ui-stats__unit">
                    Medienenträge
                  </span>
                </div>
              </div>
              <div class="col1of5">
                <div class="ui-stats__module ui-container bordered-left pam">
                  <i class="icon-set ui-stats__icon"></i>
                  <a class="ui-stats__value">
                    1765
                    <br>
                  </a>
                  <span class="ui-stats__unit">
                    Sets
                  </span>
                </div>
              </div>
              <div class="col1of5">
                <div class="ui-stats__module ui-container bordered-left pam">
                  <i class="icon-tag ui-stats__icon"></i>
                  <a class="ui-stats__value">
                    54763
                  </a>
                  <br>
                  <span class="ui-stats__unit">
                    Schlagworte
                  </span>
                </div>
              </div>
              <div class="col1of5">
                <div class="ui-stats__module ui-container bordered-left pam">
                  <i class="icon-privacy-private ui-stats__icon"></i>
                  <span class="ui-stats__value">
                    1023
                  </span>
                  <br>
                  <span class="ui-stats__unit">
                    Nutzerinnen
                  </span>
                </div>
              </div>
              <div class="col1of5">
                <div class="ui-stats__module ui-container bordered-left pam">
                  <i class="icon-privacy-group ui-stats__icon"></i>
                  <span class="ui-stats__value">
                    809
                  </span>
                  <br>
                  <span class="ui-stats__unit">
                    Arbeitsgruppen
                  </span>
                </div>
              </div>
            </div>
          </aside>

        </div>
      </div>
      <div class="align-left bg-light sg-canvas">
        <span class="sg-modifier-name">Erkunden Variation</span>
        <div>

          <aside class="ui-stats">
            <div class="row">
              <div class="col1of5">
                <div class="ui-stats__module ui-container pam">
                  <i class="icon-media-entry ui-stats__icon"></i>
                  <a class="ui-stats__value">
                    32048
                  </a>
                  <br>
                  <span class="ui-stats__unit">
                    Medienenträge
                  </span>
                </div>
              </div>
              <div class="col1of5">
                <div class="ui-stats__module ui-container bordered-left pam">
                  <i class="icon-set ui-stats__icon"></i>
                  <a class="ui-stats__value">
                    1765
                    <br>
                  </a>
                  <span class="ui-stats__unit">
                    Sets
                  </span>
                </div>
              </div>
              <div class="col1of5">
                <div class="ui-stats__module ui-container bordered-left pam">
                  <i class="icon-tag ui-stats__icon"></i>
                  <a class="ui-stats__value">
                    54763
                  </a>
                  <br>
                  <span class="ui-stats__unit">
                    Schlagworte
                  </span>
                </div>
              </div>
              <div class="col1of5">
                <div class="ui-stats__module ui-container bordered-left pam">
                  <i class="icon-privacy-private ui-stats__icon"></i>
                  <span class="ui-stats__value">
                    1023
                  </span>
                  <br>
                  <span class="ui-stats__unit">
                    Nutzerinnen
                  </span>
                </div>
              </div>
              <div class="col1of5">
                <div class="ui-stats__module ui-container bordered-left pam">
                  <i class="icon-privacy-group ui-stats__icon"></i>
                  <span class="ui-stats__value">
                    809
                  </span>
                  <br>
                  <span class="ui-stats__unit">
                    Arbeitsgruppen
                  </span>
                </div>
              </div>
            </div>
          </aside>

        </div>
      </div>
      <div class="align-left bg-light sg-canvas">
        <span class="sg-modifier-name">Dashboard Variation</span>
        <div>

          <aside class="ui-stats">
            <div class="row">
              <div class="col1of4">
                <div class="ui-stats__module ui-container pam">
                  <i class="ui-stats__icon icon-media-entry"></i>
                  <a class="ui-stats__value">
                    324
                  </a>
                  <span class="ui-stats__unit">
                    Medienenträge
                  </span>
                </div>
              </div>
              <div class="col1of4">
                <div class="ui-stats__module ui-container bordered-left pam">
                  <i class="ui-stats__icon icon-set"></i>
                  <a class="ui-stats__value">
                    123
                  </a>
                  <span class="ui-stats__unit">
                    Sets
                  </span>
                </div>
              </div>
              <div class="col1of4">
                <div class="ui-stats__module ui-container bordered-left pam">
                  <i class="ui-stats__icon icon-filter"></i>
                  <a class="ui-stats__value">
                    2
                  </a>
                  <span class="ui-stats__unit">
                    Filtersets
                  </span>
                </div>
              </div>
              <div class="col1of4">
                <div class="ui-stats__module ui-container bordered-left pam">
                  <i class="ui-stats__icon icon-user"></i>
                  <a class="ui-stats__value">
                    32
                  </a>
                  <span class="ui-stats__unit">
                    Personen
                  </span>
                </div>
              </div>
            </div>
          </aside>

        </div>
      </div>
    </div>
  </section>
</section>