#upload-container.edit_metadata
  .clearfix{:style => "background: white; padding: 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px;"}
    #edit_meta_data

:coffeescript
  
  jQuery ->
    EditMetaData.display_inline
      container: $("#edit_meta_data")
      media_resource_ids: #{@media_entries.map(&:id).to_json}
      context_name: "upload"
      button: $("#save_meta_data")