#upload-container.edit_metadata
  .clearfix{:style => "background: white; padding: 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px;"}
    #permissions
    
:javascript
  
  $(document).ready(function(){
    Permission.display_inline({ 
      container: $("#permissions"), 
      media_resource_ids: #{@media_entries.map(&:id).to_json},
      current_user: #{current_user.to_json(:only=>:id, :include => :groups)},
      button: $("#save_permissions")
    });
    
    $("#save_permissions").bind("click", function(){
      $(this).unbind("click");
      Permission.save($(this), $("#permissions"), function(){
        window.setTimeout(function(){
          window.location = "http:\/\/"+window.location.host+"#{edit_upload_path}"
        }, 100);
      });
    });
  });