#upload-main.set_media_sets{:style => "margin-top: 2em;"}
  .clearfix{:style => "background: white; padding: 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px;"}
    %ul.items{:style => "margin: 0; min-height: 10em;"}
      - @media_entries.each do |media_entry|
        %li
          = thumb_for(media_entry, :small)
          %br
          = media_entry.meta_data.get_value_for("title")
    = media_sets_widget(@media_entries, _("Einträge zu einem Set hinzufügen"), "upload_buttons", {media_set: {media_entries: 1, child_sets: 1}})
