@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0

.notifications
  b
    font-weight: bold // dafuk

.notifications-count
  font-weight: normal

.notifications-save-confirmation
  animation: fadeOut 1s 1s forwards

.notification-date-title
  display: flex
  gap: 4px
  margin-bottom: 4px
  font-weight: bold
  color: $mono-dark
  &:hover
    color: $black

.notification-date-title__expand-button
  @extend .icon-extend
  cursor: pointer
  margin-top: 4px
  font-size: 12px
  color: $mono-mid
  &:before
    content: "\e605"

.notification-date-title__expand-button--expanded
  &:before
    content: "\e603"

.notification-row
  display: flex
  gap: 4px
  margin-left: 40px
  margin-bottom: 4px

  &--with-inline-date
    margin-left: 16px

  &__datetime-cell
    white-space: nowrap

.notifications-mini-delete-button
  margin-top: -4px

.notification-date-title
  .notifications-mini-delete-button
    visibility: hidden

.notification-date-title--expanded
  .notifications-mini-delete-button
    visibility: visible
