.ui-thumbnail-image-holder 
  .ui-thumbnail-table-image-holder
    .ui-thumbnail-cell-image-holder
      .ui-thumbnail-inner-image-holder
        %img.ui-thumbnail-image{:src => "/media_resources/#{media_resource.id}/image?size=medium"}