
////////////////////////////////////////////////////////////////////////////////

%script#empty_index{:type => "text/x-jquery-tmpl"}
  .item_box
    .thumb_box

%script#empty_result_page{:type => "text/x-jquery-tmpl"}
  .page{:"data-page" => "${pagination.page}", :"data-url" => "${url}"}
    {{tmpl(pagination) "#pagination"}}
    {{tmpl(media_resources) "#empty_index"}}

%script#result_page{:type => "text/x-jquery-tmpl"}
  .page
    {{tmpl(pagination) "#pagination"}}
    {{tmpl(media_resources) "tmpl/media_resource/thumb_box"}}

%script#pagination{:type => "text/x-jquery-tmpl"}
  .pagination
    ${total}
    = "#{_('Resultate')},"
    Seite ${page} von ${total_pages}

%script#thumbnail_mini{:type => "text/x-jquery-tmpl"}
  {{if type}}
  ${is_set = !!type.match(/set/), ""}
  {{/if}}
  %div{:class => "thumb_mini {{if is_editable}}edit{{/if}} {{if is_manageable}}manage{{/if}}{{if is_set}} set{{/if}}", :rel => "${id}", :title => "${MetaDatum.flatten(meta_data).title}"}
    {{if is_set}}
    .set_tab
    {{/if}}
    = image_tag("icons/button_remove_action.png", :class => "thumb_remove")
    {{if image}}
    %img{:src => "${image}"}
    {{else}}
    .noimage
    {{/if}}
