:ruby
  with_actions = (defined? with_actions and with_actions)
  as = (defined? as and as)
  catalog_set = (defined? catalog_set and catalog_set)
  category_set = (defined? category_set and category_set)
  layout = (defined? layout and layout) || "grid"
  id ||= nil

.ui-resources-holder.pal{id: id}
  - if defined? title
    .ui-resources-header
      %h2.title-l.ui-resource-title
        = title
        - if defined? link
          %a.strong{:href => link} 
            = _("Show all")

  = render :partial => "media_resources/list",
           :locals => {:media_resources => media_resources,
                       :as => as,
                       :catalog_set => @catalog_set,
                       :category_set => @category_set,
                       :with_actions => with_actions}