%section#content_body{:class => params[:query].blank? ? nil : "search"}

  = render :partial => "media_resources/index"

:javascript
  $(document).ready(function () { 
    if(#{not params[:query].blank?}){
      var filter_area = $("#content_body .filter_area");
      var url = "#{filter_media_resources_path(params.select {|k,v| not [:id, :action, :controller].include?(k.to_sym) })}";
      $.ajax({
        url: url,
        type: 'GET',
        dataType: 'html',
        beforeSend: function(){
          filter_area.html("Loading...");
        },
        success: function(response){
          filter_area.html(response);
        } 
      });
    }
  });
