-# OPTIMIZE merge content_body_result css to content_body
%section{:id => params[:query].blank? ? "content_body" : "content_body_result"}

  = render :partial => "media_entries/index"

:javascript
  $(document).ready(function () {
    if(#{not params[:query].blank?}){
      var filter_area = $("#content_body_result .filter_area");
      $.ajax({
        url: "#{filter_media_resources_path}",
        type: 'GET',
        dataType: 'html',
        data: {format:"html", query: "#{params[:query]}"},
        beforeSend: function(){
          filter_area.html("Loading...");
        },
        success: function(response){
          filter_area.html(response);
        } 
      });
    }
  });
