%section#content_body{:class => params[:query].blank? ? nil : "search"}

  = render :partial => "media_entries/index"

:javascript
  $(document).ready(function () {
    if(#{not params[:query].blank?}){
      var filter_area = $("#content_body .filter_area");
      $.ajax({
        url: "#{filter_media_resources_path}",
        type: 'GET',
        dataType: 'html',
        data: {format:"html", query: "#{params[:query]}"},
        beforeSend: function(){
          filter_area.html("Loading...");
        },
        success: function(response){
          filter_area.html(response);
        } 
      });
    }
  });
