/**
 * ## Dashboard Collage `.collage`
 *
 * Styleguide 8.8.1
 */

.collage {
  @include border-top-right-radius($border-radius-m);
  background: $darkest;
  margin: -1px -1px 0 -1px;
  overflow: hidden;
  padding: 1px;
  position: relative;
  width: 100%;
}

.collage-row {
  display: table;
  width: 100%;
  &:first-child {
    @include border-top-right-radius($border-radius-m);
    .collage-item:last-child {
      @include border-top-right-radius($border-radius-m);
    }
  }
}
.collage-item {
  display: table-cell;
  border: 1px solid $darkest;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 25%;
}
.collage-image-wrapper {
  overflow: hidden;
  position: relative;
  text-align: center;
}
.collage-image {
  @include max-dimension(110%,120%);
  @include min-dimension(100%,100%);
  display: inline-block;
  margin: 0 -50%;
  position: absolute;
}
.collage-meta {
  @include position-bottom-left(0,0);
  @include position-right(0);
  display: none;
  background: $brightest;
  overflow: hidden;
  padding: $space-x 0;
  text-indent: $space-s;
  &:after {
    @include background(linear-gradient(right, $brightest, rgba(255,255,255,0)));
    @include dimension(20%,100%);
    @include position-top-right(0,0);
    display: block;
    content: " ";
  }
  h3, h4 {
    white-space: nowrap
  }
}
.collage-item:hover {
  .collage-meta {
    display: block;
  }
}

// Media queries

@media #{$screen-size-xs} {
  .collage-image-wrapper {
    @include dimension(100%,150px);
  }
}
@media #{$screen-size-s} {
  .collage-image-wrapper {
    @include dimension(100%,180px);
  }
}
@media #{$screen-size-m} {
  .collage-image-wrapper {
    @include dimension(100%,220px);
  }
}
@media #{$screen-size-l} {
  .collage-image-wrapper {
    @include dimension(100%,250px);
  }
}
@media #{$screen-size-xl} {
  .collage-image-wrapper {
    @include dimension(100%,280px);
  }
}
@media #{$screen-size-xxl} {
  .collage-image-wrapper {
    @include dimension(100%,360px);
  }
}

/**
 * ## Home Collage `.collage.crooked`
 *
 * Styleguide 8.8.2
 */

.collage.crooked {
  @include border-radius(0);
  border-color: $darkest;
  border-style: solid;
  border-width: 2px 0;
  margin: 0;
  padding: 0;
  .collage-item {
    position: relative;
    top: -2px;
    width: 20%;
    &.even .collage-image-wrapper {
      position: relative;
    }
  }
}

@media #{$screen-size-xs} {
  .collage.crooked {
    height: 450px;
  }
  .collage.crooked .collage-image-wrapper {
    @include dimension(100%,150px);
  }
  .collage.crooked .collage-item.even .collage-image-wrapper {
    top: -75px;
  }
}
@media #{$screen-size-s} {
  .collage.crooked {
    height: 510px;
  }
  .collage.crooked .collage-image-wrapper {
    @include dimension(100%,170px);
  }
  .collage.crooked .even .collage-image-wrapper {
    top: -85px;
  }
}
@media #{$screen-size-m} {
  .collage.crooked {
    height: 540px;
  }
  .collage.crooked .collage-image-wrapper {
    @include dimension(100%,180px);
  }
  .collage.crooked .even .collage-image-wrapper {
    top: -90px;
  }
}
@media #{$screen-size-l} {
  .collage.crooked {
    height: 600px;
  }
  .collage.crooked .collage-image-wrapper {
    @include dimension(100%,200px);
  }
  .collage.crooked .even .collage-image-wrapper {
    top: -100px;
  }
}
@media #{$screen-size-xl} {
  .collage.crooked {
    height: 600px;
  }
  .collage.crooked .collage-image-wrapper {
    @include dimension(100%,220px);
  }
  .collage.crooked .even .collage-image-wrapper {
    top: -160px;
  }
  .collage.crooked .odd .collage-image-wrapper {
    top: -30px;
  }
}
@media #{$screen-size-xxl} {
  .collage.crooked {
    height: 600px;
  }
  .collage.crooked .collage-image-wrapper {
    @include dimension(100%,250px);
  }
  .collage.crooked .even .collage-image-wrapper {
    top: -210px;
  }
  .collage.crooked .odd .collage-image-wrapper {
    top: -75px;
  }
}
@media #{$screen-size-xxl-plus} {
  .collage.crooked {
    height: 600px;
  }
  .collage.crooked .collage-image-wrapper {
    @include dimension(100%,400px);
  }
  .collage.crooked .even .collage-image-wrapper {
    top: -150px;
  }
  .collage.crooked .odd .collage-image-wrapper {
    top: 0;
  }
}
