/**
 * ## Elevator Pitch `.elevator-pitch`
 *
 * Styleguide 8.11
 */

.elevator-pitch {
  @include border-radius($border-radius-m);
  @include box-shadow(0 1px 3px $darken-more);
  background: rgba(255,255,255,$transparency-strong);
  border: 1px solid $grey-dark;
  padding: $space-m;
}
.pitch-claim {
  padding: $space-s $space-l $space-s $space-s;
  h1 { }
  h2 { padding-top: $space-s; }
}
.pitch-login {
  position: relative;
}
.pitch-login .tab-navigation-item {
  width: 48%;
}
.pitch-login .tab-navigation-item a {
  display: block;
}
.pitch-login-tab {
  @include border-bottom-radius($border-radius-m);
  border: 1px solid $grey-mid-light;
  background: $brightest;
  min-height: 150px;
  padding: $space-m;
}
