/**
 * ## App header `.app-header`
 *
 * Styleguide 8.3
 */

.ui-header {
  @include min-dimension(auto,30px);
  @include box-shadow(inset 0 -1px 3px $darken);
  padding: $space-s;
  position: relative;
}
.ui-header-menu {
  @include position-bottom-right(0,50%);
  @include position-bottom-left(0,50%);
  text-align: center;
  margin-left: -250px;
  width: 500px;
  z-index: 50;
}
.ui-header-menu .tab-navigation-item {
  @include border-top-radius($border-radius-s);
  @include box-shadow(0 -2px 2px $darken);
}
.ui-header-user {
  @include position-top-right($space-s,$space-s);
  .dropdown {
    top: $space-x;
  }
}

// Header brand area

.ui-header-logo {
  @include float-left;
  margin-right: $space-m;
}
.ui-header-brand-name {
  display: none;
}
.ui-header-instance-name {
  line-height: $line-height-xl;
  padding-top: 3px;
}
