/**
 * ## Media overview `.media-overview`
 *
 * Styleguide 8.7
 */

.media-overview {
  display: table;
  width: 100%;
}
.media-overview-metadata,
.media-overview-preview {
  display: table-cell;
  vertical-align: top;
  width: 50%;
}

// Metadata

.media-overview-metadata {

}

// Preview

.media-overview-preview {
  @include border-top-right-radius($border-radius-m);
  border-left: 1px solid $grey-mid-light;
  text-align: center;
  padding-left: $space-l;
}
.media-overview-preview img {
  display: inline-block;
  max-width: 640px;
}
