/**
 * ## Thumbnail section - Grid `.media-entries.grid`
 *
 * .active    - For when the items on the list are to be interacted with
 *
 * Styleguide 8.9.1
 */

.media-entries.grid {
  margin-left: -5px;
  .media-entries-item {
    @include float-left;
    list-style: none;
    position: relative;
  }
}

/**
 * ## Thumbnail section - Tight Grid
 *
 * Styleguide 8.9.2
 */

.media-entries.tight .ui-thumbnail-wrapper {
  @include dimension(60px,60px);
  padding: $space-x;
  margin-right: 16px;
}
