/**
 * ## Add to Set flyout `.sets-flyout`
 *
 * Styleguide 8.12
 */

.sets-flyout .flyout-body {
  @include dimension(auto,250px);
  overflow: auto;
}

.sets-flyout .sets-list {
  margin-top: -$space-x;
}
.sets-flyout .sets-list > li {
  border-bottom: 1px solid $grey-light;
  display: block;
  list-style: none;
  padding: $space-x $space-x $space-x 25px;
  position: relative;
  &:last-child {
    border: none;
  }
  &:hover {
    background: $grey-lighter;
  }
}
.sets-list > li input[type="checkbox"] {
  @include position-top-left(15px,0);
}
.sets-list > li .title {
  clear: both;
  display: block;
}
.sets-list > li .owner,
.sets-list > li .created-at {
  color: $grey-mid;
  font-size: $font-s;
}
.sets-list > li .created-at {
  @include float-right;
  margin-top: 2px;
}

// Sets - Add New

.sets-add-new {
  position: relative;
  .button {
    @include position-top-right($space-x,$space-x);
  }
}
