/**
 * ## Thumbnail grid toolbar
 *
 * Styleguide 8.1
 */

.toolbar {
  margin-bottom: $space-m;
  position: relative;
}
.toolbar.inverted {
  margin: -2px -1px;
}
.toolbar .toolbar-header {
  font-size: $font-m;
  line-height: $line-height-s;
}

/**
 * ## Thumbnail grid inner toolbar
 *
 * Styleguide 8.2
 */
