/**
 * ## Clipboard `.ui-clipboard`
 *
 * Styleguide 7.6
 */

// Toggle

.ui-clipboard-toggle {
  @include border-top-radius($border-radius-m);
  @include dimension(260px,17px);
  @include position-top-right(-22px,50%);
  @include position-left(50%);
  margin-left: -135px;
  padding: $space-x $space-x 0;
  a {
    color: $brightest;
  }
}

// Content

.ui-clipboard-content {
  @include box-shadow(0 -1px 2px $darken);
  padding: $space-x 0 0;
  position: relative;
}
.ui-clipboard-alert {
  @include border-radius($border-radius-m);
  border: 1px solid $lighten;
  color: $grey-lighter;
  display: none;
  height: 32px;
  margin: $space-x $space-s;
  padding: $space-s;
  text-align: center;
}

// Thumbnail grid adjustments

.ui-clipboard .ui-resources.tight {
  margin-right: $space-m;
  max-height: 150px;
  overflow: auto;
}
.ui-clipboard .ui-resources.tight .ui-thumbnail {
  margin-right: 0;
  &:hover {
    background: transparent;
  }
}

// Actions and grid adjustments

.ui-clipboard-actions {
  padding-top: $space-x;
  padding-right: $space-m;
  .primary-button {
    margin-bottom: $space-s;
  }
}
