/**
 * ## Elevator Pitch `.ui-home-claim`
 *
 * Styleguide 7.11
 */

.ui-home-claim {
  @include border-radius($border-radius-m);
  @include box-shadow(0 1px 3px $darken-more);
  background: $lighten-strong;
  border: 1px solid $grey-dark;
  padding: $space-m;
}
.pitch-claim {
  padding: $space-s $space-l $space-s $space-s;
  h2 {
    line-height: $line-height-l;
    padding-top: $space-s;
  }
}
.pitch-login {
  position: relative;
}
.pitch-login .ui-tabs-item {
  width: 48%;
}
.pitch-login .ui-tabs-item a {
  display: block;
}
.pitch-login-tab {
  @include border-bottom-radius($border-radius-m);
  border: 1px solid $grey-mid-light;
  background: $brightest;
  min-height: 150px;
  padding: $space-m;
}
