/**
 * ## Featured entries
 *
 * Styleguide 8.10
 */

.ui-featured-entries-wrapper {
  height: 400px;
  position: relative;
}

.ui-featured-entries {
  @include position-top-right(0,0);
  @include position-bottom-left(0,0);
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
}

.ui-featured-entries-item {
  float: none;
  display: inline-block;
}

.featured-entry {
  @include box-shadow(0 1px 3px $darken);
  @include dimension(300px,320px);
  background: $brightest;
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0 $space-m 0 0;
  &:hover {
    text-decoration: none;
  }
}

.featured-entry-preview {
  display: table-cell;
  span {
    @include dimension(300px,260px);
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    img {
      @include min-dimension(300px,260px);
      @include max-dimension(120%,120%);
      display: inline-block;
      margin: 0 -50%;
      position: relative;
    }
  }
}
.featured-entry-metadata {
  padding: $space-s;
  position: relative;
  .thumbnail-name,
  .thumbnail-author {
    height: $space-m;
    white-space: nowrap;
    text-align: left;
  }
  &:after {
    @include background(linear-gradient(right, $brightest, rgba(255,255,255,0)));
    @include dimension(20%,100%);
    @include position-top-right(0,0);
    display: block;
    content: " ";
    z-index: 50;
  }
}
