/**
 * ## Rights management table `.ui-rights-management`
 *
 * Styleguide 7.12
 */

.ui-rights-management {
}
.ui-rights-body {
  padding-bottom: $space-m;
}
.ui-rights-body > a.button {
  margin-top: $space-s;
}

.ui-rights-group {
  width: 100%;
  table-layout: fixed;
}

// Group Titles

.ui-rights-user-title,
.ui-rights-role-title,
.ui-rights-check-title {
  font-size: $font-xs;
}
.ui-rights-check-title,
.ui-rights-check,
.ui-rights-owner-title,
.ui-rights-owner {
  @include dimension(90px,auto);
  text-align: center;
}

// Role column

.ui-rights-role-title,
.ui-rights-role { 
  width: 100px;
}
.ui-rights-role-select { 
  @include dimension(100px,auto);
}

// Remove button

.ui-rights-remove {
  @include float-left;
  margin: 0 $space-x 0 0;
}
