/**
 * ## Media resources page `.ui-resources-page`
 *
 * Styleguide 7.16
 */

.ui-resources-page { 
  @include micro-clearfix;
  border-top: 1px solid $grey-mid-light;
  padding: 25px 0 0 0;
  position: relative;
  &:first-child { 
    border: none;
  }
}
.ui-resources-page-counter { 
  @include dimension(200px,auto);
  @include position-top-right(0,50%);
  @include position-top-left(0,50%);
  color: $grey-mid;
  text-align: center;
  font-size: $font-xs;
  font-weight: 700;
  margin-left: -100px;
}