/**
 * ## Media resources table `.ui-resources-table`
 *
 * Styleguide 7.17
 */

 .ui-resources-table { 
  .ui-thumbnail.micro { 
    margin: 0 $space-x $space-x;
  }
  tbody { 
    color: $grey-mid;
    font-size: $font-s;
  }
 }