%table
  %tr
    %td{:colspan => 5, :style => "text-align: right; white-space: nowrap;"}
      = link_to _("New Meta context group"), new_admin_meta_context_group_path, :class => "buttons", :remote => true, :"data-type" => "html"

%table.datatable
  %thead
    %tr
      %th Name
      %th MetaContexts
      %th
  %tbody
    = render :partial => "show", :collection => @meta_context_groups, :as => :meta_context_group
