:ruby
  element = {
    name: 'Zusammenhänge',
    cssFile: '???',
    cssSelector: '???',
    section: '11.1'
  }

= partial('element', element) do
  
  = partial('example', { mod: 'Logged In Variation'}) do
    .sg-spacer{:style => "min-height: 200px;"}
      .app-body-title
        .ui-body-title
          .ui-body-title-label
            %h1.title-xl
              %i.icon-media-entry>
              i7te
          .ui-body-title-actions
            %a.button{"data-clipboard-toggle" => "", :title => "Zur Zwischenablage hinzufügen/entfernen"}
              %i.icon-checkbox.ui-thumbnail-action-checkbox
            %a.button{"data-favor-toggle" => "", :title => "Zur Favoriten hinzufügen/entfernen"}
              %i.icon-star-empty.ui-thumbnail-action-favorite
            %span.action-separator
            %a.button{:title => "Nach vergleichbaren Inhalten stöbern"}
              %i.icon-eye
            %a.button
              %i.icon-pen
            %a.button{"data-delete-action" => "", :title => "Löschen"}
              %i.icon-trash
            .dropdown.ui-dropdown.stick-right
              %a#resource-action-button.button.dropdown-toggle.ui-drop-toggle{"data-toggle" => "dropdown", :href => "#"}
                Weitere Aktionen
                %i.icon-arrow-down.stand-alone
              %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                %li.ui-drop-item
                  %a#view_permissions_of_resource
                    %i.icon-lock.mid
                    Berechtigungen und Verantwortlichkeit editieren
                %li.ui-drop-item
                  %a{"data-organize-arcs" => ""}
                    %i.icon-move.mid
                    Zu Set hinzufügen/entfernen
                %li.separator
                %li.ui-drop-item
                  %a#view_permissions_of_resource
                    %i.icon-dload.mid
                    Exportieren
                %li.ui-drop-item
                  %a#manage_custom_urls{:title => "Adresse des Inhalts anlegen oder übertragen"}
                    %i.fa.fa-link.mid
                    Adressen verwalten
      .app-body-ui-container
        %ul.ui-tabs.large
          %li.active.ui-tabs-item
            %a{:href => "###entries/4b2ad543-39d9-4738-87eb-cdfbc60414ca"} Medieneintrag
          %li.ui-tabs-item
            %a{:href => "###entries/4b2ad543-39d9-4738-87eb-cdfbc60414ca/more_data"} Weitere Daten
          %li.ui-tabs-item
            %a{:href => "###entries/4b2ad543-39d9-4738-87eb-cdfbc60414ca/more_data"}
              %i.icon-privacy-open
              Offentlichkeit
  
  = partial('example', { mod: 'Logged Out Variation'}) do
    .sg-spacer{:style => "min-height: 200px;"}
      .app-body-title
        .ui-body-title
          .ui-body-title-label
            %h1.title-xl
              %i.icon-media-entry>
              i7te
          .ui-body-title-actions
            %a.button{:title => "Nach vergleichbaren Inhalten stöbern"}
              %i.icon-eye
              Stöbern
            .dropdown.ui-dropdown.stick-right
              %a#resource-action-button.button.dropdown-toggle.ui-drop-toggle{"data-toggle" => "dropdown", :href => "#"}
                Weitere Aktionen
                %i.icon-arrow-down.stand-alone
              %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                %li.ui-drop-item
                  %a#view_permissions_of_resource
                    %i.icon-dload.mid
                    Exportieren
                %li.ui-drop-item
                  %a#manage_custom_urls{:title => "Adresse des Inhalts anlegen oder übertragen"}
                    %i.fa.fa-link.mid
                    Adressen verwalten
      .app-body-ui-container
        %ul.ui-tabs.large
          %li.active.ui-tabs-item
            %a{:href => "###entries/4b2ad543-39d9-4738-87eb-cdfbc60414ca"} Medieneintrag
          %li.ui-tabs-item
            %a{:href => "###entries/4b2ad543-39d9-4738-87eb-cdfbc60414ca/more_data"} Weitere Daten
          %li.ui-tabs-item
            %a{:href => "###entries/4b2ad543-39d9-4738-87eb-cdfbc60414ca/more_data"}
              %i.icon-privacy-open
              Offentlichkeit
