%li.ui-tag-cloud-item
  %a.ui-tag-button{href: keyword[:keyword].url, title: keyword[:keyword].label}
    %i.icon-tag-mini.ui-tag-icon
    = keyword[:keyword].label
    %small.ui-tag-counter= keyword[:keyword].usage_count
