/**
 * ## Button group - groups several buttons into one element `.button-group`
 *
 * .primary     - Primary button group
 * .tertiary    - Secondary button group
 * .small       - Small button group
 * .large       - Large button group
 *
 * Styleguide 3.6

// Support for size variations with just a modifier class

.button-group.large .button
  font-size: $font-xl
  line-height: $line-height-xl
  min-height: 37px

.button-group.small .button
  font-size: $font-xs
  line-height: $line-height-s
  min-height: 18px
  padding-left: $space-x
  padding-right: $space-x

// Support for colour variations with just a modifier class

.button-group.primary .button
  +background-image(linear-gradient($main-color-light, $main-color))
  text-shadow: 0px 1px 0 $darken
  background-color: $main-color
  border: 1px solid $main-color-dark
  color: darken($white, 5%)

.button-group.tertiary .button
  +background-image(linear-gradient($mono-mid, $mono-strong))
  text-shadow: 0px 1px 0 $darken
  background-color: $mono-strong
  border: 1px solid $mono-dark
  color: $mono-bright

// Button group styling and box model

.button-group
  +position
  white-space: nowrap

.button-group + .button-group
  margin-left: 5px

.button-group .button
  +position
  +border-radius(0)

.button-group .button i
  position: relative
  top: 1px

.button-group > .button + .button
  margin-left: -1px

.button-group > .button:first-child
  +border-left-radius($border-radius-s)
  margin-left: 0

.button-group > .button:last-child
  +border-right-radius($border-radius-s)

// On hover/focus/active, bring the proper btn to front
.button-group > .button:hover,
.button-group > .button:focus,
.button-group > .button:active,
.button-group > .button.active
  z-index: 2

.button-group.inline
  display: inline-block

// Font-size inline-block hack
.button-group
  font-size: 0
  > .button
    font-size: $font-m
