.icon-extend
  font-family: 'madek-icon-font'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

[class*="icon-"]
  font-size: 16px

[class*="icon-"].bright
  color: $mono-brightest

[class*="icon-"].mid
  color: $mono-mid

[class*="icon-"].branded
  color: $main-color

[class*="icon-"].small
  font-size: 12px

// Icon Font Extensions

.active > .icon-checkbox:before,
.icon-checkbox.active:before,
.icon-checkbox-active:before
  content: "\e62e"

.icon-star-empty.active:before,
.active > .icon-star-empty:before,
.icon-star:before
  content: "\e614"
