/**
 * ## Tables
 *
 * .borderless    - Borderless tables
 * .block         - Full width table
 *
 * Styleguide 2.5
 */

table.block {
  width: 100%;
}
thead td, thead th {
  border-bottom: 1px solid $grey-mid-light;
  font-size: $font-xs;
  font-weight: 700;
}
thead td span, thead th span {
  font-weight: 700; 
}
tfoot td {
  font-size: $font-xs;
}
caption {
  border-bottom: 1px solid $grey-mid-light;
  font-weight: 700;
  line-height: $line-height-m;
  padding: $space-x 0;
  text-align: left;
}
td, th {
  border-bottom: 1px solid $grey-light;
  line-height: $line-height-m;
  padding: $space-x 0;
  vertical-align: top;
}
.midtone td {
  border-color: $grey-mid-light;
}

/* Borderless Tables
----------------------------------------- */

.borderless {
  td,
  caption {
    border: none;
  }
}
