:ruby
  get ||= nil
  fail 'No Presenter!' unless get.is_a?(Presenter)

  thumb = {
    mods: ['media-entry'], # TODO : type of entry ('video')
    title: get.title,
    picture: get.image_url,
    href: get.url,
    # yes this is *inside* the thumb… workaround hacky CSS :/
    meta: {
      title: get.title,
      subtitle: 'TODO in media_entry_index.haml'
    },
    badge_top_left: deco('privacy-status-icon', get: get)
  }

= component('thumbnail', thumb)
