@import "variables.scss";

.icon {
  background: url($sprite) no-repeat 100px 100px;
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
  
  &.add_person {
    background-position: 0 -16px;
    height: 16px;
    width: 16px;
  }
  
  &.add_keyword {
    background-position: 0 -33px;
    height: 16px;
    position: relative;
    top: 2px;
    left: -1px;
    width: 16px;
  }
  
  &.graph {
    background-position: -89px -18px;
    height: 17px;
    width: 17px;
  }
  
  &[data-type=grid] {
    background-position: -107px 0;
    height: 17px;
    width: 17px;
  }
  
  &[data-type=miniature] {
    background-position: -89px 0;
    height: 17px;
    width: 17px;
  }

  &[data-type=list] {
    background-position: -125px 0;
    height: 17px;
    width: 17px;
  }
  
  &.arrow {
    &.down {
      background-position: -17px -32px;
      height: 6px;
      width: 9px;
    }
    
    &.up_and_down {
      background-position: -17px -39px;
      height: 9px;
      width: 9px;
    }
  }
  
  &.plus {
    background-position: -126px -32px;
    height: 16px;
    width: 16px;
  }
  
  &.media_set {
    background-position: -126px -18px;
    height: 13px;
    width: 16px;
  }
  
  &.media_entry {
    background-position: -66px -33px;
    height: 13px;
    width: 13px;
  }
  
  &.trash {
    background-position: -114px -36px;
    height: 14px;
    width: 11px;
  }
  
  &.edit {
    background-position: -91px -36px;
    height: 15px;
    width: 15px;
  }

  &.edit_filter_set {
    background-position: -34px -442px;
    height: 16px;
    width: 16px;
  }
  
  &.groups {
    background-position: 0 -183px;
    height: 17px;
    width: 21px;
  }
  
  &.snag {
    background-position: -17px 0;
    height: 16px;
    width: 15px;
  }

  &.export {
    background-position: 0 -201px;
    height: 16px;
    width: 16px; 
  }

  &.permissions {
    background-position: 0 -218px;
    height: 16px;
    width: 16px; 
  }  

  &.browse {
    background-position: -68px -394px;
    height: 16px;
    width: 16px; 
  }  

  &.edit_arcs {
    background-position: -68px -411px;
    height: 16px;
    width: 16px; 
  }  

  &.highlight {
    background-position: -68px -428px;
    height: 16px;
    width: 16px; 
  }

  &.add_group {
    background-position: -68px -445px;
    height: 16px;
    width: 16px; 
  }

  &.import {
    background-position: -51px -394px;
    height: 16px;
    width: 16px;  
  }

  &.create_set {
    background-position: -51px -445px;
    height: 16px;
    width: 16px;  
  }

  &.set_cover {
    background-position: -51px -411px;
    height: 16px;
    width: 16px;  
  }

  &.display {
    background-position: -51px -428px;
    height: 16px;
    width: 16px;   
  }

  &.loading {
    background: url(image-path("loading.gif"));
    height: 16px;
    width: 16px;
  }

  &.loading.white {
    background: url(image-path("loading_white.gif"));
    height: 16px;
    width: 16px;
  }

  &.list_toggle {
    &.closed {
      background-position: -34px -394px;
      height: 16px;
      width: 16px;
    }
    &.open {
      background-position: -34px -411px;
      height: 16px;
      width: 16px;
    }
  }

  &.filter {
      background-position: -34px -428px;
      height: 13px;
      width: 16px;
  }

  &.search.white {
    background-position: -18px -394px;
    height: 14px;
    width: 15px;
  }

  &.filter_set {
    background-position: -13px -408px;
    height: 20px;
    width: 20px;
  }

  &.x.white {
    background-position: -21px -429px;
    height: 12px;
    width: 12px;
  }

  &.x.black {
    background-position: -21px -442px;
    height: 12px;
    width: 12px;
  }
}

#bar > .icon {
  &.favorites {
    background-position: -47px -33px;
    height: 17px;
    margin: 3px 0 0 1px;
    width: 18px;
  }
  
  &.search {
    background-position: -107px -18px;
    height: 17px;
    margin: 3px 0 0 1px;
    width: 18px;
  }
  
  &.media_entries {
    background-position: -66px -33px;
    height: 13px;
    margin: 6px 0 0 4px;
    width: 13px;
  }
  
  &.media_sets {
    background-position: -126px -18px;
    height: 13px;
    margin: 6px 0 0 3px;
    width: 16px;
  }
  
  &.all {
    background-position: -27px -32px;
    height: 19px;
    margin: 3px 0 0 1px;
    width: 19px;
  }
  
  &.groups {
    background-position: 0 -183px;
    height: 17px;
    width: 21px;
  }
}
