.modal.ui-modal.hide.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}

  .ui-modal-head
    %h3#add-to-set-label.title-l ${_jed("Add to/remove from set")}
    %a.ui-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :title => "${_jed('Close')}", :type => "button"}
      %i.icon-close

  .ui-modal-toolbar.top
    .ui-search
      %form
        %input#search_or_create_new_set.ui-search-input.block{name: "search_or_create_set", placeholder: "${_jed('Search / Create new set')}", 
          type: "text", :autofocus => :autofocus}
        %button.button.ui-search-button ${_jed('Create new set')}

  %form.save-arcs

    .ui-modal-body
      .mbx.mth
        .ui-preloader

    .ui-modal-toolbar.bottom.try-search-hint
      %p.title-xs.by-center
        ${_jed('Search for a set and add the selected content to it.')}

    .ui-modal-toolbar.bottom.incomplete-arcs-hint.hidden
      %p.title-xs.by-center
        ${_jed('Sets that only partially contain the selected content')}
        %br
        ${_jed('are highlighted.')}

    .ui-modal-toolbar.bottom.refine-search-hint.hidden
      %p.title-xs.by-center ${_jed('Further sets were found. Please refine your search.')}
          
    .ui-modal-footer
      .ui-actions
        %a.link.weak{"aria-hidden" => "true", "data-dismiss" => "modal"} ${_jed('Cancel')}
        %button.primary-button{:type => :submit} ${_jed('Save')}
