.modal.ui-modal.hide.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}

  .ui-modal-head
    %h3#add-to-set-label.title-l Zu Set hinzufügen/entfernen
    %a.ui-modal-close.weak{"aria-hidden" => "true", "data-dismiss" => "modal", :title => "Close", :type => "button"}

  .ui-modal-toolbar.top
    .ui-search
      %form
        %input.ui-search-input.block{:placeholder => "Suche / Neues Set erstellen", :type => "text", :autofocus => :autofocus}
        %button.button.ui-search-button Neues Set erstellen

  %form.save-arcs

    .ui-modal-body
      .mbx.mth
        .ui-preloader

    .ui-modal-toolbar.bottom.try-search-hint
      %p.title-xs.by-center
        Suchen Sie ein Set und fügen Sie die ausgewählten Inhalte zu diesem hinzu.

    .ui-modal-toolbar.bottom.incomplete-arcs-hint.hidden
      %p.title-xs.by-center
        Sets, zu denen die ausgewählten Inhalte nur teilweise hinzugefügt sind, 
        %br
        werden farbig gekennzeichnet.

    .ui-modal-toolbar.bottom.refine-search-hint.hidden
      %p.title-xs.by-center Es wurden noch weitere Sets gefunden. Bitte verfeinern Sie Ihre Suche.
          
    .ui-modal-footer
      .ui-actions
        %a.link.weak{"aria-hidden" => "true", "data-dismiss" => "modal"} Abbrechen
        %button.primary-button Speichern
