.ui-header-brand
  %a{:href => root_path}
    = image_tag AppSettings.logo_url, :class => "ui-header-logo", style: "max-width: 100px;"
    %h1.ui-header-brand-name= AppSettings.brand 
    %h2.ui-header-instance-name= AppSettings.title
