.ui-header-brand
  %a{:href => root_path}
    = image_tag @app_settings.logo_url, :class => "ui-header-logo", style: "max-width: 100px;"
    %h1.ui-header-brand-name= @app_settings.brand 
    %h2.ui-header-instance-name= @app_settings.title
