.app-header

  %header.ui-header.ui-container.inverted

    = render "application/header/brand"
    
    = render "application/navigation"
    
    .ui-header-user
      .stick-right
        = render :partial => "login_action"