.ui-header-user
  .dropdown.ui-dropdown.stick-right
    %a.dropdown-toggle.ui-drop-toggle{"data-toggle" => "dropdown"}
      = current_user.fullname
      %i.icon-arrow-down.bright.stand-alone
    %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
      %li.ui-drop-item
        %a{:href => my_media_resources_path(:sort => :updated_at)}
          .icon-set.mid.ui-drop-icon
          Inhalte, für die ich verantwortlich bin
      %li.ui-drop-item
        %a{:href => my_favorites_path(:sort => :updated_at)}
          .icon-star.mid.ui-drop-icon
          Meine Favoriten
      %li.ui-drop-item
        %a{:href => my_groups_path}
          .icon-privacy-group.mid.ui-drop-icon
          Meine Arbeitsgruppen
      %li.separator
      %li.ui-drop-item
        %a.strong{:href => import_path}
          %i.icon-upload.ui-drop-icon
          Medien importieren
      - if current_user and current_user.groups.is_member?("Admin")
        %li.ui-drop-item
          %a.strong{:href => admin_root_path}
            %i.icon-admin.ui-drop-icon
            Admin
      %li.ui-drop-item
        %a.strong{:href => "/logout"} 
          %i.icon-power-off.ui-drop-icon
          Abmelden
