.item_box
  {{if is_set}}
  .thumb_box_set
    %img{:src => "${image}"}
  {{else}}
  .thumb_box
    %img{:src => "${image}"}
  {{/if}}
  .clear
  %p.item_title{:title => "${title}"}
    ${title.substring(0,34)}
    {{if title.length > 34}}
    = "..."
    {{/if}}
  %p.item_author{:title => "${author}"} 
    ${author.substring(0,42)}
    {{if author.length > 42}}
    = "..."
    {{/if}}