@import "../mixins";

.permission_lightbox {
  overflow: visible !important;
  .dialog {
    overflow: visible !important;
  }
}

#permissions {
  
  h2 {
    padding-bottom: 6px;
    margin-top: 14px;
  }
  
  p { 
    float: left;
    margin-bottom: 0;
    width: 50%; 
  }
  
  h3 {
    margin: 0;
  }
  
  h4 {
    font-size: 1.0em;
    margin-bottom: 4px;
  }   
  
  label.mixed {
    background: url("stripe_1.png") repeat scroll 0 0 red;
    @include border-radius(4px);
  }
  
  .upload_buttons.disabled {
    color: #737373;
    border-color: #c5c5c5;
    background: #ededed no-repeat 0 center;
    cursor: default;
  }
  
  section {
    position: relative;
  }
  
  .permission_view {
    .loading {
      background: #EEE;
      border: 1px solid #DDD;
      display: block;
      position: relative;
      margin-top: 30px;
      margin-bottom: 40px;
      @include border-radius(4px);
      
      img {
        margin-left: 6px;
        margin-right: 4px;
        position: relative;
        top: 3px;  
      }
    }
  }
  
  .line {
    background: #DFDFDF;
    border: 1px solid #CFCFCF;
    display: block;
    height: 25px;
    margin: 1px 0 2px;
    position: relative;
    width: 100%;
    @include border-radius(4px);
    
    input {
      position: relative;
      top: -2px;
    }
    
    &.without_remove {
      .remove {
        display: none;
      }
      
      .subject {
        padding-right: 17px;
      } 
    }
    
    .remove {
      display: inline-block;
      width: 15px;
      
      .button {
        color: red;
        display: inline;
        font-size: 0.6em;
        height: 14px;
        left: 2px;
        padding: 6px 2px 5px;
        position: relative;
        top: -3px;
      }
    }
    
    .subject {
      display: inline-block;
      height: 17px;
      padding-left: 8px;
      width: 185px;
    }
    
    .owner {
      display: inline-block;
      text-align: center;
      width: 100px;
      
      label {
        margin: 0;
        padding-left: 1px;
        width: 28px;  
      }
    }
    
    .preset {
      display: inline-block;
      position: relative;
      width: 190px;
      
      select {
        background: #FAFAFA;
        border: 1px solid #DDD;
        display: block;
        height: 24px;
        position: absolute;
        top: 0;
        width: 185px;
        @include border-radius(3px);
        @include opacity(0.0);        
      }
      
      .select {
        background: #FAFAFA;
        border: 1px solid #AAA;
        display: block;
        padding: 3px 4px 0 5px;
        height: 18px;
        width: 175px;
        @include border-radius(3px);
        @include vertical-gradient(#EFEFEF, #F9F9F9, 50%, 50%);
        
        &[disabled=disabled] {
          background: #f4f4f4;
          border: 1px solid #F9F9F9;
          +.arrow { display: none; }
        }
      }
      
      .arrow {
        background: url(icons/madek_icon_sprites.png) -409px -559px no-repeat;
        display: block;
        position: absolute;
        right: 9px;
        top: 9px;
        height: 7px;
        width: 11px;
        @include opacity(0.8);
      }
      
      &:hover {
        .arrow {
          @include opacity(1.0);
        }
      }
    }
    
    label {
      display: inline-block;
      height: 21px;
      margin-right: 24px;
      margin-left: 21px;
      padding-left: 7px;
      padding-top: 4px;
      vertical-align: bottom;
      width: 21px;
    }
    
    .permissions {
      display: inline-block;
      padding-left: 24px;
      width: 308px;
    }
   
    &.head { 
      background: none;
      border: none;
      font-weight: bold;
      margin-top: 20px;
      
      &>div {
        vertical-align: middle;
      }
      
      .subject {
        width: 195px;
      }
      
      .permissions {
        &>div {
          font-size: 0.8em;
          float: left;
          text-align: center;
          width: 77px;
          line-height: 1em;
        }
        
        .view, .edit {
          padding-top: 4px;
        }
      }
    }
  }
  
  .line.add {
    background: none;
    border: none;
    margin-top: 4px;
    
    .button {
      font-size: 0.9em;
      font-weight: normal;
      margin: 2px 0 2px -5px;
      padding: 2px 8px 0 7px;
      top: 1px;
      position: relative;
    }
    
    input {
      background: white;
      border: 1px solid #D2D2D2;
      color: #999;
      display: none;
      height: 19px;
      margin: 3px 0 0 -5px;
      padding: 2px 0 0 6px;
      position: relative;
      top: 1px;
      @include box-shadow(inset 0 1px 2px #E3E3E3);
      @include border-radius(2px);
      
      &:hover, &:focus {
        color: #666;
      }
    }
  }
  
  section {
    padding-top: 4px;
    padding-bottom: 10px;
  }
  
  section.me {
    
    .me.icon {
      background: url(icons/madek_icon_sprites.png) -308px -1039px no-repeat;
      display: inline-block;
      height: 15px;
      margin-right: 5px;
      width: 12px;
    }
    
    .subject {
      padding-right: 19px;
      width: 195px;
    }
    
    .remove {display: none;}
  }
  
  section.groups_with_me {
    
    .groups_with_me.icon {
      background: url(icons/madek_icon_sprites.png) -338px -1039px no-repeat;
      display: inline-block;
      height: 15px;
      left: -4px;
      position: relative;
      top: 2px;
      width: 18px;
    }
  }
  
  section.others {
    margin-top: 10px;
    
    h3 {
      margin-bottom: 6px;
    }
    
    &>section {
      border: 1px solid #EAEAEA;
      background: #F5F5F5;
      margin: 4px 0 6px 0;
      padding: 6px 8px 2px;
      @include border-radius(4px);
    }
    
    section.users {
      
      .user.icon {
        background: url(icons/madek_icon_sprites.png) -282px -1039px no-repeat;
        display: inline-block;
        height: 15px;
        margin-right: 5px;
        position: relative;
        top: 2px;
        width: 12px;
      } 
    }
    
    section.groups {
      
      .groups.icon {
        background: url(icons/madek_icon_sprites.png) -370px -1039px no-repeat;
        display: inline-block;
        height: 15px;
        left: -4px;
        position: relative;
        top: 2px;
        width: 18px;
      } 
    }
    
    section.public {
      margin-bottom: 12px;
      
      .public.icon {
        background: url(icons/madek_icon_sprites.png) -252px -1039px no-repeat;
        display: inline-block;
        height: 15px;
        left: -2px;
        margin-right: 2px;
        position: relative;
        top: 2px;
        width: 15px;
      } 
      
      .subject {
        padding-right: 19px;
      }
      
      .remove{display: none;}
    }
  }
  
  section.actions {
    display: block;
    text-align: right;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    
    a {
      cursor: pointer;
      
      &.cancel {
        position: relative;
        top: 8px;
        margin-right: 4px;
      }
    }
  }
}
  