@import "../mixins.scss";

.button {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none !important;
  padding: 5px 5px 4px;
  border: none;
  text-align: center;
  @include border-radius(3px);
  @include box-shadow(0 0 1px rgba(0, 0, 0, 0.3));
  
  &:hover {
    @include box-shadow(0 0 0 rgba(0, 0, 0, 0));
  }
  
  &[disabled=disabled] {
    cursor: default;
    @include opacity(0.6);
    
    &:hover {
      @include box-shadow(0 0 1px rgba(0, 0, 0, 0.3));
    }
  }
  
  &.loading {
    &:hover {
      @include box-shadow(0 0 1px rgba(0, 0, 0, 0.3));
    }
  }
}

@mixin button($text-color, $color1, $color2, $color3, $border-color-left, $border-color-right, $border-color-bottom) {
  color: $text-color;
  background-color: $color1;
  border-left: 1px solid $border-color-left;
  border-right: 1px solid $border-color-right;
  border-bottom: 1px solid $border-color-bottom;
  @include vertical-gradient($color2, $color3, 50%, 50%);
  
  &:hover {
    border-top: 1px solid #f0eee0;
    border-bottom: none;
    border-right: 1px solid #f0eee0;
    border-left: 1px solid #f0eee0;
    @include vertical-gradient($color2, $color3, 50%, 50%);
  }
  
  &:active {
    border-top: 1px solid $color2;
    border-bottom: none;
    border-right: 1px solid #f0eee0;
    border-left: 1px solid #f0eee0;
    @include vertical-gradient($color2, $color3, 50%, 50%);
    @include box-shadow(inset 0 1px 4px rgba(0,0,0,0.1));
  }
  
   &[disabled=disabled] {
    
    &:hover {
      border: none;
      border-left: 1px solid $border-color-left;
      border-right: 1px solid $border-color-right;
      border-bottom: 1px solid $border-color-bottom;
      @include vertical-gradient($color2, $color3, 50%, 50%);
    }
  }
  
  &.loading {
    &:hover {
      border: none;
      border-left: 1px solid $border-color-left;
      border-right: 1px solid $border-color-right;
      border-bottom: 1px solid $border-color-bottom;
      @include vertical-gradient($color2, $color3, 50%, 50%); 
    }
  }
}

.button, .button.white {
  @include button(#444, #d7d7d7, #ededed, #fdfdfd, #CCC, #AAA, #999);
}

.button.yellow {
  @include button(#444, #fffd37, #dbfd3a, #fffe7c, #CCC, #AAA, #999);
}

