.ui-container.mam.pam
  %pre= JSON.pretty_generate @get.saved_filter
  = deco('polybox', interactive: true, media_resources: @get.media_entries)
  = deco('polybox', interactive: true, media_resources: @get.collections)
  = deco('polybox', interactive: true, media_resources: @get.filter_sets)
