:ruby
  content_for(:filter_sets_header) do
    component('page-header',
        icon: component('icon.filter-set'),
        text: @get.title)
  end

  content_for(:filter_sets_overview) do
    type = t(:sitemap_media_entries) # TODO: from model/presenter
    combo('metadata-box',
      mods: 'ui-summary-table.ui-set-summary.compact',
      list: [[t(:resource_meta_data_title), @get.title, 'title-l'],
             [t(:resource_meta_data_resource_type), type],
             [t(:resource_meta_data_saved_filter), JSON.pretty_generate(@get.saved_filter)]
            ])

  end

  content_for(:filter_sets_more_info) do
    react('Deco.MediaResourcesBox',
      get: @get.resources, withBox: true, initial: { show_filter: false })
  end

= render template: 'filter_sets/filter_sets_app_resource'
