- if keywords.any?
  .ui-tag-cloud.small
    - keywords.each do |keyword|
      %li.ui-tag-cloud-item
        = link_to keyword, media_resources_path(:search => keyword.to_s), :class => "ui-tag-button"