/* Imported Stylesheets */

@import url("jquery/shadowbox.css") ;

/* Structure */

#feedback_wrapper {
	width: 940px;
	margin: 25px auto;
	overflow: hidden;
	font-size: 13px;
}

#feedback_content {
	width: 590px;
	float: left;
	margin-right: 50px;
}

#feedback_sidebar {
	width: 300px;
	float: left;
}

/* Use Terms Special */

#usage_terms_wrapper {
	background: #FFFFFF;
	width: 940px;
	margin: 25px auto;
	overflow: hidden;
	font-size: 13px;
}

.usage_terms-box {
	background: #f2f2f2;
	padding: 1em 1em;
	text-align: center;
}

#usage_terms_content {
	width: 940px;
	float: left;
	padding: 1em;
	margin-right: 50px;
}

#usage_terms_content h1 {
	font-size: 250%;
	margin-bottom: 0.75em;
	line-height: 1em;
}

#usage_terms_content h2 {
	font-weight: bold;
	padding-left: 0;
	}

#usage_terms_content p.intro {
	font-size: 1.5em;
	line-height: 1.25em;
	margin-bottom: 2em;
}

#usage_terms_content p {
	margin-bottom: 1em;
	font-size: 15px;
	line-height: 1.25em;
}

#usage_terms_content p a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

#usage_terms_content p a:hover {
	background-color: #35647A;
}

/* Fonts */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.25em;
}

#feedback_content h1 {
	font-size: 250%;
	margin-bottom: 0.75em;
	line-height: 1em;
}

#feedback_content h2 {
	font-weight: bold;
	}
	
h2 {
	font-size: 150%;
	margin-top: 1em;
	margin-bottom: 0.75em;
	position: relative;
	padding-left: 50px;
}

h2 span {
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	line-height: 1.25em;
	height: 1.25em;
	background: #FFE13C;
	color: #000;
	padding: 0 0.5em;
 	-moz-border-radius: 5px; -webkit-border-radius: 5px;
	margin: 0;
}


h2.box-title {
	background: #41637C;
	color: #fff;
	font-weight: bold;
	padding: 7px 10px;
	font-size: 13px;
	margin-bottom: 0;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	margin-top: 0;
}

h3 {
	font-size: 1em;
	font-weight: bold;
}


/* Content */

#feedback_content p.intro {
	font-size: 1.5em;
	line-height: 1.25em;
	margin-bottom: 2em;
}

#feedback_content p {
	margin-bottom: 1em;
	font-size: 15px;
	line-height: 1.25em;
}

#feedback_content p a {
	color: #41637C;
	font-weight: bold;
	text-decoration: none;
}

#feedback_content p a:hover {
	border-bottom: 2px solid #41637C;
}

#feedback_content p a.button-link {color: #fff;margin-bottom: 55px; margin-top: 1.25em; width: 350px; background: #41637C; 
	background:-moz-linear-gradient(top, #4F7999, #41637C); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#4F7999), to(#41637C)); /* Safari, Chrome */
	text-shadow: -1px -1px 0px #38566D;
	display: block; text-decoration: none; text-align: center; color:#fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size: 16px; line-height: 3em; font-weight: bold;}
		
#feedback_content p a.button-link:hover {border: none; background: #38566D;
	background:-moz-linear-gradient(top, #4F7999, #38566D); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#4F7999), to(#38566D)); /* Safari, Chrome */
}


/* Sidebar */

.box {
	background: #DAE4EA url(../images/feedback/arrow-down.png) 35px 0 no-repeat;
	padding: 15px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

#feedback_sidebar p {
	margin-bottom: 1em;
}

#feedback_sidebar a {
	color: #41637C;
}

#feedback_sidebar .team-member {
	margin-top: 1.5em;
	clear: both;
	overflow: hidden;
}

#feedback_sidebar .team-member-portrait {
	float: left;
	width: 50px;
	margin-right: 20px;
}
#feedback_sidebar .team-member-portrait img {
	border: 3px solid #EEF8FF;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; 
}

#feedback_sidebar .team-member-contact {
	float: left;
}

#feedback_sidebar .team-member p {
	margin-bottom: 0.5em;
}

#feedback_sidebar .team-member p.role {

}

#feedback_sidebar .team-member .online-contact {
	/*margin-bottom: 0.35em;*/
}
