/* 

Credits: http://www.candesprojects.com/downloads/flickr-horizontal-menu/

*/

/*#menu { position: absolute; top: 0; right: 0; margin:0 auto; text-align: right;}*/
#menu a {
	text-decoration:none;
	color: #919191;
}
#menu a:hover {
	color: #fff;
	text-decoration:underline;
}
#menu ul {
	margin:0;
}
#menu li { display:inline; position:relative; }
#menu li span { position:relative; z-index:10; padding:8px 8px 8px 10px;  border-bottom:none; line-height:75px; margin-left: 0.25em;}	
#menu li span a { padding:0 6px 0px 2px;}	
#menu li span.over { /*padding:8px 7px 8px 9px; -moz-border-radius: 3px; -webkit-border-radius: 3px;*/ background: #666666; /*border-top:solid 1px #e2e2e2; border-left:solid 1px #e2e2e2;  border-right:solid 1px #e2e2e2; border-bottom:solid 1px #e2e2e2;*/  }
*+html #menu li span.over {  border-top:solid 2px #E5E5E5; padding-bottom:3px; } /* IE6 */
#menu li span.over a { color: #fff; }
#menu li span.over a:hover { text-decoration: underline; }
#menu li span.active {background: #555555; /*padding:8px 7px 8px 9px;*/  /*border-top:solid 1px #E5E5E5; border-left:solid 1px #E5E5E5;  border-right:solid 1px #999999; border-bottom:solid 1px #fff;*/  }
*+html #menu li span.active {  border-top:solid 2px #E5E5E5; padding-bottom:3px;}
#menu li span.active a {color: #fff;}
#menu li span.active a:hover { text-decoration:none;}

#menu img.arrow {
	width:18px;
	height:18px;
	cursor:pointer;
	position: relative;
	vertical-align: text-bottom;
}

/*#menu img.arrow:hover { background: red; -moz-border-radius: 3px; -webkit-border-radius: 3px; } */
#menu div.sub_menu {
	display:none;
	position:absolute;
	text-align: left;
	left:0;
	top:0px;
	margin-top:22px;
	padding-bottom:20px;
	/*
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top:solid 1px #E5E5E5;
	border-left:solid 1px #E5E5E5;
	border-right:solid 1px #999999;
	border-bottom:solid 1px #999999;
	*/
	-webkit-box-shadow: 0 0 8px rgba(150, 150, 150, 0.5);
	-moz-box-shadow: 0 0 8px rgba(150, 150, 150, 0.5);
	box-shadow: 0 0 8px rgba(150, 150, 150, 0.5);
	padding:4px;
	top:2px;
	width:140px; 
	background: #424242;
	z-index: 998;
}
* html #menu div.sub_menu { margin-top:23px; } /* IE6 */
*+html #menu div.sub_menu { margin-top:23px; } /* IE7 */
#menu div.sub_menu a:link, 
#menu div.sub_menu a:visited, 
#menu div.sub_menu a:hover{ display:block; font-size:11px; padding:4px; color: #fff !important; z-index: 999 !important; }	
#menu a.item_line { border-top:dotted 1px #fff; padding-top:6px !important; margin-top:3px; }

#menu .head_menu, #menu .head_menu_feedb a {
	padding: 5px 15px;
	margin-right: 5px;
	border: none;
	/*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);*/
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#252525));
	background-image: -moz-linear-gradient(0% 100% 90deg, #252525, #444444);
	background-color: #000;
/*	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px; */
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	font: bold 0.9em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#menu .head_menu a:hover, #menu .head_menu_feedb a:hover {
	-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
	-moz-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
	box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
}

/* custom */
#menu {
	z-index: 999;
	text-align: center;
	height: 63px;
	padding-top: 0px;
}