/* General */

/*body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	background: #e8e8e8;
}*/

a {
	color: #929292;
}

a:hover {
	color: #727272;
}

/* Structure */

#wrapper {
	background: #fff;
	overflow: visible;
}

#container {
	position: relative;
	padding-top: 15px;
	margin-top: -10px;
	overflow: hidden;
	background: transparent url(../images/teaser-shadow-02.png) -10px 7px no-repeat;
}

#sidebar {
	
}

#footer {
	padding: 25px 0;
	background: #e8e8e8;
	overflow: hidden;
	line-height: 1.5em;
	font-size: 11px;
	letter-spacing: 0.1ex;
}

/* Headings */

#content h1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 0.25em;
}

#content .tagline{
	font-weight: normal;
	font-size: 1em;
	margin-top: 1.1em;
	line-height: 1.2em;
}

#content h3 {
	font-weight: bold;
	margin-bottom: 0.5em;
	font-size: 15px;
	padding-top: 4px;
}

#sidebar h4 {
	font-size: 15px;
	font-weight: bold;
}

#footer h4 {
	font-weight: bold;
	color: #525252;
	letter-spacing: 0;
}

/* Slider */

#slider {
	/*margin-top: 10px;
	height: 285px;
	margin-bottom: 15px;*/
}
#slider-wrapper {
	margin: 25px 0 70px 0;
}

#slider img {
	/*margin: 33px 26px;*/
}

/* Content */

#content p {
	font-size: 0.85em;
	line-height: 1.5em;
}

#inner-stats {
	/* Gradient Fallback */
	background: #e8e8e8;
	
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(100% 100% 90deg, #e2e2e2, #f2f2f2);
	
	padding: 13px 10px 12px 13px;
	border-radius: 5px;
	/*border: 1px solid #d2d2d2;*/
	overflow: hidden;
}

.statbox {
	float: left;
	text-align: center;
}

.statbox p {
	text-align: center;
	font-size: 12px;
}

#media-stat {
	text-indent: -999em;
	margin-right: 10px;
 	width: 81px; 
	height: 81px;
	background: #fff url(../images/icon-media-01.png) 50% 50% no-repeat;
	border-radius: 5px;
	margin-bottom: 1em; 
	border: 2px solid #929292;
}

#user-stat {
	text-indent: -999em;
	margin-right: 10px;
 	width: 81px; 
	height: 81px;
	background: #fff url(../images/icon-users.png) 50% 50% no-repeat;
	border-radius: 5px;
	margin-bottom: 1em; 
	border: 2px solid #929292;
}

.statbox span {
	font-weight: bold; 
	font-size: 1.5em;
	text-shadow: -1px -1px 2px #fff;	
}

#funcs {
	padding-top: 45px;
}

.short_about {
	margin-top: 1.2em;
}

/* Sidebar */

.sidebar-box {
	margin-bottom: 1.5em;
	line-height: 1.4em;
}

.sidebar-box-claim {
	font-style: italic;
	margin-bottom: 1.5em;
	color: #929292;
}

#login,
#news,
#users {
	font-size: 0.85em;
	padding: 20px 20px 10px 20px;
	position: relative;
	top: 0;
	-webkit-box-shadow: 0 0 4px rgba(100, 100, 100, 0.3);
	-moz-box-shadow: 0 0 4px rgba(100, 100, 100, 0.3);
	box-shadow: 0 0 4px rgba(100, 100, 100, 0.3);
	/*-moz-box-shadow: 5px 5px 5px #d2d2d2;
	-webkit-box-shadow: 5px 5px 5px #d2d2d2;
	box-shadow: 5px 5px 5px #d2d2d2;*/
}
#login {
	padding-top: 10px;
	border: 1px solid #d2d2d2;
	-webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
}
#login a {
	text-decoration: underline;
}
/*#users {
	margin-bottom: 40px;
}*/
#login a.actionbutton {
	/*display: block;
	margin: 0.75em 0;
	background: #B9D047;
	border: 2px solid #A5B93F;
	text-shadow: -1px -1px 1px #A5B93F;
	background: -moz-linear-gradient(100% 100% 90deg, #B9D047, #CCE54E);
	padding: 0.75em 0 0.65em;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 15px;*/
	display: block;
	margin: 1em 0;
	text-decoration: none;
	padding: 10px 14px;
	color: #444;
	border: none;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C0D84A), to(#A4B83F));
	background-image: -moz-linear-gradient(0% 100% 90deg, #A4B83F, #C0D84A);
	background-color: #A4B83F;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
}

#login a.actionbutton:hover {
	/* Background Gradient Firefox 3.6+ */
	background-color: #C0D84A;
	background: -moz-linear-gradient(100% 100% 90deg, #C0D84A, #C0D84A);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);	
}

/*#news {
	padding: 10px;
}

#users {
	padding: 10px;
}*/

.disclaimer {
	color: #929292;
}

.pilotitem {
	margin: 1.5em 0;
	/*font-size: 11px;*/
}

.pilotitem p span {
	font-weight: bold;
}

.newsitem {
	margin-bottom: 1em;
}

.newsitem p span {
	font-weight: bold;
}

/* Footer */

#copyright {
	padding: 3.5em 0 0.5em;
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	color: #B7B7B7;
}

#copyright a {
	text-decoration: none;
	color: #B7B7B7;
}
#copyright a:hover {
	color: #424242;
}

/* Miscellaneous */

.portrait {
	width: 50px; 
	height: 50px; 
	float: left;
	margin-top: 4px;
	margin-right: 1em;
	margin-bottom: 1em;
	border:1px solid #d2d2d2;
}

#beta {
	/*text-indent: -999em;
	position: relative;
	top: -35px;
	left: 180px;
	z-index: 100;
	width: 99px;
	height: 99px;
	background: transparent url(../images/beta-01.png) top left no-repeat;*/
	font-weight: bold;
	-moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    -moz-transform: rotate(-7deg);
    background-attachment: scroll;
    background-color: #F968CE;
    background-image: -moz-linear-gradient(center top , #F968CE, #D95AB5);
    background-position: 0 0;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
    background-repeat: repeat;
    color: white;
    font-size: 14px;
    /*padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;*/
    position: relative;
    left: -40px;
    top: 45px;
    width: 120px;
    height: 120px;
	z-index: 1000;
	line-height: 16px;
	text-align: center;
}
#beta p {
	padding-top: 43px;
	letter-spacing: 0;
}

.madekfuncs {
	/*height: 90px;*/
	background: #fff;
	border:1px solid #d2d2d2;
	margin-bottom: 0.75em;
}

.madekfuncs img {
	margin: 0;
	padding: 0;
}

.stopfloating {
	clear: both;
}