.info
  {{tmpl "tmpl/meta_data/edit/cell/label"}}
  {{tmpl "tmpl/meta_data/edit/cell/hint"}}
.input
  %select
    {{each(i,copyright) Copyrights.get()}}
    %option
      ${copyright.label}
    {{/each}}
{{tmpl "tmpl/meta_data/edit/cell/status"}}