.info
  {{tmpl "tmpl/meta_data/edit/cell/label"}}
  {{tmpl "tmpl/meta_data/edit/cell/hint"}}
.input
  %select
    %option{:selected => :selected, :value => "freetext"}= "freie Eingabe"
    %option{:value => "at"}= "am"
    %option{:value => "from_to"}= "von - bis"
    
  %section.freetext
    %input{:type => "text", :name => "freetext"}
  %section.at
    %input.datepicker{:type => "text", :name => "at"}
  %section.from_to
    %input.datepicker{:type => "text", :name => "from"}
    %span.dash -
    %input.datepicker{:type => "text", :name => "to"}