.info
  {{tmpl "tmpl/meta_data/edit/cell/label"}}
  {{tmpl "tmpl/meta_data/edit/cell/hint"}}
.input
  %section.values
    {{if typeof(value) == "object"}}
    {{each(i, element) value}}
    {{tmpl({label: element}) "tmpl/meta_data/edit/multiple_entries/person"}}
    {{/each}}
    {{else}}
    {{each(i, value) raw_value}}
    ${$label = PersonMetaDatum.flatten_name(value), ""}
    {{tmpl({label: $label}) "tmpl/meta_data/edit/multiple_entries/person"}}
    {{/each}}
    {{/if}}
    
  %input.autocomplete{:type => "text",
         :"data-type" => "${type}",
         :"data-url" => "/people.json"}
{{tmpl "tmpl/meta_data/edit/cell/status"}}