/**
 * ## Thumbnail grid ui-toolbar `.ui-toolbar`
 *
 * Styleguide 7.1
 */

.ui-toolbar {
  @include min-dimension(auto,20px);
  margin-right: -2px;
  position: relative;
  top: -1px;
  right: -1px;
  left: -1px;
}
.ui-toolbar .ui-toolbar-header {
  font-size: $font-m;
  line-height: $line-height-s;
}

.ui-toolbar .ui-dropdown { 
  float: right;
}

.ui-toolbar-controls { 
  @include position-top-right($space-x,$space-x);
}

.ui-toolbar-icon-miniature {
  @extend .icon-vis-miniature-bright;
}
.ui-toolbar-icon-list {
  @extend .icon-vis-list-bright;
}
.ui-toolbar-icon-grid {
  @extend .icon-vis-grid-bright;
}
