/**
 * ## Rights management table `.ui-rights-management`
 *
 * Styleguide 7.12
 */

.ui-rights-management {
}

.ui-rights-management .ui-modal-body {
  overflow-y: scroll;
}

.ui-rights-body {
  padding-bottom: $space-m;
}
.ui-rights-body > a.button {
  margin-top: $space-s;
}

.ui-rights-group {
  width: 100%;
  table-layout: fixed;
}

// Group Titles

.ui-rights-user-title,
.ui-rights-role-title,
.ui-rights-check-title {
  font-size: $font-xs;
}
.ui-rights-check-title,
.ui-rights-check,
.ui-rights-owner-title,
.ui-rights-owner,
.ui-rights-role-title {
  @include dimension(80px,auto);
  line-height: $line-height-s;
  text-align: center;
}

.ui-rights-owner-title,
.ui-rights-owner {
  padding-right: $space-m;
}

// Role column

.ui-rights-role-title,
.ui-rights-role { 
  line-height: $line-height-s;
  width: 160px;
}
.ui-rights-role-select { 
  @include dimension(160px,auto);
}

// User column

.ui-rights-user .text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

// Remove button

.ui-rights-remove {
  margin: 0 $space-x 0 0;
  @include float-left;
  display: none;
}

.ui-show-rights-remove .ui-rights-remove {
  display: inline-block;
}

// Limitations for groups

.ui-rights-management-current-user-groups, 
.ui-rights-management-other-groups,
.ui-rights-management-public {
  .ui-rights-owner input {
    display: none
  }

  .ui-rights-manage input {
    display: none
  }
}