/**
 * ## Media Resources Grid Mode `.ui-resources.grid`
 *
 * .active    - To be interacted with
 *
 * Styleguide 7.9.1
 */

.ui-resources.grid {

  .ui-resource {
    @include float-left;
    display: inline-block;
    margin: -5px $space-x $space-s -5px;
  }

  .ui-resource-title,
  .ui-resource-actions,
  .ui-resource-meta,
  .ui-resource-extension,
  .ui-resource-description { 
    display: none;
  }
  .ui-thumbnail.media-entry,
  .ui-thumbnail.media-set,
  .ui-thumbnail.filter-set {
    @include dimension(140px,220px);
    margin: 0;
    padding: 15px;
    position: relative;
  }
  .ui-thumbnail-privacy { 
    display: none;
  }
  .ui-thumbnail-meta {
    display: block;
    margin: 10px 0 0;
  }
}



/*
 * Show permissions
 * ------------------------------------- */

.grid.show_permissions{
  .ui-thumbnail-privacy { 
    display: block;
  }
}


/*
 * Active Mode
 * ------------------------------------- */

.grid.active {
  
  .ui-thumbnail-privacy { 
    display: block;
  }

  // Show / Hide on hover
  .ui-thumbnail.media-set:hover,
  .ui-thumbnail.filter-set:hover,
  .ui-thumbnail.media-entry:hover {
    .ui-thumbnail-actions {
      display: block;
    }
    .ui-thumbnail-meta-subtitle {
      display: none;
    }
  }
  .ui-thumbnail.media-set:hover .ui-thumbnail-level-up-items,
  .ui-thumbnail.media-set:hover .ui-thumbnail-level-down-items,
  .ui-thumbnail.filter-set:hover .ui-thumbnail-level-up-items,
  .ui-thumbnail.filter-set:hover .ui-thumbnail-level-down-items {
    display: block;
  }

  // Hover and active states styles (backgrounds, shadows and such)

  .ui-thumbnail:hover {
    @include box-shadow(0 0 3px $darken-more);
  }
  .ui-thumbnail.media-entry:hover {
    @include border-radius($border-radius-m);
    background: $brightest;
  }
  .ui-thumbnail.media-set:hover,
  .ui-thumbnail.filter-set:hover {
    @include box-shadow(0 0 3px $darken-more);
    background: $brightest image-url("backgrounds/thumb-set-backg.png") 0 0 no-repeat;
  }
  .ui-thumbnail.media-catalog:hover {
    @include border-radius($border-radius-m);
    background: $brightest image-url("backgrounds/thumb-catalog-backg.png") 3px -4px no-repeat;
  }
  .ui-thumbnail.video .ui-thumbnail-image-wrapper {
    background: $brightest image-url("backgrounds/thumb-video-backg.png") 0 0px no-repeat;
  }
}
