/**
 * ## Metadata summary `.ui-summary-table`
 *
 * Styleguide 7.5
 */

.ui-summary-table {
  max-width: 1000px;
}
.ui-summary-label {
  @extend .title-xs-alt;
  padding-right: $space-s;
}
.ui-summary-content.title-l {
  padding: 0;
}
.ui-summary-content .person-tag {
  top: -2px;
}