/**
 * ## Media Resources Miniature Mode `.ui-resources.miniature`
 *
 * .active    - To be interacted with
 *
 * Styleguide 7.9.2
 */

.ui-resources.miniature {

  .ui-resource {
    @include float-left;
    display: inline-block;
    margin: 0 $space-x $space-s;
  }

  .ui-resource-title,
  .ui-resource-actions,
  .ui-resource-meta,
  .ui-resource-extension,
  .ui-resource-description { 
    display: none;
  }

  .ui-thumbnail.media-entry,
  .ui-thumbnail.media-set,
  .ui-thumbnail.filter-set {
    @include dimension(60px,60px);
    margin: 0;
    padding: 10px;
    position: relative;
    .ui-thumbnail-privacy {
      display: none;
    }

    .ui-thumbnail-meta {
      margin: 10px 0 0;
    }
    .ui-thumbnail-meta-title,
    .ui-thumbnail-meta-subtitle {
      height: 35px;
    }
    .ui-thumbnail-dropdown { 
      display: none;
    }
  }

  // Sets' stack effect

  .ui-thumbnail.media-set,
  .ui-thumbnail.filter-set {
    background: transparent image-url("backgrounds/thumb-set-backg-small.png") -1px 0px no-repeat;
    .ui-thumbnail-image-holder {
      @include dimension(50px,50px);

      .ui-thumbnail-table-image-holder {
        height: 200px;
        left: -75px;
        position: relative;
        top: -75px;
        width: 200px;

        .ui-thumbnail-cell-image-holder {
          @include dimension(50px,50px);

          .ui-thumbnail-inner-image-holder {

            .ui-thumbnail-image {
              @include min-dimension(auto,auto);
              @include max-dimension(160px, 160px);
            }
          }
        }
      }
    }
  }

  // Media entries' properties

  .ui-thumbnail.media-entry {
    .ui-thumbnail-image-wrapper {
      @include dimension(50px,50px);
    }
    .ui-thumbnail-image-holder {
      @include dimension(50px,36px);
      position: relative;
      top: 7px;

      .ui-thumbnail-table-image-holder {

        .ui-thumbnail-cell-image-holder {
          @include dimension(50px,36px);

          .ui-thumbnail-image {
            @include min-dimension(auto,auto);
            @include max-dimension(50px, 36px);
          }
        }
      }
    }
  }

  // Video entries get pellicola background

  .ui-thumbnail.video .ui-thumbnail-image-wrapper {
    background: $brightest image-url("backgrounds/thumb-video-backg-small.png") 0 0px no-repeat;
  }

  // Hiding stuff unnecessary in Miniature view

  .ui-thumbnail-level-up-items,
  .ui-thumbnail-level-down-items,
  .ui-thumbnail-meta,
  .ui-thumbnail-actions {
    display: none;
  }
}

/*
 * Active Mode
 * ------------------------------------- */

.ui-resources.miniature.active {

}

// Hover

.ui-resources.miniature-popup {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1000;

  .ui-thumbnail.media-entry {
    @include border-radius($border-radius-m);
    background: $brightest;
  }
}