/**
 * ## Rights management table `.ui-rights-management`
 *
 * Styleguide 7.12
 */

.ui-rights-management {
}

.ui-rights-management .ui-modal-body {
  overflow-y: scroll;
}

.ui-rights-body {
  padding-bottom: $space-m;
}
.ui-rights-body > a.button {
  margin-top: $space-s;
}

.ui-rights-group {
  width: 100%;
  table-layout: fixed;
}

// Group Titles

.ui-rights-user-title,
.ui-rights-role-title,
.ui-rights-check-title {
  font-size: $font-xs;
}
.ui-rights-check-title,
.ui-rights-check,
.ui-rights-owner-title,
.ui-rights-owner,
.ui-rights-role-title {
  @include dimension(80px,auto);
  line-height: $line-height-s;
  text-align: center;
}

.ui-rights-owner-title,
.ui-rights-owner {
  padding-right: $space-m;
}

// Role column

.ui-rights-role-title,
.ui-rights-role { 
  line-height: $line-height-s;
  width: 160px;
}
.ui-rights-role-select { 
  @include dimension(160px,auto);
}

// User column

.ui-rights-user .text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

// Remove button

.ui-rights-remove {
  margin: 0 $space-s 0 0;
  @include float-left;
  display: inline-block;
}

// Limitations for showing remove button

.ui-rights-management-public, .ui-rights-management-current-user {
  .ui-rights-remove {
    display: none;
  }
}

// Limitations for groups

.ui-rights-management-current-user-groups, 
.ui-rights-management-other-groups,
.ui-rights-management-public {
  .ui-rights-owner input {
    display: none;
  }

  .ui-rights-check input[name='manage'] {
    display: none;
  }
}

// 

.ui-add-subject {
  height: 32px;
  display: block;
  width: 300px;
  position: relative;
}

// overwritten by public

.ui-right-overwritten-by-public { display: none; }

// public view overwrites all public view checks

.ui-rights-management.public-view {

   &.unmanageable .ui-rights-check.view label { opacity: 0.5; }

  .ui-rights-management-current-user,
  .ui-rights-management-current-user-groups, 
  .ui-rights-management-other-groups,
  .ui-rights-management-other-users {
    .ui-rights-check.view {
      .ui-right-overwritten-by-public { @extend .icon-privacy-open; }
      label { display: none; }
    }
  }
}

// public download overwrites all public download checks

.ui-rights-management.public-download {

   &.unmanageable .ui-rights-check.download label { opacity: 0.5; }

  .ui-rights-management-current-user,
  .ui-rights-management-current-user-groups, 
  .ui-rights-management-other-groups,
  .ui-rights-management-other-users {
    .ui-rights-check.download {
      .ui-right-overwritten-by-public { @extend .icon-privacy-open; }
      label { display: none; }
    }
  }
}

// public edit overwrites all public edit checks

.ui-rights-management.public-edit {

   &.unmanageable .ui-rights-check.edit label { opacity: 0.5; }

  .ui-rights-management-current-user,
  .ui-rights-management-current-user-groups, 
  .ui-rights-management-other-groups,
  .ui-rights-management-other-users {
    .ui-rights-check.edit {
      .ui-right-overwritten-by-public { @extend .icon-privacy-open; }
      label { display: none; }
    }
  }
}

// ui rights check label

.ui-rights-check-label {
  display: inline-block;
  padding: 2px 1px 2px 0;
  width: 26px;

  &.mixed:not(.overwrite) {
    background-color: lighten($yellow, 50%);
    border: 1px solid $yellow;
    padding-top: 1px;
    padding-bottom: 1px;
    @include border-radius($border-radius-s);

    input { 
      @include box-shadow(0 0 5px $yellow);
      border-color: $yellow;
    }
  }
}

// mixed indicator

.ui-rights-check-label.mixed {
  position: relative;

  .ui-right-mixed-values {
    height: 10px;
    left: 9px;
    position: absolute;
    top: 5px;
    width: 10px;

    i {
      background: black;
      @include border-radius(2px);
      display: inline-block;
      height: 6px;
      left: 2px;
      position: absolute;
      top: 2px;
      width: 6px;
    }
  }
}

// disabled ui-rights-check

.ui-rights-check.disabled {

  .ui-right-mixed-values {
    opacity: $opacity-medium;
  }

}