/**
 * ## Featured entries `.ui-featured-entries`
 *
 * .small     - Small thumbnails variation
 * .active    - Large active variation showing actions on thumbnails
 * .small.active  - Small active variation showing actions on thumbnails
 *
 * Styleguide 7.10
 */

/**
 * NORMAL variation
 ----------------------------------------- */

.ui-featured-entries {
  height: 400px;
  position: relative;
}

.ui-featured-entries-list {
  @include position-top-right(0,0);
  @include position-bottom-left(0,0);
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
}

.ui-featured-entries-item {
  float: none;
  display: inline-block;
}

.ui-featured-entry {
  @include box-shadow(0 1px 5px $darken-more);
  @include dimension(auto,320px);
  background: $brightest;
  display: inline-block;
  position: relative;
  margin: 0 $space-m 0 0;
  &:hover {
    text-decoration: none;
  }
}
.ui-featured-entry-metadata {
  @include position-bottom-right(0,0);
  @include position-bottom-left(0,0);
  background: $brightest;
  overflow: hidden;
  padding: $space-s;
  .ui-thumbnail-name,
  .ui-thumbnail-author {
    height: $space-m;
    white-space: nowrap;
    text-align: left;
  }
  &:after {
    @include background(linear-gradient(right, $brightest, rgba(255,255,255,0)));
    @include dimension(20%,100%);
    @include position-top-right(0,0);
    display: block;
    content: " ";
    z-index: 50;
  }
}
.ui-featured-entry img {
  @include dimension(auto,260px);
  display: inline-block;
}
.ui-featured-entry-actions {
  display: none;

  .block {
    display: block;
  }

  .ui-featured-entry-action {
    opacity: $opacity-strong;

    &:hover {
      opacity: 1.0;
    }
  }
}

/**
 * SMALL variation
 ----------------------------------------- */

.ui-featured-entries.small { 
  height: 200px;
  .ui-featured-entry { 
    @include dimension(auto,170px);
    margin-right: $space-x;
  }
  .ui-featured-entry img {
    @include dimension(auto,170px);
  }
  .ui-featured-entry-metadata {
    display: none;
  }
}

/**
 * ACTIVE variation
 ----------------------------------------- */

 .ui-featured-entries.active {
  .ui-featured-entries-item:hover { 
    position: relative;
    .ui-featured-entry-actions { 
      @include border-radius($border-radius-m);
      @include dimension(100px,20px);
      @include position-bottom-left(70px,50%);
      @include position-bottom-right(70px,50%);
      background: $darken-more;
      display: block;
      margin-left: -50px;
      text-align: center;
    }
    .ui-featured-entry-action { 
      display: inline-block;
      margin: 0 2px;
    }
    .ui-featured-action-delete {
      @extend .icon-trash-bright;
    }
    .ui-featured-action-browse { 
      @extend .icon-eye-bright;
    }
    .ui-featured-action-edit { 
      @extend .icon-pen-bright
    }
    .ui-featured-action-select { 
      @extend .icon-checkbox-bright
    }
  }
  &.small .ui-featured-entries-item:hover .ui-featured-entry-actions { 
    bottom: 15px;
  }
}