/**
 * ## Upload Container `.upload-management`
 *
 * Styleguide 7.12.1
 */

.upload-management {
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
  position: relative;
}
.upload-call {
  @include single-text-shadow(false, 1px, 0, false, $lighten-more);
  @include position-top-right(40%,0);
  @include position-bottom-left(40%,0);
  color: $grey-mid;
  font-size: $font-l;
  font-weight: 700;
  text-align: center;
}
.upload-file-list {

}
.upload-list-item {

}

/**
 * ## Upload Preview `.upload-preview`
 *
 * Styleguide 7.12.2
 */

.upload-preview {
  @include dimension(auto, 200px);
  overflow-y: auto;
  padding: 0;
  .ui-thumbnail {
    @include dimension(140px,140px);
  }

  .ui-resources-holder {
    @include dimension(auto, auto);
    padding: 0;
  }

  .ui-resources {
    @include dimension(auto, auto);
    margin: 0 !important;
    white-space: nowrap;
  }

  .ui-resource {
    float: none !important;
    margin: 0 !important;
  }
}

/**
 * ## Upload Overview `.upload-overview`
 *
 * Styleguide 7.12.3
 */

.upload-overview {
  @include max-dimension(auto,400px);
  display: block;
  overflow-y: auto;
  padding: $space-s $space-s 0;
}
