%h1.text-center
  %i.icon-set
  Media Sets


.row 

  .col-md-3

    %h3 
      %i.icon-filter
      Filters

    = form_tag app_admin_media_sets_path, method: 'GET' do

      %label 
        = text_field nil, :fuzzy_search, class: "search-query", value: params[:fuzzy_search] 

      = button_tag type: 'submit', class: 'btn btn-sm' do
        Filter
     

  .col-md-9

    %table.table.table-striped
      %thead
        %tr
          %th Owner
          %th Title
          %th Id
          %th Created at
          %th # Media-Resources
          %th # User-permissions
          %th # Group-permissions
          %th # Individual contexts
      %tbody
        =render @media_sets

    = paginate @media_sets, theme: 'app_admin'
