%h1 Transfer Media Set's <em>#{@media_set.title}</em> children

= form_tag change_children_owner_app_admin_media_set_path(@media_set) , method: "PUT", html: {class: "form-horizontal", role: "form"} do

  .form-group
    %label.control-label.col-sm-2 User
    .col-sm-4
      = select_tag "user_id", options_for_select(User.all.collect{ |u| [u.name, u.id]})

  = button_tag type: 'submit', class: "btn btn-success" do
    Transfer

