.item_permission
  {{if is_public}}
  .icon_status_perm_public{:title => "Diese Inhalte sind öffentlich zugänglich."}
  {{/if}}
  {{if is_private}}
  .icon_status_perm_private{:title => "Diese Inhalte sind nur für Sie zugänglich."}
  {{/if}}
  {{if is_shared}}
  .icon_status_perm_shared{:title => "Diese Inhalte werden mit Anderen geteilt."}
  {{/if}}