%section.values
%input{:type => "text",
  :"data-autocomplete" => true,
  :"data-type" => "${type}",
  :"data-data" => "${JSON.stringify(meta_terms)}"}
.list_toggle.button{:title => "Liste öffnen"}
  .list_toggle.closed.icon