@mixin dimension($width: auto, $height: auto) {
  height: $height;
  width: $width;
}
@mixin min-dimension($width: auto, $height: auto) {
  min-height: $height;
  min-width: $width;
}
@mixin max-dimension($width: auto, $height: auto) {
  max-height: $height;
  max-width: $width;
}
