:ruby 
  id ||=nil 
  as = (defined? as and as)
  actions = (defined? actions and actions)
  resources = (defined? resources and resources)

.ui-resources-holder{id: id}
  .ui-resources-header.mbx
    %h2.title-l.ui-resources-title
      = title
      - if defined? link
        %a.strong{:href => link} Alle anzeigen

  - if as == :table

    %table.ui-workgroups.bordered.block
      %thead
        %tr
          %td{:colspan => 3}
      %tbody
        - groups.each do |group|
          %tr{:"data-id" => group.id}
            %td.ui-workgroup-name= group.name
            - if resources
              - total_accessible_by_group = MediaResource.accessible_by_group(group).where(:type => ["MediaEntry", "MediaSet"]).count
              %td.ui-workgroup-items
                %a{:href => media_resources_path(:permissions => {:group => {:ids => [group.id]}}), :title => "Inhalte dieser Gruppe anzeigen"}
                  = total_accessible_by_group
                  Inhalte
            - if actions
              %td.ui-workgroup-actions
                %a.button.small.delete-workgroup
                  %i.icon-trash.dark
                %a.button.small.edit-workgroup
                  %i.icon-pen.dark

  - else

    %ul.inline
      - groups.each do |group|
        %li
          %a{:href => my_groups_path}
            = group.name