.app.view-dashboard

  = render "application/header"

  // PAGE TITLE

  .app-body
    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Meine Arbeitsgruppen
        .ui-body-title-actions
          %a.primary-button{:href => "#workgroup-new", "data-toggle" => "modal"}
            %i.icon-new-group
            Neue Arbeitsgruppe

    .app-body-ui-container
      .bordered.ui-container.midtone.rounded.table

        // SIDEBAR

        .app-body-sidebar.table-cell.bright.ui-container.bordered-right.rounded-left.table-side
          .ui-container.rounded-left.phm.pvl
            %ul.ui-side-navigation
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Inhalte, für die ich verantwortlich bin
              %li.separator.mini
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Meine Faroviten
              %li.separator.mini
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Meine Schlagworte
              %li.separator.mini
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Mir anvertraute Inhalte
              %li.separator.mini
              %li.ui-side-navigation-item.active
                %a.strong{:href => "#"} Meine Arbeitsgruppen
              %li.separator.mini

        .app-body-content.table-cell.table-substance.ui-container

          .ui-resources-holder
            .ui-resources-header
              %h2.title-l.ui-resource-title
                Arbeitsgruppen

            %table.ui-workgroups.bordered.block
              %thead
                %tr
                  %td.ui-workgroup-name-title Name der Arbeitsgruppe
                  %td.ui-workgroup-items-title Inhalte
                  %td.ui-workgroup-actions-title Aktionen
              %tbody
                %tr
                  %td.ui-workgroup-name Interactive Things
                  %td.ui-workgroup-items
                    %a{:href => "#"}
                      54243
                  %td.ui-workgroup-actions
                    %a.button.small{:href => "#workgroup-delete", "data-toggle" => "modal"}
                      %i.icon-trash.dark
                    %a.button.small{:href => "#workgroup-edit", "data-toggle" => "modal"}
                      %i.icon-pen.dark
                %tr
                  %td.ui-workgroup-name Interactive Things 2
                  %td.ui-workgroup-items
                    %a{:href => "#"}
                      54243
                  %td.ui-workgroup-actions
                    %a.button.small{:href => "#workgroup-delete", "data-toggle" => "modal"}
                      %i.icon-trash.dark
                    %a.button.small{:href => "#workgroup-edit", "data-toggle" => "modal"}
                      %i.icon-pen.dark
                %tr
                  %td.ui-workgroup-name Interactive Things 3
                  %td.ui-workgroup-items
                    %a{:href => "#"}
                      54243
                  %td.ui-workgroup-actions
                    %a.button.small{:href => "#workgroup-delete", "data-toggle" => "modal"}
                      %i.icon-trash.dark
                    %a.button.small{:href => "#workgroup-edit", "data-toggle" => "modal"}
                      %i.icon-pen.dark

          %hr.separator

          .ui-resources-holder
            .ui-resources-header
              %h2.title-l.ui-resource-title
                Systemgruppen
            %table.ui-workgroups.bordered.block
              %thead
                %tr
                  %td.ui-workgroup-name-title Name der Arbeitsgruppe
              %tbody
                %tr
                  %td.ui-workgroup-name ZHdK Group 1
                %tr
                  %td.ui-workgroup-name ZHdK Group 2
                %tr
                  %td.ui-workgroup-name ZHdK Group 3
                %tr
                  %td.ui-workgroup-name ZHdK Group 4

  .app-footer-push
= render :partial => "application/footer"

#workgroup-new.modal.hide.fade.ui-modal.narrow{"aria-hidden" => "true", "aria-labelledby" => "workgroup-new-label", :role => "dialog", :tabindex => "-1"}
  %form
    .ui-modal-head
      %h3#workgroup-new-label.title-l Neue Arbeitsgruppe erstellen
      %a.ui-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", :title => "Close", :class => "weak"}
    .ui-modal-body
      .form-body
        .ui-form-group.rowed
          %label.form-label
            Name eingeben
          .form-item
            %input.block{:type => "text"}
    .ui-modal-footer
      .ui-actions
        %a.link.weak{"aria-hidden" => "true", "data-dismiss" => "modal", :class => "weak link"} Abbrechen
        %button.primary-button Erstellen

#workgroup-edit.modal.hide.fade.ui-modal.wide{"aria-hidden" => "true", "aria-labelledby" => "workgroup-edit-label", :role => "dialog", :tabindex => "-1"}
  %form
    .ui-modal-head
      %a.ui-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", :title => "Close", :class => "weak"}
      %h3#workgroup-edit-label.title-l Group Name
    .ui-modal-body
      %table.mbs.block
        %thead
          %tr
            %td User
            %td.by-right Aktionen
        %tbody
          %tr
            %td Pinco
            %td.by-right
              %a.button.small{:href => "#"}
                &#215;
          %tr
            %td Pallino
            %td.by-right
              %a.button.small{:href => "#"}
                &#215;

      .form-body
        .ui-form-group.rowed
          .form-item
            %input.block{:type => "text", :placeholder => "Person hinzufügen"}
            %p.form-note
              Es können nur Personen ausgewählt werden, die sich schon einmal im Medienarchiv eingeloggt haben.
    .ui-modal-footer
      .ui-actions
        %a.link.weak{"aria-hidden" => "true", "data-dismiss" => "modal", :class => "weak link"} Abbrechen
        %button.primary-button Speichern

#workgroup-delete.modal.hide.fade.ui-modal.narrow{"aria-hidden" => "true", "aria-labelledby" => "workgroup-delete-label", :role => "dialog", :tabindex => "-1"}
  %form
    .ui-modal-head
      %h3#workgroup-delete-label.title-l Sind Sie sicher?
      %a.ui-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", :title => "Close", :class => "weak"}
    .ui-modal-body
      %p.pvm.phl.by-center You choose to remove an item. Proceed?
    .ui-modal-footer
      .ui-actions
        %a.link.weak{"aria-hidden" => "true", "data-dismiss" => "modal", :class => "weak link"} Abbrechen
        %button.primary-button Speichern
