.container_12.clearfix              
  %section#content_body
    %div.page_title_left
      %div{:class => "icon_workgroup"}
      =_("Meine Arbeitsgruppen")
    .clear

    %table.groups
      %tbody
        %tr
          %th
            
    %ul.groups
      - @groups.each do |group|
        %li
          = group
          - unless group.is_readonly?
            = link_to _("Bearbeiten"), edit_group_path(group), :class => "meta_data_label1"
            = link_to _("Löschen"), group_path(group), :class => "meta_data_label2", :method => :delete, :confirm => _("Sind Sie sicher?")
          
      %li
        %br
        = link_to _("Neue Arbeitsgruppe erstellen"), new_group_path, :class => "buttons"
