:ruby
  group_show_data = {
    header: component('page-header',
              icon: component('icon', 'icon-privacy-group'),
              text: @get.name
    ),
    overview: deco('resource_show_overview',
                content: combo('metadata-box',
                            mods: 'ui-summary-table.ui-set-summary.compact',
                            list: [['name', @get.name],
                                   ['institutional_group_name',
                                    @get.institutional_group_name]
                                  ]
                          )
    ),
    more_info: nil # captured below
  }

- group_show_data[:more_info] = capture_haml do
  -# TODO: component
  #ui-resources-list-container.ui-container.midtone.rounded-bottom
    .ui-container.inverted.ui-toolbar.pvx
      .ui-toolbar-header.pls
        TODO
    .ui-resources-holder.pam
      .ui-container.table.auto
        .ui-container.table-cell.table-substance
          = deco('polybox', mods: ['active'], fallback: true,
                  media_resources: @get.entrusted_media_resources)


= deco('resource_show', group_show_data)
