%section#content_body.media_resources.index.grid
  %div.page_title_left
    =_("Meine Inhalte")
  .clear
  #results
    Loading...

%section#content_body2.media_resources.index.grid    
  %div.page_title_left
    =_("Mir anvertraute Inhalte")
  .clear
  #results_others.not_public
    Loading...

%section#content_body2.media_resources.index.grid      
  %div.page_title_left
    =_("Öffentliche Inhalte")
  .clear
  #results_others.public
    Loading...

= render :partial => "media_resources/templates"

:coffeescript
  
  display_entries = (entries, container)->
    $(container).html($.tmpl("tmpl/media_resource/thumb_box", entries, {with_checkbox: false}))
  
  jQuery ->
    per_page = 10
    sections = [{
      url: "#{media_resources_path(user_id: current_user)}"
      container: "#results"
      title: "Alle meine Inhalte"
    },{
      url: "#{media_resources_path(not_by_user_id: current_user, public: false)}"
      container: "#results_others.not_public"
      title: "Alle mir anvertrauten Inhalte"
    },{
      url: "#{media_resources_path(not_by_user_id: current_user, public: true)}"
      container: "#results_others.public"
      title: "Alle öffentlichen Inhalte"
    }]
    
    for section in sections
      do(section)->
        App.MediaResources.fetch
          url: section.url
          data:
            per_page: per_page
          success: (data)->
            if(data.media_resources.length)
              display_entries(data.media_resources, section.container)
              $(section.container).append("<div class='buttons'><a href=\""+section.url+"\">"+section.title+"</a></div>")
            else
              $(section.container).html("Keine Medien vorhanden")
          
    
    
    
