%section#content_body
  %div.page_title_left
    .icon_me
    =_("Meine Inhalte")
  .clear
  #results
    Loading...

%section#content_body2      
  %div.page_title_left
    .icon_me
    =_("Mir anvertraute Inhalte")
  .clear
  #results_others.not_public
    Loading...

%section#content_body2      
  %div.page_title_left
    .icon_me
    =_("Öffentliche Inhalte")
  .clear
  #results_others.public
    Loading...

= render :partial => "resources/templates"

:javascript
  // TODO dry => batch_actions.js
  $(document).ready(function () {
    function display_entries(entries, container){
      $(container).html($.tmpl("tmpl/media_resource/thumb_box", entries, {with_checkbox: false}));
    }
    
    var per_page = 10;
    
    var url_1 = "#{resources_path(:user_id => current_user)}"; 
    $.ajax({
      url: url_1,
      data: {per_page: per_page},
      dataType: 'json',
      complete: function(response){
        var data = JSON.parse(response.responseText);
        var container_str = "#results";
        if(data.entries.length){
          display_entries(data.entries, container_str);
          if(data.pagination.total_entries > per_page){
            $(container_str).append("<div class='buttons'><a href=\""+url_1+"\">Alle meine Inhalte</a></div>");
          }
        }else{
          $(container_str).html("Keine Medien vorhanden");
        }
      }
    });

    var url_2 = "#{resources_path(not_by_current_user: true, public: false)}"; 
    $.ajax({
      url: url_2,
      data: {per_page: per_page},
      dataType: 'json',
      complete: function(response){
        var data = JSON.parse(response.responseText);
        var container_str = "#results_others.not_public";  
        if(data.entries.length){
          display_entries(data.entries, container_str);
          if(data.pagination.total_entries > per_page){
            $(container_str).append("<div class='buttons'><a href=\""+url_2+"\">Alle mir anvertraute Inhalte</a></div>");
          }
        }else{
          $(container_str).html("Keine Medien vorhanden");
        }
      }
    });

    var url_3 = "#{resources_path(not_by_current_user: true, public: true)}"; 
    $.ajax({
      url: url_3,
      data: {per_page: per_page},
      dataType: 'json',
      complete: function(response){
        var data = JSON.parse(response.responseText);
        var container_str = "#results_others.public";  
        if(data.entries.length){
          display_entries(data.entries, container_str);
          if(data.pagination.total_entries > per_page){
            $(container_str).append("<div class='buttons'><a href=\""+url_3+"\">Alle öffentlichen Inhalte</a></div>");
          }
        }else{
          $(container_str).html("Keine Medien vorhanden");
        }
      }
    });

  });

