%li.ui-tag-cloud-item
  %a.ui-tag-button.person-tag{:href => "/media_resources?search=${App.MetaDatumPeople.formattedValue($item.data)}"}
    %i.icon-user-mini.ui-tag-icon
    ${App.MetaDatumPeople.formattedValue($item.data)}
