-# The styleguide 'show' by default shows:
-# - body: the selected section, with all elements
-# - toc: table of contents (link: ./section#element)

= render 'section', { section: @section }

- content_for :toc do
  = render 'toc', sections: @sections
