[Unit]
Description=Delete Soft-Deleted Resources Cron Service Timer

[Timer]
OnCalendar={{madek_run_delete_soft_deleted_resources_on}}
RandomizedDelaySec={{madek_run_tasks_randomized_delay_max_seconds}}
Persistent=true

[Install]
WantedBy=timers.target
