%h1.text-center
  %i.icon-media-entry
  Media Entries

%table.table.table-striped
  %thead
    %tr
      %th Owner
      %th Media File
      %th Id
      %th Created at
  %tbody
    =render @media_entries

= paginate @media_entries, theme: 'app_admin'
