%li.plupload_dropbox.plupload_transfer
  .plupload_file_name
    {{if dirname && dirname.length > 0}}
    %span.grey
      ="${dirname}/"
    {{/if}}
    %span
      ${filename}
  .plupload_file_action
    %a{:href => "#"}
    = link_to "", "/import", :class => "delete_dropbox_file"
  .plupload_file_status= "0%"
  .plupload_file_size
    ${Number(size/1024).toFixed()} KB
  .plupload_location
    = "Dropbox"
  .plupload_clearer
  