%li.plupload_dropbox.plupload_done
  .plupload_file_name
    %span
      ${filename}
  .plupload_file_action
    %a{:href => "#", :style => "display: block;"}
    = link_to "", upload_path, :class => "delete_mei"
  .plupload_file_status= "100%"
  .plupload_file_size
    ${Number(size/1024).toFixed()} KB
  .plupload_location
    = "bereits übertragen"
  .plupload_clearer
