%h3= "Validierung fehlgeschlagen"

%p
  Bitte f체llen Sie f체r alle zu importierenden Medieneintr채ge die Pflichtfelder 
  %strong= "Titel"
  und
  %strong= "Rechte"
  aus.
    

.navigation
  = link_to "Ok, zur체ck", "javascript:void(0)", :class => "upload_buttons", :onclick => "$('.dialog').dialog('close');"