:ruby
  any_content = list || block_content

- if any_content
  .button-group{class: classes}
    - if list
      - list.each do |btn|
        = component('button', btn)
    - else
      = block_content
