%footer.app-footer.ui-footer.ui-container.inverted

  - if defined?(copy)
    .ui-footer-copy
      -# - if copy[:logo].is_a?(Hash)
      -#   = component('link', href: copy[:logo][:link]) do
      -#     = copy[:logo][:content]
      %b{style: "font-weight: 600;font-family: \"Open Sans\";font-size: 16px;"}
        = "Madek"
      = copy[:text]

  - if defined?(version)
    .ui-footer-version
      = version
