:ruby
  return unless list

.ui-metadata-box.ui-summary-table.ui-set-summary.compact
  %table.borderless
    %tbody
      - list.each do |item|
        - key = item[0]
        - value = item[1]
        - mod = item[2]
        - unless key.nil? or value.nil? or value.empty?
          %tr
            %td.ui-summary-label= key
            %td.ui-summary-content{class: mod}= value
