:ruby
  filter_bar ||= nil
  link ||= nil
  text ||= nil
  text = nil if text && text.empty?
  throw 'ui: missing title!' unless title

.ui-resources-header

  %h2.title-l.ui-resources-title
    = title

  = filter_bar

  - if link
    %a.strong{href: link[:href]}= link[:text]

  - if text
    %p.paragraph-l.ui-resources-intro
      = text
