.page-header
  %h1
    Edit User Permission
    %small Vocabulary: #{@vocabulary}

.row
  .col-xs-12
    = form_for [:admin, @vocabulary, @permission],
        method: :patch,
        as: :vocabulary_user_permission,
        url: admin_vocabulary_vocabulary_user_permission_path(@vocabulary, @permission),
        html: { class: 'form-horizontal', role: 'form' } do |f|
      = render partial: 'form_fields', locals: { f: f }
