.ui-body-title-actions
  - unless current_user.is_guest?
    %a.button{:"data-clipboard-toggle" => true}
      %i.mvx.ui-thumbnail-action-checkbox{:title => "Zur Zwischenablage hinzufügen"}
    %a.button{:"data-favor-toggle" => true, :title => "Zu Favoriten hinzufügen"}
      %i.mvx.ui-thumbnail-action-favorite{:class => current_user.favorites.include?(@media_entry) ? "active" : ""}
    %a#ui-export-button.button
      %i.icon-dload
      Exportieren
    .dropdown.ui-dropdown.stick-right
      %a.primary-button.dropdown-toggle.ui-drop-toggle{"data-toggle" => "dropdown"}
        Weitere Aktionen
        %i.icon-arrow-down.bright.stand-alone
      %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
        %li.ui-drop-item
          %a{:href => edit_media_entry_path(@media_entry)}
            %i.icon-pen.mid
            Editieren
        %li.ui-drop-item
          %a
            %i.icon-lock.mid
            Zugriffsberechtigungen
        %li.ui-drop-item
          %a
            %i.icon-move.mid
            Zu Set hinzufugen / entfernen
        %li.ui-drop-item
          %a{:title => "Beziehung von Inhalten als Graph visualisieren", :href => "/visualization/component_with/#{@media_entry.id}", :target => "_blank"}
            %i.icon-vis-graph.mid
            Graph berechnen
        %li.ui-drop-item
          %a{:"data-delete-action" => true}
            %i.icon-trash.mid
            Loschen
  - else
    = render :partial => "login_action"