.tab-pane#context-data
  .bright.ui-container.pal.rounded-bottom
    %h2.title-l.separated.mbl Kontexte

    .ui-container.mbm
      .col1of3
        .ui-metadata-box.prm
          %h3.title-m.separated.light.mbm Landschaftstyp
          %ol
            %li.odd Agglomeration
            %li.even Bucht
            %li.odd Ebene
            %li.even Erholungszone
            %li.odd Something very very long that could break
            %li.even Short
            %li.odd Landwirtschaft
            %li.even Naturlandschaft
      .col1of3
        .ui-metadata-box.phm
          %h3.title-m.separated.light.mbm Verwendungszweck
          %ol
            %li{:clas => "odd"} Agglomeration
            %li.even Bucht
            %li{:clas => "odd"} Ebene
            %li.even Erholungszone
            %li{:clas => "odd"} Landwirtschaft
            %li.even Naturlandschaft
      .col1of3
        .ui-metadata-box.plm
          %h3.title-m.separated.light.mbm Bildzeit
          %ol
            %li{:clas => "odd"} Agglomeration
            %li.even Bucht
            %li{:clas => "odd"} Ebene
            %li.even Erholungszone
            %li{:clas => "odd"} Landwirtschaft
            %li.even Naturlandschaft

    .ui-container.mbm
      .col1of3
        .ui-metadata-box.prm
          %h3.title-m.separated.light.mbm Wetter/Klima
          %ol
            %li.odd Agglomeration
            %li.even Bucht
            %li.odd Ebene
            %li.even Erholungszone
            %li.odd Something very very long that could break
            %li.even Short
            %li.odd Landwirtschaft
            %li.even Naturlandschaft
      .col1of3
        .ui-metadata-box.phm
          %h3.title-m.separated.light.mbm Farbe
          %ol
            %li{:clas => "odd"} Agglomeration
            %li.even Bucht
            %li{:clas => "odd"} Ebene
            %li.even Erholungszone
            %li{:clas => "odd"} Landwirtschaft
            %li.even Naturlandschaft
      .col1of3
        .ui-metadata-box.plm
          %h3.title-m.separated.light.mbm Horizontlinie
          %ol
            %li{:clas => "odd"} Agglomeration
            %li.even Bucht
            %li{:clas => "odd"} Ebene
            %li.even Erholungszone
            %li{:clas => "odd"} Landwirtschaft
            %li.even Naturlandschaft

    .ui-container.mbm
      .col1of3
        .ui-metadata-box.prm
          %h3.title-m.separated.light.mbm Räumliche Wahrnehmung
          %ol
            %li.odd Agglomeration
            %li.even Bucht
            %li.odd Ebene
            %li.even Erholungszone
            %li.odd Something very very long that could break
            %li.even Short
            %li.odd Landwirtschaft
            %li.even Naturlandschaft
      .col1of3
        .ui-metadata-box.phm
          %h3.title-m.separated.light.mbm Abstraktionsgrad
          %ol
            %li{:clas => "odd"} Agglomeration
            %li.even Bucht
            %li{:clas => "odd"} Ebene
            %li.even Erholungszone
            %li{:clas => "odd"} Landwirtschaft
            %li.even Naturlandschaft
      .col1of3
        .ui-metadata-box.plm
          %h3.title-m.separated.light.mbm Landschaftselemente
          %ol
            %li{:clas => "odd"} Agglomeration
            %li.even Bucht
            %li{:clas => "odd"} Ebene
            %li.even Erholungszone
            %li{:clas => "odd"} Landwirtschaft
            %li.even Naturlandschaft

    .ui-container.mbm
      .col1of3
        .ui-metadata-box.prm
          %h3.title-m.separated.light.mbm Bildwirkung
          %ol
            %li.odd Agglomeration
            %li.even Bucht
            %li.odd Ebene
            %li.even Erholungszone
            %li.odd Something very very long that could break
            %li.even Short
            %li.odd Landwirtschaft
            %li.even Naturlandschaft
      .col1of3
        .ui-metadata-box.phm
          %h3.title-m.separated.light.mbm Genre
          %ol
            %li{:clas => "odd"} Agglomeration
            %li.even Bucht
            %li{:clas => "odd"} Ebene
            %li.even Erholungszone
            %li{:clas => "odd"} Landwirtschaft
            %li.even Naturlandschaft
      .col1of3
        .ui-metadata-box.plm
          %h3.title-m.separated.light.mbm Stil- und Kunstrichtungen
          %ol
            %li{:clas => "odd"} Agglomeration
            %li.even Bucht
            %li{:clas => "odd"} Ebene
            %li.even Erholungszone
            %li{:clas => "odd"} Landwirtschaft
            %li.even Naturlandschaft

    .ui-container.mbm
      .col1of3
        .ui-metadata-box.prm
          %h3.title-m.separated.light.mbm Epoche
          %ol
            %li.odd Agglomeration
            %li.even Bucht
            %li.odd Ebene
            %li.even Erholungszone
            %li.odd Something very very long that could break
            %li.even Short
            %li.odd Landwirtschaft
            %li.even Naturlandschaft