.bright.ui-container.pal.rounded-bottom

  .col1of3
    .ui-metadata-box.prm
      = render :partial => "media_entries/activities"

  .col2of3
    .ui-metadata-box.ui-summary-table.plm
      = render :partial => "media_entries/objective_meta_data"
