.tab-pane#other-data
  .bright.ui-container.pal.rounded-bottom
    .col1of3
      .ui-metadata-box.prm
        %h3.title-l.separated.mbl Aktivitaten
        %dl.media-data
          %dt.media-data-title.title-xs Bereich ZHdK
          %dd.media-data-content Vertiefung Fotografie (DKM_FMK_BMK_VFO.studierende); Vertiefung Fotografie (DKM_FMK_BMK_VFO.alle)
          %dt.media-data-title.title-xs ZHdK Projekttyp
          %dd.media-data-content
            %a{:href => "#"} Abschlcussarbeit
          %dt.media-data-title.title-xs Studienabschnitt
          %dd.media-data-content
            %a{:href => "#"} Hauptstudium Diplom
          %dt.media-data-title.title-xs Projekttitel
          %dd.media-data-content
            %a{:href => "#"} Diplom

    .col2of3
      .ui-metadata-box.ui-summary-table.plm
        %h3.title-l.separated.mbl Datei
        %table.borderless
          %tbody
            %tr
              %td.ui-summary-label Bereich ZHdK
              %td.ui-summary-content Vertiefung Fotografie (DKM_FMK_BMK_VFO.studierende); Vertiefung Fotografie (DKM_FMK_BMK_VFO.alle)
            %tr
              %td.ui-summary-label ZHdK Projekttyp
              %td.ui-summary-content
                %a{:href => "#"} Abschlcussarbeit
            %tr
              %td.ui-summary-label Studienabschnitt
              %td.ui-summary-content
                %a{:href => "#"} Hauptstudium Diplom
            %tr
              %td.ui-summary-label Projekttitel
              %td.ui-summary-content
                %a{:href => "#"} Diplom
