.app.view-media-entry

  .app-header
    %header.ui-header.container.inverted
      .ui-header-brand
        = image_tag "redesign/inserts/image-logo-zhdk.png", :alt => "ZHDK", :class => "ui-header-logo"
        %h1.ui-header-brand-name Z&uuml;rcher Hochschule der K&uuml;nste
        %h2.ui-header-instance-name Medienarchiv der K&uuml;nste

      .ui-header-menu
        %ul.large.primary.tab-navigation
          %li.tab-navigation-item
            %a{:href => "#"} Mein Archiv
          %li.tab-navigation-item
            %a{:href => "#"} Erkunden
          %li.tab-navigation-item
            %a{:href => "#"}
              %i.icon-search.bright
              Suchen
          %li.tab-navigation-item
            %a{:href => "#"}
              %i.icon-help.bright Help

      .ui-header-user
        .dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Franziska M&uuml;ller-Rei&szlig;mann
            %i.icon-arrow-down.bright.stand-alone
          %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
            %li.dropdown-menu-item
              %a{:href => "#"} Item 1
            %li.dropdown-menu-item
              %a{:href => "#"} Item 2
            %li.separator
            %li.dropdown-menu-item
              %a{:href => "#"} Abmelden

  .app-body

    // PAGE TITLE

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Media Entry Title
        .ui-body-title-actions
          .dropdown
            %a.primary-button.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Weitere Aktionen
              %i.icon-arrow-down.bright.stand-alone
            %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-edit.dark
                  Editieren
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-fav.dark
                  Favorisieren
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-privacy
                  Zugriffsberechtigungen
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-privacy
                  Zu Set hinzufugen / entfernen
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-download.dark
                  Exportieren
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-trash
                  Loschen
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-new-set
                  Neues Set
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-vis-links.dark
                  Graph berechnen

    .app-body-container

      // TABS

      %ul.tab-navigation.large
        %li.tab-navigation-item.active
          %a{"data-toggle" => "tab", :href => "#media-overview"} Media
        %li.tab-navigation-item
          %a{"data-toggle" => "tab", :href => "#parenting-sets"} Übergeordnete Sets
        %li.tab-navigation-item
          %a{"data-toggle" => "tab", :href => "#kontext"} Kontexte
        %li.tab-navigation-item
          %a{"data-toggle" => "tab", :href => "#other-data"} Weitere Daten

      // TAB CONTENT

      .container.rounded-right.rounded-bottom.bordered.tab-content

        .tab-pane.active#media-overview
          .bright.container.pal

            .media-overview
              %dl.media-overview-metadata.ui-metadata-box
                %dt.title-xs Titel
                %dd.title-l Die Eismalerin
                %dt.title-xs Untertitel
                %dd Installationsansicht
                %dt.title-xs Autor/in
                %dd
                  %a{:href => "#"} Stemmle, Janka
                %dt.title-xs Datierrung
                %dd 2012
                %dt.title-xs Schlagworte zu Inhalt und Motiv
                %dd
                  %ul.tag-cloud.small
                    %li.tag-button
                      %a{:href => "#"} Tag 1
                    %li.tag-button
                      %a{:href => "#"} Tag 2
                %dt.title-xs Rechte am geistigen Eigentum
                %dd ZHdK DKM VMK
                %dt.title-xs Privacy
                %dd
                  This entry is public
                  %i.icon-privacy-public
                %dt.title-xs Eigentumer/in im Medienarchiv
                %dd
                  %a{:href => "#"} R&uuml;egger, Romy
              .media-overview-preview
                = image_tag "redesign/tmp/media-entry-1.png"

          .midtone.container.pal.rounded-bottom.well
            .media-entry-metadata.container
              .col1of4
                .ui-metadata-box.prm
                  %h3.title-l.separated.mbm Werk
                  %dl.media-data
                    %dt.media-data-title.title-xs Titel
                    %dd.media-data-content.title-l Die Eismalerin
                    %dt.media-data-title.title-xs Untertitel
                    %dd.media-data-content Installationsansicht
                    %dt.media-data-title.title-xs Autor/in
                    %dd.media-data-content
                      %ul.inline
                        %li
                          %a{:href => "#"} Stemmle, Janka
                    %dt.media-data-title.title-xs Datierrung
                    %dd.media-data-content 2012
                    %dt.media-data-title.title-xs Schlagworte zu Inhalt und Motiv
                    %dd.media-data-content
                      %ul.tag-cloud.small
                        %li.tag-button
                          %a{:href => "#"} Tag 1
                        %li.tag-button
                          %a{:href => "#"} Tag 2
                    %dt.media-data-title.title-xs Rechte am geistigen Eigentum
                    %dd.media-data-content ZHdK DKM VMK
                    %dt.media-data-title.title-xs Privacy
                    %dd.media-data-content
                      This entry is public
                      %i.icon-privacy-public
                    %dt.media-data-title.title-xs Eigentumer/in im Medienarchiv
                    %dd.media-data-content
                      %ul.inline
                        %li
                          %a{:href => "#"} Stemmle, Janka

              .col1of4
                .ui-metadata-box.phm
                  %h3.title-l.separated.mbm Personen
                  %dl.media-data
                    %dt.media-data-title.title-xs Autor/In
                    %dd.media-data-content
                      %ul.inline
                        %li
                          %a{:href => "#"} Stemmle, Janka
                        %li
                          %a{:href => "#"} Stemmle, Janka
                    %dt.media-data-title.title-xs Medienersteller/in
                    %dd.media-data-content
                      %ul.inline
                        %li
                          %a{:href => "#"} Stemmle, Janka
                        %li
                          %a{:href => "#"} Stemmle, Janka

              .col1of4
                .ui-metadata-box.phm
                  %h3.title-l.separated.mbm Rechte
                  %dl.media-data
                    %dt.media-data-title.title-xs Rechte am geistigen Eigentum
                    %dd.media-data-content Z&uuml;rcher Hochschule der K&uuml;nste ZHdK
                    %dt.media-data-title.title-xs Rechtsschultz
                    %dd.media-data-content Alle Rechte vorbehalten

              .col1of4
                .ui-metadata-box.plm
                  %h3.title-l.separated.mbm ZHdK
                  %dl.media-data
                    %dt.media-data-title.title-xs Bereich ZHdK
                    %dd.media-data-content Vertiefung Fotografie (DKM_FMK_BMK_VFO.studierende); Vertiefung Fotografie (DKM_FMK_BMK_VFO.alle)
                    %dt.media-data-title.title-xs ZHdK Projekttyp
                    %dd.media-data-content
                      %ul.inline
                        %li
                          %a{:href => "#"} Stemmle, Janka
                    %dt.media-data-title.title-xs Studienabschnitt
                    %dd.media-data-content
                      %ul.inline
                        %li
                          %a{:href => "#"} Stemmle, Janka
                    %dt.media-data-title.title-xs Projekttitel
                    %dd.media-data-content
                      %ul.inline
                        %li
                          %a{:href => "#"} Stemmle, Janka

        .tab-pane#parenting-sets
          .bright.container.pal.rounded-bottom
            %h2.title-l.separated.mbl Diese Media ist in 2 Sets enthalten.
            %ul.media-entries.grid.active
              %li.media-entries-item
                .ui-thumbnail-wrapper.media-set
                  .thumbnail-level-up-items
                    %h3.title-xs-alt Keine übergeordneten Sets
                  .thumbnail-privacy
                    %i.icon-privacy-group This media is shared with a group
                  .thumbnail-set.thumbnail
                    .inner-wrapper
                      %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                  .thumbnail-metadata
                    %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                    %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
                  .thumbnail-actions
                    %ul.left.by-left
                      %li
                        %a{:href => "#"}
                          %i.icon-check Select
                      %li
                        %a{:href => "#"}
                          %i.icon-fav Favorite
                    %ul.right.by-right
                      %li
                        %a{:href => "#"}
                          %i.icon-explore Explore
                      %li
                        %a{:href => "#"}
                          %i.icon-edit Edit
                      %li
                        %a{:href => "#"}
                          %i.icon-delete Delete
                  .thumbnail-level-down-items
                    %h3.title-s Set enthalt
                    .thumbnail.thumbnail-set.small.odd
                      .inner-wrapper
                        %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                    .thumbnail.thumbnail-set.small.even
                      .inner-wrapper
                        %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                    %h4.title-xs-alt 5 Inhalte
              %li.media-entries-item
                .ui-thumbnail-wrapper.media-set
                  .thumbnail-level-up-items
                    %h3.title-xs-alt Keine übergeordneten Sets
                  .thumbnail-privacy
                    %i.icon-privacy-group This media is shared with a group
                  .thumbnail-set.thumbnail
                    .inner-wrapper
                      %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                  .thumbnail-metadata
                    %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                    %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
                  .thumbnail-actions
                    %ul.left.by-left
                      %li
                        %a{:href => "#"}
                          %i.icon-check Select
                      %li
                        %a{:href => "#"}
                          %i.icon-fav Favorite
                    %ul.right.by-right
                      %li
                        %a{:href => "#"}
                          %i.icon-explore Explore
                      %li
                        %a{:href => "#"}
                          %i.icon-edit Edit
                      %li
                        %a{:href => "#"}
                          %i.icon-delete Delete
                  .thumbnail-level-down-items
                    %h3.title-s Set enthalt
                    .thumbnail.thumbnail-set.small.odd
                      .inner-wrapper
                        %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                    .thumbnail.thumbnail-set.small.even
                      .inner-wrapper
                        %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                    %h4.title-xs-alt 5 Inhalte
              %li.media-entries-item
                .ui-thumbnail-wrapper.media-set
                  .thumbnail-level-up-items
                    %h3.title-xs-alt Keine übergeordneten Sets
                  .thumbnail-privacy
                    %i.icon-privacy-group This media is shared with a group
                  .thumbnail-set.thumbnail
                    .inner-wrapper
                      %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                  .thumbnail-metadata
                    %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                    %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
                  .thumbnail-actions
                    %ul.left.by-left
                      %li
                        %a{:href => "#"}
                          %i.icon-check Select
                      %li
                        %a{:href => "#"}
                          %i.icon-fav Favorite
                    %ul.right.by-right
                      %li
                        %a{:href => "#"}
                          %i.icon-explore Explore
                      %li
                        %a{:href => "#"}
                          %i.icon-edit Edit
                      %li
                        %a{:href => "#"}
                          %i.icon-delete Delete
                  .thumbnail-level-down-items
                    %h3.title-s Set enthalt
                    .thumbnail.thumbnail-set.small.odd
                      .inner-wrapper
                        %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                    .thumbnail.thumbnail-set.small.even
                      .inner-wrapper
                        %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                    %h4.title-xs-alt 5 Inhalte
              %li.media-entries-item
                .ui-thumbnail-wrapper.media-set
                  .thumbnail-level-up-items
                    %h3.title-xs-alt Keine übergeordneten Sets
                  .thumbnail-privacy
                    %i.icon-privacy-group This media is shared with a group
                  .thumbnail-set.thumbnail
                    .inner-wrapper
                      %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                  .thumbnail-metadata
                    %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                    %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
                  .thumbnail-actions
                    %ul.left.by-left
                      %li
                        %a{:href => "#"}
                          %i.icon-check Select
                      %li
                        %a{:href => "#"}
                          %i.icon-fav Favorite
                    %ul.right.by-right
                      %li
                        %a{:href => "#"}
                          %i.icon-explore Explore
                      %li
                        %a{:href => "#"}
                          %i.icon-edit Edit
                      %li
                        %a{:href => "#"}
                          %i.icon-delete Delete
                  .thumbnail-level-down-items
                    %h3.title-s Set enthalt
                    .thumbnail.thumbnail-set.small.odd
                      .inner-wrapper
                        %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                    .thumbnail.thumbnail-set.small.even
                      .inner-wrapper
                        %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                    %h4.title-xs-alt 5 Inhalte
              %li.media-entries-item
                .ui-thumbnail-wrapper.media-set
                  .thumbnail-level-up-items
                    %h3.title-xs-alt Keine übergeordneten Sets
                  .thumbnail-privacy
                    %i.icon-privacy-group This media is shared with a group
                  .thumbnail-set.thumbnail
                    .inner-wrapper
                      %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                  .thumbnail-metadata
                    %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                    %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
                  .thumbnail-actions
                    %ul.left.by-left
                      %li
                        %a{:href => "#"}
                          %i.icon-check Select
                      %li
                        %a{:href => "#"}
                          %i.icon-fav Favorite
                    %ul.right.by-right
                      %li
                        %a{:href => "#"}
                          %i.icon-explore Explore
                      %li
                        %a{:href => "#"}
                          %i.icon-edit Edit
                      %li
                        %a{:href => "#"}
                          %i.icon-delete Delete
                  .thumbnail-level-down-items
                    %h3.title-s Set enthalt
                    .thumbnail.thumbnail-set.small.odd
                      .inner-wrapper
                        %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                    .thumbnail.thumbnail-set.small.even
                      .inner-wrapper
                        %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                    %h4.title-xs-alt 5 Inhalte
              %li.media-entries-item
                .ui-thumbnail-wrapper.media-set
                  .thumbnail-level-up-items
                    %h3.title-xs-alt Keine übergeordneten Sets
                  .thumbnail-privacy
                    %i.icon-privacy-group This media is shared with a group
                  .thumbnail-set.thumbnail
                    .inner-wrapper
                      %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                  .thumbnail-metadata
                    %h3.title-s.thumbnail-name Name that can easily go onto 2 lines
                    %h4.title-xs-alt.thumbnail-author Author that can easily go onto 2 lines as well
                  .thumbnail-actions
                    %ul.left.by-left
                      %li
                        %a{:href => "#"}
                          %i.icon-check Select
                      %li
                        %a{:href => "#"}
                          %i.icon-fav Favorite
                    %ul.right.by-right
                      %li
                        %a{:href => "#"}
                          %i.icon-explore Explore
                      %li
                        %a{:href => "#"}
                          %i.icon-edit Edit
                      %li
                        %a{:href => "#"}
                          %i.icon-delete Delete
                  .thumbnail-level-down-items
                    %h3.title-s Set enthalt
                    .thumbnail.thumbnail-set.small.odd
                      .inner-wrapper
                        %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                    .thumbnail.thumbnail-set.small.even
                      .inner-wrapper
                        %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}/
                    %h4.title-xs-alt 5 Inhalte

        .tab-pane#kontext
          .bright.container.pal.rounded-bottom
            %h2.title-l.separated.mbl Kontexte

            .container.mbm
              .col1of3
                .ui-metadata-box.prm
                  %h3.title-m.separated.light.mbm Landschaftstyp
                  %ol
                    %li.odd Agglomeration
                    %li.even Bucht
                    %li.odd Ebene
                    %li.even Erholungszone
                    %li.odd Something very very long that could break
                    %li.even Short
                    %li.odd Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.phm
                  %h3.title-m.separated.light.mbm Verwendungszweck
                  %ol
                    %li{:clas => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:clas => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:clas => "odd"} Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.plm
                  %h3.title-m.separated.light.mbm Bildzeit
                  %ol
                    %li{:clas => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:clas => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:clas => "odd"} Landwirtschaft
                    %li.even Naturlandschaft

            .container.mbm
              .col1of3
                .ui-metadata-box.prm
                  %h3.title-m.separated.light.mbm Wetter/Klima
                  %ol
                    %li.odd Agglomeration
                    %li.even Bucht
                    %li.odd Ebene
                    %li.even Erholungszone
                    %li.odd Something very very long that could break
                    %li.even Short
                    %li.odd Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.phm
                  %h3.title-m.separated.light.mbm Farbe
                  %ol
                    %li{:clas => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:clas => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:clas => "odd"} Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.plm
                  %h3.title-m.separated.light.mbm Horizontlinie
                  %ol
                    %li{:clas => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:clas => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:clas => "odd"} Landwirtschaft
                    %li.even Naturlandschaft

            .container.mbm
              .col1of3
                .ui-metadata-box.prm
                  %h3.title-m.separated.light.mbm Räumliche Wahrnehmung
                  %ol
                    %li.odd Agglomeration
                    %li.even Bucht
                    %li.odd Ebene
                    %li.even Erholungszone
                    %li.odd Something very very long that could break
                    %li.even Short
                    %li.odd Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.phm
                  %h3.title-m.separated.light.mbm Abstraktionsgrad
                  %ol
                    %li{:clas => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:clas => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:clas => "odd"} Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.plm
                  %h3.title-m.separated.light.mbm Landschaftselemente
                  %ol
                    %li{:clas => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:clas => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:clas => "odd"} Landwirtschaft
                    %li.even Naturlandschaft

            .container.mbm
              .col1of3
                .ui-metadata-box.prm
                  %h3.title-m.separated.light.mbm Bildwirkung
                  %ol
                    %li.odd Agglomeration
                    %li.even Bucht
                    %li.odd Ebene
                    %li.even Erholungszone
                    %li.odd Something very very long that could break
                    %li.even Short
                    %li.odd Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.phm
                  %h3.title-m.separated.light.mbm Genre
                  %ol
                    %li{:clas => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:clas => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:clas => "odd"} Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.plm
                  %h3.title-m.separated.light.mbm Stil- und Kunstrichtungen
                  %ol
                    %li{:clas => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:clas => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:clas => "odd"} Landwirtschaft
                    %li.even Naturlandschaft

            .container.mbm
              .col1of3
                .ui-metadata-box.prm
                  %h3.title-m.separated.light.mbm Epoche
                  %ol
                    %li.odd Agglomeration
                    %li.even Bucht
                    %li.odd Ebene
                    %li.even Erholungszone
                    %li.odd Something very very long that could break
                    %li.even Short
                    %li.odd Landwirtschaft
                    %li.even Naturlandschaft


        .tab-pane#other-data
          .bright.container.pal.rounded-bottom
            .col1of3
              .ui-metadata-box.prm
                %h3.title-l.separated.mbl Aktivitaten
                %dl.media-data
                  %dt.media-data-title.title-xs Bereich ZHdK
                  %dd.media-data-content Vertiefung Fotografie (DKM_FMK_BMK_VFO.studierende); Vertiefung Fotografie (DKM_FMK_BMK_VFO.alle)
                  %dt.media-data-title.title-xs ZHdK Projekttyp
                  %dd.media-data-content
                    %a{:href => "#"} Abschlcussarbeit
                  %dt.media-data-title.title-xs Studienabschnitt
                  %dd.media-data-content
                    %a{:href => "#"} Hauptstudium Diplom
                  %dt.media-data-title.title-xs Projekttitel
                  %dd.media-data-content
                    %a{:href => "#"} Diplom

            .col2of3
              .ui-metadata-box.plm
                %h3.title-l.separated.mbl Datei
                %table.borderless
                  %tr
                    %td.title-xs Bereich ZHdK
                    %td Vertiefung Fotografie (DKM_FMK_BMK_VFO.studierende); Vertiefung Fotografie (DKM_FMK_BMK_VFO.alle)
                  %tr
                    %td.title-xs ZHdK Projekttyp
                    %td
                      %a{:href => "#"} Abschlcussarbeit
                  %tr
                    %td.title-xs Studienabschnitt
                    %td
                      %a{:href => "#"} Hauptstudium Diplom
                  %tr
                    %td.title-xs Projekttitel
                    %td
                      %a{:href => "#"} Diplom

  .app-footer
    %footer.ui-footer.container.inverted
      %ul.ui-footer-menu
        %li
          %a{:href => "#"} Informationen zum Projekt
        %li
          %a{:href => "#"} Impressum
        %li
          %a{:href => "#"} Kontakt
        %li
          %a{:href => "#"} Blog
        %li
          %a{:href => "#"} Hilfe
        %li
          %a{:href => "#"} Nutzungsbestimmungen
        %li
          %a{:href => "#"} Freie Software
        %li
          %a{:href => "#"} Archivierungsrichtlinien ZHdK
      %p.ui-footer-copy
        = image_tag "redesign/inserts/image-logo-madek.png", :alt => "MADEK", :class => "ui-footer-logo"
        &copy; 2009-2011 Z&uuml;rcher Hochschule der K&uuml;nste
