:ruby
  dump = list.map(&:dump)
  cache_key = "root-catalog-content/#{dump.hash}"

= capture do
  - Rails.cache.fetch(cache_key) do
    = react('Views.explore.partials.CatalogResourceList',
      { resources: dump })
