@import "../mixins.scss";

.thumb_box_set.create_new {
  background-color: #EEE;
  border: 1px solid #CCC;
  background-position: 12px -6px;
  cursor: pointer;
  display: inline-block;
  height: 220px;
  left: -4px;
  margin-right: -5px;
  padding: 6px 12px;
  position: relative;
  top: 9px;
  @include box-shadow(0 0 6px rgba(0,0,0,0.2));
  @include border-radius(4px);
  
  .plus.icon {
    left: 75px;
    position: absolute;
    top: 71px;
    @include opacity(0.6);
  }
  
  img {
    border: none;
  }
  
  &:hover .plus.icon { @include opacity(0.9); }
  
  form {
    line-height: 16px;
    position: absolute;
    top: 156px;
    
    input {
      background-color: #FFFFFF;
      border: 1px solid #D2D2D2;
      color: #424242;
      display: block;
      font-weight: bold;
      font-size: 1em;
      margin-bottom: 12px;
      padding: 2px 4px;
      position: relative;
      width: 134px;
      @include box-shadow(0 0 1px 1px #E3E3E3 inset);
      
     &:hover, &:focus {
        border: 1px solid #AAA;
        @include box-shadows(0 0 5px #E3E3E3, 0 0 1px 1px #E3E3E3 inset);
      }
    }
    
   .button {
      line-height: 16px;
      padding-left: 0;
      padding-right: 0;
      position: relative;
      display: block;
      width: 144px;
    }
  }
}
