%li.ui-featured-entries-item
  %a.ui-featured-entry{:href => "/media_resources/${id}"}
    %img{:src => "/media_resources/${id}/image?size=mid"}
  %ul.ui-featured-entry-actions
    %li.ui-featured-entry-action.col1of1
      %a.block{:href => "/media_resources/${id}/browse", :title => "In diese Richtung weiterstöbern"}
        .ui-featured-action-browse