%li.ui-featured-entries-item
  %a.ui-featured-entry{:href => "/media_resources/${id}"}
    %img{:src => "/media_resources/${id}/image?size=medium"}
  %ul.ui-featured-entry-actions
    %li.ui-featured-entry-action
      %a.block{:href => "/media_resources/${id}/browse", :title => "${_jed('Continue browsing in this direction')}"}
        %i.icon-eye