= link_to edit_admin_vocabulary_path(vocabulary), class: "btn btn-info #{size}" do
  %i.glyphicon.glyphicon-edit
  Edit
= link_to admin_vocabulary_path(vocabulary), method: :delete, data: {   |
  confirm: 'The vocabulary will be deleted. Do you want to proceed?' }, |
  class: "btn btn-danger #{size}" do
  %i.glyphicon.glyphicon-trash
  Delete
