.ui-thumbnail-actions
  %ul.left.by-left
    %li.ui-thumbnail-action
      %a.ui-thumbnail-action-checkbox{:"data-clipboard-toggle" => true, :title => "${_jed('Add to/remove from clipboard')}"}
        %i.icon-checkbox
    %li.ui-thumbnail-action
      %a{:"data-favor-toggle" => true,
         :title => "{{if is_favorite}}${_jed('Remove from favorites')}{{else}}${_jed('Add to favorites')}{{/if}}",
         :class => "ui-thumbnail-action-favorite{{if is_favorite}} active{{/if}}"}
        %i.icon-star-empty
  %ul.right.by-right
    {{if type == "media-entry"}}
    %li.ui-thumbnail-action
      %a.ui-thumbnail-action-browse{:title => "${_jed('Browse')}", :href => "/media_resources/${id}/browse"}
        %i.icon-eye
    {{/if}}
    {{if is_editable}}
    %li.ui-thumbnail-action
      %a.ui-thumbnail-action-edit{:title => "${_jed('Edit metadata')}", :href => "/media_resources/${id}/edit"}
        %i.icon-pen
    {{/if}}
    {{if is_deletable}}
    %li.ui-thumbnail-action
      %a.ui-thumbnail-action-delete{:"data-delete-action" => true, :title => "${_jed('Delete')}"}
        %i.icon-trash
    {{/if}}