.ui-thumbnail-actions
  %ul.left.by-left
    %li.ui-thumbnail-action
      {{tmpl App.renderPath("media_resources/actions/clipboard")}}
    %li.ui-thumbnail-action
      {{tmpl App.renderPath("media_resources/actions/favor")}}
  %ul.right.by-right
    {{if type == "media-entry"}}
    %li.ui-thumbnail-action
      {{tmpl App.renderPath("media_resources/actions/browse")}}
    {{/if}}
    {{if is_editable}}
    %li.ui-thumbnail-action
      {{tmpl App.renderPath("media_resources/actions/edit")}}
    {{/if}}
    {{if is_deletable}}
    %li.ui-thumbnail-action
      {{tmpl App.renderPath("media_resources/actions/delete")}}
    {{/if}}