.ui-thumbnail-dropdown
  .dropdown.ui-dropdown
    %a.dropdown-toggle.button.block.ui-drop-toggle{"data-toggle" => "dropdown"} 
      ${_jed('Actions')}
    %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
      {{if is_editable}}
      %li.ui-drop-item
        %a{:href => "/media_resources/${id}/edit", :title => "Metadaten editieren"} 
          %i.icon-pen.mid
          ${_jed('Edit metadata')}
      {{/if}}
      %li.ui-drop-item
        %a{:href => "/media_entries/${id}/browse", :title => "${_jed('Browse for similar content')}"}
          %i.icon-eye.mid
          ${_jed('Browse')}
      %li.ui-drop-item
        %a{:title => "${_jed('Read/edit permissions')}",
           :"data-open-permissions" => true,
           :"data-media-resource-id" => "${id}",
           :"data-manageable" => "${is_manageable}",
           :"data-title" => "${title}"}
          %i.icon-lock.mid
          ${_jed('Permissions')}
      %li.ui-drop-item
        %a{:title => "${_jed('Add to/remove from set')}",
           :"data-organize-arcs" => true}
          %i.icon-move.mid
          ${_jed('Add to/remove from set')}
      {{if is_deletable}}
      %li.ui-drop-item
        %a{:"data-delete-action" => true, :title => "${_jed('Delete forever')}"} 
          %i.icon-trash.mid
          ${_jed('Delete')}
      {{/if}}
