%li.ui-resource.not-loaded-contexts{:"data" => {:id => "${id}", :title => "${title}", :type => "${type}", :media_type => "${media_type}", :is_editable => "${is_editable}", :is_manageable => "${is_manageable}"}}
  .ui-resource-head
    %ul.ui-resource-actions
      %li.ui-resource-action
        %a.ui-thumbnail-action-checkbox{:"data-clipboard-toggle" => true, :title => "${_jed('Add to/remove from clipboard')}"}
          %i.icon-checkbox
      %li.ui-resource-action
        %a.ui-thumbnail-action-favorite{:"data-favor-toggle" => true, :title => "${_jed('Add to/remove from favorites')}"}
          %i.icon-star-empty
    %h3.ui-resource-title
      ${title}
  .ui-resource-body
    .ui-resource-thumbnail
      %div{:class => "ui-thumbnail ${type} ${media_type}"}
        {{if type.match("set")}}
        {{tmpl App.renderPath("media_sets/thumbnail_level_up")}}
        {{/if}}
        {{tmpl App.renderPath("media_resources/privacy")}}
        %a.ui-thumbnail-image-wrapper{:href => "/media_resources/${id}"}
          .ui-thumbnail-image-holder
            .ui-thumbnail-table-image-holder
              .ui-thumbnail-cell-image-holder
                .ui-thumbnail-inner-image-holder
                  {{if image}}
                  %img{:class => "ui-thumbnail-image", :src => "${image}"}
                  {{else}}
                  %img{:class => "ui-thumbnail-image", :src => "/media_resources/${id}/image"}
                  {{/if}}
        .ui-thumbnail-meta
          %h3.ui-thumbnail-meta-title ${title}
          %h4.ui-thumbnail-meta-subtitle ${author}
        {{tmpl App.renderPath("media_resources/actions")}}
        {{if type.match("set")}}
        {{tmpl App.renderPath("media_sets/thumbnail_level_down")}}
        {{/if}}
        {{tmpl App.renderPath("media_resources/dropdown")}}
    .ui-resource-meta
      {{if meta_data}}
      {{tmpl({meta_data: meta_data}) App.renderPath("media_resources/meta_data_list_block")}}
      {{/if}}
    .ui-resource-description{:"data-context" => "second_displayed_context_id"}
    .ui-resource-extension{:"data-context" => "third_displayed_context_id"}

  -# TODO:
  -# * icons for set, permissions
  
  -# Markup for tile view
  %div{:class => "ui-tile{{if type.match(\"set\")}} ui-tile--set{{/if}}"}

    -# head (shown on hover)
    .ui-tile__head

      -# left side status bar (only show on hover)
      %ul.ui-tile__status.left.by-left.no-guest
        %li.ui-tile__action
          
          %div{:class => "ui-tile__action-link {{if is_favorite}}active{{/if}}", :"data-favor-indicator" => true}
            %i.icon-star
      
      -# left side action buttons 
      %ul.ui-tile__actions.left.by-left.no-guest
        %li.ui-tile__action
          %a{:class => "ui-tile__action-link {{if is_favorite}}active{{/if}}", :"data-favor-toggle" => true, :title => "{{if is_favorite}}${_jed('Remove from favorites')}{{else}}${_jed('Add to favorites')}{{/if}}"}
            %i.icon-star-empty
            
        %li.ui-tile__action
          %a.ui-tile__action-link{:"data-clipboard-toggle" => true, :title => "${_jed('Add to/remove from clipboard')}"}
            %i.icon-checkbox
            
      -# right side action buttons
      %ul.ui-tile__actions.right.by-right
        {{if type.match("entry")}}
        %li.ui-tile__action
          %a.ui-tile__action-link{:title => "${_jed('Browse')}", :href => "/media_resources/${id}/browse"}
            %i.icon-eye
        {{/if}}
        
        {{if is_editable}}
        %li.ui-tile__action
          %a.ui-tile__action-link{:title => "${_jed('Edit metadata')}", :href => "/media_resources/${id}/edit"}
            %i.icon-pen
        {{/if}}
        
        {{if is_deletable}}
        %li.ui-tile__action
          %a.ui-tile__action-link{:"data-delete-action" => true, :title => "${_jed('Delete')}"}
            %i.icon-trash
        {{/if}}

    .ui-tile__body
      %a.ui-tile__thumbnail{:href => "/media_resources/${id}"}
        {{if image}}
        %img.ui-tile__image{:class => "ui-thumbnail-image", :src => "${image}"}
        {{else}}
        %img.ui-tile__image{:class => "ui-thumbnail-image", :src => "/media_resources/${id}/image"}
        {{/if}}
        
    %a.ui-tile__foot{:href => "/media_resources/${id}"}
      %h3.ui-tile__title
        {{if title}}${title}{{else}}(Kein Titel){{/if}}
      %h4.ui-tile__meta
        ${author}
      %span.ui-tile__flags
        {{tmpl App.renderPath("media_resources/privacy")}}
        {{if type.match("filter_set") || media_type.match("filterset")}}
        %i.icon-filter.ui-tile__flag.ui-tile__flag--type{title: "Filter Set"}
        {{/if}}
