.pvh.mth.mbl
  .title-l.by-center 
    ${_jed('No content')}
    {{if !$item.filterReset}}${_jed('available')}{{/if}}

  {{if $item.filterReset}}
  .title-s.by-center
    ${_jed('for the current filter settings.')}
    %br
    %a.mtm.button#ui-all-filter-reset.weak
      %i.icon-undo
      ${_jed('Reset filters')}
  {{/if}}
