.pvh.mth.mbl
  .title-l.by-center 
    {{if $item.filterReset}}
    ${_jed('No content')}
    {{else}}
    ${_jed('No content found for this keyword.')}
    {{/if}}
    
  {{if $item.filterReset}}
  .title-s.by-center
    ${_jed('found for the current filter settings.')}
    %br
    %a.mtm.button#ui-all-filter-reset ${_jed('Reset filters')}
  {{/if}}
