.pvh.mth.mbl
  .title-l.by-center 
    {{if $item.filterReset}}
    Keine Inhalte
    {{else}}
    Keine Inhalte zu diesem Suchwort vorhanden.
    {{/if}}
    
  {{if $item.filterReset}}
  .title-s.by-center
    für die aktuellen Filtereinstellungen gefunden.
    %br
    %a.mtm.button#ui-all-filter-reset Filter zurücksetzen
  {{/if}}