.ui-thumbnail-privacy
  {{if is_public}}
  %i.icon-privacy-open{:title => "${_jed('These items are publicly accessible')}"}
  {{else is_private}}
  %i.icon-privacy-private{:title => "${_jed('These items are only accesible to you')}"}
  {{else is_shared}}
  %i.icon-privacy-group{:title => "${_jed('These items are shared with others')}"}
  {{/if}}
