:ruby
  element = {
    name: 'Tabs',
    cssSelector: '.ui-tabs',
    cssFile: '_ui-tabs.scss',
    section: '7.4',
    mods: {
      nil => 'Default',
      'primary' => 'Primary tab navigation',
      'small' => 'Small tab navigation',
      'large' => 'Large tab navigation',
      'by-right' => 'Aligned right',
      'by-center' => 'Centered'
    },
    # example:
    locals: {
      id: 'example_tabs',
      list: {
        example_tab: {
         text: 'Item 1', href: '#'
        },
        another_example_tab: {
         active: true,
          text: 'Item 2', href: '#'
        }
      }
    }
  }

= render_partial('element', element) do |example|
  - element[:mods].each do |name, description|
    = render_partial('example', { mod: name}) do
      - example[:locals][:mods] = [name]

      = component('tabs', example[:locals])
