-# TODO: js

:ruby
  element = {
    name: 'Resources header',
    cssSelector: '.ui-resources-header',
    cssFile: '_ui-resources-head.scss',
    section: '7.5',
    # example
    locals: {
      title: 'A filter',
      filter_bar: combo('button-group', {
        mods: 'small',
        list: [
          {
            text: 'Alle',
            active: true,
            hook: 'all'
          },
          {
            text: 'Medienträge',
            hook: 'entries'
          },
          {
            text: 'Sets',
            hook: 'collections'
          },
        ]
      }),
      link: {
        text: 'Alle anzeigen',
        href: '#'
      },
      text: 'Curabitur vulputate, ligula lacinia scelerisque tempor, lacus
              lacus ornare ante, ac egestas est urna sit amet arcu.
              Class aptent taciti sociosqu ad litora torquent per conubia
              nostra, per inceptos himenaeos.'
    }
  }

= render_partial('element', element) do |example|
  = render_partial('example') do

    = combo('resources-header', example[:locals])
