:ruby
  element = {
    name: 'Alert messages', todo: true,
    cssSelector: '.ui-alert',
    cssFile: '_ui-alerts.scss',
    section: '7.7',
    mods: {
      nil => 'Default',
      'success' => 'Success messages',
      'warning' => 'Warning messages',
      'error' => 'Error messages',
      'confirmation' => 'Confirmation messages'
    }
  }

  lorem_ipsum = "Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere."

  # # not used here but shows usage:
  # element[:example_locals] = {
  #   list: [
  #     lorem_ipsum,
  #     { level: 'success', text: lorem_ipsum },
  #     ['warning', lorem_ipsum],
  #     ['error', lorem_ipsum],
  #     ['confirmation', lorem_ipsum],
  #   ]
  # }

  # just use this and do it for all mods
  element[:example_locals] = { list: [{ level: 'success', text: lorem_ipsum }] }

= render_partial('element', element) do

  - element[:mods].each do |name, description|
    = render_partial('example', { mod: name}) do

      - element[:example_locals][:list].first[:level] = name
      = combo('alerts', list: element[:example_locals][:list])
