:ruby
  element = {
    name: 'Metadata box, ordered list variation', todo: true,
    cssSelector: '.ui-metadata-box',
    cssFile: '_ui-metadata-box.scss',
    section: '7.13'
  }

= render_partial('element', element) do
  = render_partial('example') do

    .ui-metadata-box
      %h3.title-m.separated.light.mbs.pbs
        Horizontlinie
      %ol
        %li.odd
          Agglomeration
        %li.even
          Bucht
        %li.odd
          Ebene
        %li.even
          Erholungszone
        %li.odd
          Something very very long that could break
        %li.even
          Short
        %li.odd
          Landwirtschaft
        %li.even
          Naturlandschaft
