:ruby
  element = {
    name: 'Actions Bar', todo: true,
    cssSelector: '.ui-actions',
    cssFile: '_ui-actions.scss',
    section: '7.15'
  }

= render_partial('element', element) do
  = render_partial('example') do

    .ui-actions
      %a.link.weak Secondary Action
      %a.primary-button Primary Action
