:ruby
  element = {
    name: 'Actions Bar',
    cssSelector: '.ui-actions',
    cssFile: '_ui-actions.scss',
    section: '7.15'
  }

= partial('element', element) do
  = partial('example') do
    .ui-actions
      %a.link.weak Secondary Action
      %a.primary-button Primary Action
