:ruby
  element = {
    name: 'Micro thumbnails', todo: true,
    cssSelector: '.ui-thumbnail.micro',
    cssFile: '_ui-thumb-micro.scss',
    section: '7.18'
  }

= partial('element', element) do
  = partial('example') do

    %img.ui-thumbnail.micro{:alt => "ZHdK", :src => asset_path('styleguide/media-entry-1.jpg')}/
    %img.ui-thumbnail.micro{:alt => "wav", :src => "/assets/thumbnails/audio_small.wav.png"}/
