:ruby
  element = {
    name: 'Pager', todo: true,
    cssSelector: '.ui-pager',
    cssFile: '_ui-pager.scss',
    section: '7.22',
    mods: {
      nil => 'Default',
      'small' => 'small',
      'large' => 'large',
      'light' => 'light'
    }
  }

= render_partial('element', element) do
  - element[:mods].each do |name, description|
    = render_partial('example', { mod: name}) do

      %h3.ui-pager{:class => name}
        %span#resources_counter 20
        Inhalte, Seite
        %span#pages_counter 1
        von
        %span#total_pages_counter 1
