:ruby
  element = {
    name: 'Contexts', todo: true,
    cssSelector: '.ui-contexts',
    cssFile: '???',
    section: '7.23',
    description: 'Contexts are listed in users\' dashboard. Each of them features its name (linking to its page) and short description limited by backend to 256 characters. They are to be displayed in rows of 3 as shown below.'
  }

= render_partial('element', element) do
  = render_partial('example') do

    .ui-contexts
      .row
        .col1of3
          .prs.mbm
            .ui-context{"data-name" => "Landschaftsvisualisierung"}
              %h3.title-m
                %a{:href => "###contexts/Landschaftsvisualisierung"} Landschaftsvisualisierung
              %p.ui-thumbnail-meta-subtitle Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor.
        .col1of3
          .prs.mbm
            .ui-context{"data-name" => "Landschaftsvisualisierung"}
              %h3.title-m
                %a{:href => "###contexts/Landschaftsvisualisierung"} Landschaftsvisualisierung
              %p.ui-thumbnail-meta-subtitle Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor.
        .col1of3
          .prs.mbm
            .ui-context{"data-name" => "Landschaftsvisualisierung"}
              %h3.title-m
                %a{:href => "###contexts/Landschaftsvisualisierung"} Landschaftsvisualisierung
              %p.ui-thumbnail-meta-subtitle Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor.
      .row
        .col1of3
          .prs.mbm
            .ui-context{"data-name" => "Landschaftsvisualisierung"}
              %h3.title-m
                %a{:href => "###contexts/Landschaftsvisualisierung"} Landschaftsvisualisierung
              %p.ui-thumbnail-meta-subtitle Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor.
        .col1of3
          .prs.mbm
            .ui-context{"data-name" => "Landschaftsvisualisierung"}
              %h3.title-m
                %a{:href => "###contexts/Landschaftsvisualisierung"} Landschaftsvisualisierung
              %p.ui-thumbnail-meta-subtitle Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor.
        .col1of3
          .prs.mbm
            .ui-context{"data-name" => "Landschaftsvisualisierung"}
              %h3.title-m
                %a{:href => "###contexts/Landschaftsvisualisierung"} Landschaftsvisualisierung
              %p.ui-thumbnail-meta-subtitle Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor.
