:ruby
  element = {
    name: 'Header',
    section: '8.3',
    cssFile: '_ui-header.scss',
    cssSelector: '.ui-header',
    # example
    locals: {
      brand: {
        logo: {
          alt: 'ZHdK',
          src: asset_path('logo-zhdk.png')
        },
        name: 'Zürcher Hochschule der Künste',
        instance_name: 'Medienarchiv der Künste'
      },
      menu: component('tabs', {
        id: 'example_tabs', mods: ['primary', 'large'],
        list: {
          my: {
           active: true,
           text: 'Mein Archiv', href: '#'
          },
          explore: {
            text: 'Erkunden', href: '#'
          },
          search: {
            icon: 'icon-lens.bright',
            text: 'Suchen', href: '#'
          },
          help: {
            icon: 'icon-nav-help', href: '#'
          }
        }
      }),
      user: component('dropdown', {
        id: 'user_menu',
        mods: 'stick-right',
        text: 'Normin Normalo',
        list: {
          example_dropdown_item: {
            href: '#',
            text: 'Dropdown'
          }
        }
      })
    }
  }

= partial('element', element) do |example|
  = partial('example') do

    = combo('header', example[:locals])
