:ruby
  element = {
    name: 'Straight Collage',
    cssFile: '_ui-collage.scss',
    cssSelector: '.ui-collage',
    section: '8.8.1'
  }

= partial('element', element) do
  = partial('example') do
    #teaser-set.ui-collage
      .ui-collage-row
        %a.ui-collage-item{:href => "###media_resources/16"}
          .ui-collage-item-wrapper
            .ui-collage-item-table
              .ui-collage-item-cell
                .ui-collage-item-inner
                  %img.ui-collage-item-image{:alt => "Media-entry-4", :src => asset_path('styleguide/media-entry-4.jpeg')}/
            .ui-collage-item-meta
              %h3.title-xs Präsentation
              %h4.title-xs-alt
        %a.ui-collage-item{:href => "###media_resources/6"}
          .ui-collage-item-wrapper
            .ui-collage-item-table
              .ui-collage-item-cell
                .ui-collage-item-inner
                  %img.ui-collage-item-image{:alt => "Media-entry-4", :src => asset_path('styleguide/media-entry-3.jpeg')}/
            .ui-collage-item-meta
              %h3.title-xs Mein Erstes Photo (mit der neuen Nikon)
              %h4.title-xs-alt
        %a.ui-collage-item{:href => "###media_resources/16"}
          .ui-collage-item-wrapper
            .ui-collage-item-table
              .ui-collage-item-cell
                .ui-collage-item-inner
                  %img.ui-collage-item-image{:alt => "Media-entry-4", :src => asset_path('styleguide/media-entry-5.jpeg')}/
            .ui-collage-item-meta
              %h3.title-xs Präsentation
              %h4.title-xs-alt
        %a.ui-collage-item{:href => "###media_resources/6"}
          .ui-collage-item-wrapper
            .ui-collage-item-table
              .ui-collage-item-cell
                .ui-collage-item-inner
                  %img.ui-collage-item-image{:alt => "Media-entry-4", :src => asset_path('styleguide/media-entry-4.jpeg')}/
            .ui-collage-item-meta
              %h3.title-xs Mein Erstes Photo (mit der neuen Nikon)
              %h4.title-xs-alt
        %a.ui-collage-item{:href => "###media_resources/16"}
          .ui-collage-item-wrapper
            .ui-collage-item-table
              .ui-collage-item-cell
                .ui-collage-item-inner
                  %img.ui-collage-item-image{:alt => "Media-entry-4", :src => asset_path('styleguide/media-entry-8.jpeg')}/
            .ui-collage-item-meta
              %h3.title-xs Präsentation
              %h4.title-xs-alt
      .ui-collage-row
        %a.ui-collage-item{:href => "###media_resources/6"}
          .ui-collage-item-wrapper
            .ui-collage-item-table
              .ui-collage-item-cell
                .ui-collage-item-inner
                  %img.ui-collage-item-image{:alt => "Media-entry-4", :src => asset_path('styleguide/media-entry-6.jpeg')}/
            .ui-collage-item-meta
              %h3.title-xs Mein Erstes Photo (mit der neuen Nikon)
              %h4.title-xs-alt
        %a.ui-collage-item{:href => "###media_resources/16"}
          .ui-collage-item-wrapper
            .ui-collage-item-table
              .ui-collage-item-cell
                .ui-collage-item-inner
                  %img.ui-collage-item-image{:alt => "Media-entry-4", :src => asset_path('styleguide/media-entry-8.jpeg')}/
            .ui-collage-item-meta
              %h3.title-xs Präsentation
              %h4.title-xs-alt
        %a.ui-collage-item{:href => "###media_resources/6"}
          .ui-collage-item-wrapper
            .ui-collage-item-table
              .ui-collage-item-cell
                .ui-collage-item-inner
                  %img.ui-collage-item-image{:alt => "Media-entry-4", :src => asset_path('styleguide/media-entry-4.jpeg')}/
            .ui-collage-item-meta
              %h3.title-xs Mein Erstes Photo (mit der neuen Nikon)
              %h4.title-xs-alt
        %a.ui-collage-item{:href => "###media_resources/16"}
          .ui-collage-item-wrapper
            .ui-collage-item-table
              .ui-collage-item-cell
                .ui-collage-item-inner
                  %img.ui-collage-item-image{:alt => "Media-entry-4", :src => asset_path('styleguide/media-entry-5.jpeg')}/
            .ui-collage-item-meta
              %h3.title-xs Präsentation
              %h4.title-xs-alt
        %a.ui-collage-item{:href => "###media_resources/6"}
          .ui-collage-item-wrapper
            .ui-collage-item-table
              .ui-collage-item-cell
                .ui-collage-item-inner
                  %img.ui-collage-item-image{:alt => "Media-entry-4", :src => asset_path('styleguide/media-entry-4.jpeg')}/
            .ui-collage-item-meta
              %h3.title-xs Mein Erstes Photo (mit der neuen Nikon)
              %h4.title-xs-alt
