:ruby
  element = {
    name: 'Set overview combo', todo: true,
    cssFile: '_ui-set-overview.scss',
    cssSelector: '.ui-set-overview',
    section: '8.8.2'
  }

= render_partial('element', element) do
  = render_partial('example') do

    .ui-set-overview
      .ui-set-preview
        .ui-thumbnail.filter-set
          .ui-thumbnail-level-up-items
            %span.ui-thumbnail-level-notes Keine übergeordneten Sets
          .ui-thumbnail-privacy
            = component('icon.privacy-group', title: 'This media is shared with a group')
          %a.ui-thumbnail-image-wrapper
            .ui-thumbnail-image-holder
              .ui-thumbnail-table-image-holder
                .ui-thumbnail-cell-image-holder
                  .ui-thumbnail-inner-image-holder
                    %img.ui-thumbnail-image{:alt => "Media-entry-6", :src => asset_path('styleguide/media-entry-6.jpeg')}/
          .ui-thumbnail-meta
            %h3.ui-thumbnail-meta-title Name that can easily go onto 2 lines
            %h4.ui-thumbnail-meta-subtitle Author that can easily go onto 2 lines as well
          .ui-thumbnail-actions
            %ul.left.by-left
              %li.ui-thumbnail-action
                %a.ui-thumbnail-action-checkbox Select
              %li.ui-thumbnail-action
                %a.ui-thumbnail-action-favorite Favorite
            %ul.right.by-right
              %li.ui-thumbnail-action
                %a.ui-thumbnail-action-browse Browse
              %li.ui-thumbnail-action
                %a.ui-thumbnail-action-edit Edit
              %li.ui-thumbnail-action
                %a.ui-thumbnail-action-delete Delete
          .ui-thumbnail-dropdown
            .dropdown.ui-dropdown
              %a.dropdown-toggle.ui-drop-toggle.button.block{"data-toggle" => "dropdown", :href => "#"} Aktionen
              %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                %li.ui-drop-item
                  %a{:href => "#"} Item 1
                %li.ui-drop-item
                  %a{:href => "#"} Item 2
                %li.separator
                %li.ui-drop-item
                  %a{:href => "#"} Item 3
          .ui-thumbnail-level-down-items
            %h3.ui-thumbnail-level-notes Set enthalt
            %ul.ui-thumbnail-level-items
              %li.ui-thumbnail-level-item.odd
                %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                  .ui-thumbnail-level-image-holder
                    %img.ui-thumbnail-level-image{:alt => "Media-entry-6", :src => asset_path('styleguide/media-entry-6.jpeg')}/
              %li.ui-thumbnail-level-item.even
                %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                  .ui-thumbnail-level-image-holder
                    %img.ui-thumbnail-level-image{:alt => "Media-entry-6", :src => asset_path('styleguide/media-entry-6.jpeg')}/
            %span.ui-thumbnail-level-notes 5 Inhalte
      .ui-metadata-box.ui-summary-table.ui-set-summary
        %table.borderless
          %tbody
            %tr
              %td.ui-summary-label Titel
              %td.ui-summary-content.title-l Black hot drink
            %tr
              %td.ui-summary-label Beschreibung
              %td.ui-summary-content Die Medieneinträge in diesem Set dienen als Beispiele, wie die Metadatenfelder zur Verschlagwortung genutzt werden können. Die Medieneinträge in diesem Set dienen als Beispiele, wie die Metadatenfelder zur Verschlagwortung genutzt werden können. Die Medieneinträge in diesem Set dienen als Beispiele, wie die Metadatenfelder zur Verschlagwortung genutzt werden können. Die Medieneinträge in diesem Set dienen als Beispiele, wie die Metadatenfelder zur Verschlagwortung genutzt werden können.
            %tr
              %td.ui-summary-label Autor/in
              %td.ui-summary-content
                %a{:href => "#"} Federico C.
            %tr
              %td.ui-summary-label Eigentumer/in
              %td.ui-summary-content
                %a{:href => "#"} Federico C.
            %tr
              %td.ui-summary-label Schlagworte
              %td.ui-summary-content
                %ul.ui-tag-cloud.small
                  %li.ui-tag-cloud-item
                    %a.ui-tag-button{:href => "#"} Tag 1
                  %li.ui-tag-cloud-item
                    %a.ui-tag-button{:href => "#"} Tag 2
