:ruby
  element = {
    name: 'Crooked Collage',
    cssFile: '_ui-collage.scss',
    cssSelector: '.ui-collage.crooked',
    section: '8.8.2'
  }

= partial('element', element) do
  = partial('example') do
    .ui-collage.crooked
      .ui-collage-row
        .ui-collage-item.odd
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-6", :src => asset_path('styleguide/media-entry-6.jpeg')}/
        .ui-collage-item.even
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-5", :src => asset_path('styleguide/media-entry-5.jpeg')}/
        .ui-collage-item.odd
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-6", :src => asset_path('styleguide/media-entry-6.jpeg')}/
        .ui-collage-item.even
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-6", :src => asset_path('styleguide/media-entry-6.jpeg')}/
        .ui-collage-item.odd
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-7", :src => asset_path('styleguide/media-entry-8.jpeg')}/
      .ui-collage-row
        .ui-collage-item.odd
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-1", :src => asset_path('styleguide/media-entry-1.jpg')}/
        .ui-collage-item.even
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-2", :src => asset_path('styleguide/media-entry-2.jpg')}/
        .ui-collage-item.odd
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-3", :src => asset_path('styleguide/media-entry-3.jpeg')}/
        .ui-collage-item.even
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-4", :src => asset_path('styleguide/media-entry-4.jpeg')}/
        .ui-collage-item.odd
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-4", :src => asset_path('styleguide/media-entry-4.jpeg')}/
      .ui-collage-row
        .ui-collage-item.odd
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-6", :src => asset_path('styleguide/media-entry-6.jpeg')}/
        .ui-collage-item.even
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-7", :src => asset_path('styleguide/media-entry-8.jpeg')}/
        .ui-collage-item.odd
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-6", :src => asset_path('styleguide/media-entry-6.jpeg')}/
        .ui-collage-item.even
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-6", :src => asset_path('styleguide/media-entry-6.jpeg')}/
        .ui-collage-item.odd
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-7", :src => asset_path('styleguide/media-entry-8.jpeg')}/
      .ui-collage-row
        .ui-collage-item.odd
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-1", :src => asset_path('styleguide/media-entry-1.jpg')}/
        .ui-collage-item.even
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-3", :src => asset_path('styleguide/media-entry-3.jpeg')}/
        .ui-collage-item.odd
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-4", :src => asset_path('styleguide/media-entry-4.jpeg')}/
        .ui-collage-item.even
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-3", :src => asset_path('styleguide/media-entry-3.jpeg')}/
        .ui-collage-item.odd
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:alt => "Media-entry-4", :src => asset_path('styleguide/media-entry-4.jpeg')}/

