:ruby
  element = {
    name: 'Media overview',
    cssFile: '_ui-media-overview.scss',
    cssSelector: '.ui-media-overview',
    section: '8.8.1'
  }

= partial('element', element) do
  = partial('example') do
    -# TODO: fix image size/layout
    .ui-media-overview
      %dl.ui-media-overview-metadata.ui-metadata-box
        %dt.media-data-title.title-xs-alt Titel
        %dd.media-data-content.title-l Die Eismalerin
        %dt.media-data-title.title-xs-alt Untertitel
        %dd.media-data-content Installationsansicht
        %dt.media-data-title.title-xs-alt Autor/in
        %dd.media-data-content
          %a{:href => "#"} Stemmle, Janka
        %dt.media-data-title.title-xs-alt Datierung
        %dd.media-data-content 2012
        %dt.media-data-title.title-xs-alt Schlagworte zu Inhalt und Motiv
        %dd.media-data-content
          %ul.ui-tag-cloud.small
            %li.ui-tag-cloud-item
              %a.ui-tag-button{:href => "#"} Tag 1
            %li.ui-tag-cloud-item
              %a.ui-tag-button{:href => "#"} Tag 2
        %dt.media-data-title.title-xs-alt Rechte am geistigen Eigentum
        %dd.media-data-content ZHdK DKM VMK
        %dt.media-data-title.title-xs-alt Privacy
        %dd.media-data-content
          This entry is public
          = component('icon.privacy-public')
        %dt.media-data-title.title-xs-alt Eigentumer/in im Medienarchiv
        %dd.media-data-content
          %a{:href => "#"} Rüegger, Romy
      .ui-media-overview-preview
        %img{:alt => "Media-entry-1", :src => asset_path('styleguide/media-entry-1.jpg')}/
