:ruby
  element = {
    name: 'Workgroups tables', todo: true,
    cssFile: '_ui-workgroups.scss',
    cssSelector: '.ui-workgroups',
    section: '8.14',
    locals: {
      list: {
        '4' => {
          name: 'Diplomarbeitsgruppe',
          resources: {
            count: 2,
            link: '###media_resources?permissions%5Bgroup%5D%5Bids%5D%5B%5D=4'
          },
          actions: [:delete, :edit]
        },
        '3' => {
          name: 'ZHdK',
          resources: {
            count: 3,
            link: '###media_resources?permissions%5Bgroup%5D%5Bids%5D%5B%5D=3'
          },
          actions: [:delete, :edit]
        }
      }
    }
  }

= render_partial('element', element) do
  = render_partial('example') do
    = combo('workgroups', element[:locals])
