:ruby
  element = {
    name: 'Terms cloud', todo: true,
    description: 'Term clouds are used on the Vocabulary pages to display list of terms that a particular vocabulary contains.',
    cssFile: 'filename',
    cssSelector: 'selector',
    section: '8.19'
  }

= render_partial('element', element) do

  = render_partial('example') do

    .ui-metadata-box.prl.mbm
      .h3.title-s-alt.light.mbx
        Farbe
        %small.title-xs-alt.mlx (categorical)
      %ul.ui-tag-cloud.small.ellipsed.compact
        %li.ui-tag-cloud-item
          %a.ui-tag-button.meta-term{:title => "Oker"}
            Oker
        %li.ui-tag-cloud-item
          %a.ui-tag-button.meta-term{:title => "Grüntöne"}
            Grüntöne
        %li.ui-tag-cloud-item
          %a.ui-tag-button.meta-term{:title => "Gelbtöne"}
            Gelbtöne
        %li.ui-tag-cloud-item
          %a.ui-tag-button.meta-term{:title => "hellblau"}
            hellblau
        %li.ui-tag-cloud-item
          %a.ui-tag-button.meta-term{:title => "weiss"}
            weiss

  = render_partial('example') do
    .ui-metadata-box.prl.mbm
      .h3.title-s-alt.light.mbx
        Days
        %small.title-xs-alt.mlx (alphabetical)
      %ul.ui-tag-cloud.small.ellipsed.compact
        %li.ui-tag-cloud-item
          %a.ui-tag-button.meta-term{:title => "Monday"}
            Monday
        %li.ui-tag-cloud-item
          %a.ui-tag-button.meta-term{:title => "Saturday"}
            Saturday
        %li.ui-tag-cloud-item
          %a.ui-tag-button.meta-term{:title => "Sunday"}
            Sunday
        %li.ui-tag-cloud-item
          %a.ui-tag-button.meta-term{:title => "Thursday"}
            Thursday
        %li.ui-tag-cloud-item
          %a.ui-tag-button.meta-term{:title => "Wednesday"}
            Wednesday
