:ruby
  element = {
    name: 'Terms filter',
    cssFile: '???',
    cssSelector: '.ui-terms-filter',
    section: '8.20'
  }

= partial('element', element) do
  = partial('example') do
    .ui-terms-filter.separated.mhm
      .ui-terms-filter-label-holder.left.by-center
        %span.title-s
          Häufigkeit auswerten
          %span.ui-form-ui-ttip-toggle.ui-ttip-toggle{"data-original-title" => "Tooltip Content.", "data-placement" => "bottom", :rel => "tooltip"}
            = component('icon.question', 'mid')
      .ui-terms-filter-slider-holder.ptx
        .ui-slider
          %a.ui-slider-handle
            %span.ui-slider-info.ui-container.inverted min. 2 x vergeben
      .ui-terms-filter-note-holder.by-center.right
        Max. 140
