- if definition.length_max == 1
  = render :partial => "media_resources/edit/fields/meta_datum_meta_terms/not_extensible_list/radio_buttons", :locals => {:definition => definition, :meta_datum => meta_datum}
- else
  = render :partial => "media_resources/edit/fields/meta_datum_meta_terms/not_extensible_list/checkboxes", :locals => {:definition => definition, :meta_datum => meta_datum}