%h1 Edit Group #{@group.name}

= form_for @group, url: app_admin_group_path(@group), method: "PUT", html: {class: "form-horizontal", role: "form"} do |f|

  .form-group
    %label.control-label.col-sm-1 Name
    .col-sm-4
      = f.text_field :name, class: 'form-control'

  .form-group
    .col-sm-offset-1.col-sm-4
      = button_tag "Submit", type: 'submit', class: "btn btn-success"

