
%h1 Add user


= form_tag  add_user_app_admin_group_path(@group) , method: 'POST', class: "form-horizontal", role: "form" do

  .form-group
    %label.control-label.col-sm-1 User id
    .col-sm-4
      = text_field nil, :user_id, type: 'number', class: "form-control"

  .form-group
    .col-sm-offset-1.col-sm-4
      = button_tag type: 'submit', class: 'btn btn-success' do
        Add user
