%h1.text-center 
  %i.icon-user
  Groups

.row

  %div.span3

    %h3 
      %i.icon-filter
      Filters

    = form_tag app_admin_groups_path, method: 'GET' do

      %label 
        = text_field nil, :fuzzy_search, class: "search-query", value: params[:fuzzy_search] 

      = button_tag type: 'submit', class: 'btn btn-small' do
        Apply

  .span9
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Ldap name
          %th # Users
      %tbody
        =render partial: 'group', collection: @groups


= paginate @groups, theme: 'app_admin'


