%h2
  %i.icon-vis-graph
  #{@group.name} - Media Entries

%ul.list-inline
  - @permission_presets.each do |preset|
    %li
      =link_to media_resources_path(permission_presets: {:ids => @group.id, category: {:view => preset.view, :download => preset.download, :edit => preset.edit, :manage => preset.manage}}, type: "media_entries"), target: "_blank", class: "btn btn-warning" do
        %i.icon-vis-graph
          = "#{preset.name}: #{MediaResource.accessible_by_group_with_permissions(@group, [preset.view, preset.download, preset.edit, preset.manage]).where(type: "MediaEntry").count}"
