@import "../mixins.scss";

#bar {
  background: white;
  border-bottom: 1px solid #c1c1c1;
  display: block;
  height: 85px;
  position: relative;
  left: -20px;
  top: -20px;
  margin-bottom: 10px;
  padding-left: 40px;
  position: relative;
  width: 100%;
  z-index: 1000;
  @include box-shadows(0 1px 0 white, 0 2px 24px rgba(0,0,0,0.1));
  
  >.icon {
    display: block;
    height: 15px;
    left: 13px;
    position: absolute;
    top: 11px;
    width: 15px;
    @include opacity(0.4);
  }

  .action_menu {
    left: auto;
    margin-left: 16px;
    position: relative;
    right: 0;
    top: -2px;
  }
  
  &>.left {
    position: absolute;
    top: 35px;
    left: 42px;
    
    h1 {
      float: left;
      font-size: 1.9em;
      font-weight: bold;
      letter-spacing: -0.05ex;
      
      small {
        color: #7F7F7F;
        font-size: 0.65em;
        letter-spacing: 0em;
        margin-left: 6px;
      }
    }
    
    .scope_sets {
      display: none;
      left: 5px;
      top: -2px;
    }
  }
  
  .sort, .scope_sets {
    background: white;
    display: inline-block;
    position: relative;
    z-index: 1001;
    @include border-radius(4px);
    
    a {
      color: #777;
      display: none;
      text-decoration: none;
      text-align: left;
      
      &.active {
        display: inline-block;
      }
      
      &:hover {
        color: #444;  
      }
    }
    
    .icon {
      display: inline-block;
      top: 14px;
      position: absolute;
      @include opacity(0.7);
    }
    
    &.sort {
      a{ padding: 6px 20px 6px 14px; }
      .icon { right: 8px; }
    }
    
    &.scope_sets { 
      a{ padding: 6px 14px 6px 20px; }
      .icon { left: 8px; }
    }
    
    &:hover {
      @include box-shadow(0 0 2px rgba(0,0,0,0.5));
      
      a {
        border-bottom: 1px solid #CCC;
        display: block;
      }
      
      &.active {
        color: #444;
      }
      
      .icon {
        @include opacity(1.0);
      }
    }
  }
  
  .selection {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 70px;
    margin-left: -130px;
    z-index: 1001;
    
    .types {
      
      a {
        background: white;
        color: #666666;
        display: inline-block;
        font-weight: bold;
        border: 1px solid #b6b6b6;
        margin-right: -5px;
        padding: 5px 14px;
        text-decoration: none;
        @include vertical-gradient(#ebebeb, #FFFFFF, 30%, 60%);
        
        &:last-child {
          @include right-border-radius(4px);
        }
        
        &:first-child {
          @include left-border-radius(4px);
        }
        
        &[disabled=disabled] {
          cursor: default;
        }
        
        &:hover, &.active {
          &:not([disabled='disabled']), &.active {
            background: #c3c3c3; 
            color: #333333;
            @include box-shadow(inset 0 2px 4px rgba(0,0,0,0.2));
            @include text-shadow(0 1px 0 rgba(255,255,255,0.8));
            @include vertical-gradient(#c3c3c3, #c3c3c3, 50%, 50%);  
          }
        }
        
        &:focus {
          background: #b7b7b7; 
          @include vertical-gradient(#b7b7b7, #b7b7b7, 50%, 50%);
        }

        &[disabled='disabled'] {
          color: #888;
        }
      }
    }
    
    .permissions {
      background: #f6f6f6;
      border: 1px solid #d0d0d0;
      border-top: none;
      left: 1.8%;
      position: relative;
      width: 97%;
      @include bottom-border-radius(6px);
      
      a {
        display: none;
        font-size: 0.95em;
        padding: 0 12px;
        text-decoration: none;
        text-align: left;
        
        &.active {
          display: block;
        }
      }
    }
    
    &:hover {
      
      .permissions {
        border: 1px solid #b6b6b6;
        border-top: none;
        @include box-shadow(0 2px 4px rgba(0,0,0,0.4));
        
        a {
          border-bottom: 1px solid #d1d1d1;
          display: block;
          padding: 6px 12px;
          @include box-shadow(0 1px 0 rgba(255,255,255,0.5));
          
          &:last-child {
            border-bottom: none;
            @include box-shadow(0 0 0 rgba(0,0,0,0));
            
            &:hover {
              @include bottom-border-radius(6px);
            }
          }
          
          &.active, &:active, &:hover {
            background: #dedede;
            color: black;
          }
        }
      }
    }
  }
  
  &>.right {
    display: inline-block;
    position: absolute;
    top: 38px;
    right: 34px;
    
    .sort {
      float: left;
      top: -4px;
      
      a {
        text-align: right;
      }
    }
    
    .layout {
      float: left;
      display: inline-block;
      margin-left: 7px;
      
      a {
        margin-left: 3px;
        @include opacity(0.6);
        
        &:hover, &.active {
          @include opacity(1.0);  
        }
      }
    }
  }
}
