.modal.hide.fade.ui-modal.extrawide{:role => "dialog", :tabindex => "-1"}
  %form
    .ui-modal-head
      %a.ui-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", :title => "Close", :class => "weak"}
      %h3.title-l 
        Zugriffsberechtigungen
        ${title}
      
    .ui-rights-management
      .pvh.mth
        .ui-preloader

    .ui-modal-footer
      .ui-actions
        {{if $item.manageable}}
        %a.link.weak{"aria-hidden" => "true", "data-dismiss" => "modal", :class => "weak link"} Abbrechen
        %button.primary-button.disabled{:type => :submit, :disabled => :disabled}
          Speichern
        {{else}}
        %button.button{"aria-hidden" => "true", "data-dismiss" => "modal", :class => "weak link"} 
          Schliessen
        {{/if}}