%div{:class => "ui-rights-management{{if $item.manageable == false}} unmanageable{{/if}}{{if public[0].view == true}} public-view{{/if}}{{if public[0].download == true}} public-download{{/if}}{{if public[0].edit == true}} public-edit{{/if}}"}

  .ui-modal-toolbar.top.phm.mrs

    .mrx

      %table.ui-rights-group.block.borderless

        %thead
          %tr
            %td.ui-rights-user-title
            %td.ui-rights-owner-title Verantwortliche Person
            %td.ui-rights-role-title  Berechtigung
            %td.ui-rights-check-title Betrachten
            %td.ui-rights-check-title Download Original
            %td.ui-rights-check-title Editieren
            %td.ui-rights-check-title Berechtigung verwalten

  .ui-modal-body
    .ui-rights-management-current-user

      %h3.title-l.separated.mbx
        Ich
        .icon-privacy-private.mtx

      .ui-rights-body

        %table.ui-rights-group.bordered.block
          %tbody
            {{tmpl(you, {presets: presets, manageable: $item.manageable, currentUserOwnership: currentUserOwnership}) App.renderPath("permissions/line")}}

    %div{:class => "ui-rights-management-current-user-groups{{if currentUserGroups}}{{else}} hidden{{/if}}"}

      %h4.title-s.mts.separated.mbx
        Gruppen mit mir
        %i.icon-privacy-group

      .ui-rights-body
        %table.ui-rights-group.bordered.block
          %tbody
            {{if currentUserGroups}}
            {{tmpl(currentUserGroups, {presets: presets, manageable: $item.manageable, currentUserOwnership: currentUserOwnership}) App.renderPath("permissions/line")}}
            {{/if}}

    .ui-rights-management-others

      %h3.title-l.mts.mbx Andere

      {{if $item.manageable == true || otherUsers.length > 0}}
      .ui-rights-management-other-users

        %h4.title-s.mts.separated.mbx
          Personen
          %i.icon-privacy-private-alt

        .ui-rights-body

          %table.ui-rights-group.bordered.block
           
            %tbody
              {{tmpl(otherUsers, {presets: presets, manageable: $item.manageable, currentUserOwnership: currentUserOwnership}) App.renderPath("permissions/line")}}

          {{if $item.manageable}}
          #addUser.ui-add-subject.ptx
            %input.small.block.hidden{:type => :text, :placeholder => "Name der Person"}
            %a.button.small{:tabindex => 0}
              %i.icon-plus
              Person hinzufügen
          {{/if}}
      {{/if}}


      {{if $item.manageable == true || otherGroups.length > 0}}
      .ui-rights-management-other-groups

        %h4.title-s.mts.separated.mbx
          Gruppen
          %i.icon-privacy-group-alt

        .ui-rights-body

          %table.ui-rights-group.bordered.block
           
            %tbody
              {{tmpl(otherGroups, {presets: presets, manageable: $item.manageable, currentUserOwnership: currentUserOwnership}) App.renderPath("permissions/line")}}

          {{if $item.manageable}}
          #addGroup.ui-add-subject.ptx
            %input.small.block.hidden{:type => :text, :placeholder => "Name der Gruppe"}
            %a.button.small{:tabindex => 0}
              %i.icon-plus
              Gruppe hinzufugen
          {{/if}}
      {{/if}}

  .ui-modal-toolbar.bottom.phm.mrs

    .ui-rights-management-public.mtx

      .mrx

        %table.ui-rights-group.borderless.block
         
          %tbody
            {{tmpl(public, {public: true, presets: presets, manageable: $item.manageable, currentUserOwnership: currentUserOwnership}) App.renderPath("permissions/line")}}
      