%tr{:"data-id" => "${id}", :"data-name" => "${name}", "data-type" => "${type}", "data-is-current-user-group" => "${isCurrentUserGroup}", "data-is-current-user" => "${isCurrentUser}"}

  %td.ui-rights-user
    {{if $item.manageable}}
    %a.button.small.ui-rights-remove{:title => "Berechtigung entfernen"}
      %i.icon-close.small
    {{/if}}

    %span.text{:title => "${name}"}
      %i.current-user-icon.icon-privacy-private
      {{if $item.public}}
      ${_jed('Internet')}
      {{else}}
      ${name}
      {{/if}}

  %td.ui-rights-role

    %div{:class => "small{{if $item.manageable == false}} disabled{{/if}}"}
      {{if $item.manageable == true}}
      %select.ui-rights-role-select
        {{each(i, preset) $item.presets}}
        {{if App.PermissionPreset.match($item.data, [preset])}}
        %option{:selected => :selected, :value => "${preset.name}", :"data-preset" => "${JSON.stringify(preset)}"}= "${preset.name}"
        {{else}}
        %option{:value => "${preset.name}", :"data-preset" => "${JSON.stringify(preset)}"}= "${preset.name}"
        {{/if}}
        {{/each}}
        %option{data: {mixed: true},disabled: :disabled} Gemischte Werte
        %option{data: {custom: true},disabled: :disabled} Angepasste Werte
      {{/if}}

  {{tmpl({permission: view, label: "Betrachten", name: "view"}, {manageable: $item.manageable}) App.renderPath("permissions/line/right-check")}}

  {{tmpl({permission: download, label: "Export original", name: "download"}, {manageable: $item.manageable}) App.renderPath("permissions/line/right-check")}}

  {{tmpl({permission: edit, label: "Edit metadata", name: "edit"}, {manageable: $item.manageable}) App.renderPath("permissions/line/right-check")}}

  {{tmpl({permission: manage, label: "Manage permissions", name: "manage"}, {manageable: $item.manageable}) App.renderPath("permissions/line/right-check")}}
