%tr{:"data-id" => "${id}", :"data-name" => "${name}", "data-ownership" => "${ownership}"}

  %td.ui-rights-user
    {{if $item.manageable && ownership == false}}
    %a.button.small.ui-rights-remove{:href => "#", :title => "Berechtigung entfernen"} ×
    {{/if}}
    
    %span.text{:title => "${name}"}
      {{if $item.public}}
      %h4.title-s
        Öffentlichkeit
        %i.icon-privacy-open
      {{else}}
      ${name}
      {{/if}}

  %td.ui-rights-owner{:title => "Verantwortliche Person"}
    {{if ownership}}
    {{if $item.currentUserOwnership == true}}
    %input{:type => "radio", :checked => true}
    {{else}}
    %input{:type => "radio", :checked => true, :disabled => :disabled}
    {{/if}}
    {{else}}
    {{if $item.currentUserOwnership == true}}
    %input{:type => "radio"}
    {{else}}
    %input{:type => "radio", :disabled => :disabled}
    {{/if}}
    {{/if}}

  %td.ui-rights-role

    {{if ownership}}
    %div{:class => "ui-custom-select small disabled"}
      %span.ui-custom-select-text
        {{if ownership == "mixed"}}
        Teilweise verantwortlich
        {{else}}
        Verantwortliche Person
        {{/if}}
    {{else}}
    %div{:class => "ui-custom-select small{{if $item.manageable == false}} disabled{{/if}}"}
      %span.ui-custom-select-text 
        {{if App.PermissionPreset.match($item.data, $item.presets)}}
        ${App.PermissionPreset.match($item.data, $item.presets).name}
        {{else}}
        Angepasst
        {{/if}}
      {{if $item.manageable == true}}
      %i.icon-arrow-down.small
      %select.ui-rights-role-select
        {{each(i, preset) $item.presets}}
        {{if App.PermissionPreset.match($item.data, [preset])}}
        %option{:selected => :selected, :value => "${preset.name}", :"data-preset" => "${JSON.stringify(preset)}"}= "${preset.name}"
        {{else preset.manage == false}}
        %option{:value => "${preset.name}", :"data-preset" => "${JSON.stringify(preset)}"}= "${preset.name}"
        {{/if}}
        {{/each}}
      {{/if}}
    {{/if}}

  {{tmpl({permission: view, label: "Betrachten", name: "view"}, {manageable: $item.manageable, ownership: ownership}) App.renderPath("permissions/line/right-check")}}

  {{tmpl({permission: download, label: "Download Original", name: "download"}, {manageable: $item.manageable, ownership: ownership}) App.renderPath("permissions/line/right-check")}}

  {{tmpl({permission: edit, label: "Editieren", name: "edit"}, {manageable: $item.manageable, ownership: ownership}) App.renderPath("permissions/line/right-check")}}
  
  {{tmpl({permission: manage, label: "Berechtigung verwalten", name: "manage"}, {manageable: $item.manageable, ownership: ownership}) App.renderPath("permissions/line/right-check")}}