%tr

  %td.ui-rights-user
    %a.button.small.ui-rights-remove{:href => "#", :title => "Remove"} ×
    %span.text{:title => "${name}"}
      {{if $item.public}}
      %h4.title-s
        Öffentlichkeit
        %i.icon-privacy-open
      {{else}}
      ${name}
      {{/if}}

  %td.ui-rights-owner
    {{if $item.data.id != undefined && $item.parent.data.ownerIds.indexOf(id) > -1}}
    {{if $item.parent.manageable}}
    %input{:type => "radio", :checked => true}
    {{else}}
    %input{:type => "radio", :checked => true, :disabled => :disabled}
    {{/if}}
    {{else}}
    {{if $item.parent.manageable}}
    %input{:type => "radio"}
    {{else}}
    %input{:type => "radio", :disabled => :disabled}
    {{/if}}
    {{/if}}

  %td.ui-rights-role

    %div{:class => "ui-custom-select small{{if $item.parent.manageable == false}} disabled{{/if}}"}
      %span.ui-custom-select-text 
        {{if App.PermissionPreset.match($item.data, $item.parent.data.presets)}}
        ${App.PermissionPreset.match($item.data, $item.parent.data.presets).name}
        {{else}}
        Angepasst
        {{/if}}
      {{if $item.parent.manageable == true}}
      %i.icon-arrow-down.small
      %select.ui-rights-role-select
        {{each(i, preset) $item.parent.data.presets}}
        {{if App.PermissionPreset.match($item.data, [preset])}}
        %option{:selected => :selected, :value => "${preset.name}", :"data-preset" => "${JSON.stringify(preset)}"}= "${preset.name}"
        {{else preset.manage == false}}
        %option{:value => "${preset.name}", :"data-preset" => "${JSON.stringify(preset)}"}= "${preset.name}"
        {{/if}}
        {{/each}}
      {{/if}}

  {{tmpl({permission: view, label: "Betrachten", name: "view"}) App.renderPath("permissions/line/right-check")}}

  {{tmpl({permission: download, label: "Download Original", name: "download"}) App.renderPath("permissions/line/right-check")}}

  {{tmpl({permission: edit, label: "Editieren", name: "edit"}) App.renderPath("permissions/line/right-check")}}
  
  {{tmpl({permission: manage, label: "Berechtigung verwalten", name: "manage"}) App.renderPath("permissions/line/right-check")}}