.ui-stepline
  .ui-stepline-item{:class => step == 1 ? "active" : ""}
    %h3.title-m.ui-stepline-item-title
      1. Medien übertragen
  .ui-stepline-item{:class => step == 2 ? "active" : ""}
    %h3.title-m.ui-stepline-item-title
      2. Berechtigungen setzen
  .ui-stepline-item{:class => step == 3 ? "active" : ""}
    %h3.title-m.ui-stepline-item-title
      3. Metadaten ergänzen
  .ui-stepline-item{:class => step == 4 ? "active" : ""}
    %h3.title-m.ui-stepline-item-title
      4. Medien zusammenstellen