.ui-stepline
  .ui-stepline-item{:class => step == 1 ? "active" : ""}
    %h3.title-m.ui-stepline-item-title
      = _("1. Transfer media")
  .ui-stepline-item{:class => step == 2 ? "active" : ""}
    %h3.title-m.ui-stepline-item-title
      = _("2. Set permissions")
  .ui-stepline-item{:class => step == 3 ? "active" : ""}
    %h3.title-m.ui-stepline-item-title
      = _("3. Add metadata")
  .ui-stepline-item{:class => step == 4 ? "active" : ""}
    %h3.title-m.ui-stepline-item-title
      = _("4. Organize media entries")
