%li.ui-resource{:"data-id" => "${id}", :title => "${title}"}
  .ui-resource-body
    .ui-resource-thumbnail
      %div{:class => "ui-thumbnail ${type} ${media_type}"}
        %a.ui-thumbnail-image-wrapper{:href => "/media_resources/${id}"}
          .ui-thumbnail-image-holder
            .ui-thumbnail-table-image-holder
              .ui-thumbnail-cell-image-holder
                .ui-thumbnail-inner-image-holder
                  {{if image}}
                  %img{:class => "ui-thumbnail-image", :src => "${image}"}
                  {{else}}
                  %img{:class => "ui-thumbnail-image", :src => "/media_resources/${id}/image"}
                  {{/if}}
  .ui-resource-clipboard-remove{:title => "Aus der Zwischenablage entfernen"}
    .icon-remove.bright