- meta_data_filter.each do |key, value|

  - if value[:ids].include? "any"
    = render :partial => "filter_sets/filter/meta_data/any", :locals => {:key => MetaKey.find_by_label(key)}

  - else

    - value[:ids].each do |value|

      = render :partial => "filter_sets/filter/meta_data/meta_term", :locals => {:key => MetaKey.find_by_label(key), :meta_term => MetaTerm.find(value)}