:ruby

  selected = if selected
    (copyright.id == selected.id) ? :selected : nil
  else
    nil
  end

%option{:"data-id" => copyright.id, 
        :selected => selected,
        :"data-leaf" => copyright.children.blank? ? "leaf" : nil,
        :"data-is-custom" => copyright.is_custom,
        :"data-url" => copyright.url,
        :"data-usage" => copyright.usage}
  = copyright.label