/**
 * ## Actions Bar `.actions-bar`
 *
 * Styleguide 7.17
 */

.actions-bar {
  @include micro-clearfix;
  margin-top: -$space-x;
  padding-top: $space-x;
  text-align: right;
}
.actions-bar .button,
.actions-bar .primary-button {
  margin-left: $space-s;
}
.actions-bar .primary-button {
  @include float-right;
}
.actions-bar .large {
  margin-top: -$space-x;
}
.actions-bar .link {
  margin-top: 3px;
}
