/**
 * ## Alert messages `.alert`
 *
 * .success       - Success messages
 * .warning       - Warning messages
 * .error         - Error messages
 * .confirmation  - Confirmation messages
 *
 * Styleguide 7.12
 */

.alert {
  background: $grey-lighter;
  padding: $space-x;
}
.alert p {
  font-weight: 600;
  text-align: center;
}

// Colour variations

.alert.success p,
.alert.warning p,
.alert.error p,
.alert.confirmation p {
  @include single-text-shadow(false, 1px, false, false, $darken);
  color: $brightest;
}

.alert.success {
  background: $green-light;
}
.alert.warning {
  background: $yellow;
}
.alert.error {
  background: $red;
}
.alert.confirmation {
  background: $blue;
}
