/**
 * ## Containers `.container`
 *
 * .bright      - Bright container
 * .transparent - Semi-transparent bright box: home page elevator pitch
 * .inverted    - Dark gradient boxes: top-nav, footer and filter bar containers
 * .inverted-transparent - Semi-transparent dark box: clipboard
 * .midtone     - Light grey box: thumb grid containers
 * .bordered    - Box with border. Possible extensions: .bordered-bottom, .bordered-top, .bordered-right
 * .rounded     - Rounded corners equal to medium border radius value. Possible extensions:; .rounded-bottom, .rounded-top, .rounded-right, .rounded-left
 *
 * Styleguide 7.1
 */

.container {
  @include micro-clearfix;
}

// Bright containers

.container.bright {
  background-color: $brightest;
}
.transparent,
.container.transparent {
  background: $lighten-more;
}

// Dark containers

.container.inverted {
  @include background-image(linear-gradient($grey-dark, $grey-darker));
  @include single-text-shadow(false, 1px, false, false, $darken);
  background-color: $grey-dark;
  color: $grey-lighter;
}
.container.inverted,
.container.inverted-transparent {
  h1,h2,h3,h4,h5,h6,
  > a,
  > p,
  > ul > li > a,
  .dropdown > a {
    color: $grey-lighter;
  }
  > a:hover,
  .dropdown > a:hover {
    color: $brightest;
  }
}

.container.inverted-transparent,
.inverted-transparent {
  background-color: $darken-strong;
}
.container.inverted,
.container.inverted-transparent,
.inverted-transparent {
  .primary-button {
    border: none;
  }
  .thumbnail {
    border: none;
  }
}
.container.inverted-transparent .tertiary-button,
.inverted-transparent .tertiary-button {
  border: none;
}

// Grey containers

.container.midtone {
  background-image: image-url("redesign/backgrounds/container-midtone.png");
}
.container.midtone-darker {
  background-image: image-url("redesign/backgrounds/container-midtone-darker.png");
}

// Container extensions

.container.bordered {
  border: 1px solid $grey-mid-light;
  margin-bottom: -1px;
}
.container.bordered-bottom {
  border-bottom: 1px solid $grey-mid-light;
}
.container.bordered-top {
  border-bottom: 1px solid $grey-mid-light;
  margin-top: -1px;
}
.container.bordered-right {
  border-right: 1px solid $grey-mid-light;
  margin-right: -1px;
}

// Rounded

.container.rounded {
  @include border-radius($border-radius-m);
}
.container.rounded-top {
  @include border-top-radius($border-radius-m);
}
.container.rounded-bottom {
  @include border-bottom-radius($border-radius-m);
}
.container.rounded-left {
  @include border-left-radius($border-radius-m);
}
.container.rounded-right {
  @include border-right-radius($border-radius-m);
}

// Layout

.container.table {
  display: table;
  width: 100%;
}
.container.table-row {
  display: table-row;
  width: 100%;
}
.container.table-cell {
  display: table-cell;
  vertical-align: top;
}

// Well

.container.well {
  @include box-shadow(inset 0 1px 3px $darken);
}
