/**
 * ## Thumb section header `.media-entries-header`
 *
 * Styleguide 7.9
 */


// Thumbnail section headers

.media-entries-intro {
  padding: $space-m 0 0;
}
.media-entries-header a {
  font-size: $font-s;
  margin-left: $space-m;
  &:after {
    content: " \2192";
  }
}

.media-entries {
  @include micro-clearfix;
}

.media-entries-ui-toolbar.separated {
  padding-bottom: $space-m;
}
