/**
 * ## Metadata box ordinated List variation `.ui-metadata-box`
 *
 * Styleguide 6.13
 */

.ui-metadata-box ol li {
  float: left;
  font-size: $font-xs;
  list-style: none;
  margin-bottom: $space-x;
  padding-right: 1%;
  width: 49%;
  &.odd {
    clear: left;
  }
  &.even {
    clear: right;
  }
}

/**
 * ## Metadata box definition list variation `.ui-metadata-box`
 *
 * Styleguide 6.14
 */

.ui-metadata-box .media-data-title {
}
.ui-metadata-box .media-data-content {
  line-height: $line-height-m;
  margin-bottom: $space-s;
  &:last-child {
    margin-bottom: 0;
  }
}
