/**
 * ## Metadata box ordinated List variation `.ui-metadata-box`
 *
 * Styleguide 7.13
 */

.ui-metadata-box ol li {
  float: left;
  font-size: $font-xs;
  list-style: none;
  margin-bottom: $space-x;
  padding-right: 1%;
  width: 49%;
  &.odd {
    clear: left;
  }
  &.even {
    clear: right;
  }
}

/**
 * ## Metadata box definition list variation `.ui-metadata-box`
 *
 * Styleguide 7.14
 */

.ui-metadata-box dt {
  margin-bottom: $space-x;
}
.ui-metadata-box dd {
  margin-bottom: $space-m;
  &:last-child {
    margin-bottom: 0;
  }
}
