/**
 * ## Page header `.page-header`
 *
 * Styleguide 7.10
 */

.page-title {
  margin-bottom: $space-m;
  position: relative;
}

// Page Title Content

.page-title-label {
  overflow: hidden;
  position: relative;
}
.page-title-label:after {
  @include dimension(170px,100%);
  @include position-top-right(0,-1px);
  background: image-url("redesign/backgrounds/page-title-overflow.png") 0 0 repeat-y;
  content: " ";
  display: block;
  overflow: hidden;
  z-index: 50;
}
.page-title-label h1 {
  display: inline;
  white-space: nowrap;
}

// Page Title Actions

.page-title-actions {
  @include position-top-right(0,0);
  background: $body-background;
  padding: $space-s 0 $space-s $space-s;
  z-index: 100;
}
.page-title-actions:before {
  @include dimension(170px,100%);
  @include position-top-left(0,-165px);
  background: image-url("redesign/backgrounds/page-title-overflow.png") 0 0 repeat-y;
  content: " ";
  display: block;
  overflow: hidden;
  z-index: 50;
}
.page-title-actions .dropdown-toggle,
.page-title-actions > a {
  margin-left: $space-s;
  margin-top: $space-x;
}
