/**
 * ## Side Navigation `.side-navigation`
 *
 * Styleguide 7.2
 */

.side-navigation {
  @include micro-clearfix;
  padding: $space-m;
}
.side-navigation li {
  clear: both;
  font-size: $font-s;
  list-style: none;
  margin: $space-x 0;
}
.side-navigation-item > a {
  line-height: $line-height-l;
}
.side-navigation-lvl2 {
  padding: 0 0 $space-x;
}
.side-navigation-lvl2-item > a {
  @extend a.weak;
  line-height: $line-height-s;
}
