/**
 * ## Tag cloud `.tag-cloud`
 *
 * .small   - Small variation
 * .large   - Large variation
 *
 * Styleguide 7.4
 */

.tag-cloud {
  @include micro-clearfix;
}
.tag-cloud .tag-button {
  display: inline-block;
  margin-bottom: $space-s;
  margin-right: $space-x;
}

// Size variations

.tag-cloud.small .tag-button {
  @extend .button.small;
}
.tag-cloud.large .tag-button {
  @extend .button.large;
}
