/**
 * ## ui-slider `.ui-slider`
 *
 * Styleguide 7.15
 */

.ui-slider {
  @include border-radius($border-radius-m);
  @include box-shadow(inset 0 1px 2px $darken);
  @include dimension(100%,12px);
  background: $grey-lighter;
  position: relative;
}
.ui-slider-handle {
  @extend .primary-button;
  @include border-radius(100px);
  @include dimension($space-s,$space-s);
  @include position-top-left(0,20px);
  min-height: $space-s;
  line-height: 0;
  overflow: visible;
  padding: 0;
}

// Dark tooltip

.ui-slider-info {
  @include dimension(76px,auto);
  @include border-radius($border-radius-s);
  @include box-shadow(inset 0 1px 0 $lighten-less, 0 1px 2px $darken);
  @include position-bottom-left($space-m,0);
  border: 1px solid $darkest;
  color: $brightest;
  display: block;
  font-size: $font-xs;
  line-height: $line-height-xs;
  margin-left: -$space-l;
  padding: $space-x;
}

// Tooltip arrow

.ui-slider-info:after,
.ui-slider-info:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ui-slider-info:after {
  border-color: rgba(212, 212, 13, 0);
  border-top-color: $grey-darker;
  border-width: 5px;
  left: 50%;
  margin-left: -5px;
}
.ui-slider-info:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: $darkest;
  border-width: 6px;
  left: 50%;
  margin-left: -6px;
}
