/**
 * ## Actions Bar `.ui-actions`
 *
 * Styleguide 6.15
 */

.ui-actions {
  @include micro-clearfix;
  padding-top: $space-x;
  text-align: center;
}
.ui-actions .button,
.ui-actions .primary-button,
.ui-actions .link {
  margin-right: $space-x;
  margin-left: $space-x;
}
.ui-actions .large {
  margin-top: -$space-x;
}
.ui-actions .link {
  position: relative;
  top: 1px;
}

/*
 * Actions within a form
 * ------------------------------------- */

form .ui-actions { 
}