/**
 * ## Form alerts `.ui-datepicker`
 *
 * Styleguide 4.2
 */

.ui-alerts {

}

/**
 * Alerts within modal
 ----------------------------------------- */

.ui-modal .ui-alerts { 
  margin: -20px -20px 0 -20px;
}