/**
 * ## ui-containers `.ui-container`
 *
 * .bright      - Bright ui-container
 * .transparent - Semi-transparent bright box: home page elevator pitch
 * .inverted    - Dark gradient boxes: top-nav, footer and filter bar ui-containers
 * .inverted-transparent - Semi-transparent dark box: clipboard
 * .midtone     - Light grey box: thumb grid ui-containers
 * .bordered    - Box with border. Possible extensions: .bordered-bottom, .bordered-top, .bordered-right
 * .rounded     - Rounded corners equal to medium border radius value. Possible extensions:; .rounded-bottom, .rounded-top, .rounded-right, .rounded-left
 * .overlaid    - ui-containers needing a layer on top of them (such as home page collage)
 * .well        - ui-container with and inside shadow
 *
 * Styleguide 6.1
 */

.ui-container {
  @include micro-clearfix;
}

// Bright ui-containers

.ui-container.bright {
  background-color: $brightest;
}
.transparent,
.ui-container.transparent {
  background: $lighten-more;
}

// Dark ui-containers

.ui-container.inverted {
  @include background-image(linear-gradient($grey-dark, $grey-darker));
  @include single-text-shadow(false, 1px, false, false, $darken);
  background-color: $grey-dark;
  color: $grey-lighter;
}
.ui-container.inverted,
.ui-container.inverted-transparent {
  h1,h2,h3,h4,h5,h6,
  > a,
  > p,
  > ul > li > a,
  .dropdown > a {
    color: $grey-lighter;
  }
  > a:hover,
  .dropdown > a:hover {
    color: $brightest;
  }
}

.ui-container.inverted-transparent,
.inverted-transparent {
  background-color: $darken-strong;
}
.ui-container.inverted,
.ui-container.inverted-transparent,
.inverted-transparent {
  .primary-button {
    border: none;
  }
  .thumbnail {
    border: none;
  }
}
.ui-container.inverted-transparent .tertiary-button,
.inverted-transparent .tertiary-button {
  border: none;
}

// Grey ui-containers

.ui-container.midtone {
  background-image: image-url("redesign/backgrounds/container-midtone.png");
}
.ui-container.midtone-darker {
  background-image: image-url("redesign/backgrounds/container-midtone-darker.png");
}

// Bordered ui-containers

.ui-container.bordered {
  border: 1px solid $grey-mid-light;
  margin-bottom: -1px;
}
.ui-container.bordered-bottom {
  border-bottom: 1px solid $grey-mid-light;
}
.ui-container.bordered-top {
  border-bottom: 1px solid $grey-mid-light;
  margin-top: -1px;
}
.ui-container.bordered-right {
  border-right: 1px solid $grey-mid-light;
  margin-right: -1px;
}
.ui-container.bordered-left {
  border-left: 1px solid $grey-mid-light;
  margin-left: -1px;
}

// Rounded ui-containers

.ui-container.rounded {
  @include border-radius($border-radius-m);
}
.ui-container.rounded-top {
  @include border-top-radius($border-radius-m);
}
.ui-container.rounded-bottom {
  @include border-bottom-radius($border-radius-m);
}
.ui-container.rounded-left {
  @include border-left-radius($border-radius-m);
}
.ui-container.rounded-right {
  @include border-right-radius($border-radius-m);
}

// Table-layout ui-containers

.ui-container.table {
  display: table;
  width: 100%;
}
.ui-container.table-row {
  display: table-row;
  width: 100%;
}
.ui-container.table-cell {
  display: table-cell;
  vertical-align: top;
}

// Well

.ui-container.well {
  @include box-shadow(inset 0 1px 3px $darken);
}

// Overlaid

.ui-container.overlaid {
  position: relative;
}
.ui-container.overlaid:after {
  @include dimension(100%,100%);
  @include position-top-right(0,0);
  @include position-bottom-left(0,0);
  background-color: $darken;
  content: " ";
  display: block;
  z-index: 5;
}
