:ruby
  # TODO: throw 'ui: unknown <icon>!' unless available_icons.include(icon)
  props = {
    class: classes.join(' '),
    title: defined?(text) && text
  }

  return if classes.select { |name| name.start_with?('icon-') }.empty?

  haml_tag('i', props)
