:ruby
  text ||= nil
  title ||= nil
  link_content = text.presence || block_content.presence
  fail 'UI: No Content!' unless link_content

  link_or_span = link ? 'a' : 'span'
  props = (link || {}).merge(class: classes, title: title)

- haml_tag(link_or_span, props) do
  = link_content
