:ruby
  text ||= nil
  icon ||= nil
  actions ||= nil

.ui-body-title

  .ui-body-title-label
    %h1.title-xl
      = icon
      = text

  - if actions.is_a?(Array)
    .ui-body-title-actions
      - actions.each do |btn|
        = btn
