:ruby
  text ||= nil
  props = {
    src: href,
    alt: text ? "#{t(:picture_alt_prefix)} #{text}" : t(:picture_alt_fallback),
    class: classes
  }
  return unless props[:src]

- haml_tag('img', props)
