pg: &pg
  adapter: postgresql
  host: localhost
  encoding: unicode
  username: postgres
  host: localhost
  password:
  pool: 5
 
default: &default
  <<: *pg

development: 
  <<: *default
  database: madek_dev
  
test: 
  <<: *default
  database: madek_test

personas: 
  <<: *default
  database: madek_personas

production:
  <<: *default
  database: madek_prod


