/**
 *  BODY
 *-----------------------------------------

html,
body
  background: $body-background
  height: 100%
  min-width: 980px

.app-body
  background: $body-background
  padding: $space-m $space-m 80px $space-m
  position: relative

/**
 *  FOOTER
 *-----------------------------------------

+sticky-footer(50px, ".app", ".app-footer-push", ".app-footer")

.ui-footer
  height: 30px

/**
 *  CLIPBOARD
 *-----------------------------------------

.app-clipboard
  -webkit-backface-visibility: hidden
  /* webkit flicker work-around
  +position-bottom-left(0, 0)
  +position-bottom-right(0, 0)
  position: fixed
  z-index: 1950


/**
 *  BOOTSTRAP STUFF (to revise later and see if still needed)
 *-----------------------------------------

.fade
  opacity: 0
  -webkit-transition: opacity 0.15s linear
  -moz-transition: opacity 0.15s linear
  -o-transition: opacity 0.15s linear
  transition: opacity 0.15s linear

.fade.in
  opacity: 1

.collapse
  position: relative
  height: 0
  overflow: hidden
  -webkit-transition: height 0.35s ease
  -moz-transition: height 0.35s ease
  -o-transition: height 0.35s ease
  transition: height 0.35s ease

.collapse.in
  height: auto

// Toggling content
.hide
  display: none

.show
  display: block

// Open state for the dropdown
// ---------------------------
.open
  // IE7's z-index only goes to the nearest positioned ancestor, which would
  // make the menu appear below buttons that appeared later on the page
  *z-index: 60
  & > .dropdown-menu
    display: block
