%h3.ui-thumbnail-level-notes ${_jed('Set contains')}
%ul.ui-thumbnail-level-items
  {{each(i,media_resource) children.resources}}
  {{tmpl(media_resource,{i:i}) App.renderPath("media_resources/popup/item")}}
  {{/each}}
%span.ui-thumbnail-level-notes
  ${_jed('%d content elements', children.pagination.total)}
