%li.ui-tag-cloud-item
  %a.ui-tag-button{:"data-id" => "${id}", :"data-label" => "${label}"}
    %i.icon-tag-mini.ui-tag-icon
    ${label}

    {{if count}}
    %span.ui-tag-counter ${count}
    {{/if}}
