- content_for :content do
  
  .ui-container.bright.pal.rounded-top-right
    - if @context.description
      .row
        .col2of3
          %p.paragraph-l= @context.description

  .ui-container.midtone.rounded-bottom
    = render :partial => "vocabulary/vocabulary"

= render :partial => "contexts/layout"

