%h1.text-center 
  %i.icon-privacy-io_interface
    Io Interfaces

.row
  = "Number of io interfaces found:"
  %span#counter #{@io_interfaces.count(:all)}


%ul.list-inline
  %li
    = link_to new_app_admin_io_interface_path, class: 'btn btn-success' do
      %i.fa.fa-plus
      New Io Interface

  .col-md-12
    %table.table
      %thead
        %tr
          %th Id
          %th Description
          %th
      %tbody
        =render @io_interfaces

= paginate @io_interfaces, theme: 'app_admin'
