%section.content_body
  %div.page_title_left
    =_("Kopien für MIZ-Archiv")
  .clear
  .results.clearfix
    %ul.items{:style => "margin: 10px;"}
      - @snapshots.each do |snapshot|
        %li{:style => "width: 125px; height: 14em; margin-right: 20px; text-align: left;"}
          %div
            = link_to thumb_for(snapshot), snapshot_path(snapshot)
          %p{:style => "font-size: 0.85em; line-height: 1.4em;"}
            - title = snapshot.meta_data.get_value_for("title")
            - author = snapshot.meta_data.get_value_for("author")
            - unless title.blank?
              %span{:style => "font-weight: bold;"}
                = truncate(title, :length => 34)
            %br
            - unless author.blank?
              %i
                = truncate(author, :length => 18)
            %br
            %span
              = snapshot.created_at.to_formatted_s(:date_time)
