= form_for @set, :url => admin_media_sets_path do |f|
  %table
    - f.fields_for :meta_data, f.object.meta_data.get("title") do |ff|
      %tr
        %td= ff.object.meta_key.label
        %td= field_tag(ff, MetaContext.media_set)

    %tr
      %td.right{:colspan => 2}
        = f.submit _("Create")