<%= form_tag import_admin_meta_path, :multipart => true do %>
	<label>Yaml auswählen...</label>
	<%= file_field_tag "uploaded_data", :multiple => false %>
	<br/>
	<%= submit_tag _("Import") + " »" %>
<% end %>

<%= content_tag :ul do
	@buffer.collect do |b|
		content_tag :li do
			b
		end
	end.join.html_safe
end %>