.ui-filterbar.separated.ui-container
  .left.col2of6
    %a.button#ui-side-filter-toggle{:class => params[:filterpanel] ? "active" : ""}
      %i.icon-sidebar
      Filtern
    %a#ui-side-filter-reset.mlx.hidden
      Alle Filter zur체cksetzen
  .col2of6.by-center
    #ui-resources-type-filter.button-group
      %a.button{:"data-type" => nil, :class => (params[:type].nil?) ? "active" : ""} Alle
      %a.button{:"data-type" => "media_entries", :class => (params[:type] == "media_entries") ? "active" : ""} Medieneintr채ge
      %a.button{:"data-type" => "media_sets", :class => (params[:type] == "media_sets") ? "active" : ""} Sets
  .col2of6.by-right
    %a#ui-clipboard-select-all.weak.disabled.ui-filterbar-select
      %span.active Alle Abw채hlen
      %span.inactive Alle Ausw채hlen
      %i.icon-checkbox
