#ui-side-filter.filter-panel.ui-side-filter{:class => params[:filterpanel] ? "" : "hidden"}

  #ui-side-filter-search.ui-side-filter-search.filter-search
    %form#search_form
      %input.unstyled{:type => 'submit', :value => _("Limit by keyword")}
      %input#search_term.block.ui-filter-search-input{:type => "text", :value => params[:search], :name => 'search'}
      

  %ul.top-filter-list.ui-side-filter-list
    %li.ui-slide-filter-item
      .title-xs.by-center 
        = _("Loading filters")
      .ui-preloader.small
