
////////////////////////////////////////////////////////////////////////////////

%script#empty_index{:type => "text/x-jquery-tmpl"}
  .item_box
    .thumb_box

%script#empty_result_page{:type => "text/x-jquery-tmpl"}
  .page{:"data-page" => "${pagination.current_page}", :"data-url" => "${url}"}
    {{tmpl(pagination) "#pagination"}}
    {{tmpl(entries) "#empty_index"}}

%script#result_page{:type => "text/x-jquery-tmpl"}
  .page
    {{tmpl(pagination) "#pagination"}}
    {{tmpl(entries) "tmpl/media_resource/thumb_box"}}

%script#pagination{:type => "text/x-jquery-tmpl"}
  .pagination
    ${total_entries} Einträge,
    Seite ${current_page} von ${total_pages}
  .clear

%script#thumbnail_mini{:type => "text/x-jquery-tmpl"}
  %div{:class => "thumb_mini {{if is_editable}}edit{{/if}} {{if is_manageable}}manage{{/if}}{{if is_set}} set{{/if}}", :rel => "${id}", :title => "${title}"}
    {{if is_set}}
    .set_tab
    {{/if}}
    = image_tag("icons/button_remove_action.png", :class => "thumb_remove")
    {{if thumb_base64}}
    %img{:src => "${thumb_base64}"}
    {{else}}
    .noimage
    {{/if}}

////////////////////////////////////////////////////////////////////////////////

%script#thumbnail_browse{:type => "text/x-jquery-tmpl"}
  .item_box.tmp{:id => "thumb_${id}", :style => "background-color: #f1f1f1; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);"}
    .item_permission
      {{if is_public}}
      .icon_status_perm_public
      {{else is_private}}
      .icon_status_perm_private
      {{/if}}
    %a{:href => "/media_entries/${id}"}
      .thumb_box
        {{if thumb_base64}}
        %img{:src => "${thumb_base64}"}
        {{/if}}
    %p.item_title
      ${title.substring(0,50)}
    %p.item_author
      ${author.substring(0,50)}
    %div{:style => "position: absolute; bottom: 0; left: 0; padding: 5px;"}
      .action_left
        .check_box
        %span.favorite_link{:id => "fav_${id}", :title => "Favorit"}
          %a{:href => "/resources/${id}/toggle_favorites", :"data-remote" => true, :"data-type" => "html", :"data-method" => :post}
            {{if is_favorite}}
            .button_favorit_on
            {{else}}
            .button_favorit_off
            {{/if}}
        {{if can_maybe_browse}}    
        %span.explore_link{:id => "exp_${id}"}
          %a{:href => "/media_entries/${id}/browse", :title => "Erkunden"}
            .button_explore
        {{/if}}
