.btn-api_client
  = link_to edit_admin_vocabulary_vocabulary_api_client_permission_path(@vocabulary, api_client_permission), class: "btn btn-info #{size}" do
    %i.glyphicon.glyphicon-edit
    Edit
  = link_to admin_vocabulary_vocabulary_api_client_permission_path(@vocabulary, api_client_permission), method: :delete, data: {   |
    confirm: 'The Vocabulary API Client Permission will be deleted. Do you want to proceed?' }, |
    class: "btn btn-danger #{size}" do
    %i.glyphicon.glyphicon-trash
    Delete
