.page-header
  %h1
    Vocabulary API Client Permissions
    %small Vocabulary: #{@vocabulary.id}

.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .btn-group
          = link_to new_admin_vocabulary_vocabulary_api_client_permission_path(@vocabulary),
              class: 'btn btn-default' do
            %i.glyphicon.glyphicon-plus
            Create API Client Permission

.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th API Client
          %th Can use?
          %th Can view?
          %th
      %tbody
        = render partial: 'api_client_permission', collection: @api_client_permissions, as: :api_client_permission
