@import "../mixins.scss";

#upload-container #permissions {
  border-top: 1px solid #D2D2D2;
  position: relative;
  top: 11px;
  
  .container {
    padding-top: 18px;
    
    &>h2 { display: none; }
    &>p { display: none; }
    
    .media_resource_selection_view_switch {
      position: absolute;
      right: 0;
    }
  }  
}
