/*
   Plupload
------------------------------------------------------------------- */

.plupload_button, .plupload_button.dropbox_enabled {
   background: none repeat scroll 0 0 white;
    border: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 1px 1px #F6F6F6 inset;
    color: #333333;
    cursor: pointer;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px 10px 6px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}

.plupload_button:hover {
  color: #000;
  text-decoration: none;
}

.plupload_add {
  background-position: -181px center;
}

.plupload_wrapper {
  font: normal 11px Verdana,sans-serif;
  margin-bottom: 6px;
  display: inline-block;
  min-height: 240px;
  width: 907px;
}

.plupload_content {
  background: rgba(200,200,200,0.2);
  border: 2px dashed #CCC;
  display: inline-block;
  min-height: 215px;
  padding: 0;
  position: relative;
  top: 10px;
   width: 906px;
}

.plupload_container input {
  border: 1px solid #DDD;
  font: normal 11px Verdana,sans-serif;
  width: 98%;
}

.plupload_header {
  display: none;
}

.plupload_header_content {
  background: image-url('jquery.plupload.queue/backgrounds.gif') no-repeat 0 -317px;
  min-height: 56px;
  padding-left: 60px;
  color: #FFF;
}
.plupload_header_title {
  font: normal 18px sans-serif;
  padding: 6px 0 3px;
}
.plupload_header_text {
  
  font: normal 12px sans-serif;
}

.plupload_filelist, #dropbox_filelist, #mei_filelist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plupload_scroll .plupload_filelist, #dropbox_filelist, #mei_filelist {
  background: rgba(200,200,200,0.2);
}

.plupload_filelist li, #dropbox_filelist li, #mei_filelist li {
  padding: 10px 0;
  background: #F5F5F5 image-url('jquery.plupload.queue/backgrounds.gif') repeat-x 0 -156px;
  border-bottom: 1px solid #DDD;
  margin-bottom: 1px !important;
  width: 100%;
  
  span.grey{
    color: #666;
  }
}

.plupload_filelist_header, .plupload_filelist_footer {
  padding: 8px 8px;
  color: #42454A;
}
.plupload_filelist_header {
  height: 8px;
  margin-top: -24px;
}

.plupload_filelist_footer {
  border-top: 1px solid #FFF; height: 22px; line-height: 20px; vertical-align: middle;
  position: absolute;
  top: -60px;
}
.plupload_file_name {float: left; overflow: hidden}
.plupload_file_status {color: #777;}
.plupload_file_size {color: #777;}
.plupload_filelist_header {
  .plupload_file_name {display: none;}
  .plupload_file_size {display: none;}
  .plupload_file_status {display: none;}
} 
.plupload_filelist_footer {
  .plupload_file_size {display: none;}
  .plupload_file_status {display: none !important;}
} 

.plupload_file_status span {color: #42454A;}
.plupload_file_size, .plupload_file_status, .plupload_progress, .plupload_location {
  float: right;
  width: 80px;
}

.plupload_location {
  color: #999;  
  font-weight: bold;
  text-align: right;
}

#mei_filelist .plupload_location {
  width: 140px;
}

.plupload_file_size, .plupload_file_status, .plupload_file_action {text-align: right;}

.plupload_filelist .plupload_file_name , #dropbox_filelist .plupload_file_name, #mei_filelist .plupload_file_name {
  width: 60%
}

.plupload_file_action {
  float: right;
  width: 42px;
  height: 16px;
  margin-left: 15px;
  margin-right: 8px;
}

.plupload_file_action * {
  display: inline-block !important;
  float: left;
  width: 16px;
  height: 16px;
}

li.plupload_uploading {
  background: #ECF3DC image-url('jquery.plupload.queue/backgrounds.gif') repeat-x 0 -238px !important;
  
  a {
    background: image-url('jquery.plupload.queue/transfering.gif') no-repeat !important;
    display: block !important;
  }
  
  .delete_mei, .delete_dropbox_file, .delete_plupload_entry {
    display: none !important;
  }
}
li.plupload_done {
  background: #c6ffbd image-url('jquery.plupload.queue/backgrounds.gif') repeat-x 0 -365px !important;
}

li.plupload_delete a {
  display: none !important;
  background: image-url('jquery.plupload.queue/delete.gif') no-repeat;
}

li.plupload_transfer a {
  background: image-url('jquery.plupload.queue/transfer.gif') no-repeat;
  cursor: default;
}

li.plupload_failed a {
  background: image-url('jquery.plupload.queue/error.gif');
  cursor: default;
}

li.plupload_done a {
  background: image-url('jquery.plupload.queue/done.gif');
  cursor: default;
}

.plupload_filelist_footer .plupload_progress, .plupload_filelist_footer .plupload_upload_status {
  display: none;
}

.plupload_progress_container {
  margin-top: 3px;
  border: 1px solid #CCC;
  background: #FFF;
  padding: 1px;
}
.plupload_progress_bar {
  width: 0px;
  height: 7px;
  background: #CDEB8B;
}

.plupload_scroll .plupload_filelist_header .plupload_file_action, .plupload_scroll .plupload_filelist_footer .plupload_file_action {
  margin-right: 17px;
}

/* Floats */

.plupload_clear,.plupload_clearer {clear: both;}
.plupload_clearer, .plupload_progress_bar {
  display: block;
  font-size: 0;
  line-height: 0;
}

li.plupload_droptext {
  background: transparent;
  display: none;  
  text-align: center;
  position: absolute;
  vertical-align: middle;
  border: 0;
  line-height: 165px;
}
