#upload {
  #upload-main.set_media_sets {
    border-top: 1px solid #DDD;
    position: relative;
    top: 45px;
    margin-bottom: 45px;
    
    
    .upload_buttons.has-set-widget {
      position: absolute;
      top: -44px;
      left: -4px;
    }
  }
}
