#upload {
  
  #upload-container {
    z-index: 1;
    
    p {
      margin-bottom: 18px;
    }
  }
  
  #upload_navigation {
    left: 38px;
    width: 872px;
    position: relative;
    z-index: 1001;
  }
  
  #step_arrow {
    display: none;
    position: absolute;
    left: 45%;
    bottom: -14px;
    background: transparent url('/assets/icons/arrow_down_gray.png') top left no-repeat;
    width: 18px;
    height: 10px;
  }
  
  #uploader {
    top: -40px;
  }
}