@import "../mixins";

#upload {
  
  #upload-container {
    clear: both;
    position: relative;
    z-index: 1;
    
    p {
      margin-bottom: 18px;
    }
  }
  
  #call2action {
    color: #999999;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 94px;
    width: 100%;
    @include text-shadow(1px 1px 0 white);
  }
  
  #cancel_import {
    color: #888;
    float: right;
    position: relative;
    top: 6px;
    text-decoration: none;
    
    &:hover {
      color: #333;
    }
  }
  
  #upload_navigation {
    display: inline-block;
    float: right;
    right: 9px;
    width: 500px;
    top: -5px;
    position: relative;
    z-index: 1001;
    
    .right {
      float: right;
      
      .next {
        float: none;
        float: right;
      }
    }
  }
  
  #step_arrow {
    display: none;
    position: absolute;
    left: 45%;
    bottom: -14px;
    background: transparent url('/assets/icons/arrow_down_gray.png') top left no-repeat;
    width: 18px;
    height: 10px;
  }
  
  #uploader {
    top: -25px;
  }
  
  .upload_buttons.disabled, .upload_buttons.disabled:hover, .plupload_disabled:not(.dropbox_enabled), .plupload_disabled:not(.dropbox_enabled):hover {
    color: #737373;
    border-color: #c5c5c5;
    background: #ededed no-repeat 0 center;
    cursor: default;
  }
  
  .delete_mei, .delete_dropbox_file, .delete_plupload_entry {
    background: url('jquery.plupload.queue/delete.gif') no-repeat;
    cursor: pointer;
    display: inline;
    height: 16px;
    position: relative;
    top: 1px;
    margin-left: 8px;
    width: 16px; 
    @include opacity(0.6);    
    
    &.deleting {
      background: url('/assets/loading.gif') no-repeat;
      @include opacity(1.0);  
    }
    
    &:hover {
      @include opacity(1.0);
    }
  }
}