:ruby
  element = {
    name: 'Clearfix',
    cssFile: '_grid.scss',
    section: '1.1'
  }

= render_partial('element', element) do
  = render_partial('example') do
    %div{:style => "background: #ddd; height: 2em;"}
    
      .clearfix= 'clearfix'
