:ruby
  element = {
    name: 'Clearfix',
    cssFile: '_grid.scss',
    section: '1.1'
  }

= partial('element', element) do
  = partial('example') do
    %div{:style => "background: #ddd; height: 2em;"}
      .clearfix= 'clearfix'
