%tr{id: custom_url.id, data: {url: custom_url.id}}
  %td= link_to custom_url.id, custom_url_path(@media_resource,custom_url)
  %td= l custom_url.created_at, format: :long rescue "???"
  %td= custom_url.creator.canonical_name
  %td
    - if custom_url.is_primary 
      %strong Primäre URL
    - else
      Weiterleitung
  %td
    - if create_url_authorized?
      - unless custom_url.is_primary 
        = link_to set_primary_url_media_resource_path(@media_resource,custom_url), method: 'POST' do
          %button.button Als primäre URL setzen

