.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .btn-group
          = link_to admin_user_path(user), class: 'btn btn-default' do
            %i.glyphicon.glyphicon-user
            = "User: #{user.person}"
          = render partial: 'action_buttons', locals: { collection: collection, size: nil }
