.page-header
  %h1
    %i.glyphicon.glyphicon-folder-open
    #{@collection.title}

= render partial: 'action_panel', locals: { collection: @collection, user: @user }

.row
  .col-xs-12
    %table.table.table-striped
      %thead
      %tbody
      - @collection.attributes.each do |attr|
        %tr
          %td
            %strong= attr.first.humanize
          %td= attr.last

