@import "../../mixins";
@import "../../variables";

.edit_meta_datum_field .helper {
  display: none;
  position: relative;
  top: -39px;
  z-index: 1;
  
  .tabs {
    border-bottom: 1px solid #DDDDDD;
    display: inline-block;
    width: 100%;
    
    .tab {
      background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
      border: 1px solid #D3D3D3;
      border-bottom: none;
      color: #555555;
      cursor: pointer;
      font-size: 1.0em;
      font-weight: normal;
      float: left;
      padding: 0.8em 1em 0.5em;
      margin-right: 3px;
      @include top-border-radius(4px);
      
      &.active {
        background: url("images/ui-bg_glass_65_ffffff_1x400.png") repeat-x scroll 50% 50% #FFFFFF;
        color: #424242;
        font-weight: bold;
      }
      
      &:first-child {
        margin-left: 42px;
      }
    }
  }
  
  .content {
    padding-top: 8px;
    
    label {
      display: block;
    }
    
    &>div {
      display: none;
      
      &.active {
        display: block;
      }
    }
    
    .list {
      background: none repeat scroll 0 0 white;
      border: 1px solid #D2D2D2;
      display: inline-block;
      padding: 2px 8px;
      width: 440px;
      max-height: 200px;
      overflow-y: scroll;
      
      .entry {
        background: none repeat scroll 0 0 #DFDFDF;
        border: 1px solid #CFCFCF;
        border-radius: 4px 4px 4px 4px;
        cursor: pointer;
        display: inline-block;
        float: left;
        padding: 1px 1px 1px 6px;
        margin-bottom: 3px;
        margin-top: 1px;
        margin-right: 3px;
        
        &:hover {
          background: none repeat scroll 0 0 #EEEEEE;
        }
        
        &:active {
          background: none repeat scroll 0 0 #DFDFDF;
        }
        
        .count {
          background: none repeat scroll 0 0 white;
          border-radius: 4px 4px 4px 4px;
          display: inline-block;
          height: 19px;
          font-size: 0.9em;
          line-height: 18px;
          padding: 0 5px;
          position: relative;
          top: -1px;
        }
      }
    }
  }
}