@import "../../mixins";
@import "../../variables";

.edit_meta_datum_field.date {
  
  .at, .from_to { display: none; }
  
  select {
    float: left;
    width: 125px;
  }
  
  section {
    float: left;
    width: 323px;
    
    input {
      float: left;
      width: 304px !important;
    }
    
    &.from_to {
      span.dash {
        float: left;
        height: 27px;
        padding: 4px 4px 0 4px;
      }
      
      input {
        float: left;
        width: 136px !important;
      }
    }
  }
}
