%li
  %label{:title => "${title}"}
    ${$item.title = title.replace(/\s/g,'_'), ""}
    %input{:id => "${$item.title}", :type => "checkbox", :value => 1, :name => "${$item.title}"}
    %span.title
      {{if title.length > 40}}
      ${title.substr(0,40)}...
      {{else}}
      ${title}
      {{/if}}
    %span.creator
      ${creator.name}
    {{if created_at}}
    ${$created_at = new Date(created_at), ""}
    ${$is_today = ($created_at.getDate() == new Date().getDate() && $created_at.getMonth() == new Date().getMonth() && $created_at.getFullYear() == new Date().getFullYear()), ""}
    {{if $is_today}}
    ${$created_at = "Heute", ""}
    {{else}}
    ${$created_at = $.datepicker.formatDate('dd.mm.yy', new Date(created_at)), ""}
    {{/if}}
    %span.created_at{:"data-search" => "${$created_at}"}
      ${$created_at}
    {{/if}}
