.topbar
  %label.search
    = text_field_tag "widget_search", "", :class => "autofocus"
    .icon
    .hint= "Suchen..."
  /%button.filter.my{:title => "Nach meinen Sets filtern"}
  /= "Meine Sets"
  /%button.filter.favorites{:title => "Nach meinen Favoriten filtern"}
  /= "Favoriten"
  .clear
