.ui-alert.warning= _("Conversion is %f%% complete") % zencoder_job.progress_per_cent
.p.pvh.mth
  = _("This file is being converted so it can be previewed.")
  = _("As soon as this is done, you will find a playable version here.")
  %br
  %span.title-xs 
    = _("Please reload this page to see the latest progress.")
