.ui-alert.warning= "Konvertierung zu #{zencoder_job.progress_per_cent}% abgeschlossen"
.p.pvh.mth
  Diese Datei wird gerade für eine Vorschau konvertiert.
  Sobald dies abgeschlossen ist, finden Sie hier eine abspielbare Version.
  %br
  %span.title-xs Laden Sie diese Seite neu, um den aktuellsten Stand zu erfahren.
