.pvh.mth
  .title-l.by-center 
    Keine Inhalte
    {{if !$item.filterReset}}vorhanden{{/if}}
  {{if $item.filterReset}}
  .title-s.by-center
    für die aktuellen Filtereinstellungen gefunden
    %a#ui-all-filter-reset Filter zurücksetzen
  {{/if}}