%li.ui-resource
  .ui-resource-head
  .ui-resource-body
    .ui-thumbnail.media-entry
      .thumbnail.image
        .ui-thumbnail-image-wrapper
          .ui-thumbnail-image-holder
      .ui-thumbnail-meta
        %h3.ui-thumbnail-meta-title
        %h4.ui-thumbnail-meta-subtitle