/* @override http://localhost:3000/themes/madek11/stylesheets/master_new.css */

/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
 
/* Imports
 ----------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

/*ul, ol { margin-left: 0em; }
ol { list-style-type: decimal; }*/

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
      border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


/*  Body and Basefont  */

body, select, input, textarea {
	background: #E8E8E8;
	color: #444444;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.429em;
	text-align: left;
	margin: 0;
	padding: 0;
}


/*  Headers  */

h1 {font-size: 1.714em}	/* 24px */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}	/* 14px */

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	word-spacing:-0.1em;
	/*line-height: 1.3;*/
}


p {
	letter-spacing: 0.1ex;
}

/*.tags {
	word-spacing: 0.2em;

}
.tags a {
	font-size: 0.8em;
	color: white;
	text-decoration: none;
	background-color: blue;
	padding: 3px;
}*/

/**
 * Primary styles
 *
 * Author: 
 */

/******** Loading ********/

div#ajaxLoading {
    position: fixed;
	z-index: 999;
	background-color: #DBEBF1;
	border: 3px solid #41637c;
    padding: 0.5em 2em 0.5em 2em;
	color: #41637c;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
	top: 0.5em;
	right: 0.5em;
	display: none;
	opacity: 0.8;
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
}

/* Header */

header {
	/*background: #333333 url("../images/bg-header-top.png") top left repeat-x;*/
	height: 68px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#252525));
	background-image: -moz-linear-gradient(0% 100% 90deg, #252525, #444444);
	background-color: #333333;
}

header a {

}

nav {
	position: relative;
}

/* See: http://css-tricks.com/css-image-replacement/ for proper CSS image replacement techniques */

.main_nav {
	background: url(../images/icons/button_upload_active.png) no-repeat 6px 6px;
	border-style: none;
	width: 30px;
	height: 30px;
	top: 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
}

nav .main_nav:hover {
	background-color: #7b7b7b;
	-webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
	-moz-box-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
}

nav .main_nav:focus {
	-webkit-animation: pulse 1.5s infinite ease-in-out;
}


/* Logos */

.logo_left {
	background: transparent url("../images/logo-madek.png") top left no-repeat;
	height: 40px;
	width: 220px;
	float: left;
	display: block;
}

.logo_right {
	background: transparent url("../images/logo-zhdk.png") top right no-repeat;
	height: 40px;
	width: 100px;
	float: right;
	display: block;
}

/* Search */

#search {
	/*height: 40px;
	display: block;*/
}

#search-query {
	display: block;
	float: right;
}

#search-query input[type="text"] {
	width: 200px;
	height: 30px;
	padding-left: 8px;
	font-size: 1em;
	border: none;
	margin-right: 3px;
	-moz-box-shadow: inset 1px 1px 3px 1px #333333;
	-webkit-box-shadow: inset 1px 1px 3px 1px #333333;
	box-shadow: inset 1px 1px 3px 1px #333333;
	background-color: #545454;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #ffffff;
}

#search-query input[type="text"]:focus {
	background-color: #909090;
}

#search-query input[type="submit"] {
	background: url(../images/icons/button_search_active.png) no-repeat 6px 5px;
	border-style: none;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

#search-query input[type="submit"]:hover {
	background-color: #606060;
	/*-webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
	-webkit-animation: pulse 1.5s infinite ease-in-out;*/
}

input[type="submit"]:hover, input[type="submit"]:focus {
	-webkit-animation: pulse 1.5s infinite ease-in-out;
}


/*  Menu  */

#menu {
	/*position: relative;*/
}

.head_menu a {
	font-weight: bold;
}
.head_menu a, .sub_menu a {
	color: #FFFFFF;
	text-decoration: none;
	height: 2em;
}

.head_menu a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

#menu ul {
	padding: 13px 0 0 0;
	margin-left: 20px;
}

.head_menu {
	padding: 5px 10px;
	margin-left: 20px;
	border: none;
	font-size: 0.9em;
	text-align: left;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#252525));
	background-image: -moz-linear-gradient(0% 100% 90deg, #252525, #444444);
	background-color: #000;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.head_menu:hover {
	-webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
	overflow: visible;
}

.sub_menu {
	display: none;
	padding: 5px 10px;
	border: none;
	text-align: left;
	/*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#252525));
	background-image: -moz-linear-gradient(0% 100% 90deg, #252525, #444444);*/
	background-color: #000;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	position: absolute;
	left:40px;
	top:0px;
	margin-top:45px;
	z-index: 999;
}

/*.sub_menu hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin:0; padding:0; }*/

.sub_menu a {
	padding: 5px 0 0 0;
	border: none;
	font-size: 0.9em;
	text-align: left;
	display: block;
}

.sub_menu a:hover {
	/*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#252525));
	background-image: -moz-linear-gradient(0% 100% 90deg, #252525, #444444);*/
	background-color: #474747;
	color: white;
}	

.head_menu .arrow {
	margin-left: 5px;
	vertical-align: bottom;
	margin-bottom: 3px;
}

.sub_menu .item_line {
	border-top: 1px solid #5b5b5b; padding-top:10px !important;
}


/*  Lists  */

ul { list-style: none; }
ul li { float: left; }

#number_selected {
	margin-right: 1em;
}
  
/*  Content  */


#content {

}

#content_set {
	
}

#content_head {

}

#content_body {
	width:90%;
	padding: 20px;
	min-width: 940px;
	margin-left:auto;
	margin-right:auto;
	background-color: #fff;
	-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#e6e6e6))
	-moz-linear-gradient(100% 100% 100deg,#E6E6E6, #FFFFFF)
	-webkit-box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);
	-moz-box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);
	box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);
	position: relative;
}

#content_body_fixed {
	overflow: auto;
	background-color: #ffffff;
	-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#e6e6e6))
	-moz-linear-gradient(100% 100% 100deg,#E6E6E6, #FFFFFF)
	-webkit-box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);
	-moz-box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);
	box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);
	margin-top: 10px;
}

.section_title {
	padding: 0 0 10px 0;
	font-weight: bold;
	font-size: 1.5em;
}

.page_title_left {
	padding: 0 0 10px 0;
	font-weight: bold;
	font-size: 1.5em;
	float: left;
}

.page_title_left span, .section_title a {
	font-size: 0.7em;
	font-weight: normal;
	word-spacing: 0.1ex;
	padding-left: 0.4em;
	color: #727272;
	text-decoration: none;
}

/* Pagination */

.pagination {
	float: right;
	word-spacing: 0.5em;
	color: #c4c4c4;
}

.pagination em {
	font-size: 1.5em;
	font-weight: bold;
	color: #444444;
}

.pagination a {
	text-decoration: none;
}

.pagination a:hover {
	color: #000;
	text-decoration: underline;
}

/* Media thumbs */

#results, #results_mine, #results_others {
	padding: 20px 0;
	text-align: center;
}

.item_box {
	display: inline-block;
	width: 140px;
	height: 225px;
	margin: 5px;
	padding: 5px;
	text-align: left;
	vertical-align: top;
	position: relative;
	margin-bottom: 7px;
}

.item_box:hover {
	background-color: #f3f3f3;
}

.item_box_set {
	display: inline-block;
	width: 160px;
	height: 160px;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: top;
	position: relative;
}

.item_box_selected {
	display: inline-block;
	width: 140px;
	height: 240px;
	margin: 5px 5px 20px 5px;
	padding: 5px;
	position: relative;
	background-color: #f2f2f2;
}

.item_title {
	font-size: 0.9em;
	line-height: 1.2em;
	letter-spacing: 0.2ex;
	color: #4c4c4c;
	padding-left: 2px;
}

.item_author {
	font-size: 0.7em;
	line-height: 1.1em;
	letter-spacing: 0.2ex;
	margin-top: 0.6em;
	display: block;
	padding-left: 2px;
}

.item_permission {
	position: absolute;
	right: 6px;
	top: 6px;
	z-index: 888;
}

.item_permission_set {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 888;
}

.thumb_box {
	float: left;
	text-align: center;
	width: 140px;
	height: 140px;
	font-size: 1em;
	line-height: 135px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(100, 100, 100, 0.6);
	-moz-box-shadow: 0 0 4px rgba(100, 100, 100, 0.6);
	box-shadow: 0 0 4px rgba(100, 100, 100, 0.6);
	margin-bottom: 10px;
}

.thumb_box:hover {
	-webkit-box-shadow: 0 0 6px rgba(100, 100, 100, 1);
	-moz-box-shadow: 0 0 6px rgba(100, 100, 100, 1);
	box-shadow: 0 0 6px rgba(100, 100, 100, 1);
}

#list_as_thumbnails .thumb_box {
	float: left;
	text-align: center;
	width: 110px;
	height: 110px;
	font-size: 1em;
	line-height: 105px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(100, 100, 100, 0.6);
	-moz-box-shadow: 0 0 4px rgba(100, 100, 100, 0.6);
	box-shadow: 0 0 4px rgba(100, 100, 100, 0.6);
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

#toggle {
	margin-top: 2px;
	display: block;
	float: right;
	margin-left: 5px;
	margin-bottom: 10px;
}

.thumb_box_set {
	float: left;
	text-align: center;
	width: 160px;
	height: 160px;
	font-size: 1em;
	line-height: 155px;
	background: url(../images/icons/icon_set_tn1.png) no-repeat 0 0;
	/*-webkit-box-shadow: 0 0 4px rgba(100, 100, 100, 0.6);
	-moz-box-shadow: 0 0 4px rgba(100, 100, 100, 0.6);
	box-shadow: 0 0 4px rgba(100, 100, 100, 0.6);*/
}

.thumb_box img, .thumb_box_set img {
	border: 1px solid #e4e4e4;
	margin-top: expression(( 140 - this.height ) / 2);
	vertical-align: middle;
}

.actions {
	position: absolute;
	bottom: 3px;
}

.action_left {
	width: 65px;
	text-align: left;
	padding-left: 1px;
	float: left;
	vertical-align: baseline;
}

.action_left input[type="checkbox"] {
	text-align: left;
	padding-left: 5px;
	margin-top: 3px;
	vertical-align: baseline;
	float: left;
	margin-right: 10px;
}

.action_right {
	width: 70px;
	text-align: right;
	padding-right: 3px;
	float: right;
}
.action_right img {
	padding-left: 5px;
}


/* Links and Buttons */

a {
	color: #424242;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: underline;
}

button a {
	text-decoration: none;
}

button:hover {
	cursor: pointer;
}

button::-moz-focus-inner {
	border:0;
}

button.minimal {
	background: #e3e3e3;
	border: 1px solid #bbb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	color: #333;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 1em;
	padding: 8px 0 9px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 100px;
}

button.minimal:hover {
	background: #d9d9d9;
	-moz-box-shadow: inset 0 0 1px 1px #eaeaea;
	-webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
	box-shadow: inset 0 0 1px 1px #eaeaea;
	color: #222;
}

button.minimal:active {
	background: #d0d0d0;
	-moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
	-webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
	box-shadow: inset 0 0 1px 1px #e3e3e3;
	color: #000;
}

button.dark {
	padding: 5px 15px;
	margin-right: 5px;
	border: none;
	height: 2.3em;
	/*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);*/
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#252525));
	background-image: -moz-linear-gradient(0% 100% 90deg, #252525, #444444);
	background-color: #000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	font: bold 0.9em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.save_buttons {
	margin: 0 0 40px 0;
	float: right;
}

.outside {
	padding: 5px 15px;
	margin-right: 5px;
	border: none;
	height: 1.5em;
	/*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);*/
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#252525));
	background-image: -moz-linear-gradient(0% 100% 90deg, #252525, #444444);
	background-color: #000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	font: bold 0.9em 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: fixed;
	float: right;
	right: 20px;
	top: 13px;
	z-index: 999;
}

.outside:hover {
	-webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
	overflow: visible;
}

a.outside {
	color: #FFFFFF;
}

a.outside:hover {
	text-decoration: none;
}


button.dark a {
	color: #FFFFFF;
}

button.dark:hover {
	-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
	-moz-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
	box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
}


.button_delete {
	width: 18px;
	height:  18px;
	background: url('../images/icons/delete_master_sprite.png') bottom;
	text-indent: 999em;
	overflow: hidden;
	display: inline-block;
}
.button_delete:hover {
	background-position: 0 0;
}

.button_dark {
	padding: 5px 15px;
	margin: 5px;
	border: none;
	/*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);*/
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#252525));
	background-image: -moz-linear-gradient(0% 100% 90deg, #252525, #444444);
	background-color: #000;
/*	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px; */
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	font: bold 0.9em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.button_dark a {
	color: #FFFFFF;
}

/* Specific Page Head for Set */

#page_head {
	overflow: auto;
	background-color: #ffffff;
	-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#e6e6e6))
	-moz-linear-gradient(100% 100% 100deg,#E6E6E6, #FFFFFF)
	-webkit-box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);
	-moz-box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);
	box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);
	margin-top: -10px;
	margin-bottom: 5px;
	position: relative;
}

#set_info {
	padding: 25px 0 0 35px;
	float: left;
	display: block;
}

#set_info img {
	padding: 0;
}

#set_info h3 {
	background: url('../images/icons/icon_set_small.png') no-repeat 0 1px;
	padding-bottom: 0.5em;
	text-indent: 27px;
}

#set_meta {
	padding: 15px 0;
	display: block;
}


#set_actions {
	padding: 22px 22px 0 0;
	display: block;
	float: right;
}
#set_actions img {
	background-color: #fff;
	padding: 7px;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
#set_actions img:hover {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}


/* Batch edit */

#page_head_edit {
	overflow: auto;
	background-color: #ffffff;
	-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#e6e6e6))
	-moz-linear-gradient(100% 100% 100deg,#E6E6E6, #FFFFFF)
	-webkit-box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);
	-moz-box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);
	box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);
	margin-top: -10px;
	margin-bottom: 5px;
	position: relative;
	padding: 20px;
}

#page_head_edit h2 {
	float: none;
}

.task_bar {
	padding: 10px 0 0 0;
	background-color: #e6e6e6;
}


.task_bar h4 {
	font-size: 0.9em;
	margin-left: 10px;
	margin-top: 3px;
	color: #444;
}

.task_bar #number_selected {
	margin-top: 3px;
	font-size: 0.9em;
	letter-spacing: 0.1ex;
	font-weight: normal;
	word-spacing: 0.1ex;
	padding-left: 0.2em;
	color: #444;
}

/*.task_bar ul {
	width: 100%;
	display: inline-block;
}*/

.icon_bar {margin-top: 2em;}
.icon_bar img {margin-right: .33em;}

#selected_items {
	padding: 0 5px 0 5px;
	/*background-color: #e8e8e8;*/
	overflow: auto;
}

#selected_items_edit {
	padding: 10px 5px 0px 5px;
	/*background-color: #e8e8e8;*/
	height: 200px;
	overflow: auto;
	-moz-box-shadow: inset 0 0 3px 1px #ccc;
	-webkit-box-shadow: inset 0 0 3px 1px #ccc;
	box-shadow: inset 0 0 3px 1px #ccc;
}

#batch-edit-button {
	margin-bottom: 10px;
}

#batch-remove-button {
	
}

#batch-add-to-set {
	border-left: 1px solid #fff;
	padding-left: 15px;
}

#media_set_add {
	margin-left: 10px;
}

#media_content ul {
	border-bottom: 1px solid #e6e6e6;
}

/*#selected_items .thumb_mini { display: inline-block; margin-right: 0.33em; background: white; border: 1px solid #ddd; padding: 2px; min-height: 54px; min-width: 54px;}*/

/*#selected_items .thumb_mini {
	width: 60px;
	height: 60px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 2px rgba(100, 100, 100, 0.6);
	-moz-box-shadow: 0 0 2px rgba(100, 100, 100, 0.6);
	box-shadow: 0 0 2px rgba(100, 100, 100, 0.6);
	position: relative;
	display: inline-block;
	margin: 0 5px;
}*/

/*.thumb_mini img {
	margin-left: auto;
    margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
    display: block;
    max-height: 50px;
    max-width: 50px;
}*/

#selected_items .thumb_mini, #selected_items_edit .thumb_mini {
	float: left;
	text-align: center;
	width: 60px;
	height: 60px;
	font-size: 1em;
	line-height: 55px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(100, 100, 100, 0.6);
	-moz-box-shadow: 0 0 4px rgba(100, 100, 100, 0.6);
	box-shadow: 0 0 4px rgba(100, 100, 100, 0.6);
	margin: 0 3px 10px 3px;
}

.thumb_mini img {
	border: 1px solid #e4e4e4;
	margin-top: expression(( 60 - this.height ) / 2);
	vertical-align: middle;
}

.task_bar table img {
	border: 1px solid #e4e4e4;
}

#selected_items .thumb_remove { 
	position:absolute;
	z-index: 4000;
	cursor:pointer;
	margin: 0;
	border: 0;
}

.thumb_remove {

}

/*#selected_items .thumb_mini p { text-align: center; font-size: 0.7em;  }*/


.task_bar input[type="submit"] {
	color: #333;
	font-weight: bold;
	padding: 3px 10px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	background: #e3e3e3;
	border: 1px solid #bbb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	margin-right: 10px;

}

.task_bar input[type="submit"]:hover, .save_buttons input[type="submit"]:hover {
	background: white;
	-moz-box-shadow: inset 0 0 1px 1px #eaeaea;
	-webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
	box-shadow: inset 0 0 1px 1px #eaeaea;
	color: #222;
}

.task_bar input[type="submit"]:active, .save_buttons input[type="submit"]:active {
	background: #d0d0d0;
	-moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
	-webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
	box-shadow: inset 0 0 1px 1px #e3e3e3;
	color: #000;
}

.save_buttons input[type="submit"] {
	color: #333;
	font-weight: bold;
	padding: 3px 10px 4px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	background: #e3e3e3;
	border: 1px solid #bbb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	font-size: 1.2em;
	margin-top: -3px;
	margin-left: 15px;
}

.task_bar ul {
  	overflow: hidden;
}

.task_bar ul li { 
    float: left;
    margin-right: 0.5em;
}

#detail_specification ul { 
  	list-style: none; 
  	overflow: hidden;
}

#detail_specification ul li { 
    float: left;
    /*margin-right: 0.5em;*/
}

li.different_values {
    background: red url(../images/stripe_1.png);
}
  	
table thead { 
  	font-size: 1em; 
  	font-weight: bold; 
  	border-bottom: 1px solid #000;
}
  	
table td {
  	padding: 2px 10px;
  	border: 1px solid #ccc;
  	border-width: 0 1px 1px 0;
}

#list_as_list td, #list_as_list td img {
	display: table-cell;
	vertical-align: middle;
}

#list_as_list .thumb_mini {
	margin-bottom: 0;
}

#list_as_list table {
	width: 100%;
	font-size: 0.9em;
}

/* Metadata */

#set_meta small, #set_info small {
	color: #7f7f7f;
	font-size: 0.8em;
	letter-spacing: 0.2ex;
}

#set_meta p {
	margin-bottom: 0.7em;
}

#set_meta h3 {
	padding-bottom: 0.5em;
}

/* Metadata edit */

#page_edit {
	overflow: auto;
	background-color: #ffffff;
	-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#e6e6e6))
	-moz-linear-gradient(100% 100% 100deg,#E6E6E6, #FFFFFF)
	-webkit-box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);
	-moz-box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);
	box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);
	margin-top: -10px;
	margin-bottom: 5px;
	position: relative;
}

#legend {
	margin-top: 90px;
	padding: 15px;
	-moz-box-shadow: inset 0 0 3px 1px #ccc;
	-webkit-box-shadow: inset 0 0 3px 1px #ccc;
	box-shadow: inset 0 0 3px 1px #ccc;
	font: 0.8em/1.2em "Courier New", Courier, mono;
	letter-spacing: 1px;
	background-color: #fafafa;
}

#legend h3 {
	font-size: 1.6em;
	margin-bottom: 35px;
	font-weight: normal;
}

#legend p.info { 
	margin: 10px 0 10px 0;
}

#legend span.wert {
	font: 1.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.ui-multiselect .actions {
	position: static;
}

/* Messages */

.notice, .error {
	padding: 0.75em;
	margin: 1em 0;
	/*-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/
}

.notice {
	background: #FEFFD7;
	border: 1px solid #EEEFB8;
}

.error {
	background:none repeat scroll 0 0 #FFBBAA;
	border:1px solid #FF9999;
}

.notice label, .error label {
	font-weight: bold;
}

/** temporary styles to make permissions box presentable *****/

/* Permissions */

.sidebar-box table.permissions {
    width: 100%;
    padding: 0.5em 0em 0.5em 0em;
    margin-top: 1em;
}
.ui-tabs-panel table.permissions {
    width: 98%;
    padding: 1em;
	margin: 0.8em 0.5em 0.5em;
	background-color: #f2f2f2;
}
.ui-tabs-panel table.permissions a {
    color: #41637C;
}
table.permissions td {
    padding: 0.5em;
    font-size: 0.9em;
	line-height: 2em;
}
table.permissions strong {
	line-height: 4em;
}
table.permissions tr.adder td {
	background-color: white;
	font-size: 0.8em;
	font-weight: bold;
	padding-left: 1em;
}
tr.adder input {
	width: 22em;
}
table.permissions th {
	color: #999999;
    font-size: 0.8em;
    margin-bottom: 0.1em;
    padding-left: 0.5em;
    padding-bottom: 0.3em;
}
.permissions table {
    margin: 1.5em;
}
tbody#user_permissions, tbody#group_permissions, tbody#anyone_permissions {
	background-color: #d5d5d5;
}
#group_permissions tbody {
	padding: 3.5em 0 0;
}
#user_permissions td, #group_permissions td, #anyone_permissions td {
	border-bottom: 1px solid white;
	font-size: 0.8em;
	padding-left: 1em;
}

/* Footer */

#inner-footer {
	margin-top: 40px;
	font-weight: normal;
	font-style: normal;
}



/* Sidebar */

.sidebar-box {
	position: relative;
	background: #f2f2f2;
	padding: 0.75em 1em;
	/*margin-bottom: 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/
}

.sidebar-box .buttons {
	font-size: 0.8em;
	padding: 0.3em 0.6em;
}


#detail-affiliation h3,
#detail-relation h3 {
	margin: 5em 0 .5em 0;
	line-height: 1em;
	font-weight: normal;
	position: relative;
	top: 0px;
	font-style: normal;
	padding-top: 10px;
}

#detail-affiliation h3 a,
#detail-relation h3 a {
	position: absolute;
	bottom: 2px;
	right: 0;
	font-size: 11px;
	color: #b2b2b2;
	display: block;
	width: 150px;
	text-align: right;
}

.sidebar-box h4 {
	font-weight: normal;
	font-size: 100%;
	margin-right: 1em;
}

.sidebar-box h4 a {
	font-style: normal;
	font-weight: bold;
}

.sidebar-box .opener {
	position: absolute;
	top: 0;
	right: 0;
	height: 25px;
	width: 25px;
	line-height: 2em;
}



/** temporary styles to make batch edit page presentable *****/

.clear {
	margin: 10px 0;
}

li.label {
	line-height: 1.2em;
	font-weight: bold;
}

.ui-tabs .meta_data { 
	padding: 2em 0 2em 1em; 
}

ul[data-meta_key].parent {
	/*background-color: #E7E7E7;*/
}
ul[data-parent_meta_key] {
	background-color: #F2F2F2;
	display: none;
	padding-left: 1.5em;
}

.meta_data ul[data-meta_key] > li {
    display: inline-block;
    margin: 20px 0;
    padding: 10px;
}

.meta_data input, .meta_data select, .meta_data textarea {
    border: 1px solid #D2D2D2;
    color: #424242;
    font-size: 1em;
    padding: 5px;
    width: 96%;
    -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
	-webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
	box-shadow: inset 0 0 1px 1px #e3e3e3;
	background-color: #ffffff;
}

.meta_data .description_toggler {
	display: block;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	line-height: 11px;
    background-color: #fff;
	padding: 3px;
	width: 10px;
	height:  10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.meta_data .description_toggler:hover {
	background-color: #FEFFD7;
	text-decoration: none;
}

.meta_data .hint {
    color: #707070;
    display: block;
    z-index: 99999;
	font: normal 0.8em/1.2em "Courier New", Courier, mono;
	margin-top: 0.8em;
}

.dialog {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    background-color: #FEFFD7;
    /*border: 1px solid #D4C889;*/
    padding: 10px;
    position: absolute;
    right: 39px;
    width: 20em;
}

.dates input, #dateSelect {
    width: auto;
}

.meta_data ul.meta_terms {
    font-size: 0.9em;
    padding-right: 0.5em;
}

.meta_data ul.meta_terms > li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.meta_data ul.meta_terms > li > ul > li {
    display: block;
}

.meta_data input[type="checkbox"] {
    float: inherit;
    margin-top: 0.3em;
    width: auto;
}

.meta_data ul.meta_terms > li > ul > li > input[type="checkbox"] {
    margin-right: 0.5em;
    margin-left: 1.0em;
}

#dateSelect {
    background: white;
}



/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



/* custom Andrea Set */

  h4 {margin: 0 0 4px 0;}


  .clear { margin: 0;}


