:ruby
  element = {
    name: '"Content Type" Icons in Page Headers',
    cssFile: '_icons.scss',
    cssSelector: '.icon-{name}',
    description: 'Icons are used in Page Headers to indicate the type of content presented. \nBelow is a list of all such pages and their corresponding icons.',
    section: '6.8'
  }

  list = [
    ['media-entry', 'Title of an Entry'],
    ['set', 'Title of a Set'],
    ['filter-set', 'Title of a Filter-Set'],
    ['home', 'Mein Archiv'],
    ['privacy-private-alt', 'Inhalte, für die ich verantwortlich bin'],
    ['upload', 'Meine letzten Importe'],
    ['star', 'Meine Favoriten'],
    ['tag', 'Meine Schlagworte'],
    ['privacy-group-alt', 'Mir anvertraute Inhalte'],
    ['privacy-group', 'Meine Arbeitsgruppen'],
    ['tags', 'Vokabulare'],
    ['catalog', 'Erkunden'],
    ['catalog', 'Erkunden / Katalog'],
    ['set', 'Erkunden / Beispielhafte-Sets'],
    ['tag', 'Erkunden / Häufige Schlagworte'],
    ['lens', 'Suche'],
    ['library', 'Medienarchiv'],
    ['pen', 'Metadaten editieren'],
    ['lock', 'Berechtigungen von "Foobar"'],
    ['link', 'Adressen für "Foobar"'],
    ['vis-graph', 'Visualisiertes Set'],
    ['eye', 'Nach vergleichbaren Inhalten stöbern'],
    ['upload', 'Import Media']
  ]


= partial('element', element) do
  - list.each do |name, text|
    = partial('example') do

      = component('page-header', text: text, icon: component("icon.#{name}"))
