.app.view-dashboard

  = render "application/header"

  // PAGE TITLE

  .app-body
    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Häufige Schlagworte

    .app-body-ui-container
      .bordered.ui-container.midtone.rounded.table

        = render "application/sidebar/my_archive"

        .app-body-content.table-cell.table-substance.ui-container

          // CONTENT

          .ui-resources-holder
            .ui-resources-header
              %h2.title-l.ui-resources-title
                Meine Schlagworte
            %ul.ui-tag-cloud
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 1
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 2
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 3
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 4
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 5
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 6
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 1
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 2
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 3
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 4
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 5
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 6
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 1
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 2
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 3
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 4
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 5
              %li.ui-tag-cloud-item
                %a.ui-tag-button{:href => "#"} Tag 6

  .app-footer-push
= render "application/footer"