
%tr
  %td
    = link_to app_admin_zencoder_job_path(zencoder_job) do
      %i.icon-film
      details
  %td= zencoder_job.state
  %td
    = link_to app_admin_media_file_path(zencoder_job.media_file) do
      %i.icon-file-alt
      media file
  %td= zencoder_job.created_at
