%table.zencoder-jobs.table.table-striped
  %thead
    %tr
      %th
        Status
      %th
        %i.fa.fa-link
        Media File
      %th
        Created at

  %tbody
    = render @zencoder_jobs

