%table.table.table-striped
  %thead
    %tr
      %th 
        %i.icon-link
        Job Details
      %th
        Status
      %th
        %i.icon-link
        Media File
      %th
        Created at

  %tbody
    = render @zencoder_jobs

