%table
  %tr
    %td{:colspan => 5, :style => "text-align: right; white-space: nowrap;"}
      = link_to _("New Key"), new_admin_key_path, :class => "buttons", :remote => true, :"data-type" => "html"

%table.datatable
  %thead
    %tr
      %th Label
      %th Object Type
      %th Is Dynamic
      %th Terms
      %th
  %tbody
    = render :partial => "show", :collection => @keys, :as => :key
