{{if ($item.with_actions == null || $item.with_actions)}}
.actions
  {{tmpl($item.data) "tmpl/media_resource/thumb_box/actions/_left"}}
  {{tmpl($item.data) "tmpl/media_resource/thumb_box/actions/_right"}}
  {{tmpl($item.data) "tmpl/media_resource/thumb_box/actions/menu"}}
{{/if}}