${$class = (is_set) ? "thumb_box_set" : "thumb_box", ""}
{{if ($item.with_link == null || $item.with_link)}}
%a{:href => "/media_resources/${id}"}
  %div{:class => "${$class}"}
    {{if image}}
    %img{:src => "${image}"}
    {{else $item.data.type == "filter_set"}}
    .filter_set.icon
    {{/if}}
{{else}}
%div{:class => "${$class}"}
  {{if image}}
  %img{:src => "${image}"}
  {{/if}}
{{/if}}
