.meta_data
  %table
    %tr
      %td.context.core {{tmpl({meta_data: meta_data}, {media_resource_id: id, label: "Core"}) "tmpl/media_resource/thumb_box/meta_data"}}
      %td.context{:"data-name" => "Institution", :"data-label" => "Institution"} 
      %td.context{:"data-name" => "Nutzung", :"data-label" => "Nutzung"}
