%dl.meta_data
  {{each(i, meta_datum) MetaDatum.flatten(meta_data)}}
  ${$class = Underscore.string.underscored(meta_datum.name), ""}
  %dt{:class => "${$class}"} 
    ${meta_datum.name}
  %dd{:class => "${$class}", :title => "${meta_datum.value}"} 
    ${meta_datum.value}
  {{/each}}
