{{if value}}
${$type = Underscore.str.underscored(name),""}
{{if typeof($.template("tmpl/media_resource/thumb_box/meta_datum/"+$type)) == "function"}}
{{tmpl "tmpl/media_resource/thumb_box/meta_datum/"+$type}}
{{else}}
{{tmpl "tmpl/media_resource/thumb_box/meta_datum/default"}}
{{/if}}
{{/if}}
