#inner-footer.container_12
  %p
    2009-2011 Zürcher Hochschule der Künste
    &nbsp;&#124;&nbsp;
    = link_to _("Nutzungsbedingungen"), usage_terms_user_path(current_user, :hide_buttons => true)
    %br
      = render :partial => "/layouts/deploy_info"
      %br