#inner-footer.container_12
  %p
    %strong
      2009-2010 Zürcher Hochschule der Künste
      &nbsp;&#124;&nbsp;
      = link_to _("Nutzungsbedingungen"), usage_terms_user_path(current_user, :hide_buttons => true)