.container_12.clearfix
  .grid_4.logo_left.ir
    = link_to "Medienarchiv der Künste", root_path
    
  .grid_5
    = render :partial => '/layouts/search' unless @disable_search
   
  .grid_3.logo_right.ir
    ¨= link_to "ZHdK", "http://www.zhdk.ch"
    
.container_12.clearfix
  .grid_12
    = render :partial => '/layouts/menu'

#ajaxLoading
  = theme_image_tag "icons/spinner.gif"
