<!doctype html>  
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
    	Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Medienarchiv - Zürcher Hochschule der Künste</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!--  Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">

	<!-- CSS : implied media="all" -->
	<link rel="stylesheet" href="../../stylesheets/master_new.css">

	<!-- Uncomment if you are specifically targeting less enabled mobile browsers
	<link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->
 
	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="js/libs/modernizr-1.7.min.js"></script>

</head>
	
<body id="basic-layout" class="home" lang="de-CH">

<!-- <div id="main" role="main"> -->
  
	<header>
	<div class="container_12 clearfix">
		
		<div class="grid_4 logo_left ir">
			<a href="http://medienarchiv.zhdk.ch/">Medienarchiv der Künste</a>
		</div>
		
		<div class="grid_5">
			<section id="search">
				<div id="quick-search">
					<form accept-charset="UTF-8" action="/media_entries" method="get">
						<div style="margin:0;padding:0;display:inline">
							<input name="utf8" type="hidden" value="&#x2713;" />
						</div>
						<div class="basic" id="search-query">
							<div>
								<input id="query" name="query" onfocus="this.value='';" type="text" />
								<input id="search-submit" name="commit" type="submit" value="Suchen" />
							</div>
						</div>
					</form>
				</div>
			</section>
		</div>
		
		<div class="grid_3 logo_right ir">
			<a href="http://www.zhdk.ch">ZHdK</a>
		</div>
		
	</div>

	<div class="container_12 clearfix">
	
		<div class="grid_12">
			<nav id='menu'>
  				<ul>
    				<li>
      					<div class="head_menu">
							<img alt="Arrow-user" class="arrow" src="../../images/icons/arrow_user.png" />
							<a href="/">Heitz, Olivier Name</a>
      					</div>
     					<div class="sub_menu">
							<a href="/users/172154/media_entries">Meine Medien</a>
							<a href="/users/172154/media_sets">Meine Sets</a>
							<a href="/media_entries/favorites">Meine Favoriten</a>
							<hr>
							<a href="/groups">Meine Arbeitsgruppen</a>
							<hr>
							<a href="/admin">Admin</a>
							<hr>
							<a href="/logout">Abmelden</a>
						</div>
					</li>
    				<li>
						<button class="dark"><a href="/upload/new">Hochladen</a></button>
					</li>
					<li>
						<button class="dark"><a href="/media_sets/101/media_sets">Ausgewählte Sets</a></button>
					</li>
					<li>
						<button class="dark"><a href="/feedback">Feedback</a></button>
					</li>
				</ul>
			</nav>
		</div>
		
	</div>
	
	<div id="ajaxLoading">
    	<img alt="Spinner" src="../../images/icons/spinner.gif" /> Loading...
	</div>

	</header>
	
	<!-- END header wrapper -->
	
	<section id="content_head">
		
		<div class="container_12 clearfix">

			<div class="grid_12" id="page_head">

				<div class="grid_3 alpha">
					<div id="set_info">
						<small>Art der Gruppierung:</small>
					    <h3>Set</h3>
<!--
					    <small>Set Icon:</small>
						<img alt="Set icon" src="../../images/icons/icon_img_set.png" />
-->
					</div>
				</div>

				<div class="grid_6">
					<div id="set_meta">
					    <small>Titel des Sets:</small>
					    <h3>Jahresausstellung 2009</h3>
					    <small>Beschreibung:</small>
					    <p>Einzelne Arbeiten von Studierenden des Departement Kunst & Medien, die im Rahmen der Jahresausstellung 2009 gezeigt wurden.</p>
					    <small>Autor/in des Sets:</small>
					    <p><a href="/media_entries?query=Weiberg+Birk">Weiberg, Birk</a></p>
					    <small>Schlagworte zu Inhalt und Motiv:</small>
					    <p class='tags'><a href="/">Ausstellung</a>, <a href="/">Medienkunst</a>, <a href="/">Jahresausstellung</a>, <a href="/">Bauernhof</a>, Bäume, Deutschland, Dorf, Fachwerk, Fluss, Frühe Neuzeit, Himmel, Horizont, Landschaftsmalerei, Landwirtschaft, Malerei</p>
					    <small>Erstellt von / am:</small>
					    <p><a href="/media_entries?query=Weiberg+Birk">Weiberg, Birk</a> / 23. 02. 2011, 14:41 Uhr</p>
      				</div>
  				</div>
  				
				<div class="grid_3 omega">
					<div id="set_actions">
						<a href="/media_sets/2/edit"><img alt="Edit" src="../../images/icons/button_edit_active.png" /></a>
						<img alt="Padlock_closed" src="../../images/icons/button_status_private.png" />
						<a href="/media_sets/2" data-confirm="Sind Sie sicher? Das Set wird gelöscht." data-method="delete" rel="nofollow"><img alt="Delete" src="../../images/icons/button_delete_active.png" /></a>

					</div>
				</div>
				
			</div>
			
<!--		<div class='clear'></div>  ? -->

		</div>

	</section>

	<section id="content_body">
		
		<div class="task_bar">
		
			<ul>
				<li><h4>Medieneinträge bearbeiten:</h4></li>
				<li id="number_selected">5 Medieneinträge ausgewählt</li>
				
				<li id="batch-edit-button">
					<form class="button_to" action="/media_entries/edit_multiple" method="post">
						<div>
							<input type="submit" value="Medieneinträge editieren" id="batch-edit">
							<input type="hidden" value="xNfKZTKCYX67IsP52azk49nlwbYukqCMgZQ7ezWYfvc=" name="authenticity_token">
						</div>
					</form>
				</li>
				
      			<li id="batch-remove-button">
					<form class="button_to" action="/media_sets/2/media_entries/remove_multiple" method="post">
						<div>
							<input type="hidden" value="delete" name="_method"><input type="submit" value="Aus Set entfernen" id="batch-remove">
							<input type="hidden" value="xNfKZTKCYX67IsP52azk49nlwbYukqCMgZQ7ezWYfvc=" name="authenticity_token">
						</div>
					</form>
      			</li>
      			
				<li id="batch-add-to-set">
					<form class="button_to" action="/media_entries/edit_multiple" method="post">
						<div>
							<select name="media_set" id="media_set">
								<option value="">Set auswählen…</option>
								<option value="1">Testset</option>
							</select>
							<input type="submit" id="media_set_add" value="Hinzufügen">
						</div>
					</form>
				</li>
			</ul>
			
		<div id="selected_items">
			<div id="me_1" class="thumb_mini edit edit_set"><a href="/media_entries/1"><img src="../../images/media/index01_x_small.jpg" /></a></div>
			<div id="me_2" class="thumb_mini edit edit_set"><a href="/media_entries/2"><img src="../../images/media/index02_x_small.jpg" /></a></div>
			<div id="me_3" class="thumb_mini edit edit_set"><a href="/media_entries/3"><img src="../../images/media/index03_x_small.jpg" /></a></div>
			<div id="me_4" class="thumb_mini edit edit_set"><a href="/media_entries/4"><img src="../../images/media/index04_x_small.jpg" /></a></div>
			<div id="me_5" class="thumb_mini edit edit_set"><a href="/media_entries/5"><img src="../../images/media/index05_x_small.jpg" /></a></div>
		</div>
		
		</div>
		

		


		<h2 class="section_title">Set Inhalt <span>17 von 24 Medieneinträge sichtbar</span></h2>
		
			<div id="results">
			
				<div class='item_box'>
					<span class='item_permission'><img alt="Icon_button_perm" src="../../images/icons/button_status_private.png" /></span>
    				<div class='thumb_box'>
    					<a href='/media_entries/1'><img src="../../images/media/index01.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable">
							<img alt="add to favs" src="../../images/icons/button_favorit_on.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_active.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_active.png" />
						</div>
					</div>
				</div>
				
				<div class='item_box'>
					<span class='item_permission'><img alt="Icon_button_perm" src="../../images/icons/button_status_private.png" /></span>
    				<div class='thumb_box'>
    					<a href='/media_entries/2'><img src="../../images/media/index02.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable">
							<img alt="add to favs" src="../../images/icons/button_favorit_on.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_active.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_active.png" />
						</div>
					</div>
				</div>
				
				<div class='item_box_selected'>
    				<div class='thumb_box'>
    					<a href='/media_entries/3'><img src="../../images/media/index03.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable" checked>
							<img alt="Icon_button_fav" src="../../images/icons/button_favorit_off.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_active.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_active.png" />
						</div>
					</div>
				</div>
				
				<div class='item_box_selected'>
    				<div class='thumb_box'>
    					<a href='/media_entries/4'><img src="../../images/media/index04.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable" checked>
							<img alt="Icon_button_fav" src="../../images/icons/button_favorit_on.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_active.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_active.png" />
						</div>
					</div>
				</div>
				
				<div class='item_box'>
    				<div class='thumb_box'>
    					<a href='/media_entries/5'><img src="../../images/media/index05.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable">
							<img alt="Icon_button_fav" src="../../images/icons/button_favorit_on.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_hover.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_hover.png" />
						</div>
					</div>
				</div>
				
				<div class='item_box_selected'>
    				<div class='thumb_box'>
    					<a href='/media_entries/6'><img src="../../images/media/index01.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable" checked>
							<img alt="Icon_button_fav" src="../../images/icons/button_favorit_off.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_active.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_active.png" />
						</div>
					</div>
				</div>

				<div class='item_box'>
    				<div class='thumb_box'>
    					<a href='/media_entries/7'><img src="../../images/media/index02.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable">
							<img alt="Icon_button_fav" src="../../images/icons/button_favorit_off.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_inactive.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_inactive.png" />
						</div>
					</div>
				</div>
				
				<div class='item_box'>
					<span class='item_permission'><img alt="Icon_button_perm" src="../../images/icons/button_status_private.png" /></span>
    				<div class='thumb_box'>
    					<a href='/media_entries/1'><img src="../../images/media/index01.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable">
							<img alt="add to favs" src="../../images/icons/button_favorit_on.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_active.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_active.png" />
						</div>
					</div>
				</div>
				
				<div class='item_box'>
					<span class='item_permission'><img alt="Icon_button_perm" src="../../images/icons/button_status_private.png" /></span>
    				<div class='thumb_box'>
    					<a href='/media_entries/2'><img src="../../images/media/index02.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable">
							<img alt="add to favs" src="../../images/icons/button_favorit_on.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_active.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_active.png" />
						</div>
					</div>
				</div>
				
				<div class='item_box_selected'>
    				<div class='thumb_box'>
    					<a href='/media_entries/3'><img src="../../images/media/index03.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable" checked>
							<img alt="Icon_button_fav" src="../../images/icons/button_favorit_off.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_active.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_active.png" />
						</div>
					</div>
				</div>
				
				<div class='item_box_selected'>
    				<div class='thumb_box'>
    					<a href='/media_entries/4'><img src="../../images/media/index04.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable" checked>
							<img alt="Icon_button_fav" src="../../images/icons/button_favorit_on.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_active.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_active.png" />
						</div>
					</div>
				</div>
				
				<div class='item_box'>
    				<div class='thumb_box'>
    					<a href='/media_entries/5'><img src="../../images/media/index05.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable">
							<img alt="Icon_button_fav" src="../../images/icons/button_favorit_on.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_hover.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_hover.png" />
						</div>
					</div>
				</div>
				
				<div class='item_box_selected'>
    				<div class='thumb_box'>
    					<a href='/media_entries/6'><img src="../../images/media/index01.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable" checked>
							<img alt="Icon_button_fav" src="../../images/icons/button_favorit_off.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_active.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_active.png" />
						</div>
					</div>
				</div>

				<div class='item_box'>
    				<div class='thumb_box'>
    					<a href='/media_entries/7'><img src="../../images/media/index02.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable">
							<img alt="Icon_button_fav" src="../../images/icons/button_favorit_off.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_inactive.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_inactive.png" />
						</div>
					</div>
				</div>
				
				<div class='item_box'>
					<span class='item_permission'><img alt="Icon_button_perm" src="../../images/icons/button_status_private.png" /></span>
    				<div class='thumb_box'>
    					<a href='/media_entries/1'><img src="../../images/media/index01.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable">
							<img alt="add to favs" src="../../images/icons/button_favorit_on.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_active.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_active.png" />
						</div>
					</div>
				</div>
				
				<div class='item_box'>
					<span class='item_permission'><img alt="Icon_button_perm" src="../../images/icons/button_status_private.png" /></span>
    				<div class='thumb_box'>
    					<a href='/media_entries/2'><img src="../../images/media/index02.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable">
							<img alt="add to favs" src="../../images/icons/button_favorit_on.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_active.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_active.png" />
						</div>
					</div>
				</div>
				
				<div class='item_box_selected'>
    				<div class='thumb_box'>
    					<a href='/media_entries/3'><img src="../../images/media/index03.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable" checked>
							<img alt="Icon_button_fav" src="../../images/icons/button_favorit_off.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_active.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_active.png" />
						</div>
					</div>
				</div>
				
				<div class='item_box_selected'>
    				<div class='thumb_box'>
    					<a href='/media_entries/4'><img src="../../images/media/index04.jpg" /></a>
    				</div>
  					<p class='item_title'>Blick über die Themse</p>
  					<p class='item_author'>Wilson, Richard</p>
					<div class='actions'>
						<div class='action_left'>
							<input type="checkbox" value="4" name="media_entry_ids[]" id="media_entry_ids_" class="editable" checked>
							<img alt="Icon_button_fav" src="../../images/icons/button_favorit_on.png" />
						</div>
						<div class='action_right'>
							<img alt="Icon_button_edit" src="../../images/icons/button_edit_active.png" />
							<img alt="Icon_button_delete" src="../../images/icons/button_delete_active.png" />
						</div>
					</div>
				</div>
		
					
			</div>
			
	
    </section> 

    
    
	<footer class="container_12 clearfix">
	
		<div id="inner-footer" class="container_12">

			<p><strong>2009-2010 Zürcher Hochschule der Künste</strong> &nbsp;&#124;&nbsp; <a href="/users/172154/usage_terms?hide_buttons=true">Nutzungsbedingungen</a></p>

		</div>

	</footer>
    
    
<!-- </div> -->



  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.5.0.js"%3E%3C/script%3E'))</script>
  
  
  <!-- scripts concatenated and minified via ant build script-->
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <!-- end scripts-->
  
  
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->

  
</body>
</html>