/**
 * ## ui-modals `.ui-modal`
 *
 * .narrow    - Narrow variation
 * .wide      - Wide variation
 * .extrawide - Extra-Wide variation
 *
 * Styleguide 6.10
 */

 // Relies on vendor/bootstrap

.ui-modal {
  @include border-radius($border-radius-m);
  @include box-shadow(0 1px 3px $darken-more);
  @include dimension(550px,auto);
  background: $brightest;
  border: 1px solid $grey-darker;
  margin-top: -360px;
  z-index: 2001; // clipboard is 2000

  &.transparent {
    background: none;
    border: none;
    @include box-shadow(none);
  }
}

.ui-modal-head,
.ui-modal-toolbar,
.ui-modal-body,
.ui-modal-footer {
  border-color: $grey-mid-light;
  border-style: solid;
  padding: $space-s;
}

.ui-modal-head,
.ui-modal-footer {
  background: $grey-light;
}

.ui-modal-head {
  @include border-top-radius($border-radius-m);
  border-width: 0 0 1px;
  padding-right: $space-m;
  padding-left: $space-m;
  text-align: center;
}
.ui-modal-body {
  @include box-shadow(inset 0 1px 3px $darken-less, inset 0 -1px 3px $darken-less);
  border-width: 1px 0;
  max-height: 480px;
  margin: -1px 0;
  overflow-y: auto;
  padding: $space-m;
}
.ui-modal-footer {
  @include border-bottom-radius($border-radius-m);
  border-width: 1px 0 0;
}

.ui-modal-close {
  @include position-top-right(12px,$space-s);
  @extend .icon-close;
  opacity: $opacity-strong;
  &:hover {
    opacity: 1;
  }
}

// Size variations

.ui-modal.narrow {
  @include dimension(400px,auto);
  margin-left: -200px;
}
.ui-modal.wide {
  @include dimension(800px,auto);
  margin-left: -400px;
}
.ui-modal.extrawide {
  @include dimension(960px,auto);
  margin-left: -480px;
}

// Small reset for modal elements

.ui-modal-toolbar input[type="text"] {
  margin: 0;
}
