/**
 * ## Resources header `.ui-resources-header`
 *
 * Styleguide 6.5
 */

// Thumbnail section headers

.ui-resources-header { 
  @include max-dimension(800px,auto);
  margin: 0 0 $space-m 0;
}
.ui-resources-header .button-group { 
  display: inline-block;
  margin-left: $space-s;
  top: -2px;
}
.ui-resources-header a {
  font-size: $font-s;
  margin-left: $space-s;
  &:after {
    content: " \2192";
  }
}
