/**
 * ## Tag cloud `.ui-tag-cloud`
 *
 * .small   - Small variation
 * .large   - Large variation
 *
 * Styleguide 6.3
 */

.ui-tag-cloud {
  @include micro-clearfix;
}
.ui-tag-cloud-item {
  @include box-sizing(content-box); 
  display: inline-block;
  list-style: none;
  max-width: 100%;
  margin-right: $space-m;
}
.ui-tag-button {
  @include background-image(linear-gradient($grey-lighter, $grey-light));
  @include border-radius(50px);
  @include box-shadow($lighten 0 1px 0 inset);
  @include single-text-shadow(false, 1px, false, false, $lighten-more);
  background-color: $grey-lighter;
  border: 1px solid $grey-mid-light;
  color: $grey-darker;
  cursor: pointer;
  display: inline-block;
  font-size: $font-m;
  font-weight: 600;
  line-height: $line-height-l;
  margin-bottom: $space-s;
  margin-right: $space-x;
  min-height: 26px;
  overflow: hidden;
  padding: 0 $space-x;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  width: 100%;
  @include ellipsis(true);
  &:hover {
    @include background-image(linear-gradient(lighten($grey-lighter, 3%), lighten($grey-light, 3%)));
    @include single-text-shadow(false, 1px, false, false, $lighten);
    background-color: lighten($grey-light, 3%);
    border-color: darken($grey-mid-light, 3%);
    color: $grey-darker;
    text-decoration: none;
  }
  &:active { 
    @include background-image(linear-gradient(darken($grey-lighter, 10%), darken($grey-light, 10%)));
    @include box-shadow($darken 0 1px 3px inset);
    border-color: darken($grey-mid-light, 5%);
    color: $grey-mid;
    outline: 0;
    i,
    .ui-tag-button { 
      opacity: $opacity-medium;
    }
  }

  &.meta-term {
    @include border-radius(2px);
    font-weight: normal;
  }

  &.person-tag {
    @include border-radius(2px);
    font-size: $font-m !important;
    font-weight: normal;
    background: $lighten-less;
    border-color: $lighten-less;
    @include border-radius(4px);
    color: $green;
    padding: 0 4px !important;
    margin-left: -5px;
    width: auto;

    &:hover {
      background: $lighten-more;
      color: $green-dark;
    }
  }
}

.ui-tag-button i,
.ui-tag button .ui-tag-button { 
  margin-top: 3px;
  margin-right: $space-x;
}
.ui-tag-button .ui-tag-counter {
  @include border-radius(50px);
  background: $grey-mid-light;
  color: $grey-dark; 
  display: inline-block;
  font-weight: 700;
  line-height: 16px;
  margin: 0 -4px 0 $space-x;
  padding: 0 $space-x;
}
.ui-tag-button:active .ui-tag-counter { 
  opacity: $opacity-medium;
}

// Size variations

.ui-tag-cloud.small {

  .ui-tag-cloud-item {
    margin-right: $space-s;
  }

  .ui-tag-button {
    font-size: $font-xs;
    line-height: $line-height-m;
    min-height: 18px;
    padding-left: 1px;
    padding-right: 1px;

    &.meta-term {
      font-size: $font-s;
    }

    i,
    .ui-tag-icon { 
      margin-bottom: -5px;
      margin-top: -1px;
    }
  }
}

.ui-tag-cloud.large .ui-tag-button {
  font-size: $font-xl;
  line-height: $line-height-xl;
  min-height: 37px;
  i,
  .ui-tag-icon { 
    margin-bottom: -5px;
    margin-top: 8px;
  }
  .ui-tag-counter { 
    line-height: 26px;
    min-width: 18px;
  }
}