/**
 * ## Micro thumbnails `.ui-thumbnail.micro`
 *
 * Styleguide 6.18
 */

.ui-thumbnail.micro { 
  @include dimension(25px,25px);
  @include border-radius($border-radius-s);
  border: 1px solid $grey-mid-light;
  padding: 2px;
}