.phs
  %table.block
    %thead
      %tr
        %td{:colspan => 2} Verwenden Sie für Ihre FTP-Dropbox die folgenden Verbindungsdaten:
    %tbody
      %tr
        %td.col1of2 Server bzw. Hostname
        %td.col1of2 ${server}
      %tr
        %td.col1of2 Benutzername bzw. Login
        %td.col1of2 ${login}
      %tr
        %td.col1of2 Passwort
        %td.col1of2 ${password}
      %tr
        %td.col1of2 Verzeichnis bzw. Pfad
        %td.col1of2 ${dir_name}