%table
  %tr
    %td{:colspan => 5, :style => "text-align: right; white-space: nowrap;"}
      = link_to _("New Person"), new_admin_person_path, :class => "buttons", :remote => true, :"data-type" => "html"

%table.datatable
  %thead
    %tr
      - [_("Firstname"), _("Lastname"), _("Pseudonym"), _("User"), ""].each do |s|
        %th= s
  %tbody
    = render :partial => "show", :collection => @people, :as => :person
