.keywords
  = form_for @keyword_term, as: :keyword, url: app_admin_keyword_path(@keyword_term), method: :put, html: {class: "form-horizontal", role: "form"} do |f|

    .form-group
      %label.control-label.col-sm-1 Term
      .col-sm-4
        = f.text_field :term, class: 'form-control'

    .form-group
      .col-sm-offset-1.col-sm-4         
        = f.submit "Save", class: "btn btn-success"
