.app.view-import

  = render "application/header"

  .app-body

    // PAGE TITLE

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Medien Importieren

    .app-body-ui-container
      .ui-container.bordered.bright.rounded

        .ui-stepline
          .ui-stepline-item
            %h3.title-m.ui-stepline-item-title
              1. Medien übertragen
          .ui-stepline-item
            %h3.title-m.ui-stepline-item-title
              2. Berechtigungen setzen
          .ui-stepline-item.active
            %h3.title-m.ui-stepline-item-title
              3. Metadaten ergänzen
          .ui-stepline-item
            %h3.title-m.ui-stepline-item-title
              4. Medien zusammenstellen

        .media-import.step4.pal

          %h3.title-l
            Titel, Beschreibung und Rechte hinzufügen:
            %span.right
              %label.weak{:href => "#"}
                %input{:disabled => "disabled", :type => "checkbox"}
                  Die bereits vergebenen Werte hervorheben

          .ui-container.clearfix.mvl.bordered.midtone.rounded.upload-preview
          
            = render :partial => "media_resources/wrapper", 
                     :locals => {:media_resources => current_user.media_resources, 
                                 :type => :media_entries,
                                 :with_actions => false}

          .ui-container
            %form

              .form-body
                .ui-form-group.columned
                  %label.form-label
                    Titel
                    %small des Werks oder einer Werkserie
                  .form-item
                    %input.block{ :type => "text" }
                .ui-form-group.columned
                  %label.form-label
                    Untertitel
                    %span.ui-form-ui-ttip-toggle.ui-ttip-toggle{"data-original-title" => "Der Untertitel erweitert den Titel des Werks oder der Werkserie mit zusätzlichen Informationen. Nicht zu verwechseln mit der Bildlegende oder dem Untertitel eines Films (siehe dort).", "data-placement" => "left", :rel => "tooltip"}
                      More Info
                  .form-item
                    %input.block{ :type => "text" }
                .ui-form-group.columned
                  %label.form-label
                    Autor/in
                    %small Eingabeform: Nachname, Vorname
                    %span.ui-form-ui-ttip-toggle.ui-ttip-toggle{"data-original-title" => "Urheber/in des Werkes. Wer hat das Werk erschaffen? Handelt es sich um einen historischen Künstler oder eine zeitgenössische Komponistin? Sind Sie selbst Urheber/in? Auch Pseudonyme und Personengruppen (z.B. Künstlergruppe, Atelier, Firma) sind möglich.", "data-placement" => "left", :rel => "tooltip"}
                      More Info
                  .form-item
                    %input.block{:type => "text"}
                      %a.button.small.form-person-widget-toggle
                        %i.icon-privacy-private
                      .form-person-widget{:style => "display: none;"}
                        %ul.ui-tabs
                          %li.ui-tabs-item.active
                            %a{"data-toggle" => "tab", :href => "#person1"} Person
                          %li.ui-tabs-item
                            %a{"data-toggle" => "tab", :href => "#gruppe1"} Gruppe
                        .tab-content.mbs
                          #person1.tab-pane.active.pam.ui-container.bordered.rounded-right.rounded-bottom
                            .ui-form-group.rowed.compact
                              %label.form-label Nachname
                              .form-item
                                %input.block{:type => "text"}
                            .ui-form-group.rowed.compact
                              %label.form-label Vorname
                              .form-item
                                %input.block{:type => "text"}
                            .ui-form-group.rowed.compact
                              %label.form-label Pseudonym
                              .form-item
                                %input.block{:type => "text"}
                            .ui-form-group.rowed.compact
                              %button.button.block Personendaten einfügen
                          #gruppe1.tab-pane.pam.ui-container.bordered.rounded-right.rounded-bottom
                            .ui-form-group.rowed.compact
                              %label.form-label Name
                              .form-item
                                %input.block{:type => "text"}
                            .ui-form-group.rowed.compact
                              %button.button.block Gruppendaten einfügen
                .ui-form-group.columned
                  %label.form-label
                    Datierung
                    %span.ui-form-ui-ttip-toggle.ui-ttip-toggle{"data-original-title" => "Schlagworte zu Inhalt und Motiv des Werkes. Was ist zu sehen oder zu hören? Welche Themen behandelt das Werk?", "data-placement" => "left", :rel => "tooltip"}
                      More Info
                  .form-item
                .ui-form-group.columned
                  %label.form-label
                    Schlagworte zu Inhalt und Motiv
                    %small Einzelne Schlagworte, durch Return/Enter getrennt.
                    %span.ui-form-ui-ttip-toggle.ui-ttip-toggle{"data-original-title" => "Datum der Erschaffung des Werkes - nicht das Datum, an dem die Datei oder das Medium der Abbildung / der Wiedergabe entstanden ist.       Eingabe einer Zeitspanne: 1923 - 1929 (Leerzeichen Bindestrich Leerzeichen).", "data-placement" => "left", :rel => "tooltip"}
                      More Info
                  .form-item
                    %input.block{:type => "text"}
                    %a.button.small.form-tags-widget-toggle
                      %i.icon-tag.dark
                    .ui-container.form-tags-widget.mts
                      %ul.ui-tabs
                        %li.ui-tabs-item.active
                          %a{"data-toggle" => "tab", :href => "#tags1"} Meine Schlagworte
                        %li.ui-tabs-item
                          %a{"data-toggle" => "tab", :href => "#tags2"} Beliebtesten
                        %li.ui-tabs-item
                          %a{"data-toggle" => "tab", :href => "#tags3"} Neusten
                      .tab-content.mbs
                        #tags1.tab-pane.active.pam.ui-container.bordered.rounded-right.rounded-bottom
                          %ul.ui-tag-cloud.small
                            %li
                              %a.ui-tag-button
                                Tag 1
                            %li.ui-tag-cloud-item
                              %a.ui-tag-button
                                Tag 2
                            %li.ui-tag-cloud-item
                              %a.ui-tag-button
                                Tag 3
                        #tags2.tab-pane.pam.ui-container.bordered.rounded-right.rounded-bottom
                          %ul.ui-tag-cloud.small
                            %li.ui-tag-cloud-item
                              %a
                                Tag 1
                            %li.ui-tag-cloud-item
                              %a
                                Tag 2
                            %li.ui-tag-cloud-item
                              %a
                                Tag 3
                        #tags3.tab-pane.pam.ui-container.bordered.rounded-right.rounded-bottom
                          %ul.ui-tag-cloud.small
                            %li.ui-tag-cloud-item
                              %a
                                Tag 1
                            %li.ui-tag-cloud-item
                              %a
                                Tag 2
                            %li.ui-tag-cloud-item
                              %a
                                Tag 3

                .ui-form-group.columned
                  %label.form-label
                    Rechteinhaber
                    %small Natürliche oder juristische Person (Institution): z.B. Autor/in des Werks oder eine Institution
                    %span.ui-form-ui-ttip-toggle.ui-ttip-toggle{"data-original-title" => "Allgemeine Gattung der Kunst. In welchem künstlerischen Medium artikuliert sich das Werk? Welche künstlerischen Mittel werden zum Ausdruck genutzt?", "data-placement" => "left", :rel => "tooltip"}
                      More Info
                  .form-item
                    %input.block{:type => "text"}
                    %a.button.small.form-item-extension-toggle
                      %i.icon-plus.dark
                      Weitere Angaben
                    .ui-container.pam.bordered.rounded.form-item-extension
                      .ui-form-group.rowed.compact
                        %label.form-label Rechtsschutz
                        .form-item
                          %select.block
                            %option Unbekannt
                            %option Public Domain
                            %option ...
                      .ui-form-group.rowed.compact
                        %label.form-label Nutzungsbedingungen
                        .form-item
                          %textarea.block
                      .ui-form-group.rowed.compact
                        %label.form-label
                          Hinweise zu Rechtsgrundlagen
                          %small Eingabeformat: http://www.beispiel.ch [Datum des letzten Zugriffs]
                        .form-item
                          %textarea.block
                      .ui-form-group.rowed.compact
                        %label.form-label ISO-Ländercode
                        .form-item
                          %textarea.block
              .form-footer
                .ui-actions
                  %a.link.weak
                    Abbrechen
                  %a.primary-button.large
                    Weiter&hellip;

  .app-footer-push
.app-footer
  %footer.ui-footer.ui-container.inverted
    %ul.ui-footer-menu
      %li
        %a{:href => "#"} Informationen zum Projekt
      %li
        %a{:href => "#"} Impressum
      %li
        %a{:href => "#"} Kontakt
      %li
        %a{:href => "#"} Blog
      %li
        %a{:href => "#"} Hilfe
      %li
        %a{:href => "#"} Nutzungsbestimmungen
      %li
        %a{:href => "#"} Freie Software
      %li
        %a{:href => "#"} Archivierungsrichtlinien ZHdK
    %p.ui-footer-copy
      = image_tag "redesign/inserts/image-logo-madek.png", :alt => "MADEK", :class => "ui-footer-logo"
      &copy; 2009-2011 Z&uuml;rcher Hochschule der K&uuml;nste
