.app.view-import

  = render "application/header"

  .app-body

    // PAGE TITLE

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Medien Importieren

    .app-body-ui-container
      .ui-container.bordered.bright.rounded

        .ui-stepline
          .ui-stepline-item
            %h3.title-m.ui-stepline-item-title
              1. Medien übertragen
          .ui-stepline-item.active
            %h3.title-m.ui-stepline-item-title
              2. Berechtigungen setzen
          .ui-stepline-item
            %h3.title-m.ui-stepline-item-title
              3. Metadaten ergänzen
          .ui-stepline-item
            %h3.title-m.ui-stepline-item-title
              4. Medien zusammenstellen

        .media-import.step2.pal

          %h3.title-l Zugriff und Sichtbarkeit festlegen:

          .ui-container.clearfix.mvl.bordered.midtone.rounded.upload-preview

            = render :partial => "media_resources/wrapper", 
                     :locals => {:media_resources => current_user.media_resources, 
                                 :phl => true,
                                 :type => :media_entries,
                                 :with_actions => false}
                                 
          %form
            .form-body
              .ui-rights-management
                %h3.title-l.mbs Ich
                .ui-rights-body
                  %table.ui-rights-group.bordered.block
                    %thead
                      %tr
                        %td.ui-rights-user-title User
                        %td.ui-rights-owner-title Eigentümer/in
                        %td.ui-rights-role-title Berechtigung
                        %td.ui-rights-check-title Betrachten
                        %td.ui-rights-check-title Download Original
                        %td.ui-rights-check-title Editieren
                        %td.ui-rights-check-title Berechtigung verwalten
                    %tbody
                      %tr
                        %td.ui-rights-user Interactive Things
                        %td.ui-rights-owner
                          %input{:checked => "checked", :disabled => "disabled", :type => "radio"}/
                        %td.ui-rights-role Eigentumer/in
                        %td.ui-rights-check
                          %input{:checked => "checked", :disabled => "disabled", :type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:checked => "checked", :disabled => "disabled", :type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:checked => "checked", :disabled => "disabled", :type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:checked => "checked", :disabled => "disabled", :type => "checkbox"}/
                .ui-rights-body
                  %table.ui-rights-group.bordered
                    %caption
                      Gruppen
                      %i.icon-privacy-group
                    %tbody
                      %tr
                        %td.ui-rights-user Interactive Things
                        %td.ui-rights-owner
                        %td.ui-rights-role
                          %select.ui-rights-role-select
                            %option Bevollmachtigte/r
                            %option Betrachter/in
                            %option Betrachter/in &amp; Original
                            %option Gesperrt
                            %option Redakteur/in
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                      %tr
                        %td.ui-rights-user Interactive Things 2
                        %td.ui-rights-owner
                        %td.ui-rights-role
                          %select.ui-rights-role-select
                            %option Bevollmachtigte/r
                            %option Betrachter/in
                            %option Betrachter/in &amp; Original
                            %option Gesperrt
                            %option Redakteur/in
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                  %a.button.small{:href => "#"}
                    %i.icon-plus
                    Gruppe hinzufugen
                %h3.title-l.mbs Andere
                .ui-rights-body
                  %table.ui-rights-group.bordered
                    %caption
                      Personen
                      %i.icon-privacy-private-alt
                    %tbody
                      %tr
                        %td.ui-rights-user
                          %a.button.small.ui-rights-remove{:href => "#", :title => "Remove"} ×
                          Interactive Things
                        %td.ui-rights-owner
                          %input{:type => "radio"}/
                        %td.ui-rights-role
                          %select.ui-rights-role-select
                            %option Bevollmachtigte/r
                            %option Betrachter/in
                            %option Betrachter/in &amp; Original
                            %option Gesperrt
                            %option Redakteur/in
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                      %tr
                        %td.ui-rights-user
                          %a.button.small.ui-rights-remove{:href => "#", :title => "Remove"} ×
                          Interactive Things 2
                        %td.ui-rights-owner
                          %input{:type => "radio"}/
                        %td.ui-rights-role
                          %select.ui-rights-role-select
                            %option Bevollmachtigte/r
                            %option Betrachter/in
                            %option Betrachter/in &amp; Original
                            %option Gesperrt
                            %option Redakteur/in
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                  %a.button.small{:href => "#"}
                    %i.icon-plus
                    Person hinzufugen
                .ui-rights-body
                  %table.ui-rights-group.bordered
                    %caption
                      Gruppen
                      %i.icon-privacy-group-alt
                    %tbody
                      %tr
                        %td.ui-rights-user Interactive Things
                        %td.ui-rights-owner
                        %td.ui-rights-role
                          %select.ui-rights-role-select
                            %option Bevollmachtigte/r
                            %option Betrachter/in
                            %option Betrachter/in &amp; Original
                            %option Gesperrt
                            %option Redakteur/in
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                      %tr
                        %td.ui-rights-user Interactive Things 2
                        %td.ui-rights-owner
                        %td.ui-rights-role
                          %select.ui-rights-role-select
                            %option Bevollmachtigte/r
                            %option Betrachter/in
                            %option Betrachter/in &amp; Original
                            %option Gesperrt
                            %option Redakteur/in
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                  %a.button.small{:href => "#"}
                    %i.icon-plus
                    Gruppe hinzufugen
                .ui-rights-body
                  %table.ui-rights-group.bordered
                    %caption
                      Öffentlichkeit
                      %i.icon-privacy-open
                    %tbody
                      %tr
                        %td.ui-rights-user Öffentlichkeit
                        %td.ui-rights-owner
                        %td.ui-rights-role
                          %select.ui-rights-role-select
                            %option Bevollmachtigte/r
                            %option Betrachter/in
                            %option Betrachter/in &amp; Original
                            %option Gesperrt
                            %option Redakteur/in
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/
                        %td.ui-rights-check
                          %input{:type => "checkbox"}/

          .form-footer
            .ui-actions
              %a.link.weak
                Abbrechen
              %a.primary-button.large
                Berechtigungen speichern und weiter&hellip;

  .app-footer-push
.app-footer
  %footer.ui-footer.ui-container.inverted
    %ul.ui-footer-menu
      %li
        %a{:href => "#"} Informationen zum Projekt
      %li
        %a{:href => "#"} Impressum
      %li
        %a{:href => "#"} Kontakt
      %li
        %a{:href => "#"} Blog
      %li
        %a{:href => "#"} Hilfe
      %li
        %a{:href => "#"} Nutzungsbestimmungen
      %li
        %a{:href => "#"} Freie Software
      %li
        %a{:href => "#"} Archivierungsrichtlinien ZHdK
    %p.ui-footer-copy
      = image_tag "redesign/inserts/image-logo-madek.png", :alt => "MADEK", :class => "ui-footer-logo"
      &copy; 2009-2011 Z&uuml;rcher Hochschule der K&uuml;nste
