%li.ui-drop-item
  %a{:title => "Beziehung von Inhalten als Graph visualisieren", :href => "/visualization/component_with/#{mr.id}", :target => "_blank"}
    %i.icon-vis-graph.mid
    Zusammenhänge anzeigen
