%li.ui-drop-item
  =link_to edit_permissions_path(media_resource_id: media_resource.id, _action: 'view'), id: "show_permissions_of_resource"  do
    %i.icon-lock.mid
    = _"Show permissions"
- if current_user.authorized?(:manage,media_resource)
  %li.ui-drop-item
    =link_to edit_permissions_path(media_resource_id: media_resource.id, _action: 'edit'), id: "edit_permissions_of_resource"  do
      %i.icon-lock.mid
      = _"Edit permissions"
- if current_user.authorized?(:transfer,media_resource)
  %li.ui-drop-item
    =link_to edit_responsibilities_path(media_resource_id: media_resource.id), id: "transfer_responsibility_of_resource" do
      %i.icon-lock.mid
      = _"Transfer responsibility"
