%li.ui-drop-item
  %a{:title => _("Visualize relationship between items as a graph", :href => "/visualization/my_component_with/#{mr.id}", :target => "_blank"}
    %i.icon-vis-graph.mid
    = _("Show connections")
