- remote ||= false
= form_for @term, :url => url, :remote => remote do |f|
  %table
    - LANGUAGES.each do |lang|
      %tr
        %th
          = lang
          \:
        %td
          = f.text_field lang
    %tr
      %td
      %td= f.submit submit
