%tr
  - LANGUAGES.each do |lang|
    %td
      = term.send(lang)
  %td
    = term.is_used?
  %td.with_actions
    = link_to _("Edit"), edit_admin_term_path(term), :class => "buttons", :remote => true, :"data-type" => "html"
    %br
    = link_to _("Delete"), admin_term_path(term), :class => "buttons", :method => :delete, :confirm => _("Sind Sie sicher?") unless term.is_used?
