%table
  %tr
    %td{:colspan => (LANGUAGES.size + 1), :style => "text-align: right; white-space: nowrap;"}
      = link_to _("New Term"), new_admin_term_path, :class => "buttons", :remote => true, :"data-type" => "html"

%table.datatable
  %thead
    %tr
      - LANGUAGES.each do |lang|
        %th
          = lang
      %th
        Used?
      %th
  %tbody
    = render :partial => "show", :collection => @terms, :as => :term
