%table
  %tr
    %td{:colspan => (LANGUAGES.size + 1), :style => "text-align: right; white-space: nowrap;"}
      = link_to _("New Term"), new_admin_term_path, :class => "buttons", :remote => true, :"data-type" => "html"

%table#terms_datatable
  %thead
    %tr
      %th.id.sortable ID
      - LANGUAGES.each do |lang|
        %th{class: lang}
          = lang
      %th.meta_data.notsortable MetaData
      %th.keywords.notsortable Keywords
      %th.used.notsortable Used?
      %th.notsortable
      %th.notsortable
  %tbody

:coffeescript 
  $ -> window.Admin.Terms.init_datatable()
  
