= render :partial => "form", :locals => {:path => admin_group_path(@group), :submit => _("Update") }

%table#members
  = render :partial => "admin/groups/user", :collection => @group.users

Add user:
%input#new_user

:javascript
  $(function() {
    $("input#new_user").autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/users.json",
          data: {
            format:'json',
            query: request.term
          },
          success: function( data ) {
            response( $.map(data, function( item ) {
              return { label: item.name, id: item.id }
            }));
          }
        });
      },
      minLength: 3,
      select: function( event, ui ) {
    		$.ajax({
    			url: "/admin/groups/#{@group.id}/users/"+ui.item.id+"/membership",
    			type: "post",
    			dataType: "html",
    			success: function(response){
            $("input#new_user").val("");
            $(response).appendTo('table#members').effect('highlight');
    			}
    		});
      }
    });
    $("table#members a[data-method='delete']").live('ajax:success', function(){
      $(this).closest("tr").fadeOut();
    });
  });
