:ruby
  dump = list.dump
  cache_key = "root-latest-media-entries/#{dump.hash}"

= capture do
  - Rails.cache.fetch(cache_key) do
    = react('Views.explore.partials.ThumbnailResourceList',
      { resources: dump[:resources] })
