%li{:class => "ui-set-list-item{{if is_incomplete_arc}} highlight{{/if}}"}
  %label

    {{if is_incomplete_arc}}
    .tristate-checkbox-container.ui-set-list-input
      %input{:type => "checkbox", :role => "tristate", :value => "mixed", :title => "Zu Set hinzuf체gen/entfernen"}
      %span.tristate-checkbox-mixed-value{:title => "Ausgew채hlte Inhalte sind in diesem Set nur teilweise enthalten"}
    {{else $item.data.is_parent != undefined && is_parent == true}}
    %input.ui-set-list-input{:type => "checkbox", :checked => :checked, :title => "Zu Set hinzuf체gen/entfernen"}
    {{else}}
    %input.ui-set-list-input{:type => "checkbox", :title => "Zu Set hinzuf체gen/entfernen"}
    {{/if}}

    %span.title ${meta_data.title}
    %span.owner ${meta_data.owner}
    %span.created-at ${moment(created_at).format("DD.MM.YYYY")}