%li{:class => "ui-set-list-item{{if is_incomplete_arc}} highlight{{/if}}"}
  %label

    {{if is_incomplete_arc}}
    .tristate-checkbox-container.ui-set-list-input
      %input{:id => "parent_resource_${id}", :type => "checkbox", :role => "tristate", :value => "mixed", :title => "${_jed('Add to/remove from set')}"}
      %span.tristate-checkbox-mixed-value{:title => "${_jed('Selected content is only partially contained in this set.')}"}
    {{else $item.data.is_parent != undefined && is_parent == true}}
    %input.ui-set-list-input{:id => "parent_resource_${id}", :type => "checkbox", :checked => :checked, :title => "${_jed('Add to/remove from set')}"}
    {{else}}
    %input.ui-set-list-input{:id => "parent_resource_${id}", :type => "checkbox", :title => "${_jed('Add to/remove from set')}"}
    {{/if}}

    %span.title ${$item.data.getMetaDatumByMetaKeyName("title").formattedValue()}
    %span.owner ${$item.data.getMetaDatumByMetaKeyName("owner").formattedValue()}
    %span.created-at ${moment(created_at).format("DD.MM.YYYY")}
