@import 'bootstrap'

@import 'font-awesome'

form.settings
  input[type='text'], textarea
    width: 80%

  textarea
    height: 200px
  
span.limit250
  display: block
  width: 100%
  overflow: hidden
  max-width: 250px
  text-overflow: ellipsis
  white-space: nowrap

span.limit150
  display: block
  width: 100%
  overflow: hidden
  max-width: 150px
  text-overflow: ellipsis
  white-space: nowrap

