@import colors
@import config

/* Mixins and other global libraries
 *-----------------------------------------

// Mixins
@import compass
@import library/dimension
@import library/force-scrollbars
@import library/ixt-reset
@import library/micro-clearfix
@import library/opacify
@import library/position
@import library/replacement
@import library/reset-last
@import library/sticky-footer
@import library/space
@import library/truncate

// Mixin extensions
@import library/grid

// IXT Reset
+ixt-reset

/* Load fonts
 *-----------------------------------------

@import 'fonts'

/* Basic elements
 *-----------------------------------------

@import general/buttons
@import general/button-groups
@import general/forms
@import general/icons
@import general/tables
@import general/typography
@import general/focus
@import general/labels

/* Vendor styles
 *-----------------------------------------

// Vendor overrides
@import overrides/bootstrap
@import overrides/bootstrap.modal
@import overrides/bootstrap.popover
@import overrides/bootstrap.tooltip
@import overrides/bootstrap.typeahead

/* Components
 *-----------------------------------------

@import components/ui-actions
@import components/ui-activity-stream
@import components/ui-alerts
@import components/ui-body-title
@import components/ui-containers
@import components/ui-counters
@import components/ui-drop-menus
@import components/ui-form-group
@import components/ui-info-box
@import components/ui-metadata-box
@import components/ui-modals
@import components/ui-pager
@import components/ui-preloaders
@import components/ui-resources-head
@import components/ui-search-field
@import components/ui-set-list
@import components/ui-side-navigation
@import components/ui-slider
@import components/ui-stats
@import components/ui-stepline
@import components/ui-tabs
@import components/ui-tag-cloud
@import components/ui-thumb
@import components/ui-thumb-actions
@import components/ui-thumb-catalog
@import components/ui-thumb-micro
@import components/ui-tiles
@import components/ui-tooltip

// To be revamped
@import components/multi-select
@import combos/upload

// Undocumented ITZ additions
@import components/ui-body-sidebar
@import components/ui-document-preview
@import components/ui-export-blocks
@import components/ui-image-zoom
@import components/ui-magnifier
@import components/ui-maps
@import components/ui-context-selection
@import components/ui-media-set-vocabulary
@import components/ui-toolbar-additional-actions
@import components/form-widgets
@import components/ui-autocomplete
@import components/ui-datepicker
@import components/fixed-table-header
@import components/ui-resources-selection
@import components/tristate-checkbox
@import components/ui-custom-select
@import components/ui-selected-entry-control
@import components/ui-selected-resource
@import components/ui-meta-context

/* Combos
 *-----------------------------------------

@import combos/ui-clipboard
@import combos/ui-collage
@import combos/ui-confirmation-dialog
@import combos/ui-featured-entries
@import combos/ui-filterbar
@import combos/ui-footer
@import combos/ui-header
@import combos/ui-home-claim
@import combos/ui-media-overview
@import combos/ui-resources-table
@import combos/ui-rights-management
@import combos/ui-search-form
@import combos/ui-set-overview
@import combos/ui-side-filter
@import combos/ui-summary-table
@import combos/ui-terms-filter
@import combos/ui-toolbar
@import combos/ui-workgroups

// Separating the following for their complexity
@import combos/ui-resources-common
@import combos/ui-resources-page
@import combos/ui-resources-grid
@import combos/ui-resources-list
@import combos/ui-resources-miniature
@import combos/ui-resources-tiles

/* Layout
 *-----------------------------------------

@import layout/layout
@import layout/layout-responsive

/* View-based styles
 *-----------------------------------------

@import views/import
@import views/my_latest_imports
@import views/edit_media_resource
@import views/edit_multiple_media_entries
@import views/home
@import views/relationships
@import views/export
@import views/errors

/* Extra
 *-----------------------------------------

@import progressive
@import previews
@import uberadmin
@import markdown
@import _embedded

@import video-js-theme
/*-----------------------------------------
 *-----------------------------------------

@import tachyons

/* App custumizations
 *-----------------------------------------

#app-alerts.ui-alerts
  margin: 0 !important
  .ui-alert
    +border-radius(0)
    +box-shadow(inset 0 1px 0 $lighten-less, inset 0 -1px 0 $darken)
    padding: $space-s
    margin-botom: 0

// Home/root: login: adjust for max. height of tab contents
// TODO: just scope .pitch-login (styleguide ref update)
[data-view="application"][data-action="root"]
  .tab-content
    min-height: 220px

//.ui-home-claim
.pitch-claim
  p, strong
    @extend .title-l
  p
    font-weight: normal


form.button_to
  display: inline

.ui-metadata-box
  .media-data-title
    @extend .title-xs-alt

// meta data edit icon
.ui-summary-label, .media-data-title
  a, a.weak
    // postion nicely but hide
    [class^="icon-"], [class^="fa-"]
      position: absolute
      font-size: $font-m
      width: 13px
      margin-left: -15px
      line-height: 1.6
      display: none
    // show on hover (and highlight link)
    &:hover
      @extend .link
      [class^="icon-"], [class^="fa-"]
        display: initial

// fix alt text on images
img, img.ui-thumbnail-image
  line-height: initial

#ui-uploader
  #ui-resources-preview
    height: 300px
    overflow: auto


// for Thumbs in Tile mode, show play icon on video entries
$tile-play-btn-size: 8rem
$tile-play-btn-border-size: 0.2rem
.ui-resources.tiles
  .ui-resource.is-video
    img
      // enforce minimum height for video thumbs,
      // so that the play icon is not cut off
      min-height: 160px

    .ui-tile__thumbnail::before
      // play icon from videojs icon font
      font-family: VideoJS
      font-weight: normal
      font-style: normal
      content: "\f101"

      color: $primary-foreground-color

      font-size: $tile-play-btn-size
      border-radius: $tile-play-btn-size
      line-height: $tile-play-btn-size
      height: $tile-play-btn-size
      width: $tile-play-btn-size
      border: $tile-play-btn-border-size solid $primary-foreground-color
      margin-left: -(($tile-play-btn-size + $tile-play-btn-border-size) / 2)
      margin-top: -(($tile-play-btn-size + $tile-play-btn-border-size) / 2)
      position: absolute
      left: 50%
      top: 50%

      // same as player button hover styles
      background-color: darken($primary-background-color, $button-bg-contrast-ratio)
      background-color: transparentize(darken($primary-background-color, $button-bg-contrast-ratio), 0.3)

// for Thumbs in Featured, show play icon on video entries
$feat-play-btn-size: 3.5rem
$feat-play-btn-padding: 1.5rem
$feat-play-btn-border-size: 0.2rem
.ui-featured-entries .ui-featured-entry.is-video::before
  // play icon from videojs icon font
  font-family: VideoJS
  font-weight: normal
  font-style: normal
  content: "\f101"

  color: $primary-foreground-color

  font-size: $feat-play-btn-size
  border-radius: $feat-play-btn-size
  line-height: $feat-play-btn-size
  height: $feat-play-btn-size
  width: $feat-play-btn-size
  border: $feat-play-btn-border-size solid $primary-foreground-color
  margin-left: -((($feat-play-btn-size + $feat-play-btn-border-size) / 2) + $feat-play-btn-padding)
  margin-top: -((($feat-play-btn-size + $feat-play-btn-border-size) / 2) + $feat-play-btn-padding)
  position: absolute
  left: 50%
  top: 50%
  // only in this place the icon is to big(!?!), so needs some padding
  padding: $feat-play-btn-padding

  // same as player button hover styles
  background-color: darken($primary-background-color, $button-bg-contrast-ratio)
  background-color: transparentize(darken($primary-background-color, $button-bg-contrast-ratio), 0.3)
