@import "variables.scss";

.icon {
  background: url($sprite) no-repeat 100px 100px;
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
  
  &.add_person {
    background-position: 0 -16px;
    height: 16px;
    width: 16px;
  }
  
  &.add_keyword {
    background-position: 0 -33px;
    height: 16px;
    position: relative;
    top: 2px;
    left: -1px;
    width: 16px;
  }
  
  &.graph {
    background-position: -89px -18px;
    height: 17px;
    width: 17px;
  }
  
  &[data-type=grid] {
    background-position: -107px 0;
    height: 17px;
    width: 17px;
  }
  
  &[data-type=miniature] {
    background-position: -89px 0;
    height: 17px;
    width: 17px;
  }
  
  &.arrow {
    &.down {
      background-position: -17px -32px;
      height: 6px;
      width: 9px;
    }
  }
  
  &.plus {
    background-position: -126px -32px;
    height: 16px;
    width: 16px;
  }
  
  &.media_set {
    background-position: -126px -18px;
    height: 13px;
    margin: 6px 0 0 3px;
    width: 16px;
  }
}

#bar > .icon {
  
  &.favorites {
    background-position: -47px -33px;
    height: 17px;
    margin: 3px 0 0 1px;
    width: 18px;
  }
  
  &.search {
    background-position: -107px -18px;
    height: 17px;
    margin: 3px 0 0 1px;
    width: 18px;
  }
  
  &.media_entries {
    background-position: -66px -33px;
    height: 13px;
    margin: 6px 0 0 4px;
    width: 13px;
  }
  
  &.media_sets {
    background-position: -126px -18px;
    height: 13px;
    margin: 6px 0 0 3px;
    width: 16px;
  }
  
  &.all {
    background-position: -27px -32px;
    height: 19px;
    margin: 3px 0 0 1px;
    width: 19px;
  }
}
