@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; 
}

@mixin box-shadow($value) {
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
  box-shadow: $value;
}

@mixin box-shadows($value, $value2) {
  -moz-box-shadow: $value, $value2;
  -webkit-box-shadow: $value, $value2;
  box-shadow: $value, $value2;
}

@mixin opacity($value) {
  filter: alpha(opacity=$value); // IE5-7
  -moz-opacity: $value; // NETSCAPE & MOZILLA
  -khtml-opacity: $value; // OLD SAFARI
  opacity: $value; // THE REST
}

@mixin rotate($value) {
  -moz-transform:rotate($value);
  -webkit-transform:rotate($value);
  -o-transform:rotate($value);
  transform:rotate($value);
}

@mixin border-radius($value) {
  -moz-border-radius: $value; /* Firefox */
  -webkit-border-radius: $value; /* Safari, Chrome */
  border-radius: $value; /* CSS3 */
}

@mixin top-border-radius($value) {
  -moz-border-top-left-radius: $value;
  -moz-border-top-right-radius: $value;
  -webkit-border-top-left-radius: $value;
  -webkit-border-top-right-radius: $value;
  -o-border-top-left-radius: $value;
  -o-border-top-right-radius: $value;
  -ms-border-top-left-radius: $value;
  -ms-border-top-right-radius: $value;
  border-top-left-radius: $value;
  border-top-right-radius: $value;
}

@mixin transition($value) {
  -moz-transition: $value;
  -webkit-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin unselectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin vertical-gradient($color1, $color2, $start1, $start2) {
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='$color1', EndColorStr='$color2', GradientType=0); // IE > 5.5
  background-image: -ms-linear-gradient(bottom, $color1 $start1, $color2 $start2); // IE10
  background-image: -moz-linear-gradient(bottom, $color1 $start1, $color2 $start2); // Mozilla Firefox
  background-image: -o-linear-gradient(bottom, $color1 $start1, $color2 $start2); // Opera
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop($start1, $color1), color-stop($start2, $color2)); // Webkit (Safari/Chrome 10)
  background-image: -webkit-linear-gradient(bottom, $color1 $start1, $color2 $start2); // Webkit (Chrome 11+)
  background-image: linear-gradient(bottom, $color1 $start1, $color2 $start2); // Proposed W3C Markup
}