@import "jquery.qtip.css"
@import "application"
@import "visualization/drawing"
@import "visualization/controls"
@import "visualization/notifications"
@import "visualization/popup_menu"
@import "visualization/title"


html#visualization
  background: $grey-lighter
  height: 100%
  width: 100%

  #not_supported_warning_bar
    display: none !important

  body
    background: $grey-lighter
    height: 100%
    margin: 0
    overflow: hidden
    padding: 0
    width: 100%  

  &:not(.show_labels_all):not(.show_labels_sets_having_descendants)
    .node_label
      opacity: 0.0
      pointer-events: none

  &.show_labels_sets_having_descendants 
    .node_label[data-size='0']
      opacity: 0.0
      pointer-events: none

  #overlay
    position: absolute
    left: 0
    top: 5px
    width: 100%
