#ui-side-filter.ui-side-filter{:class => params[:filterpanel] ? "" : "hidden"}

  #ui-side-filter-search.ui-side-filter-search
    %input.block.ui-filter-search-input{:type => "text", :value => params[:search], :placeholder => "Eingrenzen mit Suchwort"}

  .ui-side-filter-list

    %ul.ui-accordion

      %li.ui-slide-filter-item
        .title-xs.by-center Filter werden geladen
        .ui-preloader.small