:ruby
  title = (defined? title and title)
  subtitle = (defined? subtitle and subtitle)
  

.ui-container.inverted.ui-toolbar.phs.pvx
  %h2.ui-toolbar-header
    %strong= title if title
    = subtitle if subtitle
  .ui-toolbar-controls.by-right
    #ui-resources-layout-switcher.button-group.tertiary.small.right.mls
      %a.button.ui-toolbar-vis-button{:class => params[:layout] == "miniature" ? "active" : "", :title => "Miniatur-Ansicht", :"data-vis-mode" => "miniature"}
        %i.ui-toolbar-icon-miniature Miniatur-Ansicht
      %a.button.ui-toolbar-vis-button{:class => (not ["miniature", "list"].include?(params[:layout])) ? "active" : "", :title => "Grid-Ansicht" ,:"data-vis-mode" => "grid"}
        %i.ui-toolbar-icon-grid Grid-Ansicht
      %a.button.ui-toolbar-vis-button{:class => params[:layout] == "list" ? "active" : "", :title => "Listen-Ansicht", :"data-vis-mode" => "list"}
        %i.ui-toolbar-icon-list Listen-Ansicht
    #ui-resources-sorting.dropdown.ui-dropdown.stick-right
      %a.dropdown-toggle.ui-drop-toggle{"data-toggle" => "dropdown"}
        %span.ui-text
          - case params[:sort]
            - when "created_at"
              Sortieren nach Erstellungsdatum
            - when "updated_at"
              Sortieren nach Änderungsdatum
            - when "title"
              Sortieren nach Titel
            - when "author"
              Filtern und sortieren nach Autor/in
            - else
              Sortieren nach Erstellungsdatum
        %i.icon-arrow-down.bright
      %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
        %li.ui-drop-item{:class => (params[:sort] == "created_at" or params[:sort].nil?) ? "hidden active" : ""}
          %a{:"data-sort" => "created_at"} Sortieren nach Erstellungsdatum
        %li.ui-drop-item{:class => (params[:sort] == "updated_at") ? "hidden active" : ""}
          %a{:"data-sort" => "updated_at"} Sortieren nach Änderungsdatum
        %li.ui-drop-item{:class => (params[:sort] == "title") ? "hidden active" : ""}
          %a{:"data-sort" => "title"} Sortieren nach Titel
        %li.ui-drop-item{:class => (params[:sort] == "author") ? "hidden active" : ""}
          %a{:"data-sort" => "author"} Filtern und sortieren nach Autor/in
