<section class="sg-body">
  <section class="sg-example" id="5.1">
    <h3>
      <a href="#5.1">5.1</a>
    </h3>
    <button class="sg-button sg-view-code">HTML</button>
    <div class="sg-description">
      <span class="sg-filename">_icons.scss</span>
      <h2>Arrow Icons <code>.icon-arrow-</code></h2>
      <ul class="sg-modifiers">
        <li>
          <strong>.bright</strong>
          -
          White variation
        </li>
        <li>
          <strong>.mid</strong>
          -
          Grey variation
        </li>
        <li>
          <strong>.green</strong>
          -
          Green variation
        </li>
        <li>
          <strong>.small</strong>
          -
          Green variation
        </li>
        <li>
          <strong>.bright.small</strong>
          -
          Green variation
        </li>
        <li>
          <strong>.mid.small</strong>
          -
          Green variation
        </li>
        <li>
          <strong>.green.small</strong>
          -
          Green variation
        </li>
      </ul>
    </div>
    <div class="sg-canvases">
      <div class="align-left bg-light sg-canvas">
        <div style="">
          <i class="icon-arrow-up $modifier-class"></i>
          <i class="icon-arrow-right $modifier-class"></i>
          <i class="icon-arrow-down $modifier-class"></i>
          <i class="icon-arrow-left $modifier-class"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.bright</span>
        <div style="">
          <i class="icon-arrow-up bright"></i>
          <i class="icon-arrow-right bright"></i>
          <i class="icon-arrow-down bright"></i>
          <i class="icon-arrow-left bright"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.mid</span>
        <div style="">
          <i class="icon-arrow-up mid"></i>
          <i class="icon-arrow-right mid"></i>
          <i class="icon-arrow-down mid"></i>
          <i class="icon-arrow-left mid"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.green</span>
        <div style="">
          <i class="icon-arrow-up green"></i>
          <i class="icon-arrow-right green"></i>
          <i class="icon-arrow-down green"></i>
          <i class="icon-arrow-left green"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.small</span>
        <div style="">
          <i class="icon-arrow-up small"></i>
          <i class="icon-arrow-right small"></i>
          <i class="icon-arrow-down small"></i>
          <i class="icon-arrow-left small"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.bright.small</span>
        <div style="">
          <i class="icon-arrow-up bright small"></i>
          <i class="icon-arrow-right bright small"></i>
          <i class="icon-arrow-down bright small"></i>
          <i class="icon-arrow-left bright small"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.mid.small</span>
        <div style="">
          <i class="icon-arrow-up mid small"></i>
          <i class="icon-arrow-right mid small"></i>
          <i class="icon-arrow-down mid small"></i>
          <i class="icon-arrow-left mid small"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.green.small</span>
        <div style="">
          <i class="icon-arrow-up green small"></i>
          <i class="icon-arrow-right green small"></i>
          <i class="icon-arrow-down green small"></i>
          <i class="icon-arrow-left green small"></i>
        </div>
      </div>
      <div class="sg-html">
        <pre class="prettyprint lang-html">&lt;i class="icon-arrow-up"&gt;&lt;/i&gt;
&lt;i class="icon-arrow-right"&gt;&lt;/i&gt;
&lt;i class="icon-arrow-down"&gt;&lt;/i&gt;
&lt;i class="icon-arrow-left"&gt;&lt;/i&gt;</pre>
      </div>
    </div>
  </section>
  
  <section class="sg-example" id="5.2">
    <h3>
      <a href="#5.2">5.2</a>
    </h3>
    <button class="sg-button sg-view-code">HTML</button>
    <div class="sg-description">
      <span class="sg-filename">_icons.scss</span>
      <h2>Privacy Icons <code>.icon-privacy-</code></h2>
      <ul class="sg-modifiers">
        <li>
          <strong>.bright</strong>
          -
          White variation
        </li>
        <li>
          <strong>.mid</strong>
          -
          Grey variation
        </li>
      </ul>
    </div>
    <div class="sg-canvases">
      <div class="align-left bg-light sg-canvas">
        <div style="">
          <i class="icon-privacy-open $modifier-class"></i>
          <i class="icon-privacy-private $modifier-class"></i>
          <i class="icon-privacy-private-alt $modifier-class"></i>
          <i class="icon-privacy-group $modifier-class"></i>
          <i class="icon-privacy-group-alt $modifier-class"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.bright</span>
        <div style="">
          <i class="icon-privacy-open bright"></i>
          <i class="icon-privacy-private bright"></i>
          <i class="icon-privacy-private-alt bright"></i>
          <i class="icon-privacy-group bright"></i>
          <i class="icon-privacy-group-alt bright"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.mid</span>
        <div style="">
          <i class="icon-privacy-open mid"></i>
          <i class="icon-privacy-private mid"></i>
          <i class="icon-privacy-private-alt mid"></i>
          <i class="icon-privacy-group mid"></i>
          <i class="icon-privacy-group-alt mid"></i>
        </div>
      </div>
      <div class="sg-html">
        <pre class="prettyprint lang-html">&lt;i class="icon-privacy-open"&gt;&lt;/i&gt;
&lt;i class="icon-privacy-private"&gt;&lt;/i&gt;
&lt;i class="icon-privacy-private-alt"&gt;&lt;/i&gt;
&lt;i class="icon-privacy-group"&gt;&lt;/i&gt;
&lt;i class="icon-privacy-group-alt"&gt;&lt;/i&gt;</pre>
      </div>
    </div>
  </section>
  
  <section class="sg-example" id="5.3">
    <h3>
      <a href="#5.3">5.3</a>
    </h3>
    <button class="sg-button sg-view-code">HTML</button>
    <div class="sg-description">
      <span class="sg-filename">_icons.scss</span>
      <h2>Visualization Mode Icons <code>.icon-vis</code></h2>
      <ul class="sg-modifiers">
        <li>
          <strong>.bright</strong>
          -
          White variation
        </li>
        <li>
          <strong>.mid</strong>
          -
          Grey variation
        </li>
      </ul>
    </div>
    <div class="sg-canvases">
      <div class="align-left bg-light sg-canvas">
        <div style="">
          <i class="icon-vis-list $modifier-class"></i>
          <i class="icon-vis-graph $modifier-class"></i>
          <i class="icon-vis-miniature $modifier-class"></i>
          <i class="icon-vis-grid $modifier-class"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.bright</span>
        <div style="">
          <i class="icon-vis-list bright"></i>
          <i class="icon-vis-graph bright"></i>
          <i class="icon-vis-miniature bright"></i>
          <i class="icon-vis-grid bright"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.mid</span>
        <div style="">
          <i class="icon-vis-list mid"></i>
          <i class="icon-vis-graph mid"></i>
          <i class="icon-vis-miniature mid"></i>
          <i class="icon-vis-grid mid"></i>
        </div>
      </div>
      <div class="sg-html">
        <pre class="prettyprint lang-html">&lt;i class="icon-vis-list"&gt;&lt;/i&gt;
&lt;i class="icon-vis-graph"&gt;&lt;/i&gt;
&lt;i class="icon-vis-miniature"&gt;&lt;/i&gt;
&lt;i class="icon-vis-grid"&gt;&lt;/i&gt;</pre>
      </div>
    </div>
  </section>
  
  <section class="sg-example" id="5.4">
    <h3>
      <a href="#5.4">5.4</a>
    </h3>
    <button class="sg-button sg-view-code">HTML</button>
    <div class="sg-description">
      <span class="sg-filename">_icons.scss</span>
      <h2>Other Icons <code>.icon-</code></h2>
      <ul class="sg-modifiers">
        <li>
          <strong>.bright</strong>
          -
          White variation
        </li>
        <li>
          <strong>.mid</strong>
          -
          Grey variation
        </li>
      </ul>
    </div>
    <div class="sg-canvases">
      <div class="align-left bg-light sg-canvas">
        <div style="">
          <i class="icon-plus $modifier-class"></i>
          <i class="icon-pen $modifier-class"></i>
          <i class="icon-sidebar $modifier-class"></i>
          <i class="icon-new-set $modifier-class"></i>
          <i class="icon-upload $modifier-class"></i>
          <i class="icon-checkmark $modifier-class"></i>
          <i class="icon-dload $modifier-class"></i>
          <i class="icon-lock $modifier-class"></i>
          <i class="icon-eye $modifier-class"></i>
          <i class="icon-move $modifier-class"></i>
          <i class="icon-cover $modifier-class"></i>
          <i class="icon-set $modifier-class"></i>
          <i class="icon-media-entry $modifier-class"></i>
          <i class="icon-tag $modifier-class"></i>
          <i class="icon-trash $modifier-class"></i>
          <i class="icon-man_silhouette $modifier-class"></i>
          <i class="icon-admin $modifier-class"></i>
          <i class="icon-home $modifier-class"></i>
          <i class="icon-power-off $modifier-class"></i>
          <i class="icon-lens $modifier-class"></i>
          <i class="icon-magnifier $modifier-class"></i>
          <i class="icon-highlight $modifier-class"></i>
          <i class="icon-star $modifier-class"></i>
          <i class="icon-clipboard $modifier-class"></i>
          <i class="icon-question-mark $modifier-class"></i>
          <i class="icon-close $modifier-class"></i>
          <i class="icon-close-small $modifier-class"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.bright</span>
        <div style="">
          <i class="icon-plus bright"></i>
          <i class="icon-pen bright"></i>
          <i class="icon-sidebar bright"></i>
          <i class="icon-new-set bright"></i>
          <i class="icon-upload bright"></i>
          <i class="icon-checkmark bright"></i>
          <i class="icon-dload bright"></i>
          <i class="icon-lock bright"></i>
          <i class="icon-eye bright"></i>
          <i class="icon-move bright"></i>
          <i class="icon-cover bright"></i>
          <i class="icon-set bright"></i>
          <i class="icon-media-entry bright"></i>
          <i class="icon-tag bright"></i>
          <i class="icon-trash bright"></i>
          <i class="icon-man_silhouette bright"></i>
          <i class="icon-admin bright"></i>
          <i class="icon-home bright"></i>
          <i class="icon-power-off bright"></i>
          <i class="icon-lens bright"></i>
          <i class="icon-magnifier bright"></i>
          <i class="icon-highlight bright"></i>
          <i class="icon-star bright"></i>
          <i class="icon-clipboard bright"></i>
          <i class="icon-question-mark bright"></i>
          <i class="icon-close bright"></i>
          <i class="icon-close-small bright"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.mid</span>
        <div style="">
          <i class="icon-plus mid"></i>
          <i class="icon-pen mid"></i>
          <i class="icon-sidebar mid"></i>
          <i class="icon-new-set mid"></i>
          <i class="icon-upload mid"></i>
          <i class="icon-checkmark mid"></i>
          <i class="icon-dload mid"></i>
          <i class="icon-lock mid"></i>
          <i class="icon-eye mid"></i>
          <i class="icon-move mid"></i>
          <i class="icon-cover mid"></i>
          <i class="icon-set mid"></i>
          <i class="icon-media-entry mid"></i>
          <i class="icon-tag mid"></i>
          <i class="icon-trash mid"></i>
          <i class="icon-man_silhouette mid"></i>
          <i class="icon-admin mid"></i>
          <i class="icon-home mid"></i>
          <i class="icon-power-off mid"></i>
          <i class="icon-lens mid"></i>
          <i class="icon-magnifier mid"></i>
          <i class="icon-highlight mid"></i>
          <i class="icon-star mid"></i>
          <i class="icon-clipboard mid"></i>
          <i class="icon-question-mark mid"></i>
          <i class="icon-close mid"></i>
          <i class="icon-close-small mid"></i>
        </div>
      </div>
      <div class="sg-html">
        <pre class="prettyprint lang-html">&lt;i class="icon-plus"&gt;&lt;/i&gt;
&lt;i class="icon-pen"&gt;&lt;/i&gt;
&lt;i class="icon-sidebar"&gt;&lt;/i&gt;
&lt;i class="icon-new-set"&gt;&lt;/i&gt;
&lt;i class="icon-upload"&gt;&lt;/i&gt;
&lt;i class="icon-checkmark"&gt;&lt;/i&gt;
&lt;i class="icon-dload"&gt;&lt;/i&gt;
&lt;i class="icon-lock"&gt;&lt;/i&gt;
&lt;i class="icon-eye"&gt;&lt;/i&gt;
&lt;i class="icon-move"&gt;&lt;/i&gt;
&lt;i class="icon-cover"&gt;&lt;/i&gt;
&lt;i class="icon-set"&gt;&lt;/i&gt;
&lt;i class="icon-media-entry"&gt;&lt;/i&gt;
&lt;i class="icon-tag"&gt;&lt;/i&gt;
&lt;i class="icon-trash"&gt;&lt;/i&gt;
&lt;i class="icon-man_silhouette"&gt;&lt;/i&gt;
&lt;i class="icon-admin"&gt;&lt;/i&gt;
&lt;i class="icon-home"&gt;&lt;/i&gt;
&lt;i class="icon-power-off"&gt;&lt;/i&gt;
&lt;i class="icon-lens"&gt;&lt;/i&gt;
&lt;i class="icon-magnifier"&gt;&lt;/i&gt;
&lt;i class="icon-highlight"&gt;&lt;/i&gt;
&lt;i class="icon-star"&gt;&lt;/i&gt;
&lt;i class="icon-clipboard"&gt;&lt;/i&gt;
&lt;i class="icon-question-mark"&gt;&lt;/i&gt;
&lt;i class="icon-close"&gt;&lt;/i&gt;
&lt;i class="icon-close-small"&gt;&lt;/i&gt;</pre>
      </div>
    </div>
  </section>
  
  <section class="sg-example" id="5.5">
    <h3>
      <a href="#5.5">5.5</a>
    </h3>
    <button class="sg-button sg-view-code">HTML</button>
    <div class="sg-description">
      <span class="sg-filename">_icons.scss</span>
      <h2>Special Icons <code>.icon-</code></h2>
      <ul class="sg-modifiers">
        <li>
          <strong>.hover</strong>
          -
          Hover variation
        </li>
        <li>
          <strong>.disabled</strong>
          -
          Disabled variation
        </li>
        <li>
          <strong>.active</strong>
          -
          Pressed variation
        </li>
      </ul>
    </div>
    <div class="sg-canvases">
      <div class="align-left bg-light sg-canvas">
        <div style="">
          <i class="icon-checkbox $modifier-class"></i>
          <i class="icon-checkbox-bright $modifier-class"></i>
          <i class="icon-fav $modifier-class"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.hover</span>
        <div style="">
          <i class="icon-checkbox hover"></i>
          <i class="icon-checkbox-bright hover"></i>
          <i class="icon-fav hover"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.disabled</span>
        <div style="">
          <i class="icon-checkbox disabled"></i>
          <i class="icon-checkbox-bright disabled"></i>
          <i class="icon-fav disabled"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.active</span>
        <div style="">
          <i class="icon-checkbox active"></i>
          <i class="icon-checkbox-bright active"></i>
          <i class="icon-fav active"></i>
        </div>
      </div>
      <div class="sg-html">
        <pre class="prettyprint lang-html">&lt;i class="icon-checkbox"&gt;&lt;/i&gt;
&lt;i class="icon-checkbox-bright"&gt;&lt;/i&gt;
&lt;i class="icon-fav"&gt;&lt;/i&gt;</pre>
      </div>
    </div>
  </section>
  
  <section class="sg-example" id="5.6">
    <h3>
      <a href="#5.6">5.6</a>
    </h3>
    <button class="sg-button sg-view-code">HTML</button>
    <div class="sg-description">
      <span class="sg-filename">_icons.scss</span>
      <h2>Header Nav Icons <code>.icon-</code></h2>
      <ul class="sg-modifiers">
        <li>
          <strong>.dark</strong>
          -
          Midtone variation
        </li>
      </ul>
    </div>
    <div class="sg-canvases">
      <div class="align-left bg-light sg-canvas">
        <div style="">
          <i class="icon-nav-help $modifier-class"></i>
          <i class="icon-nav-search $modifier-class"></i>
        </div>
      </div>
      <div class="align-left bg-light sg-canvas sg-modifier">
        <span class="sg-modifier-name">.dark</span>
        <div style="">
          <i class="icon-nav-help dark"></i>
          <i class="icon-nav-search dark"></i>
        </div>
      </div>
      <div class="sg-html">
        <pre class="prettyprint lang-html">&lt;i class="icon-nav-help"&gt;&lt;/i&gt;
&lt;i class="icon-nav-search"&gt;&lt;/i&gt;</pre>
      </div>
    </div>
  </section>
</section>