:ruby
  element = {
    name: 'Context page',
    description: "Context view it the ones accessible while clicking on the **View** button in the Vocabulary view documented in [Section 9.1](#9.1).\n\n- **Vokabular**: features a brief Vocabulary description (limited to 256 characters) and terms in that vocabulary with 3 display modes same as in the Set Vocabulary view.\n- **Inhalte**: in place of list of terms contained in currently viewed vocabulary, it features media associated to that vocabulary.",
    cssFile: '???',
    cssSelector: '???',
    section: '9.2'
  }

= partial('element', element) do

  = partial('example') do
    .app-body-ui-container
      %ul.ui-tabs.large
        %li.ui-tabs-item.active
          %a{:href => "###contexts/Landschaftsvisualisierung"} Vokabular
        %li.ui-tabs-item
          %a{:href => "###contexts/Landschaftsvisualisierung/abstract"} Inhalte
      .ui-container.rounded-right.rounded-bottom.tab-content
        .ui-container.bright.bordered.pal
          .row
            .col2of3
              %p Set vocabulary description. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipcia deserunt mollit anim id est laborum.
        .ui-container.midtone.bordered.rounded-bottom
          .ui-container.inverted.ui-toolbar.pvx
            %h2.ui-toolbar-header.pls
              Vokabular bezieht sich auf [number] Medieneinträge. Davon sind [number] beschlagwortet.
          .ui-container.midtone.rounded-bottom
            .ui-filterbar.separated.ui-container.by-center
              .button-group
                %a.button.active Alle Begriffe
                %a.button Vergebene
                %a.button Häufigste
            .ui-terms-filter.separated.mhm{:style => "display: none"}
              .ui-terms-filter-label-holder.left.by-center
                %span.title-s
                  Häufigkeit auswerten
                  %span.ui-form-ui-ttip-toggle.ui-ttip-toggle{"data-original-title" => "Tooltip Content.", "data-placement" => "bottom", :rel => "tooltip"}
                    %i.icon-question.mid
              .ui-terms-filter-slider-holder.ptx
                .ui-slider
                  %a.ui-slider-handle
                    %span.ui-slider-info.ui-container.inverted min. 2 x vergeben
              .ui-terms-filter-note-holder.by-center.right
                Max. 140
            .ui-resources-holder.pam
              .col1of4
                .ui-metadata-box.prl.mbm
                  %h3.title-s-alt.separated.light.mbx
                    Landschaftstyp
                    %span.title-xs-alt.mlx (a-z)
                  %ul.ui-tag-cloud.small.ellipsed.compact
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Naturlandschaft"}
                        Naturlandschaft
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Erholungszone"}
                        Erholungszone
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Parklandschaft"}
                        Parklandschaft
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Stadtlandschaft"}
                        Stadtlandschaft
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Tourismusgebiet"}
                        Tourismusgebiet
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Agglomeration"}
                        Agglomeration
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Gebirgslandschaft"}
                        Gebirgslandschaft
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Landwirtschaft"}
                        Landwirtschaft
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Siedlungsgebiet"}
                        Siedlungsgebiet
                .ui-metadata-box.prl
                  %h3.title-s-alt.separated.light.mbx
                    Farbe
                    %span.title-xs-alt.mlx (a-z)
                  %ul.ui-tag-cloud.small.ellipsed.compact
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Oker"}
                        Oker
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Grüntöne"}
                        Grüntöne
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Gelbtöne"}
                        Gelbtöne
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "hellblau"}
                        hellblau
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "weiss"}
                        weiss
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Gelb"}
                        Gelb
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Blautöne"}
                        Blautöne
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "braun"}
                        braun
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Weisstöne"}
                        Weisstöne
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Violetttöne"}
                        Violetttöne
              .col1of4
                .ui-metadata-box.prl.mbm
                  .h3.title-s-alt.separated.light.mbx
                    Verwendungszweck
                    %span.title-xs-alt.mlx (a-z)
                  %ul.ui-tag-cloud.small.ellipsed.compact
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Ausstellung"}
                        Ausstellung
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Kunst"}
                        Kunst
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Architekturbild"}
                        Architekturbild
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Computerspiel"}
                        Computerspiel
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Illustration"}
                        Illustration
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Wettbewerb"}
                        Wettbewerb
                .ui-metadata-box.prl
                  %h3.title-s-alt.separated.light.mbx
                    Wetter/Klima
                    %span.title-xs-alt.mlx (a-z)
                  %ul.ui-tag-cloud.small.ellipsed.compact
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Bewölkung/wolkig"}
                        Bewölkung/wolkig
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Nebel"}
                        Nebel
              .col1of4
                .ui-metadata-box.prl.mbm
                  %h3.title-s-alt.separated.light.mbx
                    Bildzeit
                    %span.title-xs-alt.mlx (a-z)
                  %ul.ui-tag-cloud.small.ellipsed.compact
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Frühling"}
                        Frühling
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Sommer"}
                        Sommer
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Herbst"}
                        Herbst
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Winter"}
                        Winter
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Mittag"}
                        Mittag
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Nacht"}
                        Nacht
                .ui-metadata-box.prl
                  %h3.title-s-alt.separated.light.mbx
                    Bildwirkung
                    %span.title-xs-alt.mlx (a-z)
                  %ul.ui-tag-cloud.small.ellipsed.compact
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "idyllisch"}
                        idyllisch
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "friedlich"}
                        friedlich
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "kühl"}
                        kühl
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "modern"}
                        modern
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Erhabenheit"}
                        Erhabenheit
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Einsamkeit"}
                        Einsamkeit
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "technisch"}
                        technisch
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "unfreundlich"}
                        unfreundlich
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "utopisch"}
                        utopisch
              .col1of4
                .ui-metadata-box.prl.mbm
                  %h3.title-s-alt.separated.light.mbx
                    Farbe
                    %span.title-xs-alt.mlx (a-z)
                  %ul.ui-tag-cloud.small.ellipsed.compact
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Oker"}
                        Oker
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Grüntöne"}
                        Grüntöne
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Gelbtöne"}
                        Gelbtöne
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "hellblau"}
                        hellblau
                .ui-metadata-box.prl
                  %h3.title-s-alt.separated.light.mbx
                    Genre
                    %span.title-xs-alt.mlx (a-z)
                  %ul.ui-tag-cloud.small.ellipsed.compact
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Objekt"}
                        Objekt
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Porträt"}
                        Porträt
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Punk Rock"}
                        Punk Rock
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Landschaft"}
                        Landschaft
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:title => "Stadt"}
                        Stadt

  = partial('example') do
    .app-body-ui-container
      %ul.ui-tabs.large
        %li.ui-tabs-item
          %a{:href => "###contexts/Landschaftsvisualisierung"} Vokabular
        %li.ui-tabs-item.active
          %a{:href => "###contexts/Landschaftsvisualisierung/abstract"} Inhalte
      .ui-container.rounded-right.rounded-bottom.tab-content
        .ui-container.bright.bordered.pal
          .row
            .col2of3
              %p Set vocabulary description. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipcia deserunt mollit anim id est laborum.
        .ui-container.midtone.bordered.rounded-bottom
          .ui-container.inverted.ui-toolbar.pvx
            %h2.ui-toolbar-header.pls
              Kontext enthält
              2 Inhalte
            .ui-toolbar-controls.by-right
              .button-group.tertiary.small.right.mls
                %a.button.small.ui-toolbar-vis-button{"data-vis-mode" => "miniature", :title => "Miniatur-Ansicht"}
                  %i.icon-vis-miniature{:title => "Miniatur-Ansicht"}
                %a.button.small.ui-toolbar-vis-button.active{:title => "Raster-Ansicht"}
                  %i.icon-vis-grid{:title => "Raster-Ansicht"}
                %a.button.small.ui-toolbar-vis-button
                  %i.icon-vis-list{:title => "Listen-Ansicht"}
              .dropdown.ui-dropdown.stick-right
                %a.dropdown-toggle.ui-drop-toggle
                  %span.ui-text
                    Sortieren nach Änderungsdatum
                  %i.icon-arrow-down.bright.small
                %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                  %li.ui-drop-item.active{"data-default" => ""}
                    %a
                      Sortieren nach Importdatum
                  %li.ui-drop-item
                    %a
                      Sortieren nach Erstelldatum
                  %li.ui-drop-item
                    %a
                      Sortieren nach Titel
                  %li.ui-drop-item
                    %a
                      Filtern und sortieren nach Autor/in
          .ui-filterbar.separated.ui-container
            .left.col2of6
              %a.button
                %i.icon-filter.small
                Filtern
              %a.mlx.hidden.weak
                %i.icon-undo
                Filter zurücksetzen
            .col2of6.by-center
              .button-group
                %a.active.button
                  Alle
                %a.button{"data-type" => "media_entries"}
                  Medieneinträge
                %a.button.sets{"data-type" => "sets", :href => "#"}
                  Sets
            .col2of6.by-right
              %label.weak.ui-filterbar-select
                %span.active
                  Alle abwählen
                %span.inactive
                  Alle auswählen
                %i.icon-checkbox
          .ui-resources-holder.pam
            .ui-container.table.auto
              .filter-panel.hidden.ui-side-filter
                .ui-side-filter-search.filter-search
                  %form#filter_search_form
                    %input.unstyled{:type => "submit", :value => "Eingrenzen mit Suchwort"}/
                    %input.block.ui-filter-search-input{:name => "search", :type => "text"}/
                %ul.top-filter-list.ui-side-filter-list
                  %ul.ui-accordion
                    %li.ui-slide-filter-item
                      .title-xs.by-center Filter werden geladen
                      .ui-preloader.small
              .ui-container.table-cell.table-substance
                %ul.active.grid.ui-resources
                  %li.ui-resources-page{"data-page" => "1"}
                    %span.ui-resources-page-counter.ui-pager.small
                      %span 2
                      Inhalte, Seite
                      %span 1
                      von
                      %span 1
                    %ul.ui-resources-page-items
                      %li.ui-resource.not-loaded-contexts
                        .ui-resource-head
                          %ul.ui-resource-actions
                            %li.ui-resource-action
                              %a.ui-thumbnail-action-checkbox{"data-clipboard-toggle" => "", :title => "Zur Zwischenablage hinzufügen/entfernen"}
                                %i.icon-checkbox
                            %li.ui-resource-action
                              %a.ui-thumbnail-action-favorite{:title => "Zur Favoriten hinzufügen/entfernen"}
                                %i.icon-star-empty
                          %h3.ui-resource-title Oil Rich Niger Delta
                        .ui-resource-body
                          .ui-resource-thumbnail
                            .ui-thumbnail.media-entry.image
                              .ui-thumbnail-privacy
                                %i.icon-privacy-open{:title => "Diese Inhalte sind öffentlich zugänglich"}
                              %a.ui-thumbnail-image-wrapper{:href => "###media_resources/b53cd515-37a7-42b8-b8e1-107a44b50de4"}
                                .ui-thumbnail-image-holder
                                  .ui-thumbnail-table-image-holder
                                    .ui-thumbnail-cell-image-holder
                                      .ui-thumbnail-inner-image-holder
                                        %img.ui-thumbnail-image{:src => asset_path("styleguide/media-entry-9.jpg")}/
                              .ui-thumbnail-meta
                                %h3.ui-thumbnail-meta-title Oil Rich Niger Delta
                                %h4.ui-thumbnail-meta-subtitle Osodi, George
                              .ui-thumbnail-actions
                                %ul.left.by-left
                                  %li.ui-thumbnail-action
                                    %a.ui-thumbnail-action-checkbox{"data-clipboard-toggle" => "", :title => "Zur Zwischenablage hinzufügen/entfernen"}
                                      %i.icon-checkbox
                                  %li.ui-thumbnail-action
                                    %a.ui-thumbnail-action-favorite{:title => "Zu Favoriten hinzufügen"}
                                      %i.icon-star-empty
                                %ul.right.by-right
                                  %li.ui-thumbnail-action
                                    %a.ui-thumbnail-action-browse{:href => "###media_resources/b53cd515-37a7-42b8-b8e1-107a44b50de4/browse", :title => "Stöbern"}
                                      %i.icon-eye
                                  %li.ui-thumbnail-action
                                    %a.ui-thumbnail-action-edit{:href => "###media_resources/b53cd515-37a7-42b8-b8e1-107a44b50de4/edit", :title => "Metadaten editieren"}
                                      %i.icon-pen
                              .ui-thumbnail-dropdown
                                .dropdown.ui-dropdown
                                  %a.dropdown-toggle.button.block.ui-drop-toggle{"data-toggle" => "dropdown"} Aktionen
                                  %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                                    %li.ui-drop-item
                                      %a{:href => "###media_resources/b53cd515-37a7-42b8-b8e1-107a44b50de4/edit", :title => "Metadaten editieren"}
                                        %i.icon-pen.mid
                                        Metadaten editieren
                                    %li.ui-drop-item
                                      %a{:href => "###media_entries/b53cd515-37a7-42b8-b8e1-107a44b50de4/browse", :title => "Nach vergleichbaren Inhalten stöbern"}
                                        %i.icon-eye.mid
                                        Stöbern
                                    %li.ui-drop-item
                                      %a{:title => "Berechtigungen verwalten"}
                                        %i.icon-lock.mid
                                        Berechtigungen
                                    %li.ui-drop-item
                                      %a{"data-organize-arcs" => "", :title => "Zu Set hinzufügen/entfernen"}
                                        %i.icon-move.mid
                                        Zu Set hinzufügen/entfernen
                          .ui-resource-meta
                            %div{"data-context-id" => ""}
                              %table.borderless.block
                                %tbody
                                  %tr
                                    %td.ui-resource-meta-label Autor/in
                                    %td.ui-resource-meta-content
                                      %ul.ui-tag-cloud.small.ellipsed.compact
                                        %li.ui-tag-cloud-item
                                          %a.ui-tag-button.person-tag{:href => "###media_resources?search=Osodi, George"}
                                            %i.icon-user-mini.ui-tag-icon
                                            Osodi, George
                                  %tr
                                    %td.ui-resource-meta-label Datierung
                                    %td.ui-resource-meta-content 22.12.2005
                                  %tr
                                    %td.ui-resource-meta-label Schlagworte zu Inhalt und Motiv
                                    %td.ui-resource-meta-content
                                      %ul.ui-tag-cloud.small.ellipsed.compact
                                        %li.ui-tag-cloud-item.ellipsed.compact
                                          %a.ui-tag-button{:href => "###media_resources?meta_data[keywords][ids][]=1475"}
                                            %i.icon-tag-mini.ui-tag-icon
                                            oil
                                        %li.ui-tag-cloud-item.ellipsed.compact
                                          %a.ui-tag-button{:href => "###media_resources?meta_data[keywords][ids][]=1477"}
                                            %i.icon-tag-mini.ui-tag-icon
                                            niger delta
                                  %tr
                                    %td.ui-resource-meta-label Rechte
                                    %td.ui-resource-meta-content Osodi, George
                                  %tr
                                    %td.ui-resource-meta-label Eigentümer/in im Medienarchiv
                                    %td.ui-resource-meta-content
                                      %ul.ui-tag-cloud.small.ellipsed.compact
                                        %a.ui-tag-button.person-tag{:href => "###media_resources?search=Knacknuss, Karen"}
                                          %i.icon-user-mini.ui-tag-icon
                                          Knacknuss, Karen
                          .ui-resource-description{"data-context" => "second_displayed_context_id"}
                          .ui-resource-extension{"data-context" => "third_displayed_context_id"}
                      %li.ui-resource.not-loaded-contexts
                        .ui-resource-head
                          %ul.ui-resource-actions
                            %li.ui-resource-action
                              %a.ui-thumbnail-action-checkbox{"data-clipboard-toggle" => "", :title => "Zur Zwischenablage hinzufügen/entfernen"}
                                %i.icon-checkbox
                            %li.ui-resource-action
                              %a.ui-thumbnail-action-favorite{:title => "Zur Favoriten hinzufügen/entfernen"}
                                %i.icon-star-empty
                          %h3.ui-resource-title Diplom
                        .ui-resource-body
                          .ui-resource-thumbnail
                            .ui-thumbnail.media-entry.image
                              .ui-thumbnail-privacy
                                %i.icon-privacy-open{:title => "Diese Inhalte sind öffentlich zugänglich"}
                              %a.ui-thumbnail-image-wrapper{:href => "###media_resources/e5cf6724-c252-40ca-b4b4-6a634ca42c0b"}
                                .ui-thumbnail-image-holder
                                  .ui-thumbnail-table-image-holder
                                    .ui-thumbnail-cell-image-holder
                                      .ui-thumbnail-inner-image-holder
                                        %img.ui-thumbnail-image{:src => asset_path("styleguide/media-entry-11.jpg")}/
                              .ui-thumbnail-meta
                                %h3.ui-thumbnail-meta-title Diplom
                                %h4.ui-thumbnail-meta-subtitle Bangerter, Andrea; Thal, Andrea
                              .ui-thumbnail-actions
                                %ul.left.by-left
                                  %li.ui-thumbnail-action
                                    %a.ui-thumbnail-action-checkbox{"data-clipboard-toggle" => "", :title => "Zur Zwischenablage hinzufügen/entfernen"}
                                      %i.icon-checkbox
                                  %li.ui-thumbnail-action
                                    %a.ui-thumbnail-action-favorite{:title => "Zu Favoriten hinzufügen"}
                                      %i.icon-star-empty
                                %ul.right.by-right
                                  %li.ui-thumbnail-action
                                    %a.ui-thumbnail-action-browse{:href => "###media_resources/e5cf6724-c252-40ca-b4b4-6a634ca42c0b/browse", :title => "Stöbern"}
                                      %i.icon-eye
                                  %li.ui-thumbnail-action
                                    %a.ui-thumbnail-action-edit{:href => "###media_resources/e5cf6724-c252-40ca-b4b4-6a634ca42c0b/edit", :title => "Metadaten editieren"}
                                      %i.icon-pen
                              .ui-thumbnail-dropdown
                                .dropdown.ui-dropdown
                                  %a.dropdown-toggle.button.block.ui-drop-toggle{"data-toggle" => "dropdown"} Aktionen
                                  %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                                    %li.ui-drop-item
                                      %a{:href => "###media_resources/e5cf6724-c252-40ca-b4b4-6a634ca42c0b/edit", :title => "Metadaten editieren"}
                                        %i.icon-pen.mid
                                        Metadaten editieren
                                    %li.ui-drop-item
                                      %a{:href => "###media_entries/e5cf6724-c252-40ca-b4b4-6a634ca42c0b/browse", :title => "Nach vergleichbaren Inhalten stöbern"}
                                        %i.icon-eye.mid
                                        Stöbern
                                    %li.ui-drop-item
                                      %a{"data-manageable" => "true", "data-media-resource-id" => "e5cf6724-c252-40ca-b4b4-6a634ca42c0b", "data-open-permissions" => "", "data-title" => "Diplom", :title => "Berechtigungen verwalten"}
                                        %i.icon-lock.mid
                                        Berechtigungen
                                    %li.ui-drop-item
                                      %a{"data-organize-arcs" => "", :title => "Zu Set hinzufügen/entfernen"}
                                        %i.icon-move.mid
                                        Zu Set hinzufügen/entfernen
                          .ui-resource-meta
                            %div{"data-context-id" => ""}
                              %table.borderless.block
                                %tbody
                                  %tr
                                    %td.ui-resource-meta-label Autor/in
                                    %td.ui-resource-meta-content
                                      %ul.ui-tag-cloud.small.ellipsed.compact
                                        %li.ui-tag-cloud-item
                                          %a.ui-tag-button.person-tag{:href => "###media_resources?search=Bangerter, Andrea"}
                                            %i.icon-user-mini.ui-tag-icon
                                            Bangerter, Andrea
                                        %li.ui-tag-cloud-item
                                          %a.ui-tag-button.person-tag{:href => "###media_resources?search=Thal, Andrea"}
                                            %i.icon-user-mini.ui-tag-icon
                                            Thal, Andrea
                                  %tr
                                    %td.ui-resource-meta-label Datierung
                                    %td.ui-resource-meta-content 1999
                                  %tr
                                    %td.ui-resource-meta-label Schlagworte zu Inhalt und Motiv
                                    %td.ui-resource-meta-content
                                      %ul.ui-tag-cloud.small.ellipsed.compact
                                        %li.ui-tag-cloud-item.ellipsed.compact
                                          %a.ui-tag-button{:href => "###media_resources?meta_data[keywords][ids][]=4608"}
                                            %i.icon-tag-mini.ui-tag-icon
                                            Freizeit
                                        %li.ui-tag-cloud-item.ellipsed.compact
                                          %a.ui-tag-button{:href => "###media_resources?meta_data[keywords][ids][]=4607"}
                                            %i.icon-tag-mini.ui-tag-icon
                                            Mode
                                        %li.ui-tag-cloud-item.ellipsed.compact
                                          %a.ui-tag-button{:href => "###media_resources?meta_data[keywords][ids][]=4606"}
                                            %i.icon-tag-mini.ui-tag-icon
                                            Outdoor
                                        %li.ui-tag-cloud-item.ellipsed.compact
                                          %a.ui-tag-button{:href => "###media_resources?meta_data[keywords][ids][]=4605"}
                                            %i.icon-tag-mini.ui-tag-icon
                                            Sportbekleidung
                                        %li.ui-tag-cloud-item.ellipsed.compact
                                          %a.ui-tag-button{:href => "###media_resources?meta_data[keywords][ids][]=4604"}
                                            %i.icon-tag-mini.ui-tag-icon
                                            Sport
                                        %li.ui-tag-cloud-item.ellipsed.compact
                                          %a.ui-tag-button{:href => "###media_resources?meta_data[keywords][ids][]=405"}
                                            %i.icon-tag-mini.ui-tag-icon
                                            Diplomarbeit
                                        %li.ui-tag-cloud-item.ellipsed.compact
                                          %a.ui-tag-button{:href => "###media_resources?meta_data[keywords][ids][]=76"}
                                            %i.icon-tag-mini.ui-tag-icon
                                            Fotografie
                                        %li.ui-tag-cloud-item.ellipsed.compact
                                          %a.ui-tag-button{:href => "###media_resources?meta_data[keywords][ids][]=1353"}
                                            %i.icon-tag-mini.ui-tag-icon
                                            Natur
                                        %li.ui-tag-cloud-item.ellipsed.compact
                                          %a.ui-tag-button{:href => "###media_resources?meta_data[keywords][ids][]=447"}
                                            %i.icon-tag-mini.ui-tag-icon
                                            Landschaft
                                        %li.ui-tag-cloud-item.ellipsed.compact
                                          %a.ui-tag-button{:href => "###media_resources?meta_data[keywords][ids][]=2665"}
                                            %i.icon-tag-mini.ui-tag-icon
                                            Inszenierung
                                  %tr
                                    %td.ui-resource-meta-label Rechte
                                    %td.ui-resource-meta-content Zürcher Hochschule der Künste ZHdK
                                  %tr
                                    %td.ui-resource-meta-label Eigentümer/in im Medienarchiv
                                    %td.ui-resource-meta-content
                                      %ul.ui-tag-cloud.small.ellipsed.compact
                                        %a.ui-tag-button.person-tag{:href => "###media_resources?search=Knacknuss, Karen"}
                                          %i.icon-user-mini.ui-tag-icon
                                          Knacknuss, Karen
                          .ui-resource-description{"data-context" => "second_displayed_context_id"}
                          .ui-resource-extension{"data-context" => "third_displayed_context_id"}
