.app-body-sidebar.bright.ui-container.table-cell.bordered-right.rounded-left.table-side
  .ui-container.rounded-left.phm.pvl
    %ul.ui-side-navigation

      = render :partial => "application/sidebar/explore/catalog_set" if @catalog_set

      = render :partial => "application/sidebar/explore/featured_set" if @featured_set

      = render :partial => "application/sidebar/explore/keywords" if @any_top_keywords