- scopes.each do |scope|

  %li.ui-tag-cloud-item
    %a.ui-tag-button.meta-term{:href => media_resources_path(:permissions => {:scope => {:ids => [scope]}})}

      - if scope == "entrusted"
        = _("Content entrusted to me")

      - if scope == "public"
        = _("Public content")

      - if scope == "mine"
        = _("Content I am responsible for")
