${$item.value = keyword.id != undefined ? keyword.id : keyword.label, ""}
%li.multi-select-tag
  %input{:name => "resource[meta_data_attributes][${index}][value][]", :type => "hidden", :value => "${$item.value}"}
    ${keyword.label}
    %a.multi-select-tag-remove
      .icon-remove