{{if id}}
${$item.value = id, ""}
{{else label}}
${$item.value = label, ""}
{{/if}}

%li.multi-select-tag{:"data-id" => "${id}", :"data-label" => "${label}"}
  %input{:name => "resource[meta_data_attributes][${index}][value][]", :type => "hidden", :value => "${$item.value}"}
    ${label}
    %a.multi-select-tag-remove
      .icon-remove