${$item.value = (term.id != undefined) ? term.id : term.value, ""}
%li.multi-select-tag.meta-term{:"data-id" => "${term.value}", :"data-value" => "${term.value}"}
  %input{:name => "resource[meta_data_attributes][${index}][value][]", :type => "hidden", :value => "${$item.value}"}
    ${term.value}
    %a.multi-select-tag-remove
      .icon-remove