:ruby
  element = {
    name: 'Deco.ResourceThumbnail',
    cssSelector: 'none',
    cssFile: 'none',
    section: '12.1',
    mods: {},
    examples: [
    { get: Presenters::MediaEntries::MediaEntryIndex.new(
        MediaEntry.first, current_user) },
    { get: Presenters::Collections::CollectionIndex.new(
        Collection.first, current_user) } ]
  }

= render_partial('element', element) do
  - element[:examples].each do |props|
    = render_partial('example') do
      = react('Deco.ResourceThumbnail', props)
