= javascript_include_tag 'developer-tools'

:ruby
  element = {
    name: 'WIP: Deco.MediaResourcesBox',
    cssSelector: 'none',
    cssFile: 'none',
    section: '12.1',
    mods: {
      'default' => 'Default',
      'interactive' => 'To be interacted with (filter, sort, paginate)'
    },
    example_locals: {
      get: Presenters::MediaEntries::MediaEntries.new(
        MediaEntry.all.limit(36),
        current_user,
        list_conf: @resource_list_params)
    },
    examples: [
      {},
      { interactive: true } ]
  }

= render_partial('element', element) do |element|
  - element[:examples].each do |example|
    = render_partial('example') do
      = react('Deco.MediaResourcesBox', element[:example_locals].merge(example))
