:ruby
  # use flashHash for `alerts`, if not given in locals
  alerts ||= flash.to_hash

  levels_map = { notice: 'confirmation' } # alert, success, warning = same

  alerts = alerts.map do |level, text|
    { level: levels_map[level.to_sym] || level, text: text}
  end


  if controller_name == 'media_entries' && [
      'show',
      'more_data',
      'usage_data'
    ].include?(action_name)

    unless @get.published?
      if not flash.to_hash.present?
        content_for(:app_alerts) do
          component('alert', level: 'warning', text: t(:media_entry_not_published_warning_msg))
        end
      end
    end

  end





- if alerts.present? or content_for?(:app_alerts)
  = combo('alerts', props: { id: 'app-alerts' }, list: alerts) do
    -# alerts from child views:
    = content_for(:app_alerts)
