:ruby
  header = {

    # - responsive brand section on the left:
    brand: {
      instance_name: settings.site_title,
      name: settings.brand_text,
      logo: {
        src: settings.brand_logo_url,
        # logo is just the visual representation of the
        # (already present) 'name', so it can be ignored:
        alt: ''
      },
      href: root_path
    },

    # - main site menu section, middle
    menu: component('tabs-bar',
      id: 'example_tabs',
      mods: ['primary', 'large'],
      list: {
        my: {
          text: 'My Archive',
          href: my_dashboard_path,
          active: link_active?(my_dashboard_path)
        },

        # TMP: disabled
        # explore: {
        #   text: 'Erkunden', href: '#/explore'
        # },
        # search: {
        #   icon: 'icon-lens.bright',
        #   text: 'Suchen', href: '#/search'
        # },
        # help: {
        #   icon: 'icon-nav-help', href: '#/help'
        # }

        admin: !current_user.try(:admin) ? nil : {
          text: 'Admin',
          icon: 'icon-bang',
          href: admin_root_path
        },

        help: { icon: 'icon-nav-help', href: settings.support_url }
      }
    ),

    # user/login section, right
    user: render(current_user ? 'user_menu' : 'login_menu')
  }

= combo('header', header)
