:ruby
  header = {

    # - responsive brand section on the left:
    brand: {
      instance_name: settings.site_title,
      name: settings.brand_text,
      logo: settings.brand_logo_url.try(:empty?) ? nil : {
        src: settings.brand_logo_url,
        # a11y: logo is just the visual representation of the
        # (already present) 'name', so it can be ignored:
        alt: ''
      },
      href: root_path
    },

    # - main site menu section, middle
    menu: component('tabs-bar',
      id: 'example_tabs',
      mods: ['primary', 'large'],
      list: {
        my: {
          text: t(:sitemap_my_archive),
          href: my_dashboard_path,
          active: link_active?(my_dashboard_path)
        },
        explore: {
          text: t(:sitemap_explore),
          href: explore_path,
          active: link_active?(explore_path)
        },

        search: {
          text: t(:sitemap_search), icon: 'icon-lens.bright',
          href: search_path,
          active: (link_active?(search_path) or
            link_active?(media_entries_path, deep: true) or
            link_active?(collections_path, deep: true) or
            link_active?(filter_sets_path, deep: true))
        },

        help: { text: t(:sitemap_help), href: settings.support_url }

      }
    ),

    # user/login section, right
    user: (params[:action] != 'root') ? render(current_user ? 'user_menu' : 'login_menu') : nil
  }

= combo('header', header)
