:ruby
  header = {

    # - responsive brand section on the left:
    brand: {
      instance_name: localize(settings.site_titles),
      name: localize(settings.brand_texts),
      logo: !settings.brand_logo_url.present? ? nil : {
        src: settings.brand_logo_url,
        # a11y: logo is just the visual representation of the
        # (already present) 'name', so it can be ignored:
        alt: ''
      },
      href: root_path
    },

    # - main site menu section, middle
    menu: component('tabs-bar',
      id: 'example_tabs',
      mods: ['primary', 'large'],
      list: {
        my: (!current_user ? nil : {
          text: t(:sitemap_my_archive),
          href: my_dashboard_path,
          active: link_active?(my_dashboard_path)
        }),
        explore: {
          text: t(:sitemap_explore),
          href: explore_path,
          active: link_active?(root_path, deep: true) || link_active?(explore_path)
        },

        search: {
          text: t(:sitemap_search), icon: 'icon-lens.bright',
          href: search_path,
          active: (link_active?(search_path) or
            link_active?(media_entries_path, deep: true) or
            link_active?(collections_path, deep: true))
        },

        help: !localize(settings.support_urls).present? ? nil : {
          text: t(:sitemap_help), href: localize(settings.support_urls)
        }

      }
    ),

    # user/login section, right
    user: (params[:action] != 'root') ? current_user ? render('user_menu') : controller.controller_name != "errors" ? render('login_menu') : nil : nil
  }

= combo('header', header)
