:ruby
  # use flashHash for `alerts`, if not given in locals
  alerts ||= flash.to_hash

  levels_map = { notice: 'confirmation' } # alert, success, warning = same

  alerts = alerts.map do |level, text|
    { level: levels_map[level.to_sym] || level, text: text}
  end


- if alerts.present? or content_for?(:app_alerts)
  = combo('alerts', props: { id: 'app-alerts' }, list: alerts) do
    -# alerts from child views:
    = content_for(:app_alerts)
