.ui-collage
  - 2.times do |row|
    .ui-collage-row
      - 5.times do |col|
        - i = (((row*5)+col)%@splashscreen_set.child_media_resources.size)
        - mr = @splashscreen_set_children[i]
        %a.ui-collage-item{:href => "/media_resources/#{mr.id}"}
          .ui-collage-item-wrapper
            %img.ui-collage-item-image{:src => "/media_resources/#{mr.id}/image"} 
            .ui-collage-item-meta
              %h3.title-xs= mr.title
              %h4.title-xs-alt= mr.author