:ruby
  clipboard = clipboard.nil? ? true : clipboard

.app-footer
  %footer.ui-footer.ui-container.inverted
    %ul.ui-footer-menu
      %li
        %a{:target => "_blank", :href => "http://www.zhdk.ch/?madek"} Informationen zum Projekt
      %li
        %a{:target => "_blank", :href => "http://www.zhdk.ch/index.php?id=12970"} Impressum
      %li
        %a{:target => "_blank", :href => "http://www.zhdk.ch/index.php?id=12968"} Kontakt
      %li
        %a{:target => "_blank", :href => "http://blog.zhdk.ch/madek/"} Blog

      - if AppSettings["wiki_url"]
        %li
          %a{:target => "_blank", :href => AppSettings["wiki_url"]} Hilfe
      %li
        %a{:target => "_blank", :href => usage_terms_users_path} Nutzungsbestimmungen
      %li
        %a{:target => "_blank", :href => "http://www.zhdk.ch/index.php?id=12974"} Freie Software
      %li
        %a{:target => "_blank", :href => "http://www.zhdk.ch/?archivierung"} Archivierungsrichtlinien ZHdK
    %p.ui-footer-copy
      = image_tag "inserts/image-logo-madek.png", :alt => "Madek - Medienarchiv der Künste", :class => "ui-footer-logo"
      Z&uuml;rcher Hochschule der K&uuml;nste

- if clipboard
  = render "application/clipboard" unless current_user.is_guest?