:ruby
  clipboard = clipboard.nil? ? true : clipboard

.app-footer
  %footer.ui-footer.ui-container.inverted
    %ul.ui-footer-menu
      - @app_settings.footer_links.map{|k,v| {text: k, href: v}}.each do |footer_link|
        = render 'footer_link', footer_link: footer_link

    %p.ui-footer-copy
      = link_to "http://madek.zhdk.ch" do
        %i.icon-madek.ui-footer-logo
      Z&uuml;rcher Hochschule der K&uuml;nste and contributors

    / / TODO: THOMAS
    / %p.ui-footer-version
    /   Last deployment: 
    /   %a.weak
    /     Fri, 22 Nov 2013

- if clipboard
  = render "application/clipboard" unless current_user.is_guest?
