:ruby
  clipboard = clipboard.nil? ? true : clipboard

.app-footer
  %footer.ui-footer.ui-container.inverted
    %ul.ui-footer-menu
      - AppSettings.footer_links.map{|k,v| {text: k, href: v}}.each do |footer_link|
        = render 'footer_link', footer_link: footer_link

    %p.ui-footer-copy
      = link_to "http://madek.zhdk.ch" do 
        = image_tag "inserts/image-logo-madek.png", :alt => "Madek - Medienarchiv der Künste", :class => "ui-footer-logo"
      Z&uuml;rcher Hochschule der K&uuml;nste and contributors

- if clipboard
  = render "application/clipboard" unless current_user.is_guest?
