- if root_page? and current_user.is_guest?
  = render "application/header/logged_out_stripped"
- elsif current_user.is_guest?
  = render "application/header/logged_out"
- else
  = render "application/header/logged_in"