- if current_user.is_guest?
  .dropdown.ui-dropdown.stick-right
    %a.primary-button.dropdown-toggle.ui-drop-toggle{"data-toggle" => "dropdown", :href => "#"}
      %i.icon-man_silhouette.bright
      Anmelden
    %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
      - if AppSettings.authentication_systems.include? :zhdk_agw
        %li.ui-drop-item
          %a{:href => login_and_return_here_path}
            ZHdK-Login
      - if AppSettings.authentication_systems.include? :local_database
        %li.ui-drop-item
          %a{:href => root_path(:external_user_login => true)}
            Externe Benutzer
