:ruby

  active_login = if params[:external_user_login] or !AppSettings.authentication_systems.include?(:zhdk_agw)
    :external
  else
    :zhdk_agw
  end

.ui-home-claim.ui-container
  .col2of3
    .pitch-claim
      %h1.title-xxl Bilder, Fotos, Videos und Audio-Dateien
      %h2.title-l Das Medienarchiv ist ein Werkzeug zum gemeinschaftlichen arbeiten mit Medien und zum Teilen von Inhalten.
  .col1of3
    .pitch-login
      %ul.ui-tabs.ui-container
        - if AppSettings.authentication_systems.include? :zhdk_agw
          %li.ui-tabs-item.left{:class => active_login == :zhdk_agw ? "active" : ""}
            %a#zhdk-user-login-tab{"data-toggle" => "tab", :href => "#internal-user"} ZHdK-Login
        - if AppSettings.authentication_systems.include? :local_database
          %li.ui-tabs-item.right{:class => active_login == :external ? "active" : ""}
            %a#database-user-login-tab{"data-toggle" => "tab", :href => "#external-user"} Externe Benutzer
      .tab-content.pitch-login-tab
        - if AppSettings.authentication_systems.include? :zhdk_agw
          #internal-user.tab-pane{:class => active_login == :zhdk_agw ? "active" : ""}
            %form
              .form-body
                .ui-form-group.rowed
                  %a#internal-login-link.primary-button.block.large{:href => login_path} Anmelden
        - if AppSettings.authentication_systems.include? :local_database
          #external-user.tab-pane{:class => active_login == :external ? "active" : ""}
            %form{:action => "db/login", :method => :post}
              .form-body
                .ui-form-group.rowed.compact
                  %input.block.large{:placeholder => "Benutzername", :type => "text", :name => :login, :autofocus => params[:external_user_login] ? "autofocus" : "false"}/
                .ui-form-group.rowed.compact
                  %input.block.large{:placeholder => "Passwort", :type => "password", :name => :password}/
                .ui-form-group.rowed.compact
                  %button.primary-button.block.large{:type => :submit} Anmelden
