:javascript
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.zhdk.ch/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 174]);
    var d=document, g=d.createElement('script'),
        s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js';
    s.parentNode.insertBefore(g,s);
  })();

%noscript
  %p
    %img(src="//analytics.zhdk.ch/piwik.php?idsite=174" style="border:0;" alt="")
