%span.semantic-version<>
  %span.major<>
    =Settings.release.version_major.to_s
  %span.minor<>
    %span.divider<>='.'
    =Settings.release.version_minor.to_s
  %span.minor<>
    %span.divider<>='.'
    =Settings.release.version_patch.to_s
  - if Settings.release.version_pre.present?
    %span.version<>
      %span.divider<>='-'
      =Settings.release.version_pre.to_s
  - if Settings.release.version_build.present?
    %span.build<>
      %span.divider<>='+'
      =Settings.release.version_build.to_s
