:ruby
  cache_key = @app_layout_data.user_menu.hash

-# `capture` together with low-level caching is needed to avoid template render error.
= capture do 
  - Rails.cache.fetch(cache_key) do
    = react('App.UserMenu', @app_layout_data.user_menu)
