<div id="content-header" class="container_12 clearfix">
	
	<div id="detail-title" class="container_12 grid_8">
		<h2 class="title">Medienarchiv Katalog</h2>		
	</div>
</div> <!-- /#content-header -->

<div id="content-body" class="container_12 clearfix">
	
	<div id="detail-main" class="container_12 grid_8 clearfix">	
		
		<p style="margin-bottom: 2em"><img src="<%= image_path 'icons/catalog-teaser.jpg' %>" alt="" /></p>
		
		<div class="container_12 grid_4 alpha">
		<h2>Thematische Kategorien</h2>
		<p>Inhalte geordnet nach thematischen Kategorien. Inspirieren Sie sich 체ber organisationelle Grenzen hinaus...</p>
		<ul class="catalog-items">
			<li><a href="#" style="display: block; margin: 0.5em 0; padding: 0.5em 1em; background: #DBEBF1; font-size: 1.25em; font-weight: bold; -moz-border-radius: 5px; -webkit-border-radius: 5px;">Produkte<br /><span style="color: #929292; font-size: 13px; font-weight: normal"> Designobjekte, Alltagsgegenst채nde...</span></a></li>
			<li><a href="#" style="display: block; margin: 0.5em 0; padding: 0.5em 1em; background: #DBEBF1; font-size: 1.25em; font-weight: bold; -moz-border-radius: 5px; -webkit-border-radius: 5px;">Theater & Performance</a></li>
			<li><a href="#" style="display: block; margin: 0.5em 0; padding: 0.5em 1em; background: #DBEBF1; font-size: 1.25em; font-weight: bold; -moz-border-radius: 5px; -webkit-border-radius: 5px;">Animationen</a></li>
			<li><a href="#" style="display: block; margin: 0.5em 0; padding: 0.5em 1em; background: #DBEBF1; font-size: 1.25em; font-weight: bold; -moz-border-radius: 5px; -webkit-border-radius: 5px;">Forschung & Entwicklung</a></li>
		</ul>
		</div>
		
		<div class="container_12 grid_4 omega">
		<h2>Institutionelle Kategorien</h2>
		<p>Inhalte geordnet nach institutionellen Kategorien. Finden Sie arbeiten aus spezifischen ZHdK Einheiten und Bereichen...</p>
		<ul class="catalog-items">
			<li><a href="#" style="display: block; margin: 0.5em 0; padding: 0.5em 1em; background: #DBEBF1; font-size: 1.25em; font-weight: bold; -moz-border-radius: 5px; -webkit-border-radius: 5px;">Darstellende K체nste <br /><span style="color: #929292; font-size: 13px; font-weight: normal"> Schauspiel, Film, Tanz, Szenografie...</span></a></li>
			<li><a href="#" style="display: block; margin: 0.5em 0; padding: 0.5em 1em; background: #DBEBF1; font-size: 1.25em; font-weight: bold; -moz-border-radius: 5px; -webkit-border-radius: 5px;">Design</a></li>
			<li><a href="#" style="display: block; margin: 0.5em 0; padding: 0.5em 1em; background: #DBEBF1; font-size: 1.25em; font-weight: bold; -moz-border-radius: 5px; -webkit-border-radius: 5px;">Kulturanalyse & Vermittlung</a></li>
			<li><a href="#" style="display: block; margin: 0.5em 0; padding: 0.5em 1em; background: #DBEBF1; font-size: 1.25em; font-weight: bold; -moz-border-radius: 5px; -webkit-border-radius: 5px;">Kunst & Medien</a></li>
			<li><a href="#" style="display: block; margin: 0.5em 0; padding: 0.5em 1em; background: #DBEBF1; font-size: 1.25em; font-weight: bold; -moz-border-radius: 5px; -webkit-border-radius: 5px;">Musik</a></li>
		</ul>
		</div>		
		
	</div>
	
	<div id="detail-sidebar"  class="container_12 grid_4">

		<div style="background: #f2f2f2; height: 175px; margin-bottom: 2em">
			<p style="padding: 0.5em 1em">Tag Cloud</p>
		</div>
		
		<h2>Sets</h2>
		<p>Eine kleine Auswahl <a href="#">interessanter Sets</a> im Medienarchiv der K체nste...</p>
		
		<p style=""><img src="<%= image_path 'fotostudio-testbild-small.jpg' %>" alt="" /></p>
		
		<h2>Kollektionen</h2>
		<p>Lorem ipsum <a href="#">wunderbare Kollektionen</a>dolor sit amet...</p>

		<h2>Gruppen</h2>
		<p>Lorem ipsum dolor sit <a href="#">lebendige Gruppen</a> amet...</p>
		
	</div>

</div> <!-- /#content-body -->
