.ui-container.pal
  :ruby
    home_claim = {
      claim: {
        title: settings.welcome_title,
        subtitle: markdown(settings.welcome_text)
      },
      login: render(partial: 'login_box')
      }

  = combo('home-claim', home_claim)
