.ui-container.pal
  :ruby
    home_claim = {
      claim: {
        title: 'powerful global information system',
        subtitle: 'academic information should be freely available to anyone.'
      },
      login: render(partial: 'login_box')
      }

  = combo('home-claim', home_claim)
