<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>ETH Wohnforum - ETH CASE</title>
<link href="http://www.wohnforum.arch.ethz.ch/style/wohnforum.css" rel="stylesheet" type="text/css" />
</head>
<body id="projekte" onload="" onresize="">

<div id='ethlogo'><a href='http://www.ethz.ch/' target="_blank"><img src='http://www.wohnforum.arch.ethz.ch/image_index/ethlogo_neg-1.gif' alt='ETH Z&uuml;rich' width="164" height="39" border='0' align="middle" /></a></div>
<div id='darchlogo'><a href='http://www.arch.ethz.ch/' target="_blank"><img src='http://www.wohnforum.arch.ethz.ch/image_index/logo_darch.gif' alt='Departement Architektur ETH Z체rich' width="161" height="40" border='0' align="middle" /></a></div>
<div id="content">
<div id='imageright'></div>
<div id="translation"> <a href="../impressum/impressum.html">Impressum</a>
</div>
<div id="maintext">



<h1>Online-Plattform 'Geselllschaft &amp; Gebaute Umwelt'</h1>
  <h2>F체r wissenschaftliches Arbeiten an der Schnittstelle Gesellschaft & gebaute Umwelt.    </h2>
  <p>&nbsp;</p>
  <p>Bilder, Fotos, Audio- und Text-Dateien:
    Die Online-Plattfrom ist ein Werkzeug zum kooperativen Arbeiten mit Mediendateien und zum Teilen von Inhalten.</p>
  <p>
    
 Die Plattform ist aktuell im Aufbau, die Inhalte gehen vorl채ufig aus vier am ETH Wohnforum - ETH CASE angesiedelten Forschungsprojekten hervor. Sie wird von Forschern und Forscherinnen aus den Bereichen Sozial- und Kulturwissenschaften, Geographie, Politikwissenschaften, Planung und Architektur verwendet. Die Plattform 'Gesellschaft & gebaute Umwelt' kann projektspezifisch f체r das Teilen, die Entwicklung, die Suche und die Archivierung von Wissen angepasst und genutzt werden.</p>
  <p>&nbsp;</p>
  <p>
  <h2>Log in here</h2>
  <p><%= flash_helper %></p>
  <%= render :partial => "login" %>

</p>
</div>
</div>
<div id="header">
<div id="caselogo"><a href="http://www.wohnforum.arch.ethz.ch/"><img src="http://www.wohnforum.arch.ethz.ch/image_index/logoDARCH_Wohnforum_CASE.gif" width="193" height="40" border="0" /></a></div>
<div id="subnavigation">
<h1>&rsaquo; PROJEKTE</h1>
  <ul>
    <li><a href="http://www.wohnforum.arch.ethz.ch/projekte/projekte_laufend.html">&rsaquo; laufende Projekte</a></li>
    <li><a href="http://www.wohnforum.arch.ethz.ch/projekte/projekte_abgeschlossen.html">&rsaquo; Projektarchiv</a></li>
    <li><a href="http://www.plattform-forschung.arch.ethz.ch">&rsaquo; Online-Plattform</a></li></ul>
</div>
<div id="mainnavigationbar">
<ul>
<li id="navcasesmain"><a href="http://www.wohnforum.arch.ethz.ch/index.html">&rsaquo; HOME</a></li>
<li id='navabout'><a href="http://www.wohnforum.arch.ethz.ch/about/about.html">&rsaquo; &Uuml;BER UNS</a> </li>
  <li id="navteam"><a href="http://www.wohnforum.arch.ethz.ch/team/team.html">&rsaquo; TEAM</a></li>
  <li id="navprojekte"><a href="http://www.wohnforum.arch.ethz.ch/projekte/projekte_laufend.html">&rsaquo; PROJEKTE</a></li>
  <li id="navpublikationen"><a href="http://www.wohnforum.arch.ethz.ch/publikationen/publikationen_main.html">&rsaquo; PUBLIKATIONEN</a></li>
  <li id="navlehre"><a href="http://www.wohnforum.arch.ethz.ch/lehre/lehre.html">&rsaquo; LEHRE</a></li>
  <li id="navforum"><a href="http://www.wohnforum.arch.ethz.ch/forum/forum_intro.html">&rsaquo; TAGUNG 2012</a></li>
  <li id="navpartner"><a href="http://www.wohnforum.arch.ethz.ch/partner/partner.html">&rsaquo; PARTNER</a></li>
  <li id="navstellen"><a href="http://www.wohnforum.arch.ethz.ch/stellen/stellen.html">&rsaquo; STELLEN</a></li>
  <li id="navkontakt"><a href="http://www.wohnforum.arch.ethz.ch/kontakt/kontakt.html">&rsaquo; KONTAKT</a></li>
  <li id="navlinks"><a href="http://www.wohnforum.arch.ethz.ch/links/links.html">&rsaquo; LINKS</a></li>
  </ul>
</div>
</div>
</body>
</html>
