.multi-select
  
  %ul.multi-select-holder

    - meta_datum.value.each do |value|

      %li.multi-select-tag
        %input{:name => "resource[meta_data_attributes][#{@i}][value][]", :type => "hidden", :value => value.id}
        = "#{value.name} (#{value.ldap_name})"
        %a.multi-select-tag-remove
          .icon-remove

    %li.multi-select-input-holder.mbs
      %input.multi-select-input{:id => "institutional_affiliation_autocomplete_search",
                                :type => "text", 
                                :"data-values" => MetaDepartment.relevant.collect {|department| {:label => department.to_s, :id => department.id}}.to_json}
        %a.multi-select-input-toggle
