%select.block{:name => "resource[meta_data_attributes][#{@i}][value]", :type => "hidden", :autocomplete => :off}

  %option{:label => "Bitte Land auswählen"}
  
  - MetaDatumCountry.get_codes.each do |country|

    %option{:value => country["country_code"], :selected => (not meta_datum.nil? and meta_datum.value == country["country_code"]) ? :selected : nil}
      = "#{country["country_code"]} #{country["country_name"]}"