- if definition.length_max == 255
  %input.block{:type => "text", :value => meta_datum.value, :name => "resource[meta_data_attributes][#{@i}][value]"}
- else
  %textarea.block{:name => "resource[meta_data_attributes][#{@i}][value]"}
    = meta_datum.value