%script{:type => "text/x-jquery-tmpl", :id => "browsing_thumbnail_mini"}
  %a{:href => "/media_entries/${id}"}
    %div{:class => "thumb_mini"}
      %img{:src => "${thumb_base64}"}

:javascript
  function browsing_document_ready(){
    $(".meta_data a[data-meta_term_id]").each(function(){
      var that = $(this);
      that.qtip({
        content: {
          text: #{_('Filter werden geladen. Haben Sie bitte einen Moment Geduld...')},
          ajax: {
             url: that.attr('href'),
             type: that.data('method'),
             dataType: 'json',
             success: function(json, status) {
               var container = $("<div id='' style='max-height: 200px; overflow: auto;'></div>");
               container.append($("#browsing_thumbnail_mini").tmpl(json.entries));
               this.set('content.text', container);
             }
          }
        },
        position: {
          my: 'bottom center',
          at: 'top center',
          viewport: $(window),
          effect: false
        },
        show: {
           //event: 'click',
           solo: true // Only show one tooltip at a time
        },
        hide: 'unfocus',
        style: {
           classes: 'ui-tooltip-youtube ui-tooltip-shadow',
           width: 500
        }
      });
    }).click(function() { return false; });
  }
  
  $(function() {
    browsing_document_ready();
    
    $("#browsing_media_entries p").live('click', function(){
      var that = $(this);
      that.parent().remove();
      $(".meta_data a[data-remote][data-meta_term_id='"+that.data('meta_term_id')+"']").removeClass("active");
      return false;
    });
    
  });
