%script{:type => "text/x-jquery-tmpl", :id => "browsing_thumbnail_mini"}
  %a{:href => "/media_entries/${id}"}
    %div{:class => "thumb_mini"}
      %img{:src => "${thumb_base64}"}

:javascript
  $(function() {
    $(".meta_data a[data-remote][data-meta_term_id]").live('ajax:beforeSend.rails', function(){
      var that = $(this);
      var container = $("#browsing_media_entries");
      if(that.hasClass("active")){
        that.removeClass("active");
        container.find("div[rel='"+that.html()+"']").remove();
        return false;
      }else{
        that.addClass("active");
        container.append("<div rel='"+that.html()+"'><p data-meta_term_id='"+that.data('meta_term_id')+"'>"+that.html()+"</p></div>");
        return true;
      }
    }).live('ajax:complete.rails', function(xhr, response){ // TODO ajax:success ??
      var json = JSON.parse(response.responseText);
      var that = $(this);
      var container = $("#browsing_media_entries").find("div[rel='"+that.html()+"']");
      container.append($("#browsing_thumbnail_mini").tmpl(json.entries));
    });
    
    $("#browsing_media_entries p").live('click', function(){
      var that = $(this);
      that.parent().remove();
      $(".meta_data a[data-remote][data-meta_term_id='"+that.data('meta_term_id')+"']").removeClass("active");
      return false;
    });
    
  });
  
#browsing_media_entries
