= render :partial => "media_entries/batch_bar"

#results
  .pagination.loading{:style => "display: none;"}
    &nbsp;
  .clear.loading{:style => "display: none;"}
  - params[:per_page].to_i.times do
    .item_box.loading{:style => "display: none;"}
      .thumb_box
