.tab-pane#parenting-sets
  .bright.ui-container.pal.rounded-bottom.rounded-right
    %h2.title-l.separated.mbm Dieser Inhalt ist in zwei Sets enthalten.

    = render :partial => "media_resources/wrapper", 
             :locals => {:media_resources => current_user.media_resources, 
                         :type => :media_entries,
                         :with_actions => true}
