:ruby
  content = case @media_entry.media_type
    when "image"
      render :partial => "media_entries/previews/image"

    when "audio"
      render :partial => "media_entries/previews/audio"

    when "video"
      render :partial => "media_entries/previews/video"
    when "document"
      if @media_entry.content_type === 'application/pdf'
        render :partial => "media_entries/previews/document"
      end
    # returns nil if not a known type - no preview then!
  end
  
- if content
  = content
