%ul.ui-tabs.large
  %li.ui-tabs-item{:class => media_entry_show_page? ? "active" : ""}
    %a{:href => media_entry_path(@media_entry)}= @main_context_group.name
  - if @media_entry.parents.accessible_by_user(current_user,:view).any?
    %li.ui-tabs-item{:class => media_entry_parents_page? ? "active" : ""}
      %a.parent_sets{:href => parents_media_entry_path(@media_entry)} Übergeordnete Sets

  - unless @media_entry.individual_contexts.blank?

    %li.ui-tabs-item{:class => media_entry_contexts_page? ? "active" : ""}
      %a{:href => contexts_media_entry_path(@media_entry)}= _("Vokabular")
  
  - if @media_entry.has_location?
    %li.ui-tabs-item{:class => media_entry_map_page? ? "active" : ""}
      %a{:href => map_media_entry_path(@media_entry)} Karte

  %li.ui-tabs-item{:class => media_entry_more_data_page? ? "active" : ""}
    %a{:href => more_data_media_entry_path(@media_entry)} Weitere Daten
