- content_for(:header) do
  = component('page-header',
      icon: component('icon.pen'),
      text: t(:batch_meta_data_edit, media_entry_count: @get.batch_entries.length),
      actions: nil)

- content_for(:overview) do
  = react('BatchFormResourceMetaData', get: @get)

= render template: 'layouts/app_resource'
