%section#content_body_browse.clearfix
  %div.fixcolumn_left
    %div.page_title_left
      %img{:src => "/assets/icons/icon_set.png"}
      Browsen
    .clear
    
    %div.browse_recent
      %p
        Zurück zu:
      %div.thumb_mini
        %a{:href => "#"}
          %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
      %div.thumb_mini
        %a{:href => "#"}
          %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
      %div.thumb_mini
        %a{:href => "#"}
          %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}  
    .clear
    
    %div#detail-excerpt.sidebar-box
      %div.browse_reference
        %h5
          Referenz-Medieneintrag
        %div.thumb_box
          %img{:src => "http://lorempixum.com/100/100/transport/4", :class => "img_reference"}
        .clear
        %h4
          Titel
        %p
          Anything
        %h4
          Autor/in
        %p
          Peter Muster
        %h4
          Datierung
        %p
          2010
        %h4
          Rechte
        %p
          Peter Muster
      
  %div.dyncolumn_right.clearfix
    %ul.browse
      %li{:id => "block1a"}
        %a{:href => "#", :id => "toggler1"}
          %div.browse_key
            %div.toggler-arrow{:id => "toggle-arrow1"}
            %h5
              Key 1:
              %span Value (75)
          .clear
        %div.browse_thumbs{:id => "block1"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.browse_thumbs_more{:id => "toggle-plus1"}
            +
      %clear
      %li{:id => "block2a"}
        %a{:href => "#", :id => "toggler2"}
          %div.browse_key
            %div.toggler-arrow{:id => "toggle-arrow2"}
            %h5
              Key 1:
              %span Value (40)
          .clear
        %div.browse_thumbs{:id => "block2"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.browse_thumbs_more{:id => "toggle-plus2"}
            +
    %clear
    %ul.browse
      %li{:id => "block3a"}
        %a{:href => "#", :id => "toggler3"}
          %div.browse_key
            %div.toggler-arrow{:id => "toggle-arrow3"}
            %h5
              Key 2:
              %span Value (22)
          .clear
        %div.browse_thumbs{:id => "block3"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/5", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/10", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}
          %div.thumb_mini
            %a{:href => "#"}
              %img{:src => "http://lorempixum.com/100/100/transport/4", :alt => "tn"}
          %div.browse_thumbs_more{:id => "toggle-plus3"}
            +              
    %clear
    
:javascript
  $(document).ready(function () {
    $("#toggler1").click(function(event) {
      $("#block1").toggleClass("browse_show");
      $("#block1a").toggleClass("browse_show");
      $("#toggle-arrow1").toggleClass("toggler-arrow-on");
      $("#toggle-plus1").toggle();
    });
    $("#toggler2").click(function(event) {
      $("#block2").toggleClass("browse_show");
      $("#block2a").toggleClass("browse_show");
      $("#toggle-arrow2").toggleClass("toggler-arrow-on");
      $("#toggle-plus2").toggle();
    });
    $("#toggler3").click(function(event) {
      $("#block3").toggleClass("browse_show");
      $("#block3a").toggleClass("browse_show");
      $("#toggle-arrow3").toggleClass("toggler-arrow-on");
      $("#toggle-plus3").toggle();
    });
  });