%section#content_body_browse.clearfix
  %div.fixcolumn_left
    %div.page_title_left
      %img{:src => "/assets/icons/icon_set.png"}
      Browsen
    .clear
    
    %div.browse_recent
      %p
        Zurück zu:
      %div.thumb_mini
        %a{:href => "#"}
          %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
      %div.thumb_mini
        %a{:href => "#"}
          %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
      %div.thumb_mini
        %a{:href => "#"}
          %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}  
    .clear
    
    %div#detail-excerpt.sidebar-box
      %div.browse_reference
        %h5
          Referenz-Medieneintrag
        %div.thumb_box
          %img{:src => "http://lorempixum.com/100/100/transport/4", :class => "img_reference"}
        .clear
        %h4
          Titel
        %p
          Anything
        %h4
          Autor/in
        %p
          Peter Muster
        %h4
          Datierung
        %p
          2010
        %h4
          Rechte
        %p
          Peter Muster
      
  %div.dyncolumn_right.clearfix
    %ul.browse
      %li
        %a.toggler{:href => "#"}
          %div.browse_key
            %div.toggler-arrow
            %h5
              Key 1:
              %span Value (75)
          .clear
        %div.browse_thumbs
          - 36.times do
            %div.thumb_mini
              %a{:href => "#"}
                %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.browse_thumbs_more
            +
      %clear
      %li
        %a.toggler{:href => "#"}
          %div.browse_key
            %div.toggler-arrow
            %h5
              Key 1:
              %span Value (40)
          .clear
        %div.browse_thumbs
          - 36.times do
            %div.thumb_mini
              %a{:href => "#"}
                %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.browse_thumbs_more
            +
    %clear
    %ul.browse
      %li
        %a.toggler{:href => "#"}
          %div.browse_key
            %div.toggler-arrow
            %h5
              Key 2:
              %span Value (22)
          .clear
        %div.browse_thumbs
          - 36.times do
            %div.thumb_mini
              %a{:href => "#"}
                %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
          %div.browse_thumbs_more
            +              
    %clear
    
:javascript
  $(document).ready(function () {
    $("ul.browse a.toggler").click(function(event) {
      var that = $(this);
      var next_div = that.next(); 
      that.parent().toggleClass("browse_show");
      next_div.toggleClass("browse_show");
      that.find(".toggler-arrow").toggleClass("toggler-arrow-on");
      next_div.find(".browse_thumbs_more").toggle();
      return false;
    });
  });