- content_for :content do

  .ui-container.bright.pal.rounded-right.rounded-bottom
    = render :partial => "media_entries/contexts", :locals => {:contexts => @contexts}

= render "media_entries/layout"
