%section#content_head
  .container_12.clearfix
    #page_head_edit
      %div.page_title_left
        %img{:src => "/images/icons/icon_permission.png"}
        =_("Zugriffsberechtigungen editieren")
      .clear
      %hr
      .task_bar.clearfix
        %ul
          %li
            %h4= "#{@media_entries.size} Medieneinträge ausgewählt"
        #selected_items_edit
          #list_as_thumbnails
            hello from thumbnails
            
:plain    
  <script type="text/x-jquery-tmpl" id="thumbnail_view">
      <div class="thumb_box">
        <a href="/media_entries/${id}">
          <img src="${thumb_base64}">
        </a>
        <!-- <p>
          <span class="item_title">${title}</span>
          <span class="item_author">${author}</span>
        </p> -->
      </div>
  </script>

.container_12.clearfix  
  %section#content_body2.clearfix
    .grid_9.alpha
      .page_title_left 
        %span Aktuelle Zugriffsberechtigungen für alle ausgewählten Medieneinträge
      .clear
      %hr
      = render :partial => "permissions/edit_multiple"
        
    .grid_2.omega
      #legend
        %h3 Legende
        %p{:style => "background: red url(/images/stripe_1.png); height: 30px ; border: 1px solid #ccc;"} 
        %p.info Unterschiedliche Berechtigungen vorhanden. Achtung: Bestehende Werte werden durch Änderungen überschrieben! Wenn keine Änderungen vorgenommen werden, bleiben die verschiedenen Werte erhalten.
    .clear

   
:javascript

  $(function() {
    var data = #{@media_entries_json};
    $("#list_as_thumbnails").html($("#thumbnail_view").tmpl(data));
    
  });

    