- tag_mods = ['small','ellipsed']
- content_for(:overview) do

  .col2of3
    .ui-container.plm
      %h3.title-l.separated.mbm= t(:media_entry_all_metadata_title)
      = react('Deco.MetaDataByListing', list: @get.meta_data.by_vocabulary)


= render template: 'media_entries/_show/_base'
