:ruby
  @self = @media_entry
  @is_set = false
  @description = "Der ausgew채hlte Eintrag ist mit anderen Sets verkn체pft. Diese Zusammenh채nge wurden aktiv festgelegt als 체bergeordnet oder benachbart. \nSie sehen hier sowohl eigene Sets, als auch solche, die andere Nutzer/innen mit Ihnen teilen."

- content_for :content do
  = render "media_resources/relations"

= render "media_entries/layout"
