:ruby
  tag_mods = ['small','ellipsed']

  content_for(:overview) do deco('resource_show_overview',
    mods: 'ui-media-overview',

    preview_large: component('picture', mods: ['media-set'],
                text: @get.title,
                href: @get.image_url),

    # TODO: core_vocab_deco
    # = deco('vocabulary_meta_data_table', data: meta_data.by_vocabulary[summary_vocab])

    content: combo('metadata-box',
                mods: 'ui-summary-table.ui-set-summary.compact',
                list: [['Title', @get.title, 'title-l'],
                       ['Description', @get.description],
                       ['Copyright Notice', @get.copyright_notice],
                       ['Date', @get.portrayed_object_date],
                       @get.keywords.any? ? ['Keywords', combo('tag-cloud.label',
                          mods: tag_mods,
                          list: @get.keywords)] : nil
                      ]))
  end

- content_for(:more_info) do
  .ui-container.midtone.rounded-bottom.pal.well
    - if (@get.meta_data.by_vocabulary.to_h.keys).any?
      = deco('meta_data_by_vocabulary', meta_data: @get.meta_data)

= render template: 'media_entries/_show/_base'
