:ruby
  # first is the summary context, rest from configured list:
  meta_data = @get.meta_data.by_context
  summary_context, list_contexts = [meta_data.first, meta_data.drop(1)]

  tag_mods = ['small','ellipsed']

  content_for(:overview) do deco 'resource_show_overview',
    mods: 'ui-media-overview',
    preview_large: react('Deco.MediaEntryPreview',
                    get: @get, mods: 'ui-media-overview-preview-item'),
    content: deco('meta_data_list',
              mods: 'ui-media-overview-metadata',
              show_title: false,
              data: summary_context)
  end

- if list_contexts.any?
  - content_for(:more_info) do
    .ui-container.midtone.rounded-bottom.pal.well
      = deco('resource_meta_data', meta_data: list_contexts)

= render template: 'media_entries/_show/_base'
