.helper.add_keyword
  .tabs
    .tab.active{:"data-content" => "my"}= "Meine Schlagworte"
    .tab{:"data-content" => "popular"}= "Belibtesten"
    .tab{:"data-content" => "latest"}= "Neusten"
  .content
  
    .my.active
    
    .popular
    
    .latest
