.app-body

  
  .row 
    .col2of3
      .app-body-title
        .ui-body-title
          .ui-body-title-label
            %h1.title-xl 
              Suchergebnisse für
              = "\"#{params[:search]}\""
    .col1of3
      .ui-search.large.mts
        %input.block.ui-search-input{:type => "text", :placeholder => "Search term"}
        %button.primary-button.ui-search-button Search

  .app-body-ui-container
    .bordered.midtone.ui-container.rounded
      .app-body-content
        .ui-container.inverted.ui-toolbar.phs.pvx.rounded-top
          %h2.ui-toolbar-header
            %strong Sektion enthält
            36 Inhalte
          .ui-toolbar-controls.by-right
            #ui-resources-layout-switcher.button-group.tertiary.small.right.mls
              %a.button.ui-toolbar-vis-button{"data-vis-mode" => "miniature", :title => "Miniatur-Ansicht"}
                %i.ui-toolbar-icon-miniature Miniatur-Ansicht
              %a.active.button.ui-toolbar-vis-button{"data-vis-mode" => "grid", :title => "Grid-Ansicht"}
                %i.ui-toolbar-icon-grid Grid-Ansicht
              %a.button.ui-toolbar-vis-button{"data-vis-mode" => "list", :title => "Listen-Ansicht"}
                %i.ui-toolbar-icon-list Listen-Ansicht
            #ui-resources-sorting.dropdown.ui-dropdown.stick-right
              %a.dropdown-toggle.ui-drop-toggle{"data-toggle" => "dropdown"}
                %span.ui-text
                  Sortieren nach Erstellungsdatum
                %i.icon-arrow-down.bright
              %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                %li.active.ui-drop-item.hidden
                  %a{"data-sort" => "created_at"} Sortieren nach Erstellungsdatum
                %li.ui-drop-item
                  %a{"data-sort" => "updated_at"} Sortieren nach Änderungsdatum
                %li.ui-drop-item
                  %a{"data-sort" => "title"} Sortieren nach Titel
                %li.ui-drop-item
                  %a{"data-sort" => "author"} Filtern und sortieren nach Autor/in

        .ui-filterbar.separated.ui-container
          .left.col2of6
            %a#ui-side-filter-toggle.active.button
              %i.icon-sidebar
              Filtern
            %a#ui-side-filter-reset.mlx.hidden
              Alle Filter zurücksetzen
          .col2of6.by-center
            #ui-resources-type-filter.button-group
              %a.active.button Alle
              %a.button{"data-type" => "media_entries"} Medientrage
              %a.button{"data-type" => "media_sets"} Sets
          .col2of6.by-right
            %a.weak.ui-filterbar-select{:href => "#"}
              Select All
              %i.icon-checkbox

      .ui-resources-holder 
        .ui-container.table.auto

          #ui-side-filter.ui-side-filter
            #ui-side-filter-search.ui-side-filter-search
              %input.block.ui-filter-search-input{:type => "text"}
                %button.small.ui-side-filter-search-button.primary-button Suchen
            .ui-side-filter-list
              %li.ui-side-filter-lvl1-item.ui-side-filter-item{"data-filter-type" => "media_files"}
                %a.strong.ui-accordion-toggle.open
                  Datei
                  %i.ui-side-filter-lvl1-marker
                %ul.ui-side-filter-lvl2.ui-accordion-body.open
                  %li.ui-side-filter-lvl2-item{"data-key-name" => "media_type"}
                    %a.ui-accordion-toggle.weak
                      %i.ui-side-filter-lvl2-marker
                      Medientyp
                    %ul.ui-side-filter-lvl3.ui-accordion-body
                      %li.ui-side-filter-lvl3-item{"data-value" => "image"}
                        %a.weak
                          image
                          %span.ui-lvl3-item-count 35
                      %li.ui-side-filter-lvl3-item{"data-value" => "document"}
                        %a.weak
                          document
                          %span.ui-lvl3-item-count 1
                  %li.ui-side-filter-lvl2-item{"data-key-name" => "extension"}
                    %a.ui-accordion-toggle.weak
                      %i.ui-side-filter-lvl2-marker
                      Dokumenttyp
                    %ul.ui-side-filter-lvl3.ui-accordion-body
                      %li.ui-side-filter-lvl3-item{"data-value" => "png"}
                        %a.weak
                          png
                          %span.ui-lvl3-item-count 35
                      %li.ui-side-filter-lvl3-item{"data-value" => "pdf"}
                        %a.weak
                          pdf
                          %span.ui-lvl3-item-count 1
              %li.ui-side-filter-lvl1-item.ui-side-filter-item{"data-filter-type" => "permissions"}
                %a.strong.ui-accordion-toggle.open
                  Berechtigung
                  %i.ui-side-filter-lvl1-marker
                %ul.ui-side-filter-lvl2.ui-accordion-body.open
                  %li.ui-side-filter-lvl2-item{"data-key-name" => "owner"}
                    %a.ui-accordion-toggle.weak
                      %i.ui-side-filter-lvl2-marker
                      Eigentümer/in
                    %ul.ui-side-filter-lvl3.ui-accordion-body
                      %li.ui-side-filter-lvl3-item{"data-value" => "1"}
                        %a.weak
                          Admin, Adam
                          %span.ui-lvl3-item-count 36
                  %li.ui-side-filter-lvl2-item{"data-key-name" => "scope"}
                    %a.ui-accordion-toggle.weak
                      %i.ui-side-filter-lvl2-marker
                      Zugriff
                    %ul.ui-side-filter-lvl3.ui-accordion-body
                      %li.ui-side-filter-lvl3-item{"data-value" => "mine"}
                        %a.weak
                          Meine Inhalte
                          %span.ui-lvl3-item-count 36
              %li.ui-side-filter-lvl1-item.ui-side-filter-item{"data-filter-type" => "meta_data"}
                %a.strong.ui-accordion-toggle.open
                  Werk
                  %i.ui-side-filter-lvl1-marker
                %ul.ui-side-filter-lvl2.ui-accordion-body.open
                  %li.ui-side-filter-lvl2-item{"data-key-name" => "keywords"}
                    %a.ui-accordion-toggle.weak
                      %i.ui-side-filter-lvl2-marker
                      Schlagworte zu Inhalt und Motiv
                    %ul.ui-side-filter-lvl3.ui-accordion-body
                      %li.ui-side-filter-lvl3-item{"data-value" => "4601"}
                        %a.weak
                          My tag
                          %span.ui-lvl3-item-count 36
                  %li.ui-side-filter-lvl2-item{"data-key-name" => "type"}
                    %a.ui-accordion-toggle.weak
                      %i.ui-side-filter-lvl2-marker
                      Gattung
                    %ul.ui-side-filter-lvl3.ui-accordion-body
                      %li.ui-side-filter-lvl3-item{"data-value" => "76"}
                        %a.weak
                          Fotografie
                          %span.ui-lvl3-item-count 36
                      %li.ui-side-filter-lvl3-item{"data-value" => "79"}
                        %a.weak
                          Kunst
                          %span.ui-lvl3-item-count 36
                      %li.ui-side-filter-lvl3-item{"data-value" => "83"}
                        %a.weak
                          Musik
                          %span.ui-lvl3-item-count 36

          .ui-container.table-cell.table-substance
            = render :partial => "media_resources/wrapper", 
                     :locals => {:media_resources => current_user.media_resources, 
                                 :type => :media_entries,
                                 :with_actions => true}

