:ruby
  phl = (defined? phl and phl) ? "phl" : ""
  with_permissions = (defined? with_permissions and with_permissions)
  with_actions = (defined? with_actions and with_actions)

.ui-container.ptl.pbm{:class => "#{phl}"}
  .media-resources-wrapper
    .ui-resources-header.mbm
      %h2.title-l.ui-resources-title
        = title
        %a.strong{:href => link} Alle anziegen
    %ul.ui-resources-list.tiles{:class => with_actions ? "active" : ""}
      - media_resources.each do |mr|
        - if defined? as_categories and as_categories
          = render :partial => "media_sets/category", :locals => {:category => mr}
        - else
          = render :partial => "media_resources/media_resource",
                   :locals => {:media_resource => mr, :with_permissions => with_permissions, :with_actions => with_actions}
