.app.view-search

  .app-header
    %header.ui-header.container.inverted
      .ui-header-brand
        = image_tag "redesign/inserts/image-logo-zhdk.png", :alt => "ZHDK", :class => "ui-header-logo"
        %h1.ui-header-brand-name Z&uuml;rcher Hochschule der K&uuml;nste
        %h2.ui-header-instance-name Medienarchiv der K&uuml;nste

      .ui-header-menu
        %ul.large.primary.tab-navigation
          %li.tab-navigation-item
            %a{:href => "#"} Mein Archiv
          %li.tab-navigation-item
            %a{:href => "#"} Erkunden
          %li.tab-navigation-item.active
            %a{:href => "#"}
              %i.icon-search.dark
              Suchen
          %li.tab-navigation-item
            %a{:href => "#"}
              %i.icon-help.bright Help

      .ui-header-user
        .dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Franziska M&uuml;ller-Rei&szlig;mann
            %i.icon-arrow-down.bright.stand-alone
          %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
            %li.dropdown-menu-item
              %a{:href => "#"} Item 1
            %li.dropdown-menu-item
              %a{:href => "#"} Item 2
            %li.separator
            %li.dropdown-menu-item
              %a{:href => "#"} Abmelden

  - if params[:search]

    .app-body

      // PAGE TITLE

      .app-body-title
        .ui-body-title
          .ui-body-title-label
            %h1.title-xl
              Suchergebnisse für
              = "\"#{params[:search]}\""

      .app-body-container
        .bordered.midtone.container.rounded
          .app-body-content
            .ui-toolbar.inverted.container.pax.rounded-top
              %h2.ui-toolbar-header.col1of2
                %strong Set enthält
                (3 von 11 für Sie sichtbar)
              .ui-toolbar-controls.col1of2.by-right
                .button-group.tertiary.small.right.mls
                  %a.button.active
                    %i.icon-vis-grid.bright Grid
                  %a.button
                    %i.icon-vis-tiles Tiles
                  %a.button
                    %i.icon-vis-list List
                .dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Sort by Name
                    %i.icon-arrow-down.bright
                  %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                    %li.dropdown-menu-item
                      %a{:href => "#"} Item 1
                    %li.dropdown-menu-item
                      %a{:href => "#"} Item 2
                    %li.separator
                    %li.dropdown-menu-item
                      %a{:href => "#"} Abmelden

            .ui-filterbar.separated.mam.pbm.container
              .left.col2of6
                %a.button.active#filter-toggle
                  %i.icon-arrow-down.dark
                  Filtern
              .col2of6.by-center
                .button-group
                  %a.button.active{:href => "#"} Alle
                  %a.button{:href => "#"} Medientrage
                  %a.button{:href => "#"} Sets
              .col2of6.by-right
                %a.weak{:href => "#"}<
                  Select All
                  %i.icon-check>

            .container.table.auto
              .container.table-cell#side-filter

                %ul#side-filter.side-filter.accordion.mam
                  %li.side-filter-item
                    %input.block.filter-search-input{:type => "text"}
                      %button.small.filter-search-button.primary-button Search
                  %li.side-filter-item.accordion-group
                    .accordion-heading
                      %a.strong.accordion-toggle{"data-parent" => "#side-filter", "data-toggle" => "collapse", :href => "#collapseTwo"}
                        Level 1 Filter
                        %i.icon-arrow-up.green
                    #collapseTwo.accordion-body.collapse.in
                      %ul.side-filter-lvl2.accordion-inner
                        %li.side-filter-lvl2-item
                          %a.weak{:href => "#"} Level 2 Filter
                        %li.side-filter-lvl2-item
                          %a.weak{:href => "#"} Level 2 Filter
                          %ul.side-filter-lvl3
                            %li.side-filter-lvl3-item
                              %a.weak{:href => "#"} Level 3 filter
                            %li.side-filter-lvl3-item
                              %a.weak{:href => "#"} Level 3 filter
                              %ul.side-filter-lvl4
                                %li.side-filter-lvl4-item
                                  %a.weak{:href => "#"} Item 1
                                %li.side-filter-lvl4-item
                                  %a.weak{:href => "#"} Item 2
                            %li.side-filter-lvl3-item
                              %a.weak{:href => "#"} Level 3 filter
                            %li.side-filter-lvl3-item
                              %a.weak{:href => "#"} Level 3 filter
                        %li.side-filter-lvl2-item
                          %a.weak{:href => "#"} Level 2 Filter
                        %li.side-filter-lvl2-item
                          %a.weak{:href => "#"} Level 2 Filter
                  %li.side-filter-item.accordion-group
                    .accordion-heading
                      %a.strong.accordion-toggle{"data-parent" => "#side-filter", "data-toggle" => "collapse", :href => "#collapseThree"}
                        Level 1 Filter
                        %i.icon-arrow-down.green
                    #collapseThree.accordion-body.collapse
                      %ul.side-filter-lvl2.accordion-inner
                        %li.side-filter-lvl2-item
                          %a.weak{:href => "#"} Level 2 Filter
                        %li.side-filter-lvl2-item
                          %a.weak{:href => "#"} Level 2 Filter
                          %ul.side-filter-lvl3
                            %li.side-filter-lvl3-item
                              %a.weak{:href => "#"} Level 3 filter
                            %li.side-filter-lvl3-item
                              %a.weak{:href => "#"} Level 3 filter
                              %ul.side-filter-lvl4
                                %li.side-filter-lvl4-item
                                  %a.weak{:href => "#"} Item 1
                                %li.side-filter-lvl4-item
                                  %a.weak{:href => "#"} Item 2
                            %li.side-filter-lvl3-item
                              %a.weak{:href => "#"} Level 3 filter
                            %li.side-filter-lvl3-item
                              %a.weak{:href => "#"} Level 3 filter
                        %li.side-filter-lvl2-item
                          %a.weak{:href => "#"} Level 2 Filter
                        %li.side-filter-lvl2-item
                          %a.weak{:href => "#"} Level 2 Filter
                  %li.side-filter-item.accordion-group
                    .accordion-heading
                      %a.strong.accordion-toggle{"data-parent" => "#side-filter", "data-toggle" => "collapse", :href => "#collapseOne"}
                        Level 1 Filter
                        %i.icon-arrow-down.green
                    #collapseOne.accordion-body.collapse
                      %ul.side-filter-lvl2.accordion-inner
                        %li.side-filter-lvl2-item
                          %a.weak{:href => "#"} Level 2 Filter
                        %li.side-filter-lvl2-item
                          %a.weak{:href => "#"} Level 2 Filter
                          %ul.side-filter-lvl3
                            %li.side-filter-lvl3-item
                              %a.weak{:href => "#"} Level 3 filter
                            %li.side-filter-lvl3-item
                              %a.weak{:href => "#"} Level 3 filter
                              %ul.side-filter-lvl4
                                %li.side-filter-lvl4-item
                                  %a.weak{:href => "#"} Item 1
                                %li.side-filter-lvl4-item
                                  %a.weak{:href => "#"} Item 2
                            %li.side-filter-lvl3-item
                              %a.weak{:href => "#"} Level 3 filter
                            %li.side-filter-lvl3-item
                              %a.weak{:href => "#"} Level 3 filter
                        %li.side-filter-lvl2-item
                          %a.weak{:href => "#"} Level 2 Filter
                        %li.side-filter-lvl2-item
                          %a.weak{:href => "#"} Level 2 Filter

              .container.table-cell
                .container.pam
                  .media-entries-wrapper
                    %ul.media-entries.list
                      %li.media-entries-item.odd
                        .entry-head
                          %h2.entry-title Karen Kägi: Blick aus der Siedlung
                          %ul.entry-actions
                            %li
                              %a{:href => "#"}
                                %i.icon-fav Favorite
                            %li
                              %a{:href => "#"}
                                %i.icon-check Select
                        .entry-body
                          .entry-thumbnail
                            .ui-thumbnail-wrapper.media-set
                              .thumbnail-level-up-items
                                %h3.title-xs-alt Keine übergeordneten Sets
                              .thumbnail-privacy
                                %i.icon-privacy-group This media is shared with a group
                              .thumbnail-set.thumbnail
                                %a
                                  .inner-wrapper
                                    %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}
                              .thumbnail-metadata
                                %h3.title-s.thumbnail-name.col4of6 Katalog name that can easily go onto 2 lines
                                %span.thumbnail-additional-data.col2of6.by-right 500 Inhalte
                              .thumbnail-actions
                                %ul.left.by-left
                                  %li
                                    %a{:href => "#"}
                                      %i.icon-check Select
                                  %li
                                    %a{:href => "#"}
                                      %i.icon-fav Favorite
                                %ul.right.by-right
                                  %li
                                    %a{:href => "#"}
                                      %i.icon-explore Explore
                                  %li
                                    %a{:href => "#"}
                                      %i.icon-edit Edit
                                  %li
                                    %a{:href => "#"}
                                      %i.icon-delete Delete
                              .thumbnail-level-down-items
                                %h3.title-s Set enthalt
                                .thumbnail.thumbnail-set.small.odd
                                  %a
                                    .inner-wrapper
                                      %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}
                                .thumbnail.thumbnail-set.small.even
                                  %a
                                    .inner-wrapper
                                      %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}
                                %h4.title-xs-alt 5 Inhalte
                          .entry-metadata
                            .ui-metadata-box.metadata-summary
                              %table.borderless
                                %tbody
                                  %tr
                                    %td.summary-label Autor/in
                                    %td Emch, Oliver
                                  %tr
                                    %td.summary-label Schlagworte zu Inhalt und Motiv
                                    %td
                                      %ul.tag-cloud.small
                                        %li.tag-button
                                          %a{:href => "#"} Tag
                                        %li.tag-button
                                          %a{:href => "#"} Tag
                                        %li.tag-button
                                          %a{:href => "#"} Tag
                                  %tr
                                    %td.summary-label Rechteinhaber
                                    %td unbekannt
                                  %tr
                                    %td.summary-label Eigentumer/in
                                    %td Federico C.
                          .entry-description
                            %p Es sind keine Metadaten zu dem Kontext "Institution" bereit gestellt.
                          .entry-details
                            .ui-metadata-box.metadata-summary
                              %table.borderless
                                %tbody
                                  %tr
                                    %td.summary-label Eigentümer/in im Medienarchiv
                                    %td Emch, Oliver
                                  %tr
                                    %td.summary-label Hochgeladen am
                                    %td 29.07.2010
                                  %tr
                                    %td.summary-label Enthalten in
                                    %td 1 Set
                      %li.media-entries-item.even
                        .entry-head
                          %h2.entry-title Karen Kägi: Blick aus der Siedlung
                          %ul.entry-actions
                            %li
                              %a{:href => "#"}
                                %i.icon-fav Favorite
                            %li
                              %a{:href => "#"}
                                %i.icon-check Select
                        .entry-body
                          .entry-thumbnail
                            .ui-thumbnail-wrapper.media-set
                              .thumbnail-level-up-items
                                %h3.title-xs-alt Keine übergeordneten Sets
                              .thumbnail-privacy
                                %i.icon-privacy-group This media is shared with a group
                              .thumbnail-set.thumbnail
                                %a
                                  .inner-wrapper
                                    %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}
                              .thumbnail-metadata
                                %h3.title-s.thumbnail-name.col4of6 Katalog name that can easily go onto 2 lines
                                %span.thumbnail-additional-data.col2of6.by-right 500 Inhalte
                              .thumbnail-actions
                                %ul.left.by-left
                                  %li
                                    %a{:href => "#"}
                                      %i.icon-check Select
                                  %li
                                    %a{:href => "#"}
                                      %i.icon-fav Favorite
                                %ul.right.by-right
                                  %li
                                    %a{:href => "#"}
                                      %i.icon-explore Explore
                                  %li
                                    %a{:href => "#"}
                                      %i.icon-edit Edit
                                  %li
                                    %a{:href => "#"}
                                      %i.icon-delete Delete
                              .thumbnail-level-down-items
                                %h3.title-s Set enthalt
                                .thumbnail.thumbnail-set.small.odd
                                  %a
                                    .inner-wrapper
                                      %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}
                                .thumbnail.thumbnail-set.small.even
                                  %a
                                    .inner-wrapper
                                      %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/thumbnails/tmp-thumb-large.jpg"}
                                %h4.title-xs-alt 5 Inhalte
                          .entry-metadata
                            .ui-metadata-box.metadata-summary
                              %table.borderless
                                %tbody
                                  %tr
                                    %td.summary-label Autor/in
                                    %td Emch, Oliver
                                  %tr
                                    %td.summary-label Schlagworte zu Inhalt und Motiv
                                    %td
                                      %ul.tag-cloud.small
                                        %li.tag-button
                                          %a{:href => "#"} Tag
                                        %li.tag-button
                                          %a{:href => "#"} Tag
                                        %li.tag-button
                                          %a{:href => "#"} Tag
                                  %tr
                                    %td.summary-label Rechteinhaber
                                    %td unbekannt
                                  %tr
                                    %td.summary-label Eigentumer/in
                                    %td Federico C.
                          .entry-description
                            %p Es sind keine Metadaten zu dem Kontext "Institution" bereit gestellt.
                          .entry-details
                            .ui-metadata-box.metadata-summary
                              %table.borderless
                                %tbody
                                  %tr
                                    %td.summary-label Eigentümer/in im Medienarchiv
                                    %td Emch, Oliver
                                  %tr
                                    %td.summary-label Hochgeladen am
                                    %td 29.07.2010
                                  %tr
                                    %td.summary-label Enthalten in
                                    %td 1 Set


  - else

    .app-body.container
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl List of Media Resources

// FOOTER

.app-footer

  .app-clipboard
    .clipboard-toggle.inverted-transparent
      %a.tertiary-button.block.small#clipboard-toggle
        %i.icon-clipboard.bright
        Zwischenablage (% Medientr&auml;ge)
    .container.inverted-transparent.clipboard-content
      .col5of6
        %ul.media-entries.grid.tight.active
          %li.media-entries-item
            %a.ui-thumbnail-wrapper.media-entry{:href => "#"}
              .thumbnail-package.small
                %img{:alt => "Thumb-package-7z-small", :src => "/assets/redesign/thumbnails/thumb-package-7z-small.png"}
          %li.media-entries-item
            %a.ui-thumbnail-wrapper.media-entry{:href => "#"}
              .thumbnail-doc.small
                %img{:alt => "Thumb-doc-ods-small", :src => "/assets/redesign/thumbnails/thumb-doc-ods-small.png"}
          %li.media-entries-item
            %a.ui-thumbnail-wrapper.media-entry{:href => "#"}
              .thumbnail-doc.small
                %img{:alt => "Thumb-doc-ods-small", :src => "/assets/redesign/thumbnails/thumb-doc-ods-small.png"}
          %li.media-entries-item
            %a.ui-thumbnail-wrapper.media-entry{:href => "#"}
              .thumbnail-video.small
                %img{:alt => "Thumb-video-mpg-small", :src => "/assets/redesign/thumbnails/thumb-video-mpg-small.png"}
          %li.media-entries-item
            %a.ui-thumbnail-wrapper.media-entry{:href => "#"}
              .thumbnail-audio.small
                %img{:alt => "Thumb-audio-aif-small", :src => "/assets/redesign/thumbnails/thumb-audio-aif-small.png"}
          %li.media-entries-item
            %a.ui-thumbnail-wrapper.media-entry{:href => "#"}
              .thumbnail-package.small
                %img{:alt => "Thumb-package-7z-small", :src => "/assets/redesign/thumbnails/thumb-package-7z-small.png"}
          %li.media-entries-item
            %a.ui-thumbnail-wrapper.media-entry{:href => "#"}
              .thumbnail-doc.small
                %img{:alt => "Thumb-doc-ods-small", :src => "/assets/redesign/thumbnails/thumb-doc-ods-small.png"}
          %li.media-entries-item
            %a.ui-thumbnail-wrapper.media-entry{:href => "#"}
              .thumbnail-video.small
                %img{:alt => "Thumb-video-mpg-small", :src => "/assets/redesign/thumbnails/thumb-video-mpg-small.png"}
          %li.media-entries-item
            %a.ui-thumbnail-wrapper.media-entry{:href => "#"}
              .thumbnail-audio.small
                %img{:alt => "Thumb-audio-aif-small", :src => "/assets/redesign/thumbnails/thumb-audio-aif-small.png"}
          %li.media-entries-item
            %a.ui-thumbnail-wrapper.media-entry{:href => "#"}
              .thumbnail-package.small
                %img{:alt => "Thumb-package-7z-small", :src => "/assets/redesign/thumbnails/thumb-package-7z-small.png"}
          %li.media-entries-item
            %a.ui-thumbnail-wrapper.media-entry{:href => "#"}
              .thumbnail-doc.small
                %img{:alt => "Thumb-doc-ods-small", :src => "/assets/redesign/thumbnails/thumb-doc-ods-small.png"}
          %li.media-entries-item
            %a.ui-thumbnail-wrapper.media-entry{:href => "#"}
              .thumbnail-video.small
                %img{:alt => "Thumb-video-mpg-small", :src => "/assets/redesign/thumbnails/thumb-video-mpg-small.png"}
      .col1of6
        .clipboard-actions
          %a.primary-button.block{:href => "#"}
            Aktionen
            %i.icon-arrow-down.bright.stand-alone
          %a.tertiary-button.small.block{:href => "#"} Zwischenablage Leeren

  .app-footer
    %footer.ui-footer.container.inverted
      %ul.ui-footer-menu
        %li
          %a{:href => "#"} Informationen zum Projekt
        %li
          %a{:href => "#"} Impressum
        %li
          %a{:href => "#"} Kontakt
        %li
          %a{:href => "#"} Blog
        %li
          %a{:href => "#"} Hilfe
        %li
          %a{:href => "#"} Nutzungsbestimmungen
        %li
          %a{:href => "#"} Freie Software
        %li
          %a{:href => "#"} Archivierungsrichtlinien ZHdK
      %p.ui-footer-copy
        = image_tag "redesign/inserts/image-logo-madek.png", :alt => "MADEK", :class => "ui-footer-logo"
        &copy; 2009-2011 Z&uuml;rcher Hochschule der K&uuml;nste
