- content_for(:page_content) do
  = form_for :group, method: :patch, url: @get.url do |g_form|

    = g_form.label :name, class: 'title-s'
    = g_form.text_field :name, value: @get.name

    %hr.separator.mini.mvs

    = g_form.submit :submit
