-# NOTE: possible confusion because of scoping/namespacing:
  for the dashboard section this is the 'show' action,
  but for the resource 'Groups' it is the 'index'!

:ruby
  content_for(:page_header) do
    component('page-header',
              icon: component('icon.privacy-group'),
              text: I18n.t(:section_title_groups),
              actions: [
                component('button.primary', link: new_my_group_path,
                                            text: t(:group_new_group_btn))
              ])
  end

- content_for(:page_content) do
  .ui-resources-holder.pal
    - if @get.section_content.empty?
      = t(:no_groups_fallback)
      - next

    :ruby
      my_groups = {
        my_internal_groups: {
          title: t(:internal_groups),
          list: @get.section_content.internal
        },
        my_delegations: {
          title: t(:responsibility_groups),
          list: @get.section_content.delegations
        },
        my_authentication_groups: {
          title: t(:authentication_groups),
          list: @get.section_content.authentication
        },
        my_external_groups: {
          title: t(:external_groups),
          list: @get.section_content.external
        }
      }.map do |group_type, group|
        group[:list] = group[:list].map do |group|
          [group.uuid, {
            name: component('tag-button.group', text: group.detailed_name, href: group.url
            ),
            resources: {
              count: group.entrusted_media_resources_count,
              link: group.url
            },
            # NOTE: crud only allowed for internal groups
            actions: (!group.edit_url) ? nil : [
              component('button',
                        link: my_group_path(group.uuid),
                        icon: :trash,
                        method: :delete,
                        data: {
                          confirm: t(:group_delete_confirm_msg)
                        }),
              component('button.edit-workgroup',
                        text: t(:group_edit_btn),
                        icon: :pen,
                        link: group.edit_url)
            ]
          }]
        end.to_h
        [group_type, group]
      end.to_h

    - my_groups.each do |id, group|
      - if (group[:list].presence)
        .ui-container.pbl
          = combo('resources-header', title: group[:title])
          = combo('workgroups', list: group[:list])
