-# NOTE: possible confusion because of scoping/namespacing:
  for the dashboard section this is the 'show' action,
  but for the resource 'Groups' it is the 'index'!

:ruby
  content_for(:page_header) do
    component('page-header',
              icon: component('icon.privacy-group'),
              text: @sections[:groups][:title],
              actions: [
                component('button.primary', link: new_my_group_path,
                                            text: 'Neue Arbeitsgruppe')
              ])
  end

- content_for(:page_content) do
  :ruby
    my_groups = {
      my_internal_groups: {
        title: 'Arbeitsgruppen',
        list: @get.groups.internal
      },
      my_external_groups: {
        title: 'Abteilungsgruppen',
        list: @get.groups.external
      }
    }.map do |group_type, group|
      group[:list] = group[:list].map do |group|
        [group.uuid, {
          name: component('tag-button.group', text: group.name, href: group.url
          ),
          resources: {
            count: group.entrusted_media_resources_count,
            link: group.url
          },
          # crud only allowed for internal groups:
          actions: (group_type != :my_internal_groups) ? nil : [
            component('button',
                      link: my_group_path(group.uuid),
                      icon: :trash,
                      method: :delete,
                      props: {
                        data: {
                          confirm: 'Are you sure you want to delete this group?'
                        }
                      }),
            component('button.edit-workgroup',
                      text: 'Edit',
                      icon: :pen,
                      link: edit_my_group_path(group.uuid))
          ]
        }]
      end.to_h
      [group_type, group]
    end.to_h

  - my_groups.each do |id, group|
    - if (group[:list].presence)
      .ui-resources-holder.pal
        = combo('resources-header', title: group[:title])
        = combo('workgroups', list: group[:list])
