%tr.filter_set{id: filter_set.id}
  %th= filter_set.id
  %td
    = link_to admin_user_path(filter_set.responsible_user) do
      = filter_set.responsible_user.person

  %td.active
    .btn-group
      = link_to admin_filter_set_path(filter_set), class: 'btn btn-default btn-sm' do
        %i.glyphicon.glyphicon-eye-open
