.page-header
  %h1
    %i.glyphicon.glyphicon-filter
    Filter sets (#{@filter_sets.total_count})

.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th Id
          %th Responsible user
          %th
      %tbody
        = render @filter_sets

= paginate @filter_sets
