.ui-header-brand
  %a{:href => root_path}
    = image_tag "redesign/inserts/image-logo-zhdk.png", :alt => "ZHDK", :class => "ui-header-logo"
    %h1.ui-header-brand-name Z&uuml;rcher Hochschule der K&uuml;nste
    %h2.ui-header-instance-name= AppSettings.title