.ui-header-user
  .dropdown.ui-dropdown.stick-right
    %a.dropdown-toggle.ui-drop-toggle{"data-toggle" => "dropdown"}
      = current_user.fullname
      %i.icon-arrow-down.bright.stand-alone
    %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
      %li.ui-drop-item
        %a{:href => "/media_resources?type=media_entries&user_id=#{current_user.id}"}
          .icon-media-entry.mid.ui-drop-icon
          Meine Medieneinträge
      %li.ui-drop-item
        %a{:href => "/media_resources?type=media_sets&user_id=#{current_user.id}"}
          .icon-set.mid.ui-drop-icon
          Meine Sets
      %li.ui-drop-item
        %a{:href => "/media_resources?favorites=true"}
          .icon-star.mid.ui-drop-icon
          Meine Favoriten
      %li.ui-drop-item
        %a{:href => "/groups"}
          .icon-privacy-group.mid.ui-drop-icon
          Meine Arbeitsgruppen
      %li.separator
      - if current_user and current_user.groups.is_member?("Admin")
        %li.ui-drop-item
          %a.strong{:href => admin_root_path}
            %i.icon-admin.ui-drop-icon
            Admin
      %li.ui-drop-item
        %a.strong{:href => "/logout"} 
          %i.icon-power-off.ui-drop-icon
          Abmelden