@import "../mixins.scss";
@import "../variables.scss";

.ui-tooltip-meta_data_description {
  @include box-shadows(0 3px 5px #E3E3E3, 0 0 1px 1px #E3E3E3 inset);
  
  .ui-tooltip-content {
    background: white !important;
    border: 1px solid #AAA;
    font-size: 1.3em !important;
    line-height: 1.1em;    
  }
}