:ruby 
  preview = @media_entry.media_file.previews.where("content_type = 'audio/ogg'").last

  content = 
    case @media_entry.try(:media_file).try(:most_recent_zencoder_job).try(:state)
    when 'finished'
      render "media_entries/previews/audio/audio", preview: preview
    when 'submitted', 'importing'
      render "media_entries/previews/encoding/converting", \
        zencoder_job: @media_entry.media_file.most_recent_zencoder_job
    else 
      render "media_entries/previews/encoding/failed"
    end

= content


