.ui-has-magnifier
  
  %a{:href => image_media_resource_path(@media_entry, :size => :maximum), :target => "_blank"}
    = image_tag image_media_resource_path(@media_entry, :size => :large), :class => "ui-media-overview-preview-item"
  %a#ui-image-zoom.ui-magnifier{:href => image_media_resource_path(@media_entry, :size => :maximum), :target => "_blank"}
    .icon-magnifier.bright
