:ruby
  video_preview_webm = @media_entry.media_file.previews.where(:content_type => 'video/webm', :thumbnail => 'large') \
    .reorder("created_at DESC").first
  video_preview_apple = @media_entry.media_file.previews.where(:content_type => 'video/mp4', :thumbnail => 'large') \
    .reorder("created_at DESC").first

  content = 
    case @media_entry.try(:media_file).try(:most_recent_zencoder_job).try(:state)
    when 'finished'
      render :partial => "media_entries/previews/video/video", 
        :locals => {:video_preview_webm => video_preview_webm, \
          :video_preview_apple => video_preview_apple}
    when 'submitted', 'importing'
      render "media_entries/previews/encoding/converting", \
        zencoder_job: @media_entry.media_file.most_recent_zencoder_job
    else 
      render "media_entries/previews/encoding/failed"
    end


= content
