-if @can_edit
  #ui-save-display-settings.hidden{:"data-text-saved" => _("Display settings saved"), :"data-text-unsaved" => _("Save display settings")}
    %a.tertiary-button.small{:title => _("Specify sort and display settings for this set")}
      %i.icon-eye.icon-fixed-width.mid
      %span.text
        = _("Specify display settings")
