= will_paginate @media_entries, :previous_label => _("Zurück"), :next_label => _("Weiter ")
.clear
= render :partial => "/media_entries/media_entry_thumb", :collection => @media_entries, :as => :media_entry