%section#content_body
  %div.page_title_left
    %img{:src => "/themes/madek11/images/icons/icon_favorites.png"}
    =_("Meine Favoriten")
  #pagination_container
  .clear
  %hr
  %div#results
    = will_paginate @media_entries, :previous_label => _("ZurŸck"), :next_label => _("Weiter")
    .clear
    = render :partial => 'index'