%section#content_body 
  - if request.fullpath =~ /favorites/
    .page_title_left
      %img{:src => "/themes/madek11/images/icons/icon_favorites.png"}
      =_("Meine Favoriten")
    .clear
  = render :partial => "/shared/task_bar"
  #results
    = render :partial => 'index'
    
:javascript
  $(document).ready(function () {
    setupBatch();
    
  });

= theme_javascript_include_tag "batch_actions"