%section#content_body 
  - if request.fullpath =~ /favorites/
    .page_title_left
      %img{:src => "/themes/madek11/images/icons/icon_favorites.png"}
      =_("Meine Favoriten")
    .clear
  = render :partial => "index"

= theme_javascript_include_tag "batch_actions"
    
:javascript
  $(document).ready(function () {
    setupBatch();
    display_results(#{@json});    
  });
