.ui-form-group.rowed.separated
  .form-label 
    = _("No metadata yet")
  .form-item
    %input.block{:type => :text}

.ui-form-group.rowed.highlight.separated
  .form-label 
    = _("The metadata present differs between entries")
    %small
      = _("Caution: Any existing values will be overwritten with the data you enter here! If you do not enter anything, the differing values will remain unchanged.")
  .form-item
    %input.block{:type => :text}

.ui-form-group.rowed
  .form-label 
    = _("Existing metadata is identical")
  .form-item
    %input.block{:type => :text, :value => _("Value and text")}
