@import "../mixins.scss";
@import "../variables.scss";

.widget.selection {
  background: white;
  border: 1px solid #AAA;
  display: block;
  padding: 6px 0 6px 2px;
  position: absolute;
  width: 200px;
  z-index: 9999;
  @include box-shadow(0 0 2px #AAA);
  @include border-radius(4px);
  
  &>h5 {
    padding-left: 6px;
    margin-bottom: 6px;
    margin-top: 6px;
  }
  
  .loading.icon {
    display: block;
    position: absolute;
    top: 14px;
    right: 14px;
    
    img {
      height: 16px;
      width: 16px;
    }
  }
  
  &>.search {
    display: block;
    margin: 0 0 2px 0;
    padding: 0;
    position: relative;
    
    &>input {
      background: white;
      border: none;
      border: 1px solid #AAA;
      color: black !important;
      font-size: 1.0em;
      left: -3px;
      padding: 3px 3px 3px 8px;
      position: relative;
      width: 191px;
      @include box-shadow(0 0 4px #CCC);
      
      &:focus {
        &+.icon {
          @include opacity(0.8);
        }
      }
    }
    
    &>.hint {
      font-size: 1.0em;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 7px;
      top: 3px;
    }
    
    &:hover {
      &>input {
        &+.hint {
          color: black !important;
        }
      }
    }
    
    .icon {
      background: url($sprite) no-repeat;
      display: block;
      height: 15px;
      position: absolute;
      right: 5px;
      top: 5px;
      width: 16px;
      @include opacity(0.5);
    }
    
    &:hover {
      .icon {
        @include opacity(0.8);
      }
    }
    
    &.disabled:hover {
      .icon {
        @include opacity(0.5);
      }
    }
  }
  
  &>.create_new {
    background: #EEE;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: block;
    top: -20px;
    height: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: -20px;
    position: relative;
    width: 185px;
    
    &>a {
      cursor: pointer;
      display: block;
      font-size: 0.9em;
      padding-left: 8px;
      position: relative;
      width: 177px;
      
      &:hover {
        background: white;
        text-decoration: none;
      }
    }
    
    &>input {
      border: none;
      background: transparent;
      color: black;
      display: none;
      font-size: 0.9em;
      height: 20px;
      padding-right: 12px;
      padding-left: 6px;
      position: relative;
      top: -2px;
      width: 167px;
      @include box-shadow(inset 0 0 4px #CCC);
    }
    
    &>.hint {
      display: none;
      position: absolute;
      top: 2px;
      left: 9px;
      margin: 0;
      padding: 0;      
    }
    
    &>.button {
      display: none;
      height: 18px;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 18px;
      
      &>span {
        position: relative;
        top: -2px;
      }
    }
  }
  
  &>.actions {
    display: block;
    margin-top: 6px;
    padding-left: 6px;
    position: relative;
    width: 100%;
    
    .cancel {
      cursor: pointer;
      font-size: 0.9em;
      float: right;
      margin-right: 15px;
      position: relative;
      top: 1px;
    }
    
    button.submit {
      float: right;
      margin-right: 12px;
      
      &>.success.icon {
        background: url($sprite) no-repeat -17px 0;
        display: block;
        height: 15px;
        margin: 0 auto;
        width: 16px;
      }
    }
  }
  
  &>.list {
    display: block;
    max-height: 147px;
    overflow-y: scroll;
    padding-bottom: 19px;
    position: relative;   
    
    &>ul {
      
      &>li {
        background: #EEE;
        border-bottom: 1px solid white;
        display: block;
        font-size: 0.9em;
        float: none;
        position: relative;
        
        &:hover {
          background: white;
        }
        
        label {
          cursor: pointer;
          display: block;
          padding-right: 12px;
          padding-left: 6px;
          white-space: nowrap;
          width: 166px;
          
          &>input[type=checkbox] {
            cursor: pointer;
            margin-right: 4px;
            position: relative;
            top: -2px;
          }
        }
        
        &.created {
          .delete {
            display: inline-block;
          }          
        }
      }
    }
  }
  
}
