@import "../mixins.scss";
@import "../variables.scss";

.set.widget {
  background: white;
  border: 1px solid #AAA;
  display: block;
  margin: 0 8px;
  padding: 6px 0 6px 2px;
  position: absolute;
  width: 400px;
  z-index: 9999;
  @include box-shadow(0 0 12px rgba(0,0,0,0.3));
  @include border-radius(4px);
  
  &>h5 {
    letter-spacing: 0;
    padding-left: 6px;
    margin-bottom: 10px;
    margin-top: 6px;
  }
  
  .loading.icon {
    display: block;
    position: absolute;
    top: 14px;
    right: 14px;
    
    img {
      height: 16px;
      width: 16px;
    }
  }
 
  &>.topbar {
    background: white;
    left: -3px;
    padding-right: 3px;
    position: relative;
    z-index: 1000;
    width: 100%;
    @include box-shadow(0 1px 4px #CCC);
    
    &>.filter {
      background: white;
      border: 1px solid #AAA;
      border-left: none;
      color: #444;
      display: block;
      float: left;
      height: 28px;
      padding: 2px 6px 0 6px;
      top: 0;
      position: relative;
      text-align: center;
      
      &.my {
        width: 23%;
      }
      
      &.favorites {
        margin-right: -6px;
        width: 22.5%;
      }
      
      &:hover {
        background: #DDD;
      }
      
      &:active {
        background: #EEE;
      }
    }
    
    &>.search {
      background: white;
      border: 1px solid #AAA;
      display: block;
      float: left;
      height: 26px;
      padding: 0;
      position: relative;
      top: 0;
      width: 100%;
      
      input {
        background: white;
        border: none;
        color: black !important;
        font-size: 1.0em;
        padding: 4px 23px 3px 8px;
        position: relative;
        width: 90%;
        
        &:focus {
          &+.icon {
            @include opacity(0.8);
          }
        }
      }
      
      .hint {
        font-size: 1.0em;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 9px;
        top: 3px;
      }
      
      &:hover {
        &>input {
          &+.hint {
            color: black !important;
          }
        }
      }
      
      .icon {
        background: url($sprite) no-repeat;
        display: block;
        height: 15px;
        position: absolute;
        right: 5px;
        top: 6px;
        width: 16px;
        @include opacity(0.5);
      }
      
      &:hover {
        .icon {
          @include opacity(0.8);
        }
      }
      
      &.disabled:hover {
        .icon {
          @include opacity(0.5);
        }
      }
    } 
  }
  
  &>.create_new {
    background: white;
    border-bottom: 1px solid #EEE;
    border-top: 4x solid white;
    display: block;
    top: -37px;
    height: 20px;
    margin-right: 15px;
    margin-bottom: -26px;
    padding-bottom: 10px;
    padding-right: 41px;
    padding-top: 6px;
    position: relative;
    @include box-shadow(0 -2px 6px white);
    
    &>a.button {
      cursor: pointer;
      display: inline-block;
      font-size: 0.9em;
      left: 5px;
      padding: 2px 8px 2px;
      position: relative;
      text-align: left;
      
      .plus {
        padding-right: 2px;
        position: relative;
        top: -1px;   
      }
    }
    
    &>input {
      background: #EEE;
      border: none;
      background: transparent;
      color: black;
      display: none;
      font-size: 1em;
      height: 31px;
      left: -2px;
      padding-left: 14px;
      padding-right: 30px;
      position: relative;
      width: 100%;
      @include box-shadow(inset 0 0 4px #CCC);
    }
    
    &>.hint {
      display: none;
      font-size: 1em;
      position: absolute;
      top: 12px;
      left: 16px;
      margin: 0;
      padding: 0;      
    }
    
    &>.create.button {
      display: none;
      height: 19px;
      padding: 0;
      position: absolute;
      right: 5px;
      top: 12px;
      width: 18px;
      
      &>span {
        position: relative;
        top: -2px;
      }
    }
  }
  
  &>.actions {
    display: block;
    margin-top: 6px;
    padding-left: 6px;
    position: relative;
    width: 100%;
    
    .cancel {
      cursor: pointer;
      font-size: 0.9em;
      float: right;
      margin-right: 15px;
      position: relative;
      top: 1px;
    }
    
    button.submit {
      float: right;
      margin-right: 12px;
      
      &>.loading.icon {
        height: 14px;
        width: 14px;
      }
            
      &>.success.icon {
        background: url($sprite) no-repeat -17px 0;
        display: block;
        height: 15px;
        margin: 0 auto;
        width: 16px;
      }
    }
  }
  
  &>.list {
    display: block;
    height: 240px;
    overflow-y: scroll;
    padding-bottom: 39px;
    position: relative;   
    
    &>ul {
      
      &>li {
        background: white;
        border-bottom: 1px solid #EEE;
        display: block;
        font-size: 0.9em;
        float: none;
        height: 39px;
        overflow: hidden;
        position: relative;
        
        .highlighted {
          font-weight: bold;
        }
        
        label {
          cursor: pointer;
          display: block;
          height: 100%;
          padding-right: 12px;
          padding-left: 35px;
          white-space: nowrap;
          
          &>input[type=checkbox] {
            cursor: pointer;
            left: 6px;
            margin-left: 4px;
            margin-right: 8px;
            position: absolute;
            top: 12px;
          }
        }
        
        &.created {
          .delete {
            display: inline-block;
          }          
        }
        
        &.intermediate {
          background: white image-url("intermediate.png");
          border-bottom: 1px solid white;
          
          .intermediate_pipe {
            background: black;
            height: 2px;
            position: absolute;
            top: 18px;
            left: 14px;
            width: 6px;
          }
        }
        
        &.selected {
          border-bottom: 1px solid white;
          background: #EEE;
        }
        
        &:hover {
          background: #DDD;
        }
        
        .title {
          float: left;
          font-size: 1.15em;
          position: relative;
          top: 1px;
          width: 100%;
        }
        
        .owner {
          float: left;
          position: relative;
          top: -3px;
        }
        
        .created_at {
          color: grey;
          float: right;
          position: relative;
          top: -3px;
        }
      }
    }
  }
  
}
