:ruby
  keywords = get.used_keywords.map do |keyword|
    { text: keyword.label, link: keyword.url, count: keyword.usage_count }
  end

.ui-container.pal
  - if keywords.empty?
    = t(:no_keywords_fallback)
  - else
    = combo('tag-cloud.label', list: keywords)
