:ruby
  mods = ['active']
  mods << 'unpaginated' if (local_assigns[:show_pagination_nav] == false)
  fallback = section[:is_empty?] ? true : false

= deco('polybox', mods: mods,
    media_resources: section[:resources],
    fallback: fallback)
