= component('page-header', icon: component('icon', icon), text: title)

.ui-container.bright.rounded.bordered.pam

  .ui-container

    = render template: "my/section_#{partial}", locals: local_assigns
