:ruby
  keywords = @get.section_content.map do |keyword|
    { text: keyword.label, link: keyword.url, count: keyword.usage_count }
  end
- keywords_content = if keywords.empty? then t(:no_keywords_fallback) else combo('tag-cloud.label', list: keywords) end

- if params[:action] == 'dashboard_section'
  .ui-container.pal
    = keywords_content
- else
  .ui-container.pbh{ :style => "padding-top: 15px;" }
    = keywords_content
