:ruby
  keywords = get.used_keywords.map do |keyword|
    { text: keyword.term, link: keyword.url }
  end

.ui-container.pbl
  - if keywords.empty?
    = t(:no_keywords_fallback)
  - else
    = combo('tag-cloud.label', mods: 'compact', list: keywords)
