:ruby
  person_select = combo('form-group',
    mods: 'columned',
    label: { for: 'autocomplete_person_test',
             text: 'Person',
             comment: 'Type to search' }
  ) do
    combo('multi-select') do
      text_field_tag('person', nil, class: 'multi-select-input',
        data: { 'autocomplete' => 'person' })
    end
  end

= combo('form', props: { id: 'autocomplete_demo' }, body: person_select)

%hr.separator.mini.mvs

-# css hacks

:css

  #autocomplete_demo .multi-select-visual-list {
    height: 22px;
  }
