:ruby
  mods = []
  interactive = (true if params[:action] != 'dashboard')
  mods << ['rounded-right', { bordered: false }] if (params[:action] != 'dashboard')
  mods << 'unpaginated' if (local_assigns[:show_pagination_nav] == false)
  fallback = section[:is_empty?] ? true : false

= react('Deco.MediaResourcesBox',
    get: @get.send(section[:id]),
    mods: mods,
    interactive: interactive,
    fallback: fallback,
    initial: { show_filter: false })
