- # Only shown on the dashboard "index"! This is NOT the 'Groups' index!!!
:ruby
  group_types = { # config:
    internal: t(:internal_groups),
    external: t(:external_groups)
  }.map do |type, label|
    groups = get.groups.send(type).map {|get| { text: 'abc', href: get.url } }
    [type, { label: 'abc', list: groups }]
  end.to_h

.ui-container.pbl
  - group_types.each do |type, groups|
    - next unless groups[:list].present?  # skip empties
    = combo('form-group', mods: 'columned phn', label: { text: groups[:label] }) do
      = combo('tag-cloud.group', mods: 'compact', list: groups[:list])
