:ruby
  mods = []
  interactive = true if params[:action] != 'dashboard'
  mods << 'unpaginated' if (local_assigns[:show_pagination_nav] == false)
  fallback = section[:is_empty?] ? true : false

= deco('polybox', mods: mods,
    interactive: interactive,
    media_resources: @get.send(section[:id]),
    fallback: fallback)
