%ul.ui-side-navigation
  -# each section: make a menu entry and set it active it is.
  - @sections.each do |section_id, section|
    - link = my_dashboard_section_path(section_id)
    %li.ui-side-navigation-item{class: link_active?(link) ? 'active' : 'nil'}
      %a.strong{href: link}
        = section[:title]
    - unless section_id == @sections.keys.last
      %li.separator.mini
