-# template for a single dashboard sub-section (#show-ish)

- content_for(:page_header) do
  = component('page-header',
              icon: component('icon', section[:icon]), text: section[:title])

- content_for(:page_content) do
  -                                                         # proxy locals:
  - if section[:partial] == :media_resources
    = render partial: "section_media_resources_sync", locals: local_assigns
  - else
    = render partial: "section_#{section[:partial]}", locals: local_assigns
