-# template for a single dashboard sub-section (#show-ish)
:ruby
  section = sections[section_name]

- content_for(:page_header) do
  = component('page-header',
              icon: component('icon', section[:icon]), text: section[:title])

- content_for(:page_sidebar) do
  = render partial: 'sidebar'

- content_for(:page_content) do
  = render partial: "section_#{section[:partial]}", locals: local_assigns # proxy locals
