{{if filter_logic}}
{{else}}
{{if terms.length > 0}}
%div{:class => "block {{if opened}}open{{/if}}", :data => {:filter_type => "${filter_type}", :filter_name => "${name}"}}
  %h3 ${label}
  .content
    %ul
      {{tmpl(terms) "app/views/filter/term"}}
{{/if}}
{{/if}}
