{{if terms.length > 0}}
%div{:class => "key{{if current_user.is_admin()}} for_admins{{/if}}", :data => {:key_name => "${key_name}"}}
  {{if current_user.is_admin()}}
  %label.any{:title => 'Nach Inhalten eingrenzen die Werte für "${key_label}" haben.'}
    %input{:type => "checkbox", :value => "any"}
    = "Any"
  {{/if}}
  %h3
    %span.text ${key_label}
  .content
    {{tmpl(terms) "app/views/filter/term"}}
{{/if}}