.panel
  %h3{:title => "Filter ein/ausblenden"}
    = "Inhalte filtern"
    .filter.icon
  .search
    %input{:type=>"text", :placeholder => "Suche"}
    %button
      .search.white.icon
  .blocks
    -#{{tmpl "app/views/filter/image"}}
