-# = from template: 'layouts/app_resource'

:ruby
  unless content_for?(:header)
    content_for(:header) { render('media_entries/_show/resource_header') }
  end

  unless content_for(:tabs)
    content_for(:tabs) { render('media_entries/_show/tab_nav') }
  end

  header = content_for(:header)
  tabs = content_for(:tabs)
  main = content_for(:main)


.app-body-ui-container

  = header

  = tabs

  = main
