:ruby
  render('media_entries/_show/head_meta_tags')

  unless @get.published?
    content_for(:top_notice) { render('media_entries/_show/unpublished_header') }
  end

  top_notice = content_for(:top_notice)

  main =
    if action_name == 'relation_parents'
      react('Views.Collection.RelationResources', get: @get, scope: 'parents')
    elsif action_name == 'relation_siblings'
      react('Views.Collection.RelationResources', get: @get, scope: 'siblings')
    elsif action_name == 'relations'
      react('Views.Collection.Relations', get: @get)
    elsif action_name == 'show'
      react('Views.MediaEntryShow', get: @get)
    end

.app-body-ui-container

  - if top_notice.present?
    = top_notice

  = react('Views.MediaEntryHeaderWithModal', { get: @get })

  = react('Views.MediaEntryTabs', { get: @get })

  = main
