-# = from template: 'layouts/app_resource'

:ruby
  render('media_entries/_show/head_meta_tags')

  unless @get.published?
    content_for(:top_notice) { render('media_entries/_show/unpublished_header') }
  end

  unless content_for(:tabs)
    content_for(:tabs) { react('Views.MediaEntryTabs', { get: @get }) }
  end

  top_notice = content_for(:top_notice)
  tabs = content_for(:tabs)
  main = content_for(:main)


.app-body-ui-container

  - if top_notice.present?
    = top_notice

  = react('Views.MediaEntryHeaderWithModal', { get: @get })

  = tabs

  = main
