:ruby
  render('media_entries/_show/head_meta_tags')

  unless @get.published?
    content_for(:top_notice) { render('media_entries/_show/unpublished_header') }
  end

= render template: 'layouts/app_resource'
