:ruby
  main =
    if action_name == 'relation_parents'
      react('Views.Collection.RelationResources', get: @get, scope: 'parents')
    elsif action_name == 'relation_siblings'
      react('Views.Collection.RelationResources', get: @get, scope: 'siblings')
    elsif action_name == 'relations'
      react('Views.Collection.Relations', get: @get)
    elsif action_name == 'show'
      react('Views.MediaEntryShow', get: @get)
    end

.app-body-ui-container

  = react('Views.MediaEntryHeaderWithModal', { get: @get })

  = react('Views.MediaEntryTabs', { get: @get })

  = main
