:ruby
  # meta tags only for public entries
  if @get.privacy_status == :public
    render('media_entries/_show/opengraph_meta')
    render('media_entries/_show/twitter_card_meta')
  end

  # always allow oEmbed discovery
  render('media_entries/_show/oembed_discovery_links')
