:ruby
  return unless Madek::Constants::Webapp::ENABLE_OPENGRAPH

  # only for supported types
  return unless Madek::Constants::Webapp::EMBED_SUPPORTED_MEDIA.include?(@get.media_type)

  # NOTE: according to the spec, relative links would be enough,
  # but the wordpress client only understands absolute URLs (incl. scheme and host)
  full_url = URI.parse(settings.madek_external_base_url).merge(oembed_path(url: @get.url)).to_s

  props = {
    rel: 'alternate',
    type: 'application/json+oembed',
    title: "#{@get.title} oEmbed Profile",
    href: full_url
  }

-# inject into <head>!
- content_for(:head) do
  = tag('link', props)
