- action_buttons = capture_haml do
  = component('button',
    link: media_entry_path,
    method: :delete,
    data: { confirm: 'Are you sure you want to delete this?' }) do
    = component('icon.trash')


= component('page-header',
    icon: component('icon.media-entry'),
    text: @get.title,
    actions: [action_buttons])
