:ruby
  action_buttons = [
    !@get.policy(current_user).update? ? nil : component('button',
      link: edit_meta_data_media_entry_path,
      icon: :pen),
    !@get.policy(current_user).destroy? ? nil : component('button',
      link: media_entry_path,
      icon: :trash,
      method: :delete,
      data: { confirm: t(:btn_delete_confirm_msq) })
  ]

= component('page-header',
    icon: component('icon.media-entry'),
    text: @get.title,
    actions: action_buttons)
