.ui-container.bright.bordered-bottom.mbm{style: 'margin: -20px -20px 0;' }

  .ui-container.pal
    .title-l
      = "TODO: Set Selection"

    .separator.mvm

    .title-l
      = "TODO: Permissions Summary"

    .separator.mvm

    .ui-actions
      = component('button.tertiary',
        link: media_entry_path,
        method: :delete,
        data: { confirm: 'Are you sure you want to delete this?' },
        text: 'Delete!')

      = component('button.primary',
        link: publish_media_entry_path,
        method: :post,
        data: { confirm: 'Are you sure you want to publish this?' },
        text: 'Publish!')
