.ui-container.bright.bordered-bottom.mbm{style: 'margin: -20px -20px 0;' }

  .ui-container.pal
    .title-l
      = "TODO: Set Selection"

    .separator.mvm

    .title-l
      = "TODO: Permissions Summary"

    .separator.mvm

    .ui-actions

      = component('button.primary',
        link: publish_media_entry_path,
        method: :post,
        text: 'Publish!')
