${$meta_data = MetaDatum.flatten(meta_data), ""}

{{if type}}
${is_set = !!type.match(/set/), ""}
{{/if}}

.item_box.tmp{:id => "thumb_${id}", :style => "background-color: #f1f1f1; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);"}
  .item_permission
    {{if is_public}}
    .icon_status_perm_public
    {{else is_private}}
    .icon_status_perm_private
    {{/if}}
  %a{:href => "/media_entries/${id}"}
    {{tmpl($item.data) "tmpl/media_resource/thumb_box/image_thumb"}}
  %p.item_title{:title => "${$meta_data.title}"}
    ${Underscore.str.truncate($meta_data.title, 26)}
  %p.item_author{:title => "${$meta_data.author}"}
    ${Underscore.str.truncate($meta_data.author, 26)}
  %div{:style => "position: absolute; bottom: 0; left: 0; padding: 5px;"}
    .action_left
      .check_box
      %span.favorite_link{:id => "fav_${id}", :title => "Favorit"}
        %a{:href => "/media_resources/${id}/toggle_favorites", :"data-remote" => true, :"data-type" => "html", :"data-method" => :post}
          {{if is_favorite}}
          .button_favorit_on
          {{else}}
          .button_favorit_off
          {{/if}}
      {{if can_maybe_browse}}    
      %span.explore_link{:id => "exp_${id}"}
        %a{:href => "/media_entries/${id}/browse", :title => "Erkunden"}
          .button_explore
      {{/if}}
