<div id="inner-footer" class="container_12 clearfix">

	<p><strong>2009-2010 Zürcher Hochschule der Künste</strong> &nbsp;&#124;&nbsp; <%= link_to _("Nutzungsbedingungen"), usage_terms_user_path(current_user, :hide_buttons => true) %><br /><%= render :partial => '/layouts/deploy_info' %></p>

	<%
	#<p><a href="#">Copyright</a> &nbsp;&middot;&nbsp; <a href="#">Richtlinien</a> &nbsp;&middot;&nbsp; <a href="#">Impressum</a> &nbsp;&middot;&nbsp; 
	#</p> #not implemented yet - commented out for Release 0.1
	%>

		<%# TODO remove and disable Rack::Bug completely %>
		<%#= link_to "Toggle Rack::Bug", "javascript: (function(){var script=document.createElement('script'); script.src='/__rack_bug__/bookmarklet.js'; document.getElementsByTagName('head')[0].appendChild(script);})()" if Rails.env.development? %>
</div>
