#search
  #quick-search
    %form{:action => resources_path, :method => :get}
      #search-query.basic
        %div
          = text_field_tag 'query', params[:query], :id => 'query'
          = submit_tag _("Suchen"), :title => "Suchen", :id => 'search-submit', :class => "ir", :name => nil
